[2019-10-29 00:06] kaycebasques commented on #1564
Next step: @mihajlija to submit PR

[2019-10-29 00:07] kaycebasques commented on #1563
Next step: @kaycebasques to incorporate Alan's feedback

[2019-10-29 00:08] kaycebasques commented on #1566
Next step: @housseindjirdeh to draft the content

[2019-10-29 00:10] #1713 closed

[2019-10-29 00:16] kaycebasques commented on #1631
I should address this in Q4 but we don't need to ship this by CDS.

[2019-10-29 00:18] kaycebasques commented on #1661
I should address this in Q4 but it doesn't need to be fixed by CDS.

[2019-10-29 09:56] devnook commented on #1650
Context:

In order to get quote styled, you have to put it in <blockquote class="w-blockquote">.
As Rob said, this is kinda silly. We should make it so it just styles the blockquote element generically.

This said, we have uses of blockquote without "w-blockquote" class, e.g.: http://penguin.termina.linux.test:8081/handbook/markup-media/

Should we therefore keep styling on the class or change the

[2019-10-29 12:15] ThomasTheDane commented on #1635
+Harleen Batra <hbatra@google.com> is publishing the keynote blog post and
would know when it is going out. Mine just needs to go out at the same
time.

On Tue, Oct 29, 2019 at 12:48 AM Carol Rivero <notifications@github.com>
wrote:

[2019-10-29 12:39] ThomasTheDane commented on #1635
This would need to be live before Nov 11th, 10 am PT

On Tue, Oct 29, 2019 at 12:15 PM Thomas Nattestad <nattestad@google.com>
wrote:

--

*  •  **Harleen Batra*
*  •  *Developer PMM - Chrome
  *•*  +44 203 321 2414

[2019-10-29 14:52] jpmedley commented on #1616
This and web share target will be delayed a few days. Pete needs to review and he's attending google.dev in Sunnyvale. I don't have an ETA.

[2019-10-29 14:54] jpmedley commented on #1295
@kaycebasques Ping me about this.

[2019-10-29 14:54] jpmedley commented on #1279
Waiting for Pete to review a draft. He's at a conference in Sunnyvale this week.

[2019-10-29 15:32] jpmedley commented on #1535
You can ask him if you want. I wouldn't overthink this. Most definition lists just bold the term and indent the definition. Regardless of what you do, just keep it simple.

[2019-10-29 15:32] robdodson commented on #1330
Note, sometimes we have more than one author for a post. I think in those situations we could see what it looks like with either:

- two circles with 50% overlap.
- two circles, not overlapping, next to each other.
- omit the author photos entirely.

I think in theory we support an unlimited number of authors so if there are >2 authors, maybe we hide the images in that scenario.

[2019-10-29 15:37] robdodson commented on #1137
I think we have designs from this now from Huge so we could take a crack at it.

[2019-10-29 15:54] robdodson commented on #1650
Oh good point. I think we should generically style the `blockquote` element and change the markup we're using in the handbook page you linked to.

It's also worth noting that it's not a good practice to style tags directly, but we do it because markdown outputs plain tags. We could also think about scoping our markdown styles using a class. For example:

[code]

We'd add the `.article-has-markdown

[2019-10-29 16:50] carolrivero commented on #1672
reprioritized to help w/ bandwidth for CDS related posts.

[2019-10-29 16:51] carolrivero commented on #1673
reprioritized to help w/ bandwidth for cds related posts.

[2019-10-29 16:52] carolrivero commented on #1657
reprioritized to help w/ bandwidth for cds related posts.

[2019-10-29 16:53] carolrivero commented on #1588
reprioritized to help w/ bandwidth for cds related posts.

[2019-10-29 16:54] carolrivero commented on #1662
reprioritized to help w/ bandwidth for cds related posts.

[2019-10-29 16:55] carolrivero commented on #1631
reprioritized to help w/ bandwidth for cds related posts.

[2019-10-29 16:56] carolrivero commented on #1635
@kaycebasques - please assign a reviewer. Thx.

[2019-10-29 17:35] jpmedley commented on #1436
@kaycebasques Can I get a copy edit of this? It needs to go out soon.

I think I may have labeled it wrong. I apologize.

[2019-10-29 17:51] carolrivero commented on #1567
deferred to post-cds per @housseindjirdeh request.

[2019-10-29 17:59] carolrivero commented on #1361
moving this to post cds since priority changed to P2.

[2019-10-29 19:26] jpmedley opened #1766 "Image on new staging is wider than the screen"
There's no horizontal scroll either, but the size is the real issue. https://appengine-test.web.dev/hands-on-portals/

https://screenshot.googleplex.com/x0Y8W4WWK7M.png

[2019-10-29 20:58] robdodson opened #1767 "Footer tap targets are not large enough."
**Describe the bug**
To get 100 on Lighthouse's SEO audit we need our `a.w-footer__linkbox-link` elements to be larger. We can probably add a little bit of padding to get them there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev
2. Run the LH SEO audit.

![image](https://user-images.githubusercontent.com/1066253/67808552-22d39800-fa54-11e9-9a03-9bec54f1247d.png)

[2019-10-29 20:59] robdodson commented on #1766
oh good catch, thank you for filing!

[2019-10-29 21:09] #1766 closed

[2019-10-29 21:24] ThomasTheDane opened #1769 "Why and how Chromium plans to support all the things"
**Author**: @ThomasTheDane
**Reviewer**:

**Target publish date:** <2019-11-11>
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

- [x] 1. I've done my proposal https://docs.google.com/document/d/1Kh2BVXORdGfUNTzWMKdmr5YLaCTl-OqDLb7fu5D8S3o/edit#
- [ ] 2. Proposal approved — _reviewer checks this_
- [

[2019-10-29 21:33] carolrivero commented on #1769
@kaycebasques please assign a reviewer

[2019-10-29 21:40] robdodson opened #1770 "Update meta tags when we route to a new page."
**Is your feature request related to a problem? Please describe.**
Our SPA router currently updates the title of the page when we load a new document, but it doesn't merge in the meta tags from the new document. In practice this probably doesn't affect anything since crawlers will get the full html response, but it seems like a good thing for us to do to be future proof.

**Describe the solution y

[2019-10-29 21:50] robdodson opened #1771 "We should defer the PWA install banner until after the cookie banner."
**Is your feature request related to a problem? Please describe.**
When a new user visits the site, we show the cookie banner and the app install banner at the same time. Because they overlap, the add to homescreen banner actually covers the ok/more info cookies buttons.

**Describe the solution you'd like**
Defer the add to home screen banner until after the user has accepted cookies.

[2019-10-29 21:59] carolrivero commented on #1361
@kaycebasques - Please assign a reviewer.

[2019-10-29 22:00] robdodson opened #1772 "Measure page categories and scale have too much space on mobile"
Old site:
![image](https://user-images.githubusercontent.com/1066253/67812584-c45ee780-fa5c-11e9-8e99-cb8d10f4ae1b.png)

New site:
![image](https://user-images.githubusercontent.com/1066253/67812547-b0b38100-fa5c-11e9-87b0-2fca1f3a6526.png)

[2019-10-29 22:41] uskay opened #1774 "Blog: Web Bundles"
Author: @uskay
Reviewer: @jpmedley

A one to two sentence description of your post
This article explains how the Web Bundle proposal makes your website portable.

What are you planning to teach folks in this post?
Learn how Web Bundles make your website portable

Target publish date: CDS wave 3 (right before CDS)

- [x] Check this box if this is a hard deadline.
- [x] Check this box if you'd like

[2019-10-29 22:47] carolrivero commented on #1441
@jpmedley please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:47] carolrivero commented on #1350
@Snugug  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:48] carolrivero commented on #1351
@Snugug please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:48] carolrivero commented on #1352
@Snugug please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:48] carolrivero commented on #1353
@jpmedley  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:49] carolrivero commented on #1354
@jpmedley  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:49] carolrivero commented on #1355
@jpmedley  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:49] carolrivero commented on #1356
@jpmedley  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:50] carolrivero commented on #1357
@Snugug  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:50] carolrivero commented on #1359
@jpmedley  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:50] carolrivero commented on #1347
@Snugug  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:51] carolrivero commented on #1348
@Snugug  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:51] carolrivero commented on #1452
@Snugug  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:51] carolrivero commented on #1565
@housseindjirdeh  please provide an update on draft. Wave 3 drafts are due today. Thanks.

[2019-10-29 22:52] carolrivero commented on #1574
@philipwalton friendly nudge - can you tell us if we're going to update that old article, or create a new doc based on that article?

[2019-10-29 22:54] carolrivero commented on #1682
Timeline for Wave 3: Draft needs to be approved by Nov 5, Review/Approve/Merge is due on Nov 6 for a publish date of Nov 7.

[2019-10-29 23:20] mfriesenhahn commented on #1682
Is this timeline realistic given we wanted to use this as an opportunity to think through the desired format for web.dev case studies and don't yet have a draft of a version of this case study that reflects that format? If we need this done in six business days, I'd suggest we de-scope this effort to tidying up the Medium post. cc @kaycebasques and @robdodson

[2019-10-30 00:18] philipwalton commented on #1574
I'm planning to update the article (and rename it to "cumulative-layout-shift" to reflect the metric name), but I plan to do this last so that new docs are prioritized.

[2019-10-30 01:03] #1749 closed

[2019-10-30 01:03] #1734 closed

[2019-10-30 01:27] robdodson commented on #1186
Closing as a dupe of #1137

[2019-10-30 01:27] #1186 closed

[2019-10-30 01:37] robdodson commented on #1009
We should see if this still happens when we're off devsite.

[2019-10-30 01:38] #905 closed

[2019-10-30 01:40] robdodson commented on #808
Need to verify if this is still an issue in v2

[2019-10-30 01:41] robdodson commented on #800
Closing in favor of #974

[2019-10-30 01:41] #800 closed

[2019-10-30 01:41] robdodson commented on #782
Closing in favor of #1055

[2019-10-30 01:42] #782 closed

[2019-10-30 01:42] robdodson commented on #777
This is something we can do now that we're off devsite. We _may_ be able to do this using `position: sticky`.

[2019-10-30 01:43] robdodson commented on #777
Instead of overlapping the next article buttons, we should see if we can use position: sticky to pin the fabs at this point:

![image](https://user-images.githubusercontent.com/1066253/67821956-0f3c2780-fa7c-11e9-95d9-5d2b41c3ec71.png)

[2019-10-30 01:44] katejeffreys commented on #1657
Review feedback incorporated. https://github.com/GoogleChrome/web.dev/pull/1732 will have a preview once build completes

[2019-10-30 01:44] katejeffreys commented on #1662
Review feedback incorporated. https://github.com/GoogleChrome/web.dev/pull/1732 will have a preview once build completes

[2019-10-30 01:44] katejeffreys commented on #1588
Review feedback incorporated. https://github.com/GoogleChrome/web.dev/pull/1732 will have a preview once build completes

[2019-10-30 01:48] robdodson commented on #731
Looks like this is a little bit trickier than I thought. We use the Material Icons font since DevSite used it previously. When we do display=swap on that, it causes all kinds of gnarly FOUC...

[2019-10-30 01:48] robdodson commented on #719
We have new designs for this from Huge

[2019-10-30 02:02] robdodson opened #1778 "Measure should not try to audit if the user just signed in and url is empty"
**Describe the bug**
If you've signed in for the first time, the measure page will show a 'no url' error.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in, then click the navigation to go to the Measure page.

**Expected behavior**
It should not attempt to search lighthouse if there's no url.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https:

[2019-10-30 02:05] robdodson commented on #1274
Should be fixed in v2.

[2019-10-30 02:05] #1274 closed

[2019-10-30 02:06] #261 closed

[2019-10-30 02:06] #264 closed

[2019-10-30 02:06] #380 closed

[2019-10-30 03:44] #1544 closed

[2019-10-30 05:06] #1563 closed

[2019-10-30 06:22] uskay opened #1780 "Blog: Portals - fixing existing animation code snippet"
Author: @uskay
Reviewer: @kaycebasques , technical review @argyleink

Fixing the code snippet of the existing [https://web.dev/hands-on-portals/](https://web.dev/hands-on-portals/) article.

Before: it is animating non-GPU accelerated attributes such as` bottom`, `left`
[code]
After: only animate `opacity` and `transform`
[code]

Target publish date: CDS wave 3 (right before CDS)

- [x] Check this

[2019-10-30 12:05] ThomasTheDane commented on #1769
Apologies for the confusion! I submitted this one yesterday
<https://github.com/GoogleChrome/web.dev/issues/1769> and it looks like
Pete had already submitted one (which I should have seen). I am only trying
to publish one blog post and these two are the same. Feel free to kill
either of them

On Tue, Oct 29, 2019 at 10:33 PM Carol Rivero <notifications@github.com>
wrote:

[2019-10-30 17:14] mfriesenhahn commented on #833
BTW, I already checked the aside colors. Caution is the only one that isn't 4.5:1. (Orange is always a problem.) We'll need to change it to a different hue--maybe `$PINK_700`--since it'll just look brown if we reduce the brightness (e.g., `$ORANGE_900`). The problem, though, is that you lose the color semantics.

I'm wondering if it's worth reconsidering the presentation of the asides--dark text o

[2019-10-30 18:06] kaycebasques commented on #1355
This is a low-hanging fruit that Joe might be able to address but we're not sure if it's a priority right now.

[2019-10-30 18:13] kaycebasques commented on #1295
This review can only be minor copyedits only. Any substantive changes will introduce major delays.

[2019-10-30 18:25] robdodson opened #1784 "Need to signal current active page in SideNav"
**Describe the bug**
The Header component shows which page is active with an underline. We should add something similar to the SideNav.

**To Reproduce**
Steps to reproduce the behavior:
1. Got to web.dev/learn
2. Notice that the header has a blue underline under "Learn"
3. Resize the browser and click the hamburger menu to open the SideNav

**Expected behavior**
The Learn tab in the SideNav shoul

[2019-10-30 19:00] #1769 closed

[2019-10-30 19:01] #1780 closed

[2019-10-30 19:10] #1687 closed

[2019-10-30 19:37] kaycebasques opened #1785 "Update handbook to mention that directory name should match article title"
When creating a post called `How to blob with gorp` the directory structure should be `src/site/content/en/blog/how-to-blob-with-gorp`

[2019-10-30 19:46] robdodson commented on #1701
So based on our discussion, I think the audio/video description and caption rules in axe currently generate a "needs review" notification to the developer. This isn't something that lighthouse will be able to surface. [See related bug](https://github.com/dequelabs/axe-core/issues/1855). I suggest moving audio/video caption/description stuff to manual audits.

[2019-10-30 19:46] robdodson commented on #1701
Also we should probably turn these audits off in LH cc @brendankenny

[2019-10-30 21:11] kaycebasques commented on #1436
Just reviewed. Back to @jpmedley to incorporate feedback.

[2019-10-30 22:44] robdodson opened #1790 "Tabbing out of search field selects the first item."
**Describe the bug**
Tabbing out of the search box selects the first result.

**To Reproduce**
Steps to reproduce the behavior:
1. Tab into the search field.
2. Type some letters.
3. Press tab again.

**Expected behavior**
Tabbing should close the search field without navigating to a result.

[2019-10-31 00:06] kaycebasques opened #1792 "Capture other browser error messages in SameSite docs [March 31]"
It's great that the SameSite docs explicitly quote the warnings that developers will see in the Chrome DevTools Console:

![image](https://user-images.githubusercontent.com/4713486/67908127-82ef3a80-fb37-11e9-87d3-40f71b831491.png)

We should capture the exact quote from other browsers, too. When developers copy-paste the error, they'll get linked to web.dev.

[2019-10-31 01:38] kaycebasques commented on #1669
Next step is for @uskay to:

* re-submit the PR as a branch on this repo (googlechrome/web.dev), not his fork
* minimize the images

[2019-10-31 02:50] robdodson commented on #1195
designs are in the web.dev > Huge >UX and Design > Measure tool loading state directory.

[2019-10-31 02:51] robdodson commented on #1194
designs are in the web.dev > Huge >UX and Design > RSS feed placement directory.

[2019-10-31 02:51] robdodson commented on #1193
designs are in the web.dev > Huge >UX and Design > Collections signpost directory.

[2019-10-31 02:52] robdodson commented on #1191
designs are in the web.dev > Huge >UX and Design > FABs on mobile directory.

[2019-10-31 02:52] robdodson commented on #1190
designs are in the web.dev > Huge >UX and Design > Like this post directory.

[2019-10-31 02:52] robdodson commented on #1189
designs are in the web.dev > Huge >UX and Design > Blog featured content directory.

[2019-10-31 02:53] robdodson commented on #1188
designs are in the web.dev > Huge >UX and Design > Tags UI directory.

[2019-10-31 02:53] robdodson commented on #1137
designs are in the web.dev > Huge >UX and Design > Subheads in collections page directory.

[2019-10-31 02:53] robdodson commented on #956
designs are in the web.dev > Huge >UX and Design > Measure directory.

[2019-10-31 03:04] robdodson commented on #719
I've pinged Huge to try and track down this asset.

[2019-10-31 03:06] robdodson commented on #1772
@devnook if you're interested in taking this on, it might be a good one to fix soon since it's a user facing bug.

[2019-10-31 03:32] robdodson opened #1794 "Small grey line overlaps loading board on mobile Measure view"
**Describe the bug**
When the measure tool is running there's a tiny grey line that overlaps the progress bar on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. In a mobile viewport...
2. Audit a URL

**Expected behavior**
There's no grey line overlapping the progress bar.

**Screenshots**
![image](https://user-images.githubusercontent.com/1066253/67916818-38c88200-fb54-11e9-9fc9-cd8

[2019-10-31 03:33] robdodson opened #1795 "Analytics don't fire for initial page view."
**Describe the bug**
When a user first lands on the site, analytics don't fire a pageview.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page on web.dev

**Expected behavior**
There should be a pageview ping to GA.

[2019-10-31 08:45] #1790 closed

[2019-10-31 08:47] samthor commented on #468
@robdodson we had this request again and it might be worth revisiting the reasoning.

[2019-10-31 10:58] bazzadp opened #1797 "Is a service worker a requirement for an installable manifest?"
The https://web.dev/installable-manifest/ page states that:

However there are many pages that don't have a service-worker but according to Lighthouse the manifest meets the installability criteria.

For example https://www.dropee.com/ gets the following on Lighthouse:

![image](https://user-images.githubusercontent.com/10931297/67940033-baf38d80-fbca-11e9-9d9c-bc0b393eee27.png)

55,675 sites in H

[2019-10-31 15:32] mfriesenhahn commented on #1657
Ready to merge!

[2019-10-31 15:36] mfriesenhahn commented on #1564
PR looks good. Just a couple things need fixed.

[2019-10-31 15:52] jpmedley commented on #1635
@ThomasTheDane There is a second Google Docs draft of this floating around. You should lock one of them down completely or we'll all soon be pulling our hair out trying to reconcile comments and suggestions from two places.

[2019-10-31 16:31] robdodson opened #1803 "Is every deploy causing a SW forced reload?"
**Describe the bug**
Just deployed the site and noticed when I visited the page that it seemed to do a force reload again.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a new version of the site.
2. Visit the site.

**Expected behavior**
The page should not reload but I _think_ it does. Maybe because the kill switch is looking for `v2` but the sw is `v201910311622`. Need to investig

[2019-10-31 18:22] kaycebasques opened #1808 "Add support for tags."
--- @jpmedley

https://github.com/GoogleChrome/web.dev/pull/1726/files#r340843948

[2019-10-31 18:23] evlnyng commented on #1767
I would like to give this a shot!

[2019-10-31 18:56] #1436 closed

[2019-10-31 19:01] jpmedley commented on #1436
How do we handle series content (see as how this is part I of a series)?

[2019-10-31 19:02] jpmedley commented on #1436
I mean how do we handle it in GitHub tickets.

[2019-10-31 19:08] mihajlija commented on #1564
I've addressed Michael's review, just need @housseindjirdeh to confirm the TOC ordering.

[2019-10-31 19:10] kaycebasques commented on #1436
@jpmedley create a separate issue for each post if they are landing one at a time. If multiple posts are landing at the same time then it's OK to reference them all in a single issue and PR if that makes more sense. In general smaller issues and PRs are easier to review so I prefer that route.

[2019-10-31 19:13] kaycebasques commented on #1564
I resolved the ToC conflict, no action needed from @housseindjirdeh.

[2019-10-31 19:28] jpmedley opened #1810 "content: WebXR, part II: the frame loop"
**Author**: @jpmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy o

[2019-10-31 21:02] #1794 closed

[2019-10-31 21:10] philipwalton commented on #1569
This guide is now ready for review.

[2019-10-31 21:14] #1641 closed

[2019-10-31 21:57] samtstern opened #1811 "Laggy scrolling on web.dev (all pages)"
**Describe the bug**
On my phone or MacBook (any device with inertial scrolling) scrolling web.dev pages is really laggy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to web.dev
1. Flick up and down to scroll
1. See choppiness

**Expected behavior**
Smooth scrolling

**Screenshots**
I believe this scroll event listener on `window` in `router.js` is to blame:
![image](https://user-image

[2019-10-31 21:58] samtstern commented on #1811
cc @abeisgoat who found the event listener.

[2019-10-31 23:36] robdodson commented on #1811
Hmmmm I'll take a look. [That listener should be passive](https://github.com/GoogleChrome/web.dev/blob/master/src/lib/utils/router.js#L141) but perhaps it causes layout thrashing. cc @samthor

[2019-10-31 23:37] samthor commented on #1811
Yeah, this is my bad. `requestAnimationFrame` and some deduping is correct.

[2019-10-31 23:37] robdodson commented on #719
designs are in the web.dev > Huge >UX and Design > Pagination directory.

[2019-10-31 23:40] robdodson commented on #1808
Can you explain a bit more what you'd like to see here?

[2019-11-01 00:11] kaycebasques commented on #1808
* When browsing tags, users might search for different synonyms. Some might search for `vr` whereas others might search for `virtual-reality`, so it'd be good to support both. This is what Joe was getting at.
* Suppose author A only tags their post with `vr`, whereas author B only tags their post with `virtual-reality`. Without a tag synonym infrastructure, when a user browses the posts tagged wit

[2019-11-01 00:53] kaycebasques commented on #1564
Probably good to merge. Just holding off on merges today because of engineering migrations.

[2019-11-01 00:55] kaycebasques commented on #1635
As discussed in the email threads, this is going to be published elsewhere. Going to close this ticket because it's no longer related to web.dev.

[2019-11-01 00:55] #1635 closed

[2019-11-01 01:28] kaycebasques commented on #1569
Looking good! General structure and content looks great. I didn't do an in-depth copyedit.

[2019-11-01 01:29] kaycebasques commented on #1569
I think next step here is to let Phil keep writing content and then once we're happy with the general collection I'll do the detailed copyedits.

[2019-11-01 01:45] kaycebasques commented on #1568
Looking good. I don't see any major issues that need to be addressed. So next step is to let Phil continue drafting the collection and we can revisit this once we see how all the content fits together. It'll probably still be good, but it's common for intros to change after the whole collection gets drafted out.

[2019-11-01 01:49] kaycebasques commented on #1630
Paul reviewed the PR 2 days ago, so next step is for me to incorporate feedback.

[2019-11-01 04:08] samthor commented on #1803
We aren't importing the "build" version into the SW whatsoever—the "v2019..." doesn't exist in "sw.js".

We are logging debug when we're doing a forced refresh.

[2019-11-01 04:24] samthor commented on #1795
I'm confused because if anything I see the opposite behavior—_further_ pages don't send pageviews. I've included a PR: #1814

[2019-11-01 06:40] philipwalton commented on #1572
I've added some more content to the draft if you want to re-review. Though it's also fine if you want to wait until all of these are done before doing an in-depth copy edit.

[2019-11-01 16:15] jpmedley commented on #1808
VR is probably the worst example of this. This is one of the few paper conventions that translates directly to the web, but never has been.

[2019-11-01 16:35] #1811 closed

[2019-11-01 16:57] robdodson opened #1818 "Add GitHub action to check media sizes."
**Is your feature request related to a problem? Please describe.**
It's very easy for folks to upload images that are much larger than their display size.

**Describe the solution you'd like**
We should add a GitHub Action that looks at the dimensions of assets that are uploaded and asserts that they are the correct size for their display area. This should factor in 2x scaling (i.e. even though we

[2019-11-01 17:53] jpmedley opened #1821 "Consider making 'Current Status' a reusable component"
See [this link](https://web.dev/sms-receiver-api-announcement/#current-status) for an example. These are used in all Fugu posts and many other besides. Updating the parameters to the component may not be any quicker than updating raw markdown. However, a reusable component would have the advantage of consistent formatting.

I'm not in love with the idea, but I'll create one if people think I shoul

[2019-11-01 18:10] kaycebasques commented on #1616
PR will probably land today or Monday.

[2019-11-01 18:10] kaycebasques commented on #1279
PR will probably land today or Monday.

[2019-11-01 18:28] #1440 closed

[2019-11-01 18:29] kaycebasques commented on #1808
@jpmedley am I describing the situation correctly? Please elaborate if not.

[2019-11-01 18:37] jpmedley commented on #1808
You've captured it.

[2019-11-01 19:11] jpmedley commented on #1295
@petele discussed this this morning. We're not literally migrating the existing doc. (Apologies @tomayac). I'll be submitting a PR for a new article, but it will include some content that was previously required by sec/priv.

[2019-11-01 20:06] kaycebasques commented on #1774
@jpmedley from the email thread it sounds like @uskay thinks this is stable enough to review. I haven't looked at the doc, though, so it's your call.

[2019-11-01 21:38] robdodson commented on #1808
At the moment we don't have designs for tag search, though [we do have designs for tags UI](https://github.com/GoogleChrome/web.dev/issues/1188#issuecomment-548195437). That UI assumes a fixed set of tags.

Currently we use [Algolia](https://www.algolia.com/) to power the search bar at the top of the site. Aloglia is super powerful and we're just using a tiny fraction of what it provides. It might

[2019-11-01 21:42] robdodson commented on #1821
Not opposed to this. During our recent chromestatus meeting with me, you, chris, and jason, there was talk of having chromestatus clearly sign post the history of an API. I was kind of curious if we would ultimately want to widgetize whatever they decide to create there. We could do our own thing initially, but ultimately we'd probably want to align with their presentation and terminology.

[2019-11-01 22:32] jpmedley commented on #1279
I don't quite have a PR. The content is in markdown and in a development branch. I have a few things I need to work out. Then I'll open a PR.

[2019-11-01 22:33] jpmedley commented on #1616
I don't quite have a PR. The content is in markdown and in a development branch. I have a few things I need to work out. Then I'll open a PR.

[2019-11-01 23:57] robdodson commented on #1795
Ah that might be because [I snuck in a commit to fix](https://github.com/GoogleChrome/web.dev/commit/cb0208cf7943963c498592c6143f00c7a79dd781) this and forgot to close the ticket.

I'll take a look at #1814

[2019-11-01 23:59] robdodson commented on #1803
yeah this may be a non-issue. I'll close it and reopen if I notice it happening again.

[2019-11-01 23:59] #1803 closed

[2019-11-02 00:18] #1650 closed

[2019-11-02 00:24] #1795 closed

[2019-11-02 00:36] kaycebasques commented on #1808
Sorry, I didn't literally mean search. I just meant when users scan tags. One user might have the `vr` tag in mind while another has the `virtual-reality` tag in mind.

This issue came up because Joe wanted to add `vr` and `virtual-reality` (as well as `ar` and `augmented-reality`) to the fixed list in the system (`tags.yaml` or whatever the file is). I pushed back because I don't want to add anot

[2019-11-02 00:43] kaycebasques commented on #1808
Check out https://developers.google.com/web/updates/tags for an example of the problem that I'm trying to avoid.

We have an `addtohomescreen` tag: https://developers.google.com/web/updates/tags/addtohomescreen

And an `install` tag: https://developers.google.com/web/updates/tags/install

The list of articles is different.

[2019-11-02 01:11] robdodson commented on #1808
yeah I understand the problem(s). I'm trying to think through if the proposed solution of adding synonyms would solve them.

Here's a visualization of the tags UI that our agency proposed:
![Tags UI - Desktop Drawer](https://user-images.githubusercontent.com/1066253/68063762-c92bd180-fcd0-11e9-99b0-e7bf4e7d5a2e.gif)

This is displaying a fixed set of tags that the user can filter by. Per your earl

[2019-11-02 01:27] kaycebasques commented on #1808
You could display both. That's what Joe is advocating for, actually. The key thing is that when the user clicks either tag, they get taken to the same list of articles. That's the main problem I care about.

I'm not proposing that the author can make arbitrary tags on any post. If they want to add a new tag, they'll need to add it to `tags.yaml`. But that doesn't happen that often so I'm not too w

[2019-11-02 02:42] robdodson commented on #1808
hmmm when the agency was working on that design we discussed avoiding having a long list of tags. The UI on desktop (and especially mobile) may be overwhelming if there's several rows of words and synonyms. At that point it feels like a better UI might be to have a preset list of tags (maybe popular ones) and then a search field that does fuzzy/synonym matching against other tags.

Ultimately I'm

[2019-11-03 17:22] robdodson commented on #816
I enabled `deepMerge` a while back, so now posts inherit their parent tags.
Because the landing pages for posts are also in the same directory as the .11tydata.js file, they also inherit tags. However, we don't want this behavior because `pathItem` is one of the tags in the .11tydata.js file. To work around this, I've added an `override` field to the YAML for each path landing page. This field cle

[2019-11-03 17:22] #816 closed

[2019-11-03 17:23] robdodson commented on #1188
moving discussion to #1808

[2019-11-03 17:23] #1188 closed

[2019-11-03 17:23] robdodson commented on #1808
Going to consolidate related threads into this one:

- https://github.com/GoogleChrome/web.dev/issues/1188
- https://github.com/GoogleChrome/web.dev/issues/816
- https://github.com/GoogleChrome/web.dev/issues/974

Note, the designs for the proposed tags UI are in the web.dev > Huge >UX and Design > Tags UI Drive directory.

[2019-11-04 11:55] tomayac commented on #1295
Since my [PR](https://github.com/GoogleChrome/web.dev/pull/1431) contains @jeffposnick's previous content 1:1, but in the web.dev Markdow syntax, it could probably still make sense to base your rewrite on it, @jpmedley. If you want to start from scratch, I'm also happy to close it in favor of an upcoming PR of yours instead. Just let me know. Thanks!

[2019-11-04 16:48] jpmedley commented on #1821
I think doing our own thing initially is the right move. The signposting you're referring to is more complicated than it seems meaning it will take time to design and implement while the number of places it could be used grows.

Moving to a simple widget now will make it easier to convert to something more sophisticated later. It would mean the conversion would start with greping the web.dev sourc

[2019-11-04 17:44] robdodson commented on #1821
yep, the feature sounds fine to me. Did you want to take a shot at working on it?

[2019-11-04 17:46] robdodson commented on #1797
Assigning to @mfriesenhahn to take a look. Per our team chat, the doc should be updated to mention that the audit is only checking for specific items in the manifest file.

[2019-11-04 17:50] robdodson commented on #1784
Happy to discuss. My gut reaction is that it may add complexity that might not be worth the trade off. But I haven't spent a good deal of time looking into it so maybe it's easier than I anticipate.

[2019-11-04 17:52] mfriesenhahn commented on #1797
I already submitted a PR for this: #1819

[2019-11-04 17:56] jpmedley commented on #1821
I had always intended to.

[2019-11-04 19:09] kaycebasques commented on #1736
@carolrivero to create a milestone for m81 and move this issue to that milestone

[2019-11-04 19:10] kaycebasques commented on #1346
@kaycebasques to shelf this because we're going to revisit PWA later

[2019-11-04 19:21] Snugug commented on #1346
Hey, before we do, this is ready to go, as is https://github.com/GoogleChrome/web.dev/issues/1349. All comments have been addressed.

[2019-11-04 19:24] carolrivero commented on #1736
This issue has been removed from the Content Project Board and milestone "Sprint 2019-12-18" has been added.

[2019-11-04 20:38] jpmedley commented on #1808
Here's a example of why we need tag redirects that's better than virtual reality/vr: capabilities and Fugu. Officially we use the word 'capabilities' for this project and it's what appears in all our articles. But everyone involved in it refers to it as Fugu in many public situations while passing out Fugu stickers and Fugu pins. You might argue that this simply requires better message discipline.

[2019-11-04 20:57] petele commented on #1736
I just noticed this was tagged Chrome 81 - these changes are for m79, this needs to go out ASAP. The PR is ready to go and has been approved by @jpmedley

[2019-11-04 22:32] mfriesenhahn commented on #1682
Draft in #1832 and staged here: https://deploy-preview-1832--web-dev-staging.netlify.com/oyo-case-study/

Note that the native aspect ratio of the GIF in the Medium post was stretched out. I converted it as-is to video for now, but, @AnkitJainAJ, do you have the correct original?

[2019-11-04 23:04] samthor opened #1833 "Redirect www.web.dev => web.dev"
This would be a redirect done in "server.js".

Importantly, we can't just do a blind redirect. We should also serve "/sw.js" as a blank SW that replaces the previous one and forces clients to reload. If that file doesn't exist then clients who have "www.web.dev" installed will have a bad time.

[2019-11-05 00:14] kaycebasques commented on #1346
Thanks @Snugug, I had heard this content was far along but the PR didn't reference this issue so I was unaware that they were related.

@petele @jpmedley since Joe has already reviewed the Google Doc and there is a PR for it, I think we should just see it through and land the content. We can mark it as `draft: true` so that it doesn't show up prematurely.

[2019-11-05 00:44] kaycebasques commented on #1682
I've started reviewing.

[2019-11-05 01:26] kaycebasques commented on #1682
@mfriesenhahn the content flows well and covers all the bases. And it's a great foundational overview of TWAs that we'll probably be able to separate later. So thank you! I appreciate that you took a one-off case study and turned it into something that we'll be able to build off of later.

Take a look at this comment and LMK if we should get a technical review: https://github.com/GoogleChrome/web.

[2019-11-05 01:50] mfriesenhahn commented on #1682
+1 to technical review

[2019-11-05 15:37] devnook commented on #1772
Fixed via #1800

[2019-11-05 15:37] #1772 closed

[2019-11-05 18:10] kaycebasques commented on #1346
Whoops, my last comment was inaccurate.

Next step is for @Snugug to submit a PR.

[2019-11-05 18:17] kaycebasques commented on #1349
@jpmedley this is ready for your review

[2019-11-05 19:20] jpmedley commented on #1821
Here's the metadata we would need to add to an article if we had a status widget. [Here's an example](https://web.dev/native-file-system/#status) of a hard-coded status table.

[code]

[2019-11-05 20:43] Snugug commented on #1346
I haven't "been taught" how to submit PRs for web.dev yet; @jpmedley has been submitting them. If someone has a couple minutes to walk me through the stuff I may not already know from my time doing OSS work, I'm happy to submit this as a PR

[2019-11-05 20:52] jpmedley commented on #1346
I'm on it.

[2019-11-05 22:17] jpmedley opened #1837 "Hero image loading seems to be broken on staging"
**Describe the bug**
I double-checked that the file name was correct in the source and matched the actual file. Also, this is the third PR I've seen this on.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/8204171/68250927-e7e2de80-ffd6-11e9-9acc-560112df91d3.png)

[2019-11-05 22:56] #1630 closed

[2019-11-05 23:06] kaycebasques opened #1839 "Update the demo article"
https://raw.githubusercontent.com/GoogleChrome/web.dev/master/src/site/_drafts/_template-post/index.md

It's still numbering figures with `Fig. N` formatting. Pretty sure we're no longer numbering figures.

[2019-11-06 00:06] kaycebasques commented on #1628
The audit still hasn't landed in Lighthouse so I think we can just punt this to post CDS.

[2019-11-06 00:28] kaycebasques commented on #1682
Next step is for PJ to provide links to support the statement that other browsers are supporting TWAs

[2019-11-06 00:29] mfriesenhahn commented on #1682
@kaycebasques, can you loop me into conversations about this post so I know what decisions are being made?

[2019-11-06 00:30] #1564 closed

[2019-11-06 00:32] kaycebasques commented on #1682
There were no conversations other than me finding TWA people and giving them the background context on this post. The next step is based on this comment from PJ (https://github.com/GoogleChrome/web.dev/pull/1832#issuecomment-550027791) and my review of the aside that you proposed

[2019-11-06 00:33] kaycebasques commented on #1682
Oh, I just saw that my review was still pending and hadn't been submitted. Just submitted a comment on the proposed aside.

[2019-11-06 00:43] kaycebasques commented on #1774
Next step is for @jpmedley to review the Google Doc.

[2019-11-06 00:52] kaycebasques commented on #1295
Given that @jpmedley just submitted #1835 I assume he wants to use that one and close #1752.

@jpmedley is #1835 ready for my review or does someone else need to review it first?

[2019-11-06 02:13] robdodson commented on #1821
my hunch is you'll want to add those as arguments to [an eleventy shortcode](https://www.11ty.io/docs/shortcodes/)

[2019-11-06 02:14] robdodson commented on #1821
our existing shortcodes are here: https://github.com/GoogleChrome/web.dev/tree/master/src/site/_includes/components

when you're adding a shortcode you'll need to register it in the `.eleventy.js` file.

[2019-11-06 02:15] #1797 closed

[2019-11-06 11:39] Asmatmaker opened #1841 "content: <Beta>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [x] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-11-06 18:19] #1837 closed

[2019-11-06 18:44] jpmedley commented on #1349
@Snugug I have reviewed your draft and made a number of suggestions. As usual, your copy is exceptionally clean of typos and such. I've made some stylistic suggestions with explanations. Ping me if you have questions.

[2019-11-06 19:22] kaycebasques commented on #1279
@mfriesenhahn #1828 is ready for your review. IIRC this is @jpmedley's rewrite of a post that originally appeared on developers.google.com/web.

[2019-11-06 19:24] kaycebasques commented on #1616
@mfriesenhahn this is ready for your review. This is also a @jpmedley rewrite of developers.google.com/web content.

[2019-11-06 19:29] kaycebasques commented on #1682
This is humming along. Michael's just tying up some loose ends.

[2019-11-06 19:31] kaycebasques commented on #1346
@jpmedley is #1838 ready for a web.dev style review from @mfriesenhahn or do you need to review the PR first?

[2019-11-06 20:24] jpmedley commented on #1295
It is ready for review.

[2019-11-06 20:45] philipwalton commented on #1571
This draft is now ready for review.

[2019-11-06 22:49] uskay commented on #1774
Do let me know if you wanted me to send over a PR. I'll be flying to SFO end of this Friday PST (Nov 8) so will I'll make myself flexible in fixing things before that.

[2019-11-07 00:47] mfriesenhahn commented on #1682
@kaycebasques, the browser support statement has been updated per the thread with PJ. Can you approve and merge?

[2019-11-07 03:08] #1669 closed

[2019-11-07 03:09] kaycebasques commented on #1669
Thank you @uskay for the in-depth content and it was my pleasure to work with you again. I just merged the PR.

[2019-11-07 09:01] tomayac opened #1848 "content: Migrate prefers-reduced-motion article from WebFu"
**Author**: @tomayac
**Reviewer**: @surma @robdodson @petele

Migrate https://developers.google.com/web/updates/videos/2019/03/prefers-reduced-motion/ over to https://web.dev/prefers-reduced-motion/

**Target publish date:** before CDS
- [X] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

[2019-11-07 13:57] bazzadp opened #1850 "Suggestions for lazy-loading FAQ"
In the [Native Lazy Loading](https://web.dev/native-lazy-loading/) article it does not make it clear if adding lazy-loading to every image (even those definitely in the view port) element is a bad thing.

Will it cause hero images to take slightly longer to download as the browser evaluates whether it's needed or not?

Could we add something to the FAQ about that as seen this question asked a lot?

[2019-11-07 16:16] jpmedley commented on #1346
It's ready. I reviewed it in Docs.

[2019-11-07 16:28] Snugug commented on #1349
TY will review when I've got a moment of free time

[2019-11-07 16:38] mfriesenhahn commented on #1682
We also just got an LGTM from OYO. This is good to go.

[2019-11-07 16:39] robdodson commented on #1850
Those are great questions. @housseindjirdeh when you have some spare cycles would you be able to look into this?

[2019-11-07 17:35] #1727 closed

[2019-11-07 17:47] #1742 closed

[2019-11-07 20:49] mfriesenhahn commented on #1346
Hi, folks. Is this supposed to go in `/installable`? (Right now, it's in a new `pwas` folder, which seems duplicative.

[2019-11-07 21:55] petele commented on #1346
No, it should go in the PWAs folder, installable will get a more specific focus as we work through things.

[2019-11-07 22:05] jpmedley commented on #1774
I've reviewed the draft and made suggestions. Please look this over. I'm happy to help you with the PR, especially given the short timeline we're on.

[2019-11-07 23:02] mfriesenhahn commented on #1279
@kaycebasques, this is ready to merge, though it shouldn't be published until the companion post, #1829, is published.

[2019-11-07 23:06] housseindjirdeh commented on #1850
Thanks for this @bazzadp! That's a great point, I'l circle back to look into this in a week's time or so when things slow down after Chrome Dev Summit :)

[2019-11-07 23:45] #1682 closed

[2019-11-08 00:59] Snugug commented on #1346
No. Pete and I are working on building out a new PWA section

[2019-11-08 01:55] uskay commented on #1774
@jpmedley thank you for the review. I accepted the suggestions and left ones with comments to confirm the best way to frame each of the writing. Once the folks who I looped in (mainly @jyasskin and @kinu ) is okay with the suggestion, could you please help us out with the PR? Much appreciated.

 - The drive folder for all the img / video assets are here: https://drive.google.com/drive/folders/1ash

[2019-11-08 06:11] philipwalton opened #1855 "Links to resources are being loaded by the router as content pages"
**Describe the bug**

If I add a link to a `.png`, `.svg`, or `.jpg` image hosted on the site, and I click on that image on the page, I get a 404.

The reason is because the router logic is trying to load the asset as a new page, but it's not actually a page: https://github.com/GoogleChrome/web.dev/blob/7f41b9fd209b9fabfb1c64f788df21af34e53f99/src/lib/utils/router.js#L91-L93

**Expected behavior**

[2019-11-08 08:32] Asmatmaker opened #1857 "content: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [x] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-11-08 18:06] jpmedley commented on #1279
To be clear, #1828 and #1829 (share and share target) are linked to each other. They MUST BE part of the same deployment.

[2019-11-08 18:07] jpmedley commented on #1616
#1828 and #1829 (share and share target) are linked to each other. They MUST BE part of the same deployment.

[2019-11-08 18:53] philipwalton opened #1859 "CMD/CTRL clicking a link to open it in a new tab drops the hash in the URL"
**Describe the bug**
CMD/CTRL clicking a link to open it in a new tab drops the hash in the URL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page with a link that contains a hash at the end of the URL
2. CMD/CTRL+CLICK the link to open it in a new tab
3. Notice that the URL in the new tab doesn't include the hash portion of the original link

**Expected behavior**
Hash URLs shou

[2019-11-08 19:44] philipwalton commented on #1859
Related: I'm noticing this is also an issue for SPA loads in the same tab. The hash portion of the URL is getting dropped. Ideally we'd scroll to that part of the page after loading it.

[2019-11-08 20:34] #1859 closed

[2019-11-08 21:15] #1568 closed

[2019-11-08 21:15] #1575 closed

[2019-11-08 21:18] kaycebasques commented on #1279
I'll merge this once #1828 is ready. Going to review it now.

[2019-11-08 21:34] #1616 closed

[2019-11-08 21:38] #1279 closed

[2019-11-08 22:58] thebengeu opened #1862 "content: How stale-while-revalidate improved the performance of Google display ads"
**Author**: @thebengeu
**Reviewer**:

**Target publish date:** 2020-03-xx
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

- [x] 1. I've done my proposal https://docs.google.com/document/d/1-_e9FkReFIynWaEBgcjDYnUqf_ZdZkUXLLX8AddvePo/edit
- [ ] 2. Proposal approved — _reviewer checks this_
- [x] 3. I'

[2019-11-09 00:50] #1569 closed

[2019-11-09 00:50] #1570 closed

[2019-11-09 00:50] #1571 closed

[2019-11-09 00:50] #1572 closed

[2019-11-09 00:50] #1573 closed

[2019-11-09 00:50] #1574 closed

[2019-11-09 00:50] #1855 closed

[2019-11-09 01:44] jpmedley opened #1866 "Broken link in staging"
The build process for #1865 says staging completed without error, clicking on the actual article returns this:

![image](https://user-images.githubusercontent.com/8204171/68520768-5b8f2080-024f-11ea-9722-d2a3f622d768.png)

[2019-11-09 16:39] robdodson opened #1867 "Web share doesn't work on Chrome OS"
**Describe the bug**
On ChromeOS our web share code seems to be throwing an error saying it can't connect to the interface.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev/why-speed-matters/
2. Click on the Share floating action button.

**Expected behavior**
A twitter share action occurs.

**Screenshots**
![image](https://user-images.githubusercontent.com/1066253/68531

[2019-11-09 16:42] robdodson commented on #1866
I think what's happening is that the article in question if failing to generate because kenji is not in the contributors.json (try running `npm run dev` locally with that PR and you should see the error). I think eleventy is perhaps just logging the error but still building the rest of the site and possibly exiting with a 0 so Netlify thinks the build succeeded.

[2019-11-09 17:25] robdodson opened #1868 "Back button position seems to jump before new content has loaded."
**Describe the bug**
Pressing the back button seems to jump the current article, before new content has loaded in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev/fast/
2. Scroll down the page and click '[Performance budgets 101](https://web.dev/performance-budgets-101/)'
3. Scroll half way down the page
3. Hit the back button

**Expected behavior**
The current article

[2019-11-09 17:41] #1857 closed

[2019-11-09 17:45] #1841 closed

[2019-11-09 17:50] #1839 closed

[2019-11-09 22:03] kaycebasques opened #1870 "Figure out a process for reserving URLs"
One approach:

* Put a placeholder file in the source code.
* Mark it as a draft.
* Leave notes explaining the expected use of the URL.

[2019-11-09 23:53] kaycebasques opened #1871 "Add button for copying code"
**Is your feature request related to a problem? Please describe.**

Blocks of code like this should be copy-able with a single button click:

![image](https://user-images.githubusercontent.com/4713486/68536500-c3ee0880-0308-11ea-9b02-80f6b5457b83.png)

**Describe the solution you'd like**

Add a **Copy to clipboard** button to the top-right of each code block.

**Describe alternatives you've consi

[2019-11-09 23:56] robdodson commented on #1871
I think we can add this if folks want it, though it was a conscious decision to not include it in the first place.

We originally wanted to encourage folks to type the code when they're doing codelabs, based on an idea I stole from Learn Python the Hard Way that if you're copy/pasting in a tutorial then you aren't really engaging your brain.

[2019-11-10 00:40] #1774 closed

[2019-11-10 19:52] #1295 closed

[2019-11-10 21:24] kaycebasques opened #1876 "Bug: Distorted images on web.dev/blog"
**Describe the bug**

Images on web.dev/blog are distorted and grainy.

![1B2880B8-F539-4843-85B7-DFE64DB4F4D5](https://user-images.githubusercontent.com/4713486/68551008-0f61ee80-03bd-11ea-9be7-0b86ac1a0641.png)

![Uploading 36AC919F-808B-4D68-8522-8DF64793F75F.png…]()

**To Reproduce**

iOS 13.1.3

Chrome 76

[2019-11-10 22:11] samthor opened #1879 "Algolia includes promise polyfill"
Algolia includes a Promise polyfill in its code. We should remove it somehow.

[2019-11-11 09:02] JacopoSciampi opened #1883 "Use ctrl + number to navigate to the tab open in sources"
As it happens in some ide like VS Code, I think it would be useful to be able to navigate between pages while debugging using the shoutcast ctrl + n, where n is a number.

[2019-11-11 12:49] jitendravyas commented on #1850
I had asked these question on twitter to Addy but didn't get response

[2019-11-11 16:26] jpmedley opened #1885 "Web Share Hero Image Has Nothing to Do with Sharing"
It speaks for itself.

https://web.dev/web-share/

[2019-11-12 02:36] mathiasbynens opened #1886 "Mention DevTools/Puppeteer support in `prefers-color-scheme` article?"
https://web.dev/prefers-color-scheme/ continues to be the one-stop shop for all things dark mode. 👍🏻

Would it make sense to mention the recently-added DevTools/Puppeteer support for emulating `prefers-color-scheme` and other CSS media features? cc @tomayac

[2019-11-12 10:25] leonardomerlin opened #1889 "Fix: update the link from lighthousebot to lighthouse-ci"
This issue is just to update the link mentioned here: https://web.dev/performance-budgets-101/ - on this file: https://github.com/GoogleChrome/web.dev/blob/master/src/site/content/en/fast/performance-budgets-101/index.md

[2019-11-13 02:00] kaycebasques opened #1895 "Fix Glitch code associated to Next.js dynamic imports doc"
@mihajlija can you fix the code in the dynamic-imports-no-ssr Glitch?

Context: #1894

[2019-11-13 09:21] mihajlija commented on #1895
Fixed, thanks for letting me know!

[2019-11-13 17:37] mihajlija commented on #1785
We were following that convention initially, until the handbook advertised:

When you update the handbook, please remember to remove the above sentence.

[2019-11-13 20:28] MichaelSolati commented on #1871
I personally feel like it would be useful. While I agree that having people type in the code can reinforce the learning process, users can still just select the text, then copy and paste. So it adds a small barrier that's easily overcome.

Also looking over some of the code, it seems as if we are showing changes to the code with the context of where it is changed. If they were to have an easier co

[2019-11-14 00:38] jeffposnick opened #1896 "content: Experimenting with the Content Indexing API"
**Author**: @jeffposnick
**Reviewer**: @jpmedley

**Target publish date:** 2019-12-19
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com

[2019-11-14 01:12] tomayac commented on #1886
Definitely! Thanks for the nudge! I will address this once the Chrome Dev Summit and BlinkOn dusts have settled.

[2019-11-14 20:35] kaycebasques commented on #1895
Sorry, forgot another step. @mihajlija can you please give glitch.com/@webdev ownership of the Glitch, too.

[2019-11-14 23:08] bazzadp commented on #1850
Testing this, it would appear that this doesn't work - both images are still loaded even though one will be hidden by CSS (so arguably not in the viewport).

[2019-11-14 23:52] mihajlija commented on #1895
I've added the project to the team page and here's the [invitation link](https://glitch.com/edit/#!/join/24425973-a9b3-4b16-918c-f43202546364). (I've also fixed the thumbnail.)

[2019-11-15 00:46] kaycebasques opened #1898 "content: "Privacy Sandbox: Privacy Model for the Web""
Soft deadline: 3 Mar 2020
Author: @samdutton
Reviewer: @kaycebasques

[2019-11-17 11:09] Kevin-Ellen opened #1900 "Offline: menu button not shown on 'measure'"
**Summary**
Menu button on mobile not shown when in flight mode - seems to be isolated to the measure page

**To Reproduce**

1. Install Web.Dev on mobile device
2. Turn off connectivity. E.g. Using flight mode
3. Navigate to 'Measure'
4. Confirm menu button is not shown
5. Confirm it is hard for user to navigate away from page

**Expected behavior**
Menu button on all pages to be shown, irregardl

[2019-11-17 11:13] Kevin-Ellen commented on #1900
![Screenshot_20191117_111039_com android chrome](https://user-images.githubusercontent.com/45627930/69006707-f613f180-092a-11ea-93e6-8dba7d7b0605.jpg)

[2019-11-17 17:49] mauriciabad opened #1901 "Explain how to fix FOIT with Google fonts"
A lot of developers use google fonts, so this may help them.

[2019-11-18 07:51] kumagi opened #1903 "content: Introduction of SXG."
**Author**: @kumagi
**Reviewer**: TBD

**Target publish date:** 2020-01-20

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/document/d

[2019-11-18 17:52] jpmedley opened #1907 "Update Contact Picker article for leaving origin trial"
https://web.dev/contact-picker/

**Target publish date:** 2019-12-19
- [x] Check this box if this is a hard deadline.

[2019-11-18 18:06] jpmedley opened #1908 "Update Cookie articles to indicate shipping in Chrome 80"
https://web.dev/samesite-cookies-explained/
https://web.dev/samesite-cookie-recipes/

**Target publish date:** 2019-12-19
- [x] Check this box if this is a hard deadline.

[2019-11-18 18:20] jpmedley opened #1909 "Update getInstalledRelatedApps() article to indicate shipping"
https://web.dev/get-installed-related-apps/

**Target publish date:** 2019-12-19
- [x] Check this box if this is a hard deadline.

[2019-11-18 20:32] robdodson commented on #1871
yep, sounds like we should add it

[2019-11-18 20:35] #1889 closed

[2019-11-18 20:46] robdodson commented on #1885
Can you use web share to share things like videos and images? That was my assumption. Happy to replace it if you can find  something you'd prefer.

[2019-11-18 20:51] robdodson commented on #1883
@JacopoSciampi I'm not  sure I understand. Is this issue  related to the web.dev  site or something else?

[2019-11-19 09:06] technbuzz opened #1914 "SEO links needs to be fixed."
**Describe the bug**
Some URL's in Seo section aren't linked properly linked to their respective TOC.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Document Title](https://web.dev/document-title/)
2. Scroll down all the way to the bottom
3. Click on **Return to all articles**
4. You will be redirected to **Accessibility Section** rather than **Seo**

[2019-11-19 15:11] jpmedley opened #1915 "content: ES Modules for Dedicated Workers"
**Author**: @developit
**Reviewer**: @jpmedley

**Target publish date:** 2019-12-19
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/d

[2019-11-19 18:28] MichaelSolati commented on #1683
@robdodson if that's the case this should likely be applied to blog posts too, no?

[2019-11-19 19:19] robdodson opened #1917 "Create a markdown-it plugin to wrap tables"
**Is your feature request related to a problem? Please describe.**
Tables should be contained within a `<div class="w-table-wrapper">` class so they overflow correctly on mobile.

**Describe the solution you'd like**
A [markdown-it](https://github.com/markdown-it/markdown-it) plugin that wraps tables in the aforementioned div.

[2019-11-19 19:25] robdodson commented on #1914
Yeah this is kind of an unfortunate known issue. Since this doc appears in both the accessibility and seo collections, that breadcrumb chooses whichever one came first. We've been discussing getting rid of these footer breadcrumbs for this reason.

[2019-11-19 21:22] #1683 closed

[2019-11-20 00:04] #1833 closed

[2019-11-20 06:09] xiaotong-kk9 commented on #836
Hi Rob Hope everything goes well on l10n.
Is there any update?

[2019-11-20 16:35] jpmedley commented on #1915
@developit I forgot that I had created this already. If you decide to do an outline, link it to this ticket.

Here's the summary of our meeting.

* You will try to have a PR by December 12.
* The portion of the document covering why the old solution is bad will be done last so that if you get backed up, I can write it.

Let me know if you have issues or questions.

[2019-11-20 17:52] robdodson commented on #836
It's currently part of our OKR planning which we're working on this week.

[2019-11-20 20:04] kaycebasques opened #1922 "content: Companion blog for "Speed tooling evolutions""
https://youtu.be/iaWLXf1FgI0

**Author**: @egsweeny
**Reviewer**: @mihajlija

**Target publish date:** 2019-12-04

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this templ

[2019-11-20 20:05] kaycebasques opened #1923 "content: Companion blog for "Adaptive loading""
https://youtu.be/puUPpVrIRkc

**Author**: @mihajlija
**Reviewer**: TBD

**Target publish date:** 2019-12-04

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](h

[2019-11-20 20:07] kaycebasques opened #1924 "content: Companion blog for "Main thread is overworked""
https://youtu.be/7Rrv9qFMWNM

**Author**: @mfriesenhahn
**Reviewer**: TBD

**Target publish date:** 2019-12-04

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template

[2019-11-20 20:08] kaycebasques opened #1925 "content: Companion blog for "Next generation web styling""
https://youtu.be/7Rrv9qFMWNM

**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

**Target publish date:** 2019-12-04

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [thi

[2019-11-20 20:09] kaycebasques opened #1926 "content: Companion blog for "PWAs and the installable web""
https://youtu.be/Hp_dQvQyYEI

**Author**: @jpmedley
**Reviewer**: TBD

**Target publish date:** 2019-12-04

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](ht

[2019-11-20 20:10] kaycebasques opened #1927 "content: Companion blog for "Bridging the native app gap""
https://youtu.be/JKVZMqpiY7w

**Author**: @jpmedley
**Reviewer**: TBD

**Target publish date:** 2019-12-04

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](ht

[2019-11-20 20:35] kaycebasques commented on #1922
@egsweeny already has a draft in the works around this topic: https://docs.google.com/document/d/1rLYekEgcXsanFQV8PJBgoeexYM_m_zQG33nZvUZ6kx4/edit

So @mihajlija perhaps you can just edit that draft and help them land it on web.dev by submitting the PR and so on

[2019-11-21 02:43] kaycebasques commented on #1628
Lighthouse audit has landed: https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/audits/metrics/largest-contentful-paint.js

[2019-11-21 03:12] xiaotong-kk9 commented on #836
Glad to know that!
Please kindly update the info here to let us know when the guide for localization contribution is published.
Thanks :)

[2019-11-21 08:01] uskay opened #1928 "content: Add contents to web.dev/web-bundles"
**Author**: @uskay
**Reviewer**: @kaycebasques

Add contents below:
- a movie of preact-todomvc working offline
- some sample web bundles we provided in CDS (web.dev, proxx, sqoosh)

AI:
- [x] : Send PR
- [ ] : Upload [the movie](https://drive.google.com/file/d/1NGMJe8ATqUM_Hv-viI20fxdzuSqDmIC6/view?usp=sharing) to GCS: @kaycebasques could you kindly upload this for me as I do not have access to G

[2019-11-21 18:10] #1883 closed

[2019-11-21 18:11] robdodson commented on #1876
@kaycebasques are you still seeing this issue? I wasn't able to reproduce it on my phone.

[2019-11-21 18:11] robdodson opened #1930 "Cookie banner is not full width on larger mobile devices."
I think it's because it has a max-width set.

[2019-11-21 18:13] robdodson opened #1931 "Add table of contents to articles."
We'll need some design help on this. I think having each article lead off with a TOC may push a bunch of stuff down the page, so we might consider using a button to open the TOC?

There are eleventy plugins for generating TOCs (https://www.npmjs.com/package/eleventy-plugin-toc) so we probably just need to chuck one of these into our project and style it.

[2019-11-21 18:17] robdodson commented on #1691
#1914 is also related.

[2019-11-21 18:18] robdodson commented on #1495
Maybe related to this? https://github.com/11ty/eleventy/issues/544

[2019-11-21 18:39] robdodson commented on #1808
@kaycebasques one question I have is if we want to work on this while we're still planning the content roadmap stuff. This will be a decently sized engineering project because eleventy doesn't have much built-in support for the kind of tagging we're talking about doing. I have a pretty good understanding of how this would work for a page full of blog posts, but am unclear if we'd want to do anythi

[2019-11-21 18:43] jpmedley commented on #1808
For what it's worth, it seems like this feature is more useful on the blog
where I don't have IA to convey that articles are related.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Thu, Nov 21, 2019 at 10:39 AM Rob Dodson <notifications@github.com>
wrote:

[2019-11-22 03:25] kaycebasques commented on #1876
Seems OK now.

[2019-11-22 03:25] #1876 closed

[2019-11-22 19:22] #1137 closed

[2019-11-22 20:06] kaycebasques commented on #1922
@carolrivero content process problem: Milica was ready to review the content but couldn't because she didn't have access to the Google Doc draft.

[2019-11-22 20:33] kaycebasques opened #1934 "content: Companion blog for "Protecting users on a thriving web""
https://youtu.be/WnCKlNE52tc

**Author**: @mihajlija
**Reviewer**: TBD

**Target publish date:** <yyyy-mm-dd>

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template]

[2019-11-22 20:47] kaycebasques opened #1935 "content: Companion blog for "Modern WebAssembly""
**Author**: @mihajlija (tentative)
**Reviewer**: TBD

**Target publish date:** 2019-12-18

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google

[2019-11-22 20:50] kaycebasques opened #1936 "content: Companion blog for "Advancing the framework ecosystem""
https://youtu.be/QDljY2I1Pfw

**Author**: @housseindjirdeh
**Reviewer**: @mihajlija (tentative)

**Target publish date:** 2019-12-18

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a

[2019-11-22 21:29] khempenius commented on #1542
Hi @jonarnes, Proposal-wise this looks good to me. As I mentioned previously, for web.dev code labs that use third party services, we require that users be able to sign up synchronously (i.e. they don't need to request an account) and for free. We do this to make it easy for developers to try out new technologies. It's up to you as to whether ImageEngine would want to support this type of signup f

[2019-11-22 21:54] #1928 closed

[2019-11-24 18:47] mrbm opened #1939 "Google Fonts and Page Speed Insights Score Lighthouse receommendations"
Reviewing: https://web.dev/font-display?utm_source=lighthouse&utm_medium=unknown

It suggests using: font-display: swap;

However, is the google fonts family using this for their code?

ie when using:

https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C

[2019-11-25 06:51] robdodson commented on #1939
hi @mrbm, I think you need to add `&display=swap` to your snippet of code to tell Google Fonts that you want it to use `font-display:swap`.

[2019-11-25 06:51] #1939 closed

[2019-11-25 08:21] samthor opened #1940 "windowClient.navigate() doesn't exist in Safari"
Our Service Worker can't cause a reload on the main page. Oops.

[2019-11-25 11:52] jonarnes commented on #1542
Thank you for the feedback @khempenius. Not sure I understand the "free" part as only one of the other listed image CNDs seem to have a free tier. We ca discuss offline though. Meanwhile, we'll do our best to adapt and submit a new proposal soon.

[2019-11-25 17:13] khempenius commented on #1542
Replying here in case someone comes across this thread in the future and has questions about this:

It doesn't need to be a free tier per se, but a user should be able to signup and try out the service for free. So for example, these are fee structures corresponding to the two image CDN code labs currently on web.dev: a) free-tier b) pay-as-you-go with a $10 credit on signup, good for up to 3 mont

[2019-11-25 19:29] robdodson opened #1941 "Not properly tracking signed in state."
I noticed when we moved off of DevSite that we stopped tracking when the user is signed in/out.

We have the ability to track signed in state by setting an analytics custom dimension:
[code]
This means all subsequent pings will contain this info so we can discern actions that occurred from signed in versus signed out users.

I'd suggest that we move the code we currently use to set the signed in s

[2019-11-25 19:29] robdodson commented on #1941
@samthor what do you think about the above proposal?

[2019-11-25 21:32] samthor commented on #1941
I'm not an expert re: custom dimensions but it sounds good. Remember that users can transition in both directions signed in <=> signed out on the same page.

We could also add a `beforeunload` handler and log pageview on timeout via beacon. Just to track bounces.

[2019-11-25 21:34] robdodson commented on #1941
Yeah I think we currently have a `clearSignedInState` action and I was wondering if we should have an action for signing in. Then we would set the custom dimension in those two actions to indicate either signed in or signed out.

This also got me thinking about analytics middleware and if we may want to have an easier way of setting analytics events/states/whatever as side effects of actions.

[2019-11-25 22:31] #1886 closed

[2019-11-26 00:42] kaycebasques commented on #1785
Thanks for the context, @mihajlija

[2019-11-26 01:07] kaycebasques commented on #1895
Thank you @mihajlija

[2019-11-26 02:08] kaycebasques opened #1943 "Mention that Web Bundles are experimental"
https://twitter.com/fakebaldur/status/1196118178444849153?s=20

[2019-11-26 02:47] kaycebasques commented on #1808
@robdodson I suppose tags for the blog posts is the MVP. I think it'd be pretty powerful to have all content on the site properly tagged. It'd be useful for users and also useful for content maintainers because we'll be able to quickly track down all related content. E.g. when an API changes and we need to check if any other docs are affected.

Yes. It feels "orthogonal" to content roadmap. It's o

[2019-11-26 02:50] kaycebasques commented on #1691
@robdodson the old module design does seem to make more sense

[2019-11-26 19:14] petele opened #1944 "content update: remove `truncate` from native file system post"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** ASAP

Calling `truncate` is no longer required, remove it from the documentation.

- [X] 1. I've done my proposal <add a link to your proposal doc>
- [X] 2. Proposal approved — _reviewer checks this_
- [X] 3. I've added a draft to my proposal doc
- [X] 4. Draft approved — _reviewer checks this_
- [ ] 5. I've submitted a pull req

[2019-11-26 19:59] #1944 closed

[2019-11-26 21:08] carolrivero commented on #1925
@mfriesenhahn - draft will be done before Thanksgiving.

[2019-11-26 21:25] jpmedley commented on #1615
This is merged, but is hidden with a draft tag. We need this ticket open because:
* The article is blocked because the feature it describes is unreleased.
* We need a reminder to sanity check the article before releasing it.

[2019-11-26 21:48] kaycebasques commented on #1926
Here's the transcript, @jpmedley: https://drive.google.com/file/d/1MCinhApzCjw-VjlSQyswTKu-9axgA1ml/view?usp=sharing

[2019-11-26 21:49] kaycebasques commented on #1927
@jpmedley this video doesn't have a transcript.

[2019-11-26 21:52] kaycebasques commented on #1927
@jpmedley disregard that last comment. Here's the transcript: https://drive.google.com/file/d/1tmtJx7psUHAqAFUTZ3Utt6-sLkeZrh1l/view?usp=sharing

[2019-11-26 23:15] #1435 closed

[2019-11-26 23:54] isa3bel opened #1946 "Cannot run website locally"
**Describe the bug**
A clear and concise description of what the bug is.

When I run `npm run dev` I get this error in localhost: `Error: ENOENT: no such file or directory, stat '/Users/ibolger/Code/web.dev/dist/en/404/index.html'`
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise des

[2019-11-27 02:40] anlexN opened #1947 "can you public vuejs pwa tutorial in https://web.dev/learn/ ?"

[2019-11-27 10:47] tomayac opened #1948 "content: User idle detection"
**Author**: @tomayac.
**Reviewer**:

**Target publish date:** tbd
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

- [X] 1. I've done my [proposal](https://docs.google.com/document/d/1mQfS2Bv_tJVubqy75GdhsRScqlrjZTeYEZz1kH9qdzc/edit#)
- [ ] 2. Proposal approved — _reviewer checks this_
- [X] 3. I've a

[2019-11-27 16:31] carolrivero commented on #1948
@tomayac - please add an estimated time for publish date to help us plan our workload and so we can slot this in to the appropriate sprint milestone.

[2019-11-27 22:19] tomayac commented on #1948
@samuelgoto, can you give us some timeline guidelines for the Idle Detection API, please?

[2019-11-30 19:57] brittanystoroz commented on #1946
@isa3bel I received this error at first too, I believe it was just from trying to access the site before the build was completely finished for the first time. I refreshed my http://localhost:8080 a couple seconds later and it worked fine. Maybe give that a try?? If this is actually what's causing the issue, maybe we can update the README to be more explicit about waiting for the build to finish be

[2019-12-01 05:38] isa3bel commented on #1946
ok sounds good I'll wait and see if that works! Is there an indicator that the build is "done" or do I simply need to wait for a few moments? @brittanystoroz

[2019-12-01 06:17] IvanBila commented on #1946
Hi @isa3bel here's the message it shows when the build is done.

![Screenshot from 2019-12-01 08-16-22](https://user-images.githubusercontent.com/13482373/69910363-faeca100-1412-11ea-8f4e-5b1569e18731.png)

[2019-12-01 06:25] IvanBila commented on #1946
@robdodson what is the minimum version of Node for running this project? I think maybe that should be added to the README, moreover, you could add a .nvmrc file that specifies the version.

[2019-12-02 15:12] jpmedley commented on #1615
This will start an origin trial in Chrome 80. We need to make sure the OT information is up to date.

[2019-12-02 17:40] isa3bel commented on #1946
it worked after upgrading node js! Thanks!

[2019-12-02 17:40] #1946 closed

[2019-12-02 18:26] isa3bel opened #1950 "How do I contribute and make changes?"
Hi all,

I am new to open source, and would like to contribute to this website. How do I make changes? I am trying to change the .njk files but when I save and reload the localhost, my changes are not reflected. Similar to when I change an .md file, the changes are not reflected. Do I need to rebuild the project every time I make a change? Thanks for the advice all

[2019-12-02 20:29] Snugug commented on #1346
Hey all, just giving this a post-Thanksgiving bump

[2019-12-02 20:30] Snugug commented on #1349
Hey all, just giving this a post-Thanksgiving bump. I've answered the outstanding comments @jpmedley gave in the doc

[2019-12-03 16:35] jpmedley commented on #1948
My reading of the tea leaves is that this couldn't go any earlier than Chrome 81. To link to it from the Chromium blog beta post we would want its date to be before Feb 13 (Chrome 81) or before March 26 (Chrome 82).

[2019-12-03 17:56] Malvoz opened #1951 "Add `scroll-margin` to headings"
Currently if I visit a section anchor, e.g. https://web.dev/native-lazy-loading/#what-if-i'm-already-using-a-third-party-library-or-a-script-to-lazy-load-images-or-iframes, the `<web-header>` is covering the corresponding heading, forcing me to scroll up to read the heading.

While [`scroll-margin`](https://www.w3.org/TR/css-scroll-snap-1/#scroll-margin) may solve this, it probably doesn't have fu

[2019-12-03 18:24] mihajlija commented on #1922
Submitting a PR first thing tomorrow.

[2019-12-03 18:38] carolrivero commented on #1927
@jpmedley will reach out to Sam to review the article. ETA for review: by Dec 4 or Dec 5.

[2019-12-03 18:38] carolrivero commented on #1926
@jpmedley will reach out to Sam to review the article. ETA for review: by Dec 4 or Dec 5.

[2019-12-03 18:40] carolrivero commented on #1923
@mihajlija - please provide an update on next steps. Do you want the Google Docs reviewed or do you have a PR coming?

[2019-12-03 18:41] carolrivero commented on #1924
@surma to review.

[2019-12-03 18:42] carolrivero commented on #1923
UPDATE:  @kaycebasques needs to assign a reviewer. Doc is ready for review.

[2019-12-03 18:47] carolrivero commented on #1925
@argyleink - please review and provide feedback by Dec 5. Thanks.

[2019-12-03 18:50] carolrivero commented on #1615
Tentative Date is Dec 16. Otherwise it will be in Feb. @jpmedley will confirm here.

[2019-12-03 23:43] argyleink commented on #1925
i've done a review pass 👍

[2019-12-03 23:44] argyleink commented on #1925
@una should get a ping as well to review her content. y'all have invited her to the same docs and relevant github convos yeah?

[2019-12-04 07:39] una commented on #1925
I haven’t received anything yet

- Una

On Wed, Dec 4, 2019 at 12:44 AM Adam Argyle <notifications@github.com>
wrote:

[2019-12-04 17:48] robdodson commented on #1947
Hi @anlexN, we currently don't have a timeline for when we'll be publishing vuejs content. But it's something we would like to do in the future!

[2019-12-04 17:48] #1947 closed

[2019-12-04 18:22] mfriesenhahn commented on #1925
@una, I wanted to respond to @argyleink's comments before sharing with you so I could address one set of feedback at a time. That's done, so it's all yours :) LMK if you didn't get the link in your email.

[2019-12-04 18:25] jpmedley opened #1953 "content: Share Targets in Workbox"
**Author**: @Snugug, @jpmedley
**Reviewer**: @kaycebasques

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://doc

[2019-12-04 20:14] mfriesenhahn commented on #1924
Need access to talk assets and need responses from Surma on last few outstanding issues in draft.

[2019-12-04 20:43] #1930 closed

[2019-12-04 20:57] #1653 closed

[2019-12-04 20:57] #1871 closed

[2019-12-04 22:22] carolrivero commented on #1673
@kaycebasques which sprint should this be added to?

[2019-12-04 22:23] carolrivero commented on #1672
@kaycebasques which sprint should this be added to?

[2019-12-04 22:23] carolrivero commented on #1671
@kaycebasques which sprint should this be added to?

[2019-12-04 22:23] carolrivero commented on #1662
@kaycebasques which sprint should this be added to?

[2019-12-04 22:23] carolrivero commented on #1657
@kaycebasques which sprint should this be added to?

[2019-12-04 22:24] carolrivero commented on #1631
@kaycebasques which sprint should this be added to?

[2019-12-04 22:24] carolrivero commented on #1592
@kaycebasques which sprint should this be added to?

[2019-12-04 22:25] carolrivero commented on #1588
Any updates on status of merge/push. Can we close this one out? @mfriesenhahn

[2019-12-04 22:26] carolrivero commented on #1567
@housseindjirdeh please provide an updated publish date so we can update the milestone

[2019-12-04 22:26] carolrivero commented on #1442
@kaycebasques which sprint should this be added to?

[2019-12-04 22:26] carolrivero commented on #1361
@kaycebasques which sprint should this be added to?

[2019-12-04 22:27] carolrivero commented on #1272
@kaycebasques which sprint should this be added to? The issue is now past due. Thanks.

[2019-12-04 22:28] carolrivero commented on #1439
@kaycebasques which sprint should this be added to?

[2019-12-04 22:29] carolrivero commented on #1152
@tcmg - is this issue still valid? There hasn't been movement since Sept. Thanks.

[2019-12-04 22:30] carolrivero commented on #1127
@mihajlija - is this still a valid issue? There hasn't been movement since Sept. Thx.

[2019-12-04 22:33] carolrivero commented on #1545
@mihajlija - please provide an update on status of the issue. This was due on Nov 6. Should this be added to the milestone ending on Dec 16? Thx.

[2019-12-04 22:34] carolrivero commented on #1319
@robdodson this issue has been open for 3.5 months. Can we close this out since we are reassigning this to someone else? Thx.

[2019-12-04 22:36] mihajlija commented on #1127
@carolrivero Still valid. I talked to Addy and Phil Walton and the plan to tackle it after CDS posts.

[2019-12-04 22:42] carolrivero commented on #1127
@mihajlija Thanks for your quick response. I'll change the milestone to the next Dec milestone.

[2019-12-04 22:43] mihajlija commented on #1545
@carolrivero The post is not on track to get done by Dec 16. Paging @bengeu and @gernberg for an estimate for the codelab.

[2019-12-04 22:50] mfriesenhahn commented on #1588
GH isn't showing that this has been merged, and I'm assuming it shouldn't be published until the rest of the collection is ready.

[2019-12-04 22:50] mfriesenhahn commented on #1213
Done

[2019-12-04 22:50] #1213 closed

[2019-12-04 22:51] mfriesenhahn commented on #1253
Done

[2019-12-04 22:51] #1253 closed

[2019-12-04 22:51] mfriesenhahn commented on #1244
Done

[2019-12-04 22:51] #1244 closed

[2019-12-04 23:35] surma commented on #1272
This is basically obsolete in light of the excellent write-up by @mfriesenhahn in #1955

[2019-12-05 03:35] kaycebasques opened #1959 "Throw linting error when `updated` field is not updated"
**Is your feature request related to a problem? Please describe.**

1. Someone updates content
1. They forget to update the `updated` field in the front matter

**Describe the solution you'd like**

1. The automated build/linter system throws an error instructing them to update the field

Assigning to @robdodson for triage

[2019-12-05 03:45] kaycebasques opened #1960 "Fix the DevTools instructions in web.dev/code-splitting-suspense"
https://web.dev/code-splitting-suspense/#suspense

* Should be using the Instruction component
* Keyboard characters don't seem to follow our conventions
* Check if handbook specifies keyboard character conventions

[2019-12-05 03:51] kaycebasques commented on #1960
Same problem in web.dev/precache-with-workbox-react

[2019-12-05 03:54] #1736 closed

[2019-12-05 12:06] mmatuzas opened #1961 "content: Using Cloudimage for Responsive Images Design"
**Author**: @mmatuzas @khempenius
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-12-05
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, mak

[2019-12-05 17:56] jpmedley opened #1964 "Update Periodic Background Sync article for shipping by default."
https://web.dev/periodic-background-sync/

Target publish date: 2019-12-19

 - [ ] Check this box if this is a hard deadline.

[2019-12-05 18:00] mfriesenhahn commented on #1925
PR is up. Needs @una's review and a quick once over from Adam to make sure everything made it into MD as intended.

[2019-12-05 18:30] mfriesenhahn commented on #1925
@argyleink's review complete. @una needs to do a technical review of her sections, and @kaycebasques needs to assign a TW to do a content review.

[2019-12-05 18:40] carolrivero commented on #1927
1st article is getting a sanity check then will go into PR.
2nd article will send a sanity check today or tomorrow.
3rd article will check if it needs to go out w/ this issue.

[2019-12-05 18:42] carolrivero commented on #1898
@kaycebasques follow up w/ @rowan-m to link to doc.

[2019-12-05 18:43] carolrivero commented on #1926
@jpmedley haven't gotten to this - working on app gap

[2019-12-05 18:44] carolrivero commented on #1628
@kaycebasques to finish drafting.

[2019-12-05 18:45] carolrivero commented on #1923
@jpmedley to review.

[2019-12-05 18:46] carolrivero commented on #1922
Waiting for feedback from @egsweeny then PR will be ready.

[2019-12-05 18:51] carolrivero commented on #1615
@jpmedley confirm if this can get published by next week.

[2019-12-05 19:28] kaycebasques commented on #1898
Rowan outlined the doc, Sam is going to flesh out the draft. This isn't ready for reviews so I think we can remove it from the sprint schedule.

[2019-12-05 20:18] mfriesenhahn commented on #1924
Videos added and issues addressed. Ready for content review. @kaycebasques to assign TW.

[2019-12-05 21:01] jpmedley commented on #1923
@mihajlija Nice work! It's a clean draft. My comments are nits.

[2019-12-05 21:50] #1767 closed

[2019-12-05 22:19] MichaelSolati opened #1967 "I'd like to be able to select content in cards"
It's frustrating when you want to be able to highlight/select content (like the header or preview in a card in the learn and blog sections) just to discover you can't (or accidentally click it instead).

[2019-12-05 22:26] MichaelSolati commented on #1950
You shouldn't have to rebuild the content from a markdown file, however the generated HTML page may be cached by the service worker though. (In the Network tab of Chrome DevTools you can "Disable cache" which will keep the cache off as long as DevTools are open)

I do believe that template/structure filed (njk and js) do require you to kill and rebuild the dev server though.

[2019-12-05 23:23] #1330 closed

[2019-12-06 00:17] #1319 closed

[2019-12-06 18:51] robdodson commented on #1349
@carolrivero it looks like this was  moved to  the  week of January 8th. Just confirming  that for @Snugug so he has insight into the progress.

[2019-12-06 19:33] carolrivero commented on #1349
@robdodson - Thanks, Rob. I wish there was a cc field in GH ;-) @Snugug - please confirm if this new date works for you.

[2019-12-06 20:48] Snugug commented on #1349
As long as that release also includes #1346, #1345, and #1450 so we can launch the section then, that sounds good to me.

[2019-12-06 21:14] carolrivero commented on #1345
@Snugug please add a link to your doc. Thanks.

[2019-12-06 21:15] carolrivero commented on #1349
Thanks, @Snugug. All issues you linked have been updated w/ a milestone of Sprint 2020-01-08.

[2019-12-07 00:54] #1917 closed

[2019-12-08 05:52] Asmatmaker opened #1972 "content: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-12-09 04:46] mgiuca opened #1973 "Various problems with multi-origin-pwas page"
For page: /site/content/en/blog/multi-origin-pwas/index.md

1. Installation section recommends as a workaround that the `start_url` redirects to the main origin. It doesn't mention the fact that this will cause the installed app to show a permanent URL bar inside the app window, which might be a deal-breaker. I personally don't think it's worth giving this advice at all since it results in an obvi

[2019-12-09 10:30] mmatuzas commented on #1961
@khempenius tagging you as suggested

[2019-12-09 19:40] isa3bel commented on #1950
changing the templates or any file and rebuilding does not result in any change on the local host website. not sure why my changes aren't displaying @MichaelSolati

[2019-12-09 19:48] rahuls360 opened #1974 "Typo - What is speed page"
**Describe the bug**
Spelling mistake in the image. 'smoth and natural' used instead of 'smooth and natural'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://web.dev/what-is-speed/'
3. Scroll down to 'First image'. Read under Is it delightful?
4. See error.

**Expected behavior**
'smoth and natural' must be smooth and natural

**Screenshots**
![screenshot](https://i.imgur.com/l

[2019-12-09 21:09] carolrivero commented on #1934
@kaycebasques - Please advise if this issue needs to stay in the 2019-12-18 milestone. Otherwise, please update milestone to the appropriate one. Thanks.

[2019-12-09 21:27] carolrivero commented on #1935
@kaycebasques - should this be in the 2019-12-18 milestone?

[2019-12-09 21:29] carolrivero commented on #1936
@kaycebasques should this be in the 2019-12-18 milestone? If so, the issue has been added to the "Content" board since we are now actively working on this milestone.

[2019-12-09 21:30] carolrivero commented on #1953
@kaycebasques should this be added to the 2019-12-18 milestone? If so, it's been added to the content project board since this milestone is now active.

[2019-12-09 22:56] robdodson commented on #1972
Hi @Asmatmaker,

I think you have opened a few tickets on the repo but haven't filled them in. Are you trying to file a bug? I'm going to close this ticket because it is only used for submitting article ideas.

[2019-12-09 22:56] #1972 closed

[2019-12-09 22:58] robdodson commented on #1973
@demianrenzulli can you address the issues mentioned above?

also tagging @petele who is the owner for the PWA topic in case he has anything he'd like to tweak.

[2019-12-09 23:01] robdodson commented on #1950
It may be the service worker caching things. You can try pressing shift-R (or shift-F5 on windows) to do a hard refresh.

You might also try opening DevTools (right click on the page and click 'Inspect'), going to the Applications tab, clicking on "Service Workers", and checking the Bypass for network checkbox.

![image](https://user-images.githubusercontent.com/1066253/70480501-b86f3800-1a94-11ea

[2019-12-09 23:01] robdodson commented on #1974
@bojanpavic do you happen to have another version of this graphic?

[2019-12-09 23:14] demianrenzulli commented on #1973
Hi @mgiuca, thanks a lot for leaving your suggestions, and @robdodson for reaching out.

Please, find my comments below:

1) We can leave this suggestion out, since, as you've mentioned it can present the same problems as the downside of moving across origins in standalone mode.

2) Will correct that one.

3) I saw several large mobile centered companies doing this (e.g: mobile.twitter.com, m.face

[2019-12-09 23:17] mfriesenhahn opened #1976 "Post headers hidden when navigated to via link"
**Describe the bug**
When the user follows a link to a post section header, the header is hidden behind the top navigation bar. Without the header, it's less immediately clear that the link has taken the user to the intended location in the post. (This issue will be more pressing once ToCs are implemented.)

For example, here's the scroll position for `/how-to-measure-speed/#lab-data-vs-field-data

[2019-12-09 23:19] robdodson commented on #1951
Merging into #1976

[2019-12-09 23:19] #1951 closed

[2019-12-10 00:12] demianrenzulli commented on #1973
Also, now we are going to make some changes to this article, wondering if you guys would like to take advantage of it to include other related use cases:

@andreban: should we mention that in TWAs subdomains can be linked with each other? I only have the internal doc for this, Is there any external guides we can link to?

@agektmr: I recall you've mentioned that in Chrome saved passwords are optio

[2019-12-10 01:02] agektmr commented on #1973
Websites can reference credentials that are stored to sibling subdomains for free so that a user can choose to copy them. (Couldn't find a reference to a relevant information)
You may also use digital asset links to associate different origins to share a same credential.
https://developers.google.com/identity/smartlock-passwords/android/associate-apps-and-sites

[2019-12-10 11:14] andreban commented on #1973
@demianrenzulli You definitely should mention multi-origin TWAs. We do have a sample here: https://github.com/GoogleChrome/android-browser-helper/tree/master/demos/twa-multi-domain/

We actually made it simpler that what the internal docs describe.

[2019-12-10 14:00] demianrenzulli commented on #1973
This is great @andreban! Now we are removing the workaround for start_url in the context of PWAs, I think I can use that section to say that in TWA this is solved, and point to the right resource.

I'm planning to start working on a PR with these changes between today and tomorrow.

@mgiuca: if you have any additional thoughts (specially around the double-key caching topic), please, let me know.

[2019-12-10 15:16] mihajlija commented on #1922
Got feedback and assets from Elizabeth, but I was busy finishing the adaptive loading post review. I'm out of office until Thursday, I'll wrap up the PR when I get back.

[2019-12-10 15:17] mihajlija commented on #1923
Addressed the review and added a new section on Addy's request. Started working on the PR, I'll submit it when I get back to work on Thursday.

[2019-12-10 16:08] #1974 closed

[2019-12-10 17:05] martinschierle opened #1978 "Add LightWallet to the measure tool"
**Is your feature request related to a problem? Please describe.**
Lighthouse can audit against custom set perf budgets via the LightWallet feature. However, this isn't possible in the measure UI.

**Describe the solution you'd like**
For own tests after login it would be great if you could also add a URL to your own custom bvudgets.json file, and then see results with respect to this.

**Describe

[2019-12-10 18:21] jpmedley commented on #1909
The feature itself is blocked:

* TAG committee still has issues.
* Lacks three LGTMs.

[2019-12-10 20:18] jpmedley opened #1981 "content: Disallowing synchronous XMLHTTPRequest() during page dismissal"
**Author**: @jpmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-12-19
- [x] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of

[2019-12-10 20:20] MichaelSolati commented on #1931
I guess I'd need an idea as to what it should look like... Heres the default style:

![image](https://user-images.githubusercontent.com/11811422/70565643-61766b00-1b47-11ea-982e-dd20dc45cef8.png)

[2019-12-10 21:06] robdodson commented on #1978
That's an interesting idea. We're discussing ways  that we can improve the experience of the measure tool so I'll share this with the LH team.

[2019-12-10 22:16] #1848 closed

[2019-12-11 03:23] #1771 closed

[2019-12-11 21:09] robdodson commented on #1931
@kaycebasques do you have examples of TOCs from other sites that you like? Personally I'm concerned that adding one forces content further down the page (especially on mobile) and they don't seem to be used on other sites like css-tricks, alligator.io, or smashingmagazine. I think you may have shared an example with me in the past where the TOC was inside of a button that folks could click to expa

[2019-12-12 16:20] KolyaKorruptis opened #1990 "samesite-cookies-explained"
https://web.dev/samesite-cookies-explained/

www.web.dev & static.web.dev = samesite
your-project.github.io & my-project.github.io = cross-site

Explanation: "public suffix list defines this"

¯\\\_(ツ)\_/¯

[2019-12-12 20:26] mfriesenhahn opened #1993 "Backticks appear in title elements"
**Describe the bug**
When an author uses backticks in a page title to display code font, the backticks are included in the page's `<title>` element. For example:

![image](https://user-images.githubusercontent.com/14199217/70746183-4d16a780-1cda-11ea-9584-4b4391263ad7.png)

**To Reproduce**
Steps to reproduce the behavior:
1. View source for the page and expand the `<title>` element.
1. See error.

[2019-12-12 20:41] mfriesenhahn commented on #1701
Updates are _preliminarily_ complete, pending confirmation from LH team that media audits are being changed to manual. DO NOT MERGE until they confirm.

[2019-12-12 20:55] mfriesenhahn commented on #1964
@jpmedley, for this issue, #1980 is the right PR, yeah?

[2019-12-12 20:57] jpmedley commented on #1964
Yes.

[2019-12-12 21:44] mfriesenhahn commented on #1964
Reviewed!

[2019-12-12 21:51] mfriesenhahn commented on #1907
Reviewed!

[2019-12-12 22:07] mfriesenhahn commented on #1908
Reviewed! LGTM.

[2019-12-13 13:10] NickolasBenakis commented on #1993
I can take this one

[2019-12-13 19:43] robdodson commented on #1990
tagging @rowan-m for his thoughts

[2019-12-13 19:54] robdodson opened #2002 "Collection pages have empty meta data"
**Describe the bug**
In the dist directory, take a look at at the fast/index.html. Notice most of the meta data is blank. This is true for all collections pages. We probably need to update either the layout.njk or Meta.js to get data for these pages and populate it correctly. The data itself should live in the collection's 11tydata.js file.

[2019-12-14 01:52] #1901 closed

[2019-12-14 02:19] kaycebasques opened #2004 "Incorporate Lizzi's handbook feedback"
https://github.com/GoogleChrome/web.dev/pull/1082

[2019-12-14 03:49] #2004 closed

[2019-12-16 19:22] robdodson commented on #1191
cc @harleenkbatra08

[2019-12-16 19:38] robdodson commented on #190
Going to close because this ticket hasn't been addressed in a year and isn't part of our current OKRs. It may be something we revisit in the future.

[2019-12-16 19:38] #190 closed

[2019-12-16 19:39] robdodson commented on #191
Closing as stale, see #190

[2019-12-16 19:39] #191 closed

[2019-12-16 19:40] #377 closed

[2019-12-16 19:40] #379 closed

[2019-12-16 19:43] robdodson commented on #575
Going to close as our migration to imgix should help solve this.

[2019-12-16 19:43] #575 closed

[2019-12-16 19:45] robdodson commented on #615
Going to close as stale. Happy to reopen if we get a concrete proposal.

[2019-12-16 19:45] #615 closed

[2019-12-16 19:46] robdodson commented on #630
Going to close. I think we've pivoted our ideas here a bit, but we do plan to address this space in 2020.

[2019-12-16 19:46] #630 closed

[2019-12-16 19:46] robdodson commented on #632
Going to close. I think we've pivoted our ideas here a bit, but we do plan to address this space in 2020.

[2019-12-16 19:46] #632 closed

[2019-12-16 19:49] robdodson commented on #654
Going to close as stale but Kayce would like to take a look at the content that was written to see if we can potentially rework it.

[2019-12-16 19:49] #654 closed

[2019-12-16 19:49] robdodson commented on #656
Going to close as stale. See #654.

[2019-12-16 19:49] #656 closed

[2019-12-16 19:49] robdodson commented on #659
Going to close as stale. See #654

[2019-12-16 19:49] #659 closed

[2019-12-16 19:49] robdodson commented on #660
Going to close as stale. See #654.
Kate did create notifications content so perhaps this is covered by that material.

[2019-12-16 19:49] #660 closed

[2019-12-16 19:50] robdodson commented on #662
Going to close as stale. See #654

[2019-12-16 19:50] robdodson commented on #662
This may have actually landed and  we forgot to close the issue.
https://web.dev/what-should-you-measure-to-improve-performance/

[2019-12-16 19:50] #662 closed

[2019-12-16 19:51] robdodson commented on #666
Going to close as there hasn't been movement on this ticket. Happy to reopen if this  is still something folks want to work on and it isn't already covered by existing material.

[2019-12-16 19:51] #666 closed

[2019-12-16 19:51] robdodson commented on #667
Going to close as there hasn't been movement on this ticket. Happy to reopen if this  is still something folks want to work on and it isn't already covered by existing material.

[2019-12-16 19:51] #667 closed

[2019-12-16 19:52] robdodson commented on #669
I think this may be covered by existing content on the site. We have posts on lazyload attr and using lazysizes.

[2019-12-16 19:52] #669 closed

[2019-12-16 19:52] robdodson commented on #671
I think this may be covered:
https://web.dev/codelab-preload-web-fonts/

[2019-12-16 19:52] #671 closed

[2019-12-16 19:53] robdodson commented on #673
Going to close as stale. Happy to reopen if folks intend to work on it.

[2019-12-16 19:53] #673 closed

[2019-12-16 19:54] robdodson commented on #674
Going to close this as stale. But want to tag @philipwalton in case this is a topic the speed team would like to work on in 2020.

[2019-12-16 19:54] #674 closed

[2019-12-16 19:54] robdodson commented on #675
Closing as stale. See #674

[2019-12-16 19:54] #675 closed

[2019-12-16 19:55] robdodson commented on #676
Our LH docs on Ligthhouse now explain how to do this. Going to close as I think we have this covered.

[2019-12-16 19:55] #676 closed

[2019-12-16 19:56] kaycebasques commented on #674
Relevant: https://github.com/GoogleChrome/web.dev/pull/1882

[2019-12-16 19:56] robdodson commented on #677
Going to close as stale but pinging @philipwalton in case this is something the speed team is interested in working on in 2020.

[2019-12-16 19:56] #677 closed

[2019-12-16 19:56] robdodson commented on #679
Closing as stale. See #674

[2019-12-16 19:56] #679 closed

[2019-12-16 19:56] robdodson commented on #680
Closing as stale. See #674

[2019-12-16 19:56] #680 closed

[2019-12-16 19:56] robdodson commented on #678
Closing as stale. See #674

[2019-12-16 19:56] #678 closed

[2019-12-16 19:58] robdodson commented on #681
Going to close this as stale for now. When we have concrete migration steps we can reopen this.

[2019-12-16 19:58] #681 closed

[2019-12-16 19:58] robdodson commented on #682
Going to close this as stale for now. When we have concrete migration steps we can reopen this.

[2019-12-16 19:58] #682 closed

[2019-12-16 19:59] robdodson commented on #687
Going to close this as stale.

[2019-12-16 19:59] #687 closed

[2019-12-16 22:07] robdodson commented on #692
Hey @jeffposnick, is this something you'd still be interested in publishing? Do you feel like it's ok publishing it without #888?

[2019-12-16 22:07] robdodson commented on #693
Hey @jeffposnick, is this something you'd still be interested in publishing? Do you feel like it's ok publishing it without #888?

[2019-12-16 22:09] robdodson commented on #694
Hey @jeffposnick, it doesn't seem like there's a linked draft so I'm going to close this if that's ok. However, if this is something you'd like to pursue please let me know and we can reopen the ticket.

[2019-12-16 22:09] #694 closed

[2019-12-16 22:09] robdodson commented on #695
Also closing as stale. See #694.

[2019-12-16 22:09] #695 closed

[2019-12-16 22:10] robdodson commented on #709
This is fixed in the new site. Switching URLs doesn't delete data.

[2019-12-16 22:10] #709 closed

[2019-12-16 22:13] robdodson commented on #783
Hey @housseindjirdeh, are you ok adding a note about the Safari behavior? I think we can separate the version tracking stuff into its own ticket.

[2019-12-16 22:17] robdodson commented on #831
This is up at https://web.dev/video-basics/

[2019-12-16 22:17] #831 closed

[2019-12-16 22:21] kaycebasques commented on #884
Fixed: https://web.dev/performance-scoring/

[2019-12-16 22:21] #884 closed

[2019-12-16 22:21] robdodson commented on #885
This is fixed by https://web.dev/accessibility-scoring/

[2019-12-16 22:21] #885 closed

[2019-12-16 22:22] robdodson commented on #922
Hey @housseindjirdeh, friendly ping. Do you think you'll have bandwidth to work on this?

[2019-12-16 22:23] robdodson commented on #923
Going to close this as stale because we haven't been able to find an owner for it yet. Happy to reopen if anyone on the speed team is interested in taking it. cc @philipwalton in case there's interest.

[2019-12-16 22:23] #923 closed

[2019-12-16 22:26] robdodson commented on #965
Hey folks, I'm going to close this as stale because there isn't an action item for the web.dev team.
cc @developit in case you want to continue the discussion.

[2019-12-16 22:26] #965 closed

[2019-12-16 22:27] robdodson commented on #976
Hey @housseindjirdeh is this something we're still thinking of working on?

[2019-12-16 22:28] robdodson commented on #988
Going to close this as stale since it doesn't have an owner.
This will need to be part of a bigger d.g.c migration plan.

[2019-12-16 22:28] #988 closed

[2019-12-16 22:29] #997 closed

[2019-12-16 22:30] robdodson commented on #1004
@khempenius friendly ping, do you think you'll have bandwidth to update the article with a note about IO?

[2019-12-16 22:32] robdodson commented on #1009
Assigning to myself to verify.

[2019-12-16 22:34] robdodson commented on #1013
Hey folks, checking in. @demianrenzulli are you still planning to write this post? Is there anything blocking you?

[2019-12-16 22:38] robdodson commented on #1039
@addyosmani do you know if it would be possible to get a member of the LH team to create this mapping between metrics and diagnostics/opportunities? I think @egsweeny attempted some work around this at one point but it got stalled. Maybe we can resurrect what she started?

[2019-12-16 22:39] robdodson commented on #1048
Going to close this as stale because there's no immediate owner. Happy to reopen when there are concrete next steps.

[2019-12-16 22:39] #1048 closed

[2019-12-16 22:39] robdodson commented on #1050
Going to close this as stale because there's no immediate owner. Happy to reopen when there are concrete next steps.

[2019-12-16 22:39] #1050 closed

[2019-12-16 22:40] robdodson commented on #1053
Going to close this as stale because there's no immediate owner. Happy to reopen when there are concrete next steps.

[2019-12-16 22:40] #1053 closed

[2019-12-16 22:41] robdodson commented on #1056
Going to close as stale.

[2019-12-16 22:41] #1056 closed

[2019-12-16 22:41] robdodson commented on #1058
Going to close these as stale.

[2019-12-16 22:41] #1058 closed

[2019-12-16 22:41] robdodson commented on #1063
Going to close these as stale.

[2019-12-16 22:41] #1063 closed

[2019-12-16 22:43] demianrenzulli commented on #1013
Hi @robdodson! Thanks a lot for reaching out.

I think this topic was de-prioritized in favor of other ones that needed to be addressed more promptly at the moment (for example, the [Link prefetch guide](https://web.dev/link-prefetch/) we released a couple of months ago).

While the [draft of the article](https://docs.google.com/document/d/1XuQegHCNCJnvEBkcqDFzYfwZq4ZRBUNpUwDz_0ySiws/edit) and [co

[2019-12-16 22:43] robdodson commented on #1070
Going to close as stale but happy to reopen if folks are still working on this.

[2019-12-16 22:47] robdodson commented on #1075
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 22:47] #1075 closed

[2019-12-16 22:47] robdodson commented on #1081
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 22:47] #1081 closed

[2019-12-16 22:47] paulirish commented on #1039
we took a pass on this several months ago, fwiw.

corp-only sheet: https://docs.google.com/spreadsheets/d/1M8iQWCb_GBzxZy7xYOa_ustx-iNQvke8X94vRViUhYg/edit#gid=0

[2019-12-16 22:48] robdodson commented on #1091
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 22:48] #1091 closed

[2019-12-16 22:51] robdodson commented on #1114
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 22:51] #1114 closed

[2019-12-16 22:52] #1130 closed

[2019-12-16 22:53] robdodson commented on #1147
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 22:53] #1147 closed

[2019-12-16 22:55] robdodson commented on #1151
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 22:55] #1151 closed

[2019-12-16 22:55] robdodson commented on #1152
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 22:55] #1152 closed

[2019-12-16 22:58] robdodson commented on #1167
Going to close as stale as it seems like there hasn't been any progress. Happy to reopen if we plan to work on this in the near term.

[2019-12-16 23:18] mfriesenhahn commented on #1070
Actually, @mgechev just emailed me about finishing this up on Thursday. I pinged @kaycebasques to check on priorities.

[2019-12-16 23:37] mfriesenhahn opened #2010 "web-copy-code causing whitespace issues"
**Describe the bug**
The web-copy-code component is removing needed whitespace in some cases and causing undesired whitespace in others. The root cause is that the `<pre>` and `.web-copy-code__container` elements are children of `<web-copy-code>`, which prevents their margins from interacting with those of other elements as intended.

To compensate, a negative `margin-bottom` has been added to `.w

[2019-12-16 23:51] mfriesenhahn opened #2011 "Copy button in web-copy-code misaligned in one-line code samples"
**Describe the bug**
The **Copy** button in the web-copy-code component isn't vertically centered in one-line code samples:
![image](https://user-images.githubusercontent.com/14199217/70952447-1662c900-201b-11ea-9a7d-7d833bf45048.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/web-bundles/#building-web-bundles`.
2. Hold the cursor over the copy button in the first sample in the

[2019-12-17 06:35] Asmatmaker opened #2012 "content: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [x] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-12-17 06:36] Asmatmaker opened #2013 "content: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-12-17 06:45] Asmatmaker opened #2014 "content: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-12-17 06:45] Asmatmaker opened #2015 "content: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-12-17 15:57] jeffposnick commented on #693
Yes, I'd absolutely love to get it published. You'd just need to drop the reference to the codelab.

[2019-12-17 15:57] jeffposnick commented on #692
Yes, I'd absolutely love to get it published. You'd just need to drop the reference to the codelab.

[2019-12-17 17:14] housseindjirdeh opened #2017 "content: Advancing web framework ecosystem"
Fixes #1936

**Author**: @housseindjirdeh
**Reviewer**: @kaycebasques  (tentative)

**Target publish date:** <2020-01-13>
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my proposal <add a link to your proposal doc>
- [ ] 2. Proposal approved — _reviewer checks this_
-

[2019-12-17 18:26] jpmedley commented on #1964
We need to merge this today, please.

[2019-12-17 18:27] jpmedley commented on #1907
Merge this today, please.

[2019-12-17 18:29] jpmedley commented on #1896
We need to merge this today, please.

[2019-12-17 18:37] kaycebasques commented on #1934
@kaycebasques to connect @mihajlija with the talk presenters so that she can get further information

[2019-12-17 18:43] kaycebasques commented on #1927
1st article is Share Targets With Workbox.

2nd article is in draft format, "Bridging Native App Gap, part 1". Probably won't land before Joe is back before vacation, Jan 3.

3rd article will probably be delayed. Mostly functionality that hasn't been built. Working title is "Bridging Native App Gap, part 2" but final title will probably be different.

[2019-12-17 18:45] kaycebasques commented on #1701
@kaycebasques to find out if these audits will be manual audits moving forward.

[2019-12-17 18:54] jpmedley commented on #1460
The updates are not going out as planned.

[2019-12-17 19:06] jpmedley commented on #1908
Reverted by #2007 because the described changes did not ship.

[2019-12-17 19:15] #1907 closed

[2019-12-17 19:34] #1981 closed

[2019-12-17 19:39] #1896 closed

[2019-12-17 20:39] #1915 closed

[2019-12-17 20:56] carolrivero commented on #2015
@Asmatmaker - I don't see a request included in the issue. Please clarify what the request is. Thanks.

[2019-12-17 20:56] carolrivero commented on #2014
@Asmatmaker - I don't see a request included in the issue. Please clarify what the request is. Thanks.

[2019-12-17 21:02] housseindjirdeh commented on #922
Thanks for the ping :)

I'll find some time this week!

[2019-12-17 22:15] #2014 closed

[2019-12-17 22:16] #2015 closed

[2019-12-17 22:17] #2012 closed

[2019-12-17 22:17] #2013 closed

[2019-12-17 23:43] argyleink commented on #1013
just re-read a couple times, seems good to me! The approach is stable, focused and articulated. I'd like to do another review when staged so the markdown is expanded, but otherwise I give it a thumbs up 👍

Was there anything in particular that you wanted me to check out?

[2019-12-17 23:57] kaycebasques commented on #1070
Carol and I will discuss this shortly.

[2019-12-18 00:41] demianrenzulli commented on #1013
Thanks a lot @argyleink for taking a look at it! Sorry I didn't provide more details before, here are some things I wanted double-check:

- If we should use `image-set` instead of `@media`. I guess nothing has changed since last time, and the paragraph I added at the end is the best we can suggest at this point.
- For the codelab part, If we should continue using [media-query-plugin](https://www.n

[2019-12-18 01:06] kaycebasques commented on #1243
Would be cool to do an inventory of existing content and see if any clear patterns emerge.

We can re-open this in the future if we decide to set aside time to work on it.

[2019-12-18 01:06] #1243 closed

[2019-12-18 01:08] #1242 closed

[2019-12-18 01:09] kaycebasques commented on #1209
Handbook specifies that people should omit `$`: https://web.dev/handbook/markup-code/#code-blocks

[2019-12-18 01:09] #1209 closed

[2019-12-18 01:10] kaycebasques commented on #1205
No concrete plans to work on this. Will probably happen in Q1 as our narrative evolves.

[2019-12-18 01:10] #1205 closed

[2019-12-18 01:13] kaycebasques commented on #1338
I think tags work is being tracked in #1808

[2019-12-18 01:13] #1338 closed

[2019-12-18 01:16] kaycebasques commented on #1460
@jpmedley please create a new issue for updates to the samesite cookies article. This issue (#1460) was created to track the original work.

[2019-12-18 01:16] #1460 closed

[2019-12-18 01:18] kaycebasques commented on #1469
Let's re-open this if we commit to actually working on it.

[2019-12-18 01:18] #1469 closed

[2019-12-18 01:27] kaycebasques commented on #1423
There doesn't appear to be any concrete plans to work on this in the short-term, so I'll close for now.

[2019-12-18 01:27] #1423 closed

[2019-12-18 01:39] kaycebasques commented on #1885
I believe we have some new assets for this now. Images still need to be updated.

[2019-12-18 01:43] #1387 closed

[2019-12-18 01:43] kaycebasques commented on #1384
This issue is something that we're aware of but don't need a particular issue to track at the moment.

[2019-12-18 01:43] #1384 closed

[2019-12-18 01:46] kaycebasques commented on #1626
Fixed: https://web.dev/performance-scoring/

[2019-12-18 01:46] #1626 closed

[2019-12-18 01:49] #1608 closed

[2019-12-18 01:51] kaycebasques commented on #1608
I updated the beginning of the doc to link to Ilya's comprehensive critical rendering path docs. This is the lazy fix, but it's good enough for now.

[2019-12-18 01:55] kaycebasques commented on #1850
@housseindjirdeh can you put in these updates? See also #1448.

[2019-12-18 01:56] kaycebasques commented on #1810
I don't think Joe is actively working on this, so we should close it for now. Joe can re-open if he starts working on it.

[2019-12-18 01:58] kaycebasques commented on #1707
This is on our roadmap but there's no need to keep it as an open issue in this repository.

[2019-12-18 01:58] #1707 closed

[2019-12-18 01:59] kaycebasques commented on #1691
This is a P2 problem that we can close for now.

[2019-12-18 01:59] #1691 closed

[2019-12-18 01:59] #1676 closed

[2019-12-18 02:02] #1674 closed

[2019-12-18 02:05] kaycebasques commented on #1663
Notes from writer's meeting: https://docs.google.com/document/d/12T4mcM8cz6ZBULwTycISwN6pr_W5AKwuCE9C4N1A8PI/edit#heading=h.pdoizi3k20zb

[2019-12-18 02:08] kaycebasques commented on #1567
We can re-open if/when Houssein has concrete plans to implement.

[2019-12-18 02:08] #1567 closed

[2019-12-18 02:08] kaycebasques commented on #1566
We can re-open if/when Houssein has concrete plans to implement.

[2019-12-18 02:08] #1566 closed

[2019-12-18 02:08] kaycebasques commented on #1565
We can re-open if/when Houssein has concrete plans to implement.

[2019-12-18 02:08] #1565 closed

[2019-12-18 02:10] kaycebasques commented on #1480
I think that we are indeed just repeating every link that gets mentioned in the audit. I think I was just being lazy and it's not a big problem after all.

[2019-12-18 02:10] #1480 closed

[2019-12-18 02:12] #1272 closed

[2019-12-18 02:12] #1251 closed

[2019-12-18 02:12] #1248 closed

[2019-12-18 02:13] #1249 closed

[2019-12-18 02:13] #1246 closed

[2019-12-18 05:16] kaycebasques commented on #1603
Still not mature enough to mention.

[2019-12-18 05:16] #1603 closed

[2019-12-18 05:18] #1612 closed

[2019-12-18 05:18] kaycebasques commented on #1612
This is only an issue when the link uses `target="_blank"` so there weren't that many links that needed updating.

[2019-12-18 05:28] #1689 closed

[2019-12-18 05:41] #1632 closed

[2019-12-18 05:48] kaycebasques commented on #1990
Hi @KolyaKorruptis what's the feedback here? Is it that we need to explain this idea better?

[2019-12-18 05:51] #1964 closed

[2019-12-18 06:07] kaycebasques commented on #1914
Thanks for the report @technbuzz. We're aware of the issue but don't have any short-term plans to fix it. I'll let Rob re-open this one if he has different thoughts on the matter.

[2019-12-18 06:09] #1895 closed

[2019-12-18 06:34] #1885 closed

[2019-12-18 06:40] kaycebasques commented on #1931
Next step is for @kaycebasques to provide examples of ToCs.

[2019-12-18 06:42] kaycebasques commented on #1283
@jeffposnick do you still want to land this? Please re-open the issue if yes.

[2019-12-18 06:42] #1283 closed

[2019-12-18 06:45] kaycebasques commented on #976
@housseindjirdeh I'm happy to re-open this if you have concrete plans to work on this collection.

[2019-12-18 06:45] #976 closed

[2019-12-18 06:47] kaycebasques commented on #1110
Howdy @linachansson this proposal fell through the cracks, but it seems like potentially interesting content. I'd be happy to revisit this if you're still interested.

[2019-12-18 17:03] kaycebasques commented on #1701
I pinged the LH team for a confirmation.

[2019-12-18 17:35] #1924 closed

[2019-12-18 17:38] kaycebasques commented on #1934
Duplicate of #2017

[2019-12-18 17:38] kaycebasques commented on #1936
Duplicate of #2017

[2019-12-18 17:38] #1936 closed

[2019-12-18 17:41] kaycebasques commented on #1934
@mihajlija as I just discovered in the email thread with the Privacy/Security people, we probably don't need this blog post. Check out our 1:1 doc for requested upcoming work.

[2019-12-18 17:41] #1934 closed

[2019-12-18 20:02] #1922 closed

[2019-12-18 20:13] #2010 closed

[2019-12-18 20:13] #2011 closed

[2019-12-18 20:34] robdodson commented on #1914
I'd like to reopen this one if it's ok. We need to figure out what to do with breadcrumbs for articles that appear in more than one collection.

[2019-12-18 21:23] demianrenzulli commented on #1013
Hi @kaycebasques: this is an article that was submitted some months ago, as part of the "Optimize CSS" series of web.dev/fast and we decided to put it on hold because there were other higher priority guides.

@robdodson brought it to our attention this week, and we thought this could be a good time to move it to markdown. You can take a look at the previous comments in this thread for more context

[2019-12-18 22:08] KolyaKorruptis commented on #1990
Yes. There is no explanation why the first example is samesite and the second cross-site, except "public suffix list defines this".
This doesn't seem helpful. And it's not obvious what the distinction is.

[2019-12-18 22:10] kaycebasques commented on #1990
Got it, thank you for clarifying.

[2019-12-18 23:59] robdodson opened #2023 "Prompt error in console."
**Describe the bug**
If you accept cookies and refresh the page, it seems like we're prompting for PWA install.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to web.dev in a new Chrome profile
2. Accept cookies
3. Refresh the page a few times
4. See error

**Snippet**

[code]

[2019-12-19 15:00] petele opened #2024 "appengine-test.web.dev should not be crawled."
**Describe the bug**
Searching on Google returns results for the domain **appengine-test.web.dev**

![Screen Shot 2019-12-19 at 9 57 05 AM](https://user-images.githubusercontent.com/718038/71183889-c36d5980-2246-11ea-8ab3-c7e92f31803e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.google.com/search?q=pwa+multi+origin+demian
2. Second result is pointing to appengine-te

[2019-12-19 16:33] robdodson commented on #2024
I asked search console to crawl the URL again and I think that may have fixed it.

![image](https://user-images.githubusercontent.com/1066253/71190744-fd842e80-2239-11ea-815d-ffab1191675a.png)

But I'm curious why this happened in the first place. I'm not an SEO expert but a few thoughts:

- When we publish something as a draft it still gets deployed but it has a `noindex` tag to prevent it from b

[2019-12-19 17:15] #1925 closed

[2019-12-19 18:07] #1923 closed

[2019-12-19 18:40] mfriesenhahn opened #2025 "content: Create first batch of self-assessments"
**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done [my proposal](https://docs.google.com/document/d/1oXHvmpvXWFeEUHALWlfsIaVjMj6ppTR3PD8BQO0OODM/edit?usp=sharing)
- [x] 2. Proposa

[2019-12-19 20:11] kaycebasques commented on #1926
Blocked until Joe gets back from vacation in January.

[2019-12-19 21:39] robdodson commented on #692
OK, assigning to @kaycebasques to track down someone to do a final review.

[2019-12-19 21:40] robdodson commented on #693
Assigning to @kaycebasques to find a reviewer.

[2019-12-19 21:43] robdodson commented on #1039
Seems like maybe we could add it to this doc? https://web.dev/performance-scoring/

@kaycebasques @mfriesenhahn wdyt?

[2019-12-19 22:28] kaycebasques opened #2026 "Fix missing image in adaptive icons post"
@NotWoods it looks like you might have accidentally deleted an image when you pushed the last commit in #1975. Can you fix?

Missing image URL: https://web.dev/maskable-icon/homescreen-maskable.png

![image](https://user-images.githubusercontent.com/4713486/71215181-dcd4cc80-226b-11ea-8c41-692b4f9dbf1a.png)

[2019-12-19 22:44] robdodson opened #2028 "Homepage wraps top three articles in a weird way on tablet/small desktop."
![image](https://user-images.githubusercontent.com/1066253/71215948-f37c2300-226d-11ea-8f5a-77bd48824a69.png)

Our three articles are fixed size cards so they wrap on medium sized displays. A better approach might be to make the top card span both columns on smaller screens.

[2019-12-19 23:53] #1976 closed

[2019-12-20 00:16] #1588 closed

[2019-12-20 14:56] mihajlija opened #2030 "Update image optimization requirements in the handbook"
We need to add specific instructions for uploading images to web.dev that balance:

1. Keeping the repo size down https://github.com/GoogleChrome/web.dev/pull/1962#pullrequestreview-334229282
2. Serving high-quality images on large and retina displays https://github.com/GoogleChrome/web.dev/pull/1962#issuecomment-567683908

Considerations:
- Hero images are optimized by a CDN but should be cropped

[2019-12-20 15:25] #2026 closed

[2019-12-20 15:38] robdodson commented on #2030
I think the above points sound good to me. A while back Michael did create a bit of guidance around the hero images here: https://web.dev/handbook/markup-media/#hero-images

[2019-12-20 16:11] jeffposnick opened #2031 "Try out the Content Indexing API"
The [Content Indexing API](https://web.dev/content-indexing-api/) is running as an Origin Trial in Chrome 80.

Since all web.dev posts under `/blog/` that a user has visited are cached and should work offline, web.dev should consider trying out the Content Indexing API.

Using the API when you already have an offline-capable PWA is pretty straightforward. [Here are some examples](https://twitter.c

[2019-12-20 16:40] robdodson commented on #2031
If you have the bandwidth to submit a PR I know we'd appreciate it. It sounds like a rad feature but wasn't something we had immediate plans to work on.

[2019-12-20 16:53] petele commented on #1353
This is ready for review.

[2019-12-20 18:21] petele commented on #1356
@jpmedley this is ready for review.

[2019-12-20 18:42] petele commented on #1355
@kaycebasques - Technically I guess it's an update of the existing doc, so yes, we still need it. We do duplicate some stuff that's on MDN, but I don't want to bounce people over there to understand what each property is/means, and what they should use it for.

[2019-12-20 18:42] petele commented on #1355
@jpmedley - ready for review.

[2019-12-20 19:09] jeffposnick commented on #2031
Cool! This is what I came up with as a first cut: https://github.com/GoogleChrome/web.dev/compare/content-indexing-support

It definitely needs some more work, and I'd love to chat with the eng team about how page loading and your service worker caching setup works to ensure that I'm making the right decisions.

On Chrome 80+ for Android, you'd end up seeing something like this after browsing arou

[2019-12-20 19:25] robdodson opened #2033 "SW should ignore utm query params"
**Describe the bug**
@jeffposnick mentioned our sw should ignore `utm_medium=` on incoming navigation requests.

[2019-12-20 20:26] kaycebasques commented on #1663
This article defines 3 types of review:

* `Proofreading`: correction of typing mistakes and mispellings
* `Copyediting`: correction of minor problems, such as awkward sentences, grammatical mistakes, adherence to a style guide
* `Comprehensive editing`: suggestions about considering readers, content, organization, page design, style, and use of illustrations

EATON, ANGELA, et al. “Examining Edit

[2019-12-20 20:42] kaycebasques commented on #1663
This one adds the category of `usability editing`, in which the reviewer responds to the content like a typical user might. Also has interesting analogies between types of software testing and editing (unit testing = copyediting)

CORBIN, MICHELLE, et al. “Technical Editing as Quality Assurance: Adding Value to Content.” Technical Communication, vol. 49, no. 3, 2002, pp. 286–300. JSTOR, www.jstor.

[2019-12-20 23:04] mfriesenhahn commented on #2030
SGTM also. Since this is about technical details rather than how to use images to support writing goals, I think it'd probably go in `/markup-media`.

@mihajlija, do you want to take a stab at drafting this? 😁

[2019-12-23 14:39] mihajlija commented on #2030
I can take it when I get back to work in January.

It would help to set a performance budget for images per post + we could later enforce it with Lighthouse CI. I think some of the recent hero/thumbnail images on /blog turned out poor because of double optimization (for example, Lighthouse and Web Share API posts). cc @kaycebasques

[2019-12-24 10:20] tomayac opened #2039 "RSS feed doesn’t contain code samples"
**Describe the bug**
A clear and concise description of what the bug is.

Articles in the RSS feed don’t contain code samples (at least not in a readable by Feedly format; sorry, on mobile and couldn’t easily check).

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to web.dev via a feed reader like Feedly.
2. See how the code samples are missing.

**Expected behavior**
A clear and c

[2019-12-26 09:53] james-muriithi opened #2040 "Error"
Error: Error: Lighthouse returned error: INTERNAL: Extension result empty. Lighthouse calling Page.navigate with https://james-muriithi.github.io/jCheckBox/ Uncaught (in promise) Error: Extension timed out. No call to exit() before render timeout. at wrs.Extension.onTimeout_ (http://ghost-rider/devtools_script_api.js:5555:13) at http://ghost-rider/devtools_script_api.js:708:9 at Map.forEach (<anon

[2019-12-27 21:17] bazzadp commented on #1448
@addyosmani has [an article which suggests this is already present](https://addyosmani.com/blog/lazy-loading/):

So if I’m reading that correctly and that’s accurate (no offence meant Addy!) then is it just a matter of updating: https://web.dev/native-lazy-loading/ to state this should be set on the fall back `<img>` element within the `<picture>` element?

[2019-12-28 00:24] #1662 closed

[2019-12-28 00:32] #1657 closed

[2019-12-28 00:47] #1673 closed

[2019-12-29 08:49] mayankkt9 commented on #1784
Hi, I was looking at this issue as my potential first issue. I see that the `box-shadow` style is not present for the element, unlike the normal desktop size where `web-header__link[active]` applies that style.
On adding the same box-shadow style, the SideNav would appear like the image provided?
Is this how you are expecting it to behave? I was thinking to add one more CSS for class .web-side-nav

[2019-12-29 08:57] mayankkt9 commented on #1290
Hi, can I work on this? Also, what is the requirement here? Is it decided to remove "introduction" from the list or make these list items as links or both?

[2020-01-01 20:54] anubhavyadav opened #2042 "Navigation missing from https://web.dev/plugins/"
As I was going through the list in https://web.dev/lighthouse-seo/ , I found navigation at bottom missing from https://web.dev/plugins/ . Not a big deal, it often happens while creating such large & rich content.

[2020-01-03 19:27] anubhavyadav opened #2044 "Web.dev by google seems to lag navigation"
I feel many pages are not ordered well as well as many of them are missing navigation like https://web.dev/web-share/ which you cannot navigate from HOME.

[2020-01-03 19:45] anubhavyadav opened #2045 "Most of Codelab demos have a blank screen on the right"
Who designed these https://web.dev/codelab-remove-unused-code/ may have not tested well, as right side panel in desktop screen is blank. And this happened in almost all codelab demos.

I feel there can be problem on my side as well. plz let me know.

[2020-01-03 20:14] anubhavyadav opened #2046 "Navigation on Web.dev is serious issue"
I am now confused between https://web.dev/unminified-css/ and https://web.dev/minify-css/ . My flow of completing the study of this web.dev is breaking now & then. I hope You will fix it soon. Or tell me if I can be of some help.

[2020-01-06 14:09] harleenkbatra08 opened #2047 "Case Study: [To be changed] eBay's Performance Story"
**Author**: @[addyosmani]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <[TBC] 2020-01-16>
- [ ] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, mak

[2020-01-06 18:55] jpmedley commented on #1810
Got delayed because of CDS and Chrome 80.

[2020-01-06 19:18] petele commented on #1452
This is most likely Offline Cookbook, need to revisit.

[2020-01-06 19:20] #1351 closed

[2020-01-06 19:37] Snugug commented on #1452
[Offline Cookbook](https://jakearchibald.com/2014/offline-cookbook/)

[2020-01-06 20:10] petele commented on #1450
Looks great - this was landed in #1817

[2020-01-06 20:10] #1450 closed

[2020-01-06 20:12] petele commented on #1359
Closing, rolled into install docs.

[2020-01-06 20:12] #1359 closed

[2020-01-06 20:17] petele commented on #1352
Closing, no longer necessary

[2020-01-06 20:17] #1352 closed

[2020-01-06 20:18] petele commented on #1349
This doc is ready to convert - I'll move it to markdown.

[2020-01-06 20:21] petele commented on #1345
Landed in #1817

[2020-01-06 20:21] #1345 closed

[2020-01-06 21:08] xojoc opened #2050 ""View Report" doesn't work for URLs containing encoded characters"
**Describe the bug**
Lighthouse gives an error if an encoded character is passed. Example: https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https://www.keepmeon.top/discussions?url=%3A

**To Reproduce**
Steps to reproduce the behavior:
1. Run an audit for https://www.keepmeon.top/discussions?url=https%3A%2F%2Fwww.python.org%2Fpsf%2Fpress-release%2Fpr20191220%2F
2. Click on "View repor

[2020-01-06 22:21] #1615 closed

[2020-01-06 22:26] mfriesenhahn commented on #2025
Sets ready for review in the [Google doc](https://docs.google.com/document/d/1oXHvmpvXWFeEUHALWlfsIaVjMj6ppTR3PD8BQO0OODM/edit?usp=sharing). To make it easier to see how the content fits in the UI, I went ahead and created a PR. You can view staged versions of the sets at the following links:
- [control-focus-with-tabindex](https://deploy-preview-2052--web-dev-staging.netlify.com/control-focus-wit

[2020-01-06 22:38] robdodson commented on #2050
Maybe related to https://github.com/GoogleChrome/web.dev/issues/1105. I think query strings in general may not work.

[2020-01-06 23:01] robdodson commented on #2025
I reviewed all of these and found them to be both fun and really well written! The only hiccup I experienced was in the control-focus doc when the same question was used for sample 1 and 2 but then slightly changed for sample 3. I missed that it had been changed and got the question ever so slightly wrong.

[2020-01-06 23:11] robdodson commented on #2046
Hi @anubhavyadav, can you explain a bit more what is confusing  to you?

[2020-01-06 23:13] robdodson commented on #2045
It should look like this:

![image](https://user-images.githubusercontent.com/1066253/71855818-f0b76580-3096-11ea-9df6-9c567f4196d1.png)

But it can sometimes take a moment to load. Are you able to view this page? https://glitch.com/~fav-kitties-starter

[2020-01-06 23:14] robdodson commented on #2044
Those pages are blog posts and are accessible from https://web.dev/blog/

[2020-01-06 23:14] #2044 closed

[2020-01-06 23:15] robdodson commented on #2042
It may be easy to miss but there is a  button which will take you back to the lighthouse seo section at the  bottom.

![image](https://user-images.githubusercontent.com/1066253/71855990-628faf00-3097-11ea-8d73-c66850cea0fd.png)

[2020-01-06 23:15] #2042 closed

[2020-01-06 23:16] robdodson commented on #1290
I think the easiest first step would be to turn them into in-page links. I'd leave introduction for now.

[2020-01-06 23:17] robdodson commented on #1784
I think something like that could work. If you want to put together a pull request we can take a look.

[2020-01-06 23:21] robdodson commented on #1448
hm, what about the `<source>` elements themselves tho?

[2020-01-06 23:27] robdodson commented on #2040
I was able to confirm that both web.dev/measure and running Lighthouse in devtools will time out on this page. Not sure sure. Transferring to the Lighthouse team.

[2020-01-06 23:27] bazzadp commented on #1448
Not sure what you mean? `srcset` is an attribute on `<source>` tags within `<picture>` tags and is included according to Andy's comment and that attribute is the only way of specifying images with a `<source>` element (at least [according to MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/source)).

[2020-01-06 23:34] mfriesenhahn commented on #2025
Thanks, @robdodson! I addressed the other comments you made and, for now, tried to tackle the stem variation in the control-focus post by resequencing the items so 1 and 2 are no longer adjacent. I'm definitely open to a larger revision if you think that'd help!

@kaycebasques, it'd probably be worth having a tech writer take a look at the PR to make sure there aren't any other issues.

[2020-01-06 23:37] robdodson commented on #1448
I may be misunderstanding, but I was wondering if it's possible to specify that `<source srcset="small.jpg 1x, small-hd.jpg 2x">` should be loaded lazily. In the example above the `loading=lazy` attribute is set on the fallback image, but it doesn't mention how to lazily load `small.jpg` or `small-hd.jpg`. It seems weird that the fallback image can be lazy loaded but the other sources can't. I wou

[2020-01-06 23:48] bazzadp commented on #1448
Yes it does. Emphasis mine:

And then the comment in the code states how this is driven off the `<img>` element, even for `<source srcset=...>` elements:

[code]

I admit it may not be the most obvious way of doing this, but seems to me this covers it. You agree?

[2020-01-06 23:53] robdodson commented on #1448
ah I see. Maybe we should move that explanation out of the comment and into the text above. For whatever reason I just glanced at the comment but it didn't compute. Maybe because it's getting close to 4pm here 😅

[2020-01-07 00:30] Tratcher opened #2054 "SameSite changes are not backwards compatible"
**Describe the bug**
https://github.com/GoogleChrome/web.dev/blame/48e66b9e5a1d3df7425c990a3fbd6ae52718c4fa/src/site/content/en/blog/samesite-cookies-explained/index.md#L407
`Both of these changes are backwards-compatible with browsers that have correctly implemented the previous version of the SameSite attribute`

The spec changes are not backwards compatible. The prior RFC said that any unknown

[2020-01-07 12:09] rowan-m commented on #2054
Ack, looking at this. There's definitely discrepancy between the SameSite draft and RFC6265 versions. I'll get this clarified.

[2020-01-07 13:06] anubhavyadav commented on #2044
Ya rob I had found this when I have gone through whole web.dev

[2020-01-07 13:19] anubhavyadav commented on #2046
I feel I am raising so many issues unnecessarily. But When I read a nicely designed website like WEB.DEV , I wish there were less distraction like in a PDF. But here cross linkages are repetitive and some content repeated somewhere gives a feeling of confusion whether I have gone through this page or not.

However, as You were so kind to ask for problem explanation, I wish to share 1 bug and 1 sug

[2020-01-07 19:07] carolrivero commented on #2025
@kaycebasques to review PR

[2020-01-07 19:12] carolrivero commented on #1071
@mfriesenhahn to follow up w/ @MarkPieszak

[2020-01-07 19:12] carolrivero commented on #1553
@mfriesenhahn to follow up w/ @MarkPieszak

[2020-01-07 19:13] carolrivero commented on #1701
Waiting for confirmation from the LH team and accessibility group.

[2020-01-07 19:13] MichaelSolati commented on #1931
@kaycebasques no rush, but is there any update?

[2020-01-07 19:14] carolrivero commented on #1953
@kaycebasques to review PR

[2020-01-07 19:50] #1282 closed

[2020-01-08 18:15] #890 closed

[2020-01-08 18:44] robdodson commented on #2046
I understand the need for more breadcrumbs. I don't think we're planning to add the side navigation from /web/fundamentals in the near term because I think our team is still figuring out how they want to organize content on the site. But we may look into this in the future.

Hm... I tested it and it was working for me. Which country are you in? Do you have errors?

[2020-01-08 18:52] robdodson commented on #2044
I'm not sure if there are immediate steps for us on this one but next time we do some design work we'll try to think if there are ways to improve on the navigation.

[2020-01-08 18:56] jpmedley commented on #1451
@petele I have reviewed the draft and made a few suggestions. Looks good otherwise.

[2020-01-08 19:07] robdodson opened #2058 "Add labels element for showing which file a code snippet belongs to."
In Jason's post on module workers he wanted to show a filename associated with a code snippet. Because we didn't have an existing label component he added a custom style to make the text, `worker.js`, look a bit nicer. But we should add a component that authors can use when they want to show a label like this.

![image](https://user-images.githubusercontent.com/1066253/72007574-d9978580-3206-11ea-

[2020-01-09 01:56] kaycebasques commented on #1935
We don't have any resources to work on this, and no one is waiting on it, so we can shelf it.

[2020-01-09 01:56] #1935 closed

[2020-01-09 02:03] #1953 closed

[2020-01-09 14:23] jonarnes commented on #1542
@khempenius @kaycebasques FYI I've updated the doc including visuals. We've changed the signup process to accommodate your requirements.

[2020-01-09 14:58] tomayac commented on #2039
I could trace this back to all code samples being wrapped in `<web-copy-code>`.

[2020-01-09 16:02] tomayac opened #2064 "RSS feed's global update date is wrong"
See the current [feed](https://web.dev/feed.xml):

[code]

It looks like `2018-11-05T01:00:00+01:00` is the date of the first post instead of the last post. The [code](https://github.com/11ty/eleventy-plugin-rss/blob/f7a1c5f11eed8511598d497e7f84e313f1061696/.eleventy.js#L12) confirms this theory. The easiest way to deal with this would be to reverse `collections.posts`.

[2020-01-09 18:33] anubhavyadav commented on #2046
Oh yes, plan should be first laid out.

I am from India. It does not give any error to me. But nothing does happens when I click on it, despite being signed in Google as well as Chrome.

[2020-01-09 18:37] kaycebasques commented on #1926
Joe plans on working on this but Sam is busy for the next few months. Joe asked Pete to find a new reviewer for this. Late January is the soonest this can potentially get published.

[2020-01-09 18:37] anubhavyadav commented on #2044
Yes, yes why not. I have started so many threads in futility. Sorry for that.

[2020-01-09 18:41] kaycebasques commented on #2025
#2052 was merged so for our purposes at the moment I'll close this

[2020-01-09 18:41] #2025 closed

[2020-01-09 19:42] #1448 closed

[2020-01-09 19:54] robdodson commented on #2039
hm... I wonder why that would mess up the RSS representation. I figured the outer tag would be ignored. Tagging in @MichaelSolati for his thoughts.

[2020-01-09 19:57] tomayac commented on #2039
Well, it doesn’t work in Feedly, and that’s one of the major feed readers. `¯\_(ツ)_/¯`

[2020-01-09 21:17] #719 closed

[2020-01-09 21:24] #1118 closed

[2020-01-09 21:53] #2039 closed

[2020-01-09 21:59] robdodson commented on #2064
ah ok, I think we already reverse the post collection here:

https://github.com/GoogleChrome/web.dev/blob/9f0e8c71368a579c656fb8fc5391e005567e98af/.eleventy.js#L133

https://github.com/GoogleChrome/web.dev/blob/master/src/site/_collections/post-descending.js

I guess the RSS feed would like it to go in the other direction :P

[2020-01-09 22:12] robdodson commented on #2046
Hm ok... It should open a little popup window and ask you to sign in. Could you click on it and then look in the developer console to see if there are any errors?

[2020-01-09 22:34] jpmedley commented on #1353
@petele I made a few suggestions. Please take a look.

[2020-01-10 00:21] #2023 closed

[2020-01-10 08:59] tomayac opened #2069 "Stale-While-Revalidate isn't the right strategy for content pages"
I just fell for a stale article and wasted time updating it until I realized that I had a stale version of it in my cache.

I *strongly* suggest instead of the current [`new workbox.strategies.StaleWhileRevalidate()`](https://github.com/GoogleChrome/web.dev/blob/a5102ed4e19d14ebafe0976fbcdb7a709a7a2cd9/src/lib/sw.js#L119-L124) we use [`new workbox.strategies.NetworkFirst()`](https://developers.goo

[2020-01-10 09:12] samthor commented on #2069
Ideally I'd like to serve stale, then tell the foreground page there's an update, and have the content magically swap out.

But you're right that stale on its own is probably not ideal.

[2020-01-10 14:19] tomayac commented on #2069
Personally, I follow you up until "update", but disagree with the "have the content magically swap out" part. I think it's very confusing when a page swaps the content while I'm reading it. I'd rather prefer a "this content has been updated, please reload" toast. Other thoughts?

[2020-01-10 16:47] #2064 closed

[2020-01-10 16:50] robdodson commented on #2069
I've also been thinking we should switch this behavior. If you've previously visited web.dev/blog, then you visit web.dev you'll see a list of new articles on the front page. When you click 'See More' it will take you to the (cached) version of the blog and now you don't see those new articles unless you refresh.

I'm ok switching to network first and then we can think if there's a nicer update st

[2020-01-10 17:16] carolrivero commented on #1948
Moving this to the end of 2020-Feb-26 milestone. We are removing Sprint 2019-02-19 from the milestone list.

[2020-01-10 17:40] jpmedley commented on #1355
This is pretty clean. I've made a few suggestions.

[2020-01-10 19:02] anubhavyadav commented on #2046
So when I click on Sign in, the popup box with nothing in it except a loading ring, comes up and disappears and nothing happens after that. The Sign In box remains as it is instead of showing my thumbnail.

[2020-01-10 21:48] #2017 closed

[2020-01-10 22:00] housseindjirdeh commented on #1850
PR #2075 to address this 🚀

@bazzadp I added a FAQ on the potential issues of lazy-loading in-viewport elements. Let me know if you think that covers things up. I didn't add one on using native lazy loading to prevent double downloads but if you think it's worth addressing - please let me know!

[2020-01-10 22:10] bazzadp commented on #1850
Thanks @housseindjirdeh ! LGTM

Hmmm... I still think there is an opportunity to clear up some potential confusion here. What about expanding the FAQ after it?

From this:

To this:

[2020-01-10 22:18] IvanBila commented on #1559
I tried to enforce the 80 characters(`['lint-maximum-line-length', 80]`) per line rule and I get the following warnings:

![Screenshot from 2020-01-11 00-09-35](https://user-images.githubusercontent.com/13482373/72189884-b5a29280-3406-11ea-8f42-131fa0fdba7c.png)

I think that adding this rule would require to update all existing articles with lines exceeding 200 characters, I checked if remark has

[2020-01-10 22:48] #1628 closed

[2020-01-11 01:53] Krinkle opened #2076 "Lighthouse via web.dev unable to download robots.txt"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https://www.wikipedia.org/#seo>

**Describe the bug**

I'm getting a lowered SEO score when measuring via https://web.dev, with the following issue reported:

However, <https://www.wikipedia.org/robots.txt> responds without issue.

Perhaps it is getting blocked by something in

[2020-01-13 15:58] housseindjirdeh commented on #1850
@bazzadp Good call! The next FAQ is a good place to include a mention of that 👍

Updated #2075!

[2020-01-13 16:24] bazzadp commented on #1850
LGTM - thanks for that! Feel free to close this issue when merged.

[2020-01-13 21:43] housseindjirdeh commented on #783
Merged in a note that covers this some time ago! https://github.com/GoogleChrome/web.dev/commit/dbf379225da4309ed66470b02905ccad2b024c5e

Apologies for not closing this ticket a lot sooner. Instead of singling out Safari behavior, I mentioned that double fetches can occur in some browsers and linked to Jason's article for ways to resolve it 🚀

[2020-01-13 21:44] housseindjirdeh commented on #783
With regards to version tracking stuff, please let me know if you think it's worthwhile to implement sometime soon?

More than happy to start exploring ways we can make that work for version-specific instances that we need to call out for.

[2020-01-13 21:44] #783 closed

[2020-01-13 21:57] philipwalton commented on #2069
FWIW, on my blog I use `StaleWhileRevalidate`—along with the [`workbox-broadcast-update`](https://developers.google.com/web/tools/workbox/modules/workbox-broadcast-update) plugin—for all my content requests, and that seems to work pretty well.

Whenever there's an update, I do one of two things (depending on whether the user has interacted with the page, e.g. scrolled, clicked, etc.):

- **If no u

[2020-01-13 22:13] philipwalton opened #2078 "Ensure all code examples under /metrics work cross-browser"
I discovered today that some of the code examples for the docs under [web.dev/metrics](https://web.dev/metrics/) will now error in Safari. This is due to the fact that Safari recently added support for the `PerformanceObserver` API, but it doesn't support entry types such as `paint`, `first-input`, or `longtask`, nor does it support the new `type` observe option. Furthermore, when using these opti

[2020-01-13 22:30] jpmedley commented on #1356
@petele I made a few suggestions in the draft. Back to you.

[2020-01-14 16:42] jpmedley commented on #1357
@petele I couldn't review this. Not only does it have open issues, but it also needs to be broader than Android. That could be written in several different ways. We should talk about this when you get back.

[2020-01-14 17:34] jpmedley opened #2080 "PWA Guidance Should be Generalized Beyond Android"
While editing PWA content I've noticed that it refers almost exclusively to an Android context, or at least to a mobile context. It does this by referring to "installing to the home screen" or "from an app store". (The use of 'app store' is itself misleading because it implies availability from their app store, which, last I heard, is not true. That's another issue.)

But PWAs are now installable

[2020-01-14 17:36] jpmedley commented on #2080
@petele FYI.

[2020-01-14 20:58] robdodson commented on #1559
@kaycebasques @jpmedley @mfriesenhahn your thoughts?

[2020-01-14 21:18] mfriesenhahn commented on #1559
IIRC, we considered enforcing this but decided against it? FWIW, my preference is to ask folks to break lines on semantic units (typically clauses) and not enforce a character limit, but I don't have strong feelings, TBH. I see pros and cons to both approaches, so defer to others!

[2020-01-14 21:38] jpmedley commented on #1559
Reviews are a pain if we don't break characters. Text editors have a way to do this automatically. WebFundamentals has a code that can bypass some of the test stack. If we implement something similar we can create a work-around that prevents asking people who submit typo fixes from updating complete files.

[2020-01-14 21:40] robdodson commented on #1559
@jpmedley can you explain this a bit more, i'm not sure I follow?

[2020-01-14 21:49] jpmedley commented on #1559
Pete has codes that he can stick somewhere in a PR that causes portions of the test sequence to be bypassed. I use them rarely enough that I always have to ask him to tell me what they are and where to put them. (He's out until Friday.)

The one I use most often is for exactly the situation described here. I want to ignore the line length requirement because I'm only adding a missing comma or some

[2020-01-14 22:36] robdodson commented on #1559
ah ok. Are the codes you're referring to a comment that you add to the files in the PR? For example:

[code]

[2020-01-14 22:37] jpmedley commented on #1559
They've become so rare, I just don't remember.

[2020-01-14 22:38] #2069 closed

[2020-01-14 22:38] robdodson commented on #2069
That sounds very cool. I'll add a feature request for us to explore adding that approach.

[2020-01-14 22:40] robdodson opened #2081 "Improve stale while revalidate sw strategy."
See Phil's comment: https://github.com/GoogleChrome/web.dev/issues/2069#issuecomment-573891240

For the best sw experience we should probably use a combination of stale-while-revalidate + clever content swapping or a snackbar to urge the user to refresh the page.

[2020-01-15 21:48] #1973 closed

[2020-01-15 22:37] #1908 closed

[2020-01-15 22:41] #1850 closed

[2020-01-15 22:43] #922 closed

[2020-01-15 22:56] kaycebasques commented on #2078
Sounds good, I'll assume that you're going to submit the PR, @philipwalton

[2020-01-16 15:41] jpmedley opened #2086 "GitHub labels for team verticals"
This is less of a feature request and more of a request for a change of practice.

As a web.dev contributor and a member of a DevRel subgroup, I'd like labels corresponding to the subgroups within the DevRel team. This would make it easier to find all issues and PRs related to that subgroup. In addition to applying to content proposals, this proposal would also replace the practice of adding speci

[2020-01-16 16:01] carolrivero commented on #2086
@jpmedley
I'm already working w/ @kaycebasques on this one. Look out for more details by next week. Thanks.

[2020-01-17 19:21] jpmedley opened #2089 "content: AR for the Web"
**Author**: @jmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2020-02-13
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [

[2020-01-17 19:45] jpmedley opened #2090 "content: WebXR Hit-Test"
**Author**: @jpmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2020-02-13
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of

[2020-01-17 19:51] jpmedley opened #2091 "content: Modernized Form Controls"
**Author**: @robdodson
**Reviewer**: @mfriesenhahn

**Target publish date:** 2020-02-13
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.c

[2020-01-17 19:54] jpmedley opened #2092 "content: Web NFC Origin Trial"
**Author**: @beaufortfrancois
**Reviewer**: @jpmedley

**Target publish date:** 2020-02-13
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.googl

[2020-01-17 19:55] jpmedley opened #2093 "content: QUIC Transport"
**Author**: @jeffposnick
**Reviewer**: @jpmedley

**Target publish date:** 2020-05-27
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com

[2020-01-17 20:13] jpmedley opened #2094 "content: Update "Hands-on with Portals""
**Author**: @uskay, @jpmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** Unknown
- [] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy

[2020-01-21 15:39] jpmedley opened #2097 "content: Update portals article for origin trial starting in 81"
**Author**: @jpmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2020-02-13
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of

[2020-01-21 15:42] yi-gu opened #2098 "content: The Pursuit of Snappyness"
**Author**: @yi-gu
**Reviewer**: []

**Target publish date:** <2020-02-13>
- [ ] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**
- [x] 1. I've done my proposal https://docs.google.com/document/d/1dVl4KurmWVgr6jt7bUPQv5pbHCePew9HxMYBKw4ImR0/edit?usp=sharing
- [ ] 2. Proposal approved — _reviewer

[2020-01-21 23:33] #1290 closed

[2020-01-24 00:28] #2047 closed

[2020-01-24 14:52] petele commented on #1451
Dupe of #1353

[2020-01-24 14:52] #1451 closed

[2020-01-25 06:26] mfriesenhahn opened #2102 "Details elements and footer links focusable when sidenav is open"
**Describe the bug**
`<details>` elements in `<main>` and anchor elements in the footer remain focusable when the modal side nav is open.

**To Reproduce**
Steps to reproduce the behavior:
1. View the [web.dev components Handbook page](https://web.dev/handbook/web-dev-components/) at a viewport width <865px.
2. Click the hamburger button.
3. Begin tabbing through the page.
4. All `<details>` eleme

[2020-01-27 16:41] jpmedley opened #2104 "content: Update Portals article for origin trial"
**Author**: @uskay, @jpmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2020-03-26
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a

[2020-01-27 16:44] jpmedley commented on #2104
Duplicate of #2094

[2020-01-27 16:44] #2104 closed

[2020-01-27 16:45] jpmedley commented on #2097
Duplicate of #2094

[2020-01-27 16:45] #2097 closed

[2020-01-27 18:21] robdodson commented on #2102
We're using wicg-inert but our version may be outdated. Would you mind revving it to the latest to see if it fixes the issue?

[2020-01-27 23:33] noell commented on #1850
FAQ makes no mention of how, or even if, the lazy loading attribute affects developers writing `let image = new Image()` in their JS code.  Some developer guidance on that matter would be good, imho.

[2020-01-27 23:50] bazzadp commented on #1850
I’m not sure what you mean. The `loading` attribute is just another attribute like any other. So if creating an image in JavaScript you can chose to set that or not and once the image is added to the DOM it will be read and the `loading` attribute treated appropriately. Not sure what guidance you’re looking for? Confirmation that adding to the DOM like this will lazy-load images if added sufficien

[2020-01-28 01:09] mfriesenhahn commented on #2102
#2106 ready for review

[2020-01-28 05:03] khempenius opened #2107 "content: Performance monitoring [apr 21]"
author: @khempenius
reviewer: @kaycebasques
draft: https://docs.google.com/document/d/124jv9cYPfk1ew8z1EC-b-7MPNMRPVXf9Xt6J1zF_UeA/edit?usp=sharing

[2020-01-28 05:10] khempenius opened #2108 "content: lighthouse CI guide [2020 Jun 30]"
author: @khempenius
reviewer: @kaycebasques
draft: https://docs.google.com/document/d/1UFs-hadHSkv3VwQAS9KpRy2d7unRB-yRjphayZ6etRU/edit?usp=sharing
next step: @khempenius to incorporate @samdutton's usability review feedback

History:

* @samdutton usability reviewed on 17 July 2020

[2020-01-28 20:24] #2102 closed

[2020-01-28 21:44] robdodson commented on #748
Looks like we're unblocked now that they've added this feature: https://www.netlifycms.org/docs/beta-features/#folder-collections-path

[2020-01-29 19:31] robdodson commented on #1675
I think I fixed it!
https://docs.netlify.com/routing/redirects/redirect-options/#trailing-slash

[2020-01-29 19:31] #1675 closed

[2020-01-29 19:43] robdodson opened #2109 "Add newsletter sign-up form to the bottom of posts"
**Is your feature request related to a problem? Please describe.**
Currently we use web.dev/subscribe to let folks sign up for a newsletter. This redirects to a Google service that handles collecting and storing email addresses in a privacy compliant way. However, this same service supports an ajax API. We could POST the data to the service from our own form which would give us much more control o

[2020-01-29 23:01] b1tr0t opened #2110 "content: Notification permission data in Chrome User Experience Report"
**Author**: @pjmclachlan
**Reviewer**:

**Target publish date:** 2020-02-04
- [X] Check this box if this is a hard deadline.

Hard deadline is Feb 7.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://

[2020-01-30 21:50] robdodson opened #2114 "Site displays the wrong auth domain during sign in"
**Describe the bug**
When signing in the modal says `web-dev-production-1.firebaseapp.com` but it should say `auth.web.dev`.

[2020-02-03 10:12] beaufortfrancois commented on #2092
@jpmedley The proposal is now ready for review. Let me know how I can help.

[2020-02-04 08:28] bobunderson opened #2118 "Chrome 79 and Chrome Canary 81 handle differently 3rd party cookie"
Chrome 79 and Chrome Canary 81 handle differently 3rd party cookie.

1. EndpointA in siteA sends Set-Cookie response header as below
[code]

2. EndpointB in siteB sends response html like this
[code]

3. logout.jpg in siteA writes cookie value to log file and sends Set-Cookie response header as below
[code]

We accessed EndpointA and EndpointB (and logout.jpg) with Chrome 79 and Chrome Canary 81.

[2020-02-05 18:05] jpmedley commented on #2092
@beaufortfrancois I've made some suggestions. Please review them.

[2020-02-05 20:02] beaufortfrancois commented on #2092
@jpmedley Thank you! I've reviewed them.

[2020-02-06 12:48] km-river-dk opened #2121 "Got this error when running Audit in Google Chrome"
Google Chrome Version 79.0.3945.130 (Officiel version) (64-bit)

PROTOCOL_TIMEOUT
[code]

[2020-02-06 15:20] beaufortfrancois opened #2122 "content: Media Session"
**Author**: @beaufortfrancois
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** February
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a co

[2020-02-06 23:04] kaycebasques opened #2126 "Optimize CSS background images with media queries"
Draft: https://docs.google.com/document/d/1XuQegHCNCJnvEBkcqDFzYfwZq4ZRBUNpUwDz_0ySiws/edit

[2020-02-06 23:05] kaycebasques commented on #2126
Duplicate of #1013

[2020-02-06 23:05] #2126 closed

[2020-02-06 23:06] kaycebasques commented on #1013
@demianrenzulli please give me edit access to the [draft](https://docs.google.com/document/d/1XuQegHCNCJnvEBkcqDFzYfwZq4ZRBUNpUwDz_0ySiws/edit)

[2020-02-06 23:18] kaycebasques commented on #1718
@demianrenzulli please give me edit access to the [draft](https://docs.google.com/document/d/1732br6jTuzchK4tNMuxU6JD_96BVCpdGYQheRSHQ40o/edit).

Next step after that is for me to do a structural edit.

[2020-02-06 23:29] tomayac opened #2127 "content: How to request new browser features [title tbd.]"
**Author**: @tomayac
**Reviewer**: @kaycebasques

**Target publish date:** any
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Quick summary:** Web developers are asking how they can make their voice heard and request a feature to be implemented by the different browser vendors. This article will b

[2020-02-07 15:07] demianrenzulli commented on #1718
Thanks a lot for your help @kaycebasques!

I think this post was written before web.dev/handbook came out. Would you prefer me to give a first pass to it, to save you some time?

Just let me know!
Cheers.

[2020-02-07 17:53] carolrivero opened #2130 "Capabilities"

[2020-02-07 17:53] carolrivero opened #2131 "Frontend"

[2020-02-07 17:54] carolrivero opened #2132 "Holotype"

[2020-02-07 17:54] carolrivero opened #2133 "Performance"

[2020-02-07 17:54] carolrivero opened #2134 "Privacy/Security"

[2020-02-07 17:58] carolrivero opened #2135 "Beta blog-related"

[2020-02-07 18:02] carolrivero opened #2136 "Accessible"

[2020-02-07 18:03] carolrivero opened #2137 "Other"

[2020-02-07 18:05] carolrivero opened #2138 "Task"

[2020-02-07 23:13] kaycebasques commented on #1903
@kumagi there's no detail in the Google Doc and I'm unsure where this content proposal is coming from. Please send me an email explaining:

* Why this content is a priority
* Who in Web DevRel can help you with the content

We can re-open this issue later if it becomes clear that this is content that we want to publish.

[2020-02-07 23:27] #1349 closed

[2020-02-08 06:48] robdodson opened #2141 "Default images to center alignment"
It seems weird to make authors add the `w-figure--center` class every time they want to center an image. We should just turn this on by default.

[2020-02-10 17:35] jpmedley opened #2142 "Certain types of MDN links should throw a linter error or warning."
**Is your feature request related to a problem? Please describe.**
We need to be sure that links to MDN are to the proper domain.

MDN is now split between a content domain (https://developer.mozilla.org/) and an editing domain (https://wiki.developer.mozilla.org/). The former is the default domain for MDN display and the latter is intended for MDN contributors writing or editing pages. Readers in

[2020-02-10 21:14] carolrivero opened #2144 "Handbook"

[2020-02-11 09:40] farah opened #2147 "Firebase hosting config"
Hey guys,

First off thanks for open sourcing this site. It looks great. I have two quick questions:
1. Is there any reason why you guys are using netlify for hosting and not one of Googles own hosting services?  Like firebase hosting?

2. Could someone help me convert the netlify.toml config to a firebase.json config? I spent a whole day  trying to get it to work but am unable to.

netlify.toml
[

[2020-02-12 00:04] robdodson commented on #2147
Hi there,

We only use netlify for staging pull requests, we don't use it for hosting.

I'm not familiar enough with firebase's setup to know how to convert. But I don't know if they use "splat". That might be a netlify or toml keyword.

[2020-02-12 00:04] #2147 closed

[2020-02-12 02:51] housseindjirdeh commented on #1167
Looks like this moved to the back burner, but let's reopen this.

I'll find the time to put up a PR in the coming weeks.

[2020-02-12 15:05] housseindjirdeh opened #2152 "content: Update Next.js web.dev guide to use prefetch, not preload"
### What page(s) need to be updated?

https://web.dev/route-prefetching-in-nextjs/

### Why is this update needed?

Next.js changed how they prefetch routes. They use `<link rel="prefetch">` now instead of `<link rel="preload">`

### What's the deadline?

Feb 21st.

#### Is it a hard deadline?

Nope.

[2020-02-12 16:41] #1808 closed

[2020-02-12 19:27] MichaelSolati opened #2155 "Create RSS feeds for various tags"

[2020-02-13 00:02] #2114 closed

[2020-02-13 07:37] beaufortfrancois commented on #2122
@jpmedley Can you review the document draft?

[2020-02-13 13:15] PaulKinlan opened #2159 "It's hard to find the tags from the homepage"
I love looking at the content based on tags. I would love to

1) discover all the tags more easily - https://web.dev/tags/ 404's. I would love to get a list of the tags if possible.
2) See tags linked to from the homepage (low pri), but if https://web.dev/tags/ doesn't 404 then it would be nice to make it more discoverable.

[2020-02-13 16:02] #2092 closed

[2020-02-13 16:36] #1784 closed

[2020-02-13 19:13] #2089 closed

[2020-02-13 20:16] robdodson commented on #2159
I was wondering if we could leverage the search field a bit more as well. Algolia has a notion of tags and we can include that with the json we send to them for each article.

Also like the idea of making /tags/ display all the tags somehow. Might need a pretty design for it...

[2020-02-13 20:18] robdodson opened #2162 "Need a linter to check that submitted articles use sluggified title for URL"
**Is your feature request related to a problem? Please describe.**
Because all articles hang off of the root on web.dev, it means that the urls are super important. For example, we accidentally published web.dev/interactive and now we can't use that url anymore.

**Describe the solution you'd like**
A linter that flags when URLs don't match a sluggified version of the article title. Reviewer shoul

[2020-02-13 20:33] robdodson opened #2164 "Add new metrics to /measure"
I believe the new metrics would go in this table:

![image](https://user-images.githubusercontent.com/1066253/74475727-d2dedc80-4e5c-11ea-9fe6-9e07529d56d2.png)

@samthor and I discussed having him work on this because he's familiar with the measure tool. I've pinged @addyosmani and the LH peeps to give us a copy of the json containing the new metrics.

[2020-02-13 20:41] robdodson opened #2165 "Need to be added to known_sinners list to make internal cert policy happy."
Just keeping a record of this so we don't forget.

[2020-02-13 20:50] robdodson opened #2166 "Only have percy run if a .njk, .js, or .css file is changed."
It doesn't make sense to run percy every time someone writes a new post because we're not snapshotting those pages anyway. So we should probably ignore `.md` files, or at least any `.md` files that we don't care about.

[2020-02-13 20:53] robdodson commented on #802
We should finally get around to doing this, but it won't be as easy as turning that category back on. We'll need to do a few additional steps:

1. We have a design from Huge to make the /measure page configurable. This will let folks opt out of specific categories like PWA. We got this feedback loud and clear when we originally launched with the PWA category enabled.
2. We'll have to make the desi

[2020-02-13 21:53] #2002 closed

[2020-02-14 00:21] paulirish commented on #802
Cooool! Can you share the design?

[2020-02-14 00:27] robdodson commented on #802
yep i'll email it to you

[2020-02-14 00:48] #1810 closed

[2020-02-14 01:30] #2090 closed

[2020-02-14 01:47] #1346 closed

[2020-02-14 15:25] petele opened #2171 "content: Fugu Status Page (migration)"
Migrating https://developers.google.com/web/updates/capabilities to a web.dev blog post

[2020-02-14 15:49] petele opened #2173 "update content: getInstalledRelatedApps"
Updates to https://web.dev/get-installed-related-apps/ for Chrome 80 release

[2020-02-14 15:54] petele opened #2175 "Need lint test for updated field"
**Is your feature request related to a problem? Please describe.**
I've noticed a number of posts have been updated, but the person forgot to update the `updated` field in the post YAML.

**Describe the solution you'd like**
Can we have a lint test that shows a warning if the post was updated but the `updated` field was not changed?

It should only be a gentle warning, so that if you fix a typo or

[2020-02-14 21:46] robdodson commented on #2175
Merging into #1959

[2020-02-14 21:46] #2175 closed

[2020-02-15 01:01] #2166 closed

[2020-02-16 21:59] yi-gu commented on #2098
@kaycebasques
Friendly ping. The proposal is finalized. PTAL.

[2020-02-18 08:18] samthor opened #2185 "/subscribe/ when loaded in SPA shows offline page"
**Describe the bug**
Clicking on the Subscribe link in many articles results in the Offline page.

**To Reproduce**
1. Load e.g., https://web.dev/web-ar/, and click the email "Susbcribe" button
2. See offline page
3. Note that back/forward works without reloading the whole page (SPA load)

**Expected behavior**
Redirect to external subscription site

**Notes**
Something has changed in CORS policy

[2020-02-18 08:27] samthor commented on #2185
This doesn't seem to be reproducible in dev, or in let's-build-prod-and-run-it-locally.

[2020-02-18 22:18] robdodson commented on #1959
I've started work on this as a form of perfcrastination. Hope to have something to share soon. cc @petele

[2020-02-18 23:59] #2028 closed

[2020-02-19 06:33] #2185 closed

[2020-02-19 10:46] ThomasWT opened #2190 "Serve images in next-gen formats even though, they are."
**Describe the bug**
The tools says images needs to be delivered in next-gen format, even though, they are.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
Expecting it to not tell me to deliver webp images when the images are webp

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1246641/74827

[2020-02-19 19:46] petele opened #2192 "content: refresh Make Installable Code Lab"
Tracking issue to update existing https://web.dev/codelab-make-installable/

[2020-02-19 20:35] kaycebasques commented on #1909
Removed `DO NOT MERGE` label because of this comment: https://github.com/GoogleChrome/web.dev/pull/1992#issuecomment-586447469

[2020-02-19 20:39] #1909 closed

[2020-02-19 21:05] #1353 closed

[2020-02-19 21:39] #1356 closed

[2020-02-20 00:49] kaycebasques opened #2194 "content: Add citations and fix dubious claim in /promote-install/"
### What page(s) need to be updated?

https://web.dev/promote-install/

### Why is this update needed?

See https://github.com/GoogleChrome/web.dev/pull/2178#issuecomment-588551877

[2020-02-20 00:50] #1357 closed

[2020-02-20 00:56] kaycebasques opened #2195 "Document how to do content redirects"
@robdodson should this go in the handbook or elsewhere?

[2020-02-20 14:28] petele commented on #2194
@b1tr0t wrote the article originally and may have more context or data that we can use for citations.

[2020-02-20 21:30] #2171 closed

[2020-02-20 23:51] #1462 closed

[2020-02-21 07:59] #2165 closed

[2020-02-21 08:00] samthor commented on #2024
We can also just disable this domain. It was literally as it says on the tin, for testing before we changed our serving infra.

I honestly wonder how it got indexed at all.

[2020-02-21 17:47] robdodson commented on #2024
+1 for disabling.

[2020-02-21 21:30] samthor commented on #2195
this might just be the `_redirects.yaml` file, right?

[2020-02-21 21:31] samthor opened #2204 "non-canonical pages with i18n"
All content can now be accessed at both:

https://web.dev/en/about/
https://web.dev/about/

And we don't have any `rel="canonical"` tags.

[2020-02-22 00:54] #1745 closed

[2020-02-22 03:09] robdodson commented on #1191
Quick update on this. I think the work that @MichaelSolati is doing in #2109 will need to land before we can move forward with this change. I think we'll probably remove the FAB for newsletter signup and rely on the embedded form instead.

[2020-02-22 03:14] robdodson commented on #2195
Right. I think Kayce was asking for us to write about how to use it in the handbook.

[2020-02-22 03:17] robdodson commented on #802
I'm going to put this on our Q1 2020 project board. Not sure if we'll _finish_ in Q1 but I'd like to at least get started during this quarter.

[2020-02-24 00:18] harleenkbatra08 commented on #1191
So we're removing it completely from all the article pages? And is that on
mobile and desktop or mobile only?

On Sat, Feb 22, 2020 at 3:09 AM Rob Dodson <notifications@github.com> wrote:

--

*  •  **Harleen Batra*
*  •  *Developer PMM - Chrome
  *•*  +44 203 321 2414

[2020-02-24 01:21] valodzka opened #2207 "Incorrect error reporting when using link preload"
**Describe the bug**
Incorrect error reported "Browser errors were logged to the console"

**To Reproduce**
1. Run web.dev audit with 'https://condescending-haibt-2d0d42.netlify.com/bug.html' (page uses `link: </empty.js>; rel="preload"; as="script"; crossorigin="anonymous" `header)
2. In the report there are incorrect error "Browser errors were logged to the console":

       /empty.js(condescend

[2020-02-24 03:07] samthor commented on #1940
Just to clarify: `windowClient.navigate` isn't missing in Safari, but it throws a `Promise` exception. But since we're not calling `.catch` or `await` on it, we're fine.

This only hits us for major site upgrades (which we assert need a force reload), which we've not done yet (since DevSite), and even then, a reload or revisit will fix the broken client.

[2020-02-24 17:50] jpmedley commented on #1959
The WebFu version of this updated the date for you. It would be nice if this could too.

[2020-02-24 18:23] kaycebasques opened #2214 "content: privacy budgets"
Author: @samdutton
Stakeholders: @rowan-m

[2020-02-24 18:26] kaycebasques opened #2215 "content: Willful IP Blindness"
Author: @samdutton
Stakeholders: @rowan-m

[2020-02-24 18:29] kaycebasques opened #2216 "content: first-party sets"
Author: @samdutton
Stakeholders: @rowan-m

[2020-02-24 18:36] kaycebasques opened #2217 "content: Aggregated Reporting API"
Author: @samdutton
Stakeholders: @rowan-m

[2020-02-24 19:17] kaycebasques opened #2218 "content: conversion measurement [2020-10-14]"
* [draft](https://docs.google.com/document/d/1Z5Wv28QkMNx1awkw-SNETm1TEQL6SoVQZ9WqLKpEgAo/edit#)
* [thread](https://groups.google.com/a/google.com/g/webdev-content/c/EnJN80pWl34)

[2020-02-24 19:21] kaycebasques opened #2219 "content: federated learning of cohorts"
Author: @samdutton
Stakeholders: @rowan-m

[2020-02-24 19:23] kaycebasques opened #2220 "content: turtledove"
Author: @samdutton
Stakeholders: @rowan-m

[2020-02-24 19:28] kaycebasques opened #2221 "content: Font loading optimizations in Chrome 82 (Publish Date: Mar 25)"
Author: @housseindjirdeh
Stakeholders: @petele
Hard Deadline: 2020 March 25

[2020-02-24 21:09] petele opened #2225 "Author image not appearing on codelab"
**Describe the bug**
Author image is not appearing on https://web.dev/codelab-make-installable/ Instead it appears to be serving `src="/images/authors/.jpg"`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev/codelab-make-installable/

**Expected behavior**
See my face

**Screenshots**
Broken image where my avatar should be.

[2020-02-24 21:51] petele opened #2227 "Standardize on Fugu or Capabilities tag for associated posts"
Our current Fugu/Capabilities content is inconsistently tagged with either `fugu` or `capabilities`. We should standardize on only one tag.

For example, see the [contact picker](https://raw.githubusercontent.com/GoogleChrome/web.dev/master/src/site/content/en/blog/contact-picker/index.md) post, which is tagged with both `fugu` and `capabilities`, where as other posts are just `fugu`, or just `cap

[2020-02-24 22:27] jpmedley commented on #2227
Several weeks ago, I made sure that all fugu articles had both tags. (I will double-check that.)

Until we have redirects we need both.

Tags serve the same function in an online documentation set as an index in a book. In a book you would write something like this:

fugu
    see capabilities

The point of this is that we don't know which word the reader has in their head. Until we can redirect fr

[2020-02-25 03:07] petele commented on #2227
Though tags only show up on the bottom of each page, so if we only list one, then there will be less opportunity for people to see the other tag.

To address the concern about redirects, we could easily set those up in _redirects.yaml.

[2020-02-25 03:28] robdodson commented on #2227
+1 to unifying on one tag. I mentioned something similar [in this PR](https://github.com/GoogleChrome/web.dev/pull/2212#issuecomment-590543385). Since we haven't had the tags feature for very long, it may make sense to go all in on `capabilities` since (I think) that's the public term y'all want folks to use right?

[2020-02-25 04:10] #1868 closed

[2020-02-25 04:31] #2024 closed

[2020-02-25 04:31] robdodson commented on #1191
My thinking is we would put the embed at the bottom of articles and just have the Share fab for tweeting. Are you ok with that?

I was thinking both. It's kind of against Material guidelines to have two FABs so it seems like we should choose which one we think is most important.

[2020-02-25 08:04] tomayac commented on #2227
Do we, though? https://web.dev/fugu-status/

[2020-02-25 09:18] harleenkbatra08 commented on #1191
Hmm... what if, just what if, we experimented with a toast/message that
pops up (perhaps only on the bottom right corner) when the reader goes to
the second fold of the page (or stays on it for more than 15 secs) that
says "Want to stay up to date with more such content? Subscribe to our
newsletter" Or something on those lines? And once they dismiss, we don't
show it again.

Possible?

Meanwhile,

[2020-02-25 19:11] robdodson commented on #2225
Hm I do see your face:

![image](https://user-images.githubusercontent.com/1066253/75278922-9053c300-57bf-11ea-9ada-ed57b0aa5e95.png)

Can you try doing a hard refresh? We _did_ fix a bug related to this recently (within the last week or so).

[2020-02-25 19:20] robdodson opened #2234 "Update PWA icon text"
I was wondering if we could revise the text in the add manifest post to be less Chrome specific?

@tomayac suggested documenting what we did in https://github.com/GoogleChrome/web.dev/pull/2197

@tomayac would you be ok owning this task?

[2020-02-25 20:40] petele commented on #2225
Seems working now, I swear it wasn't working yesterday when I filed this. :(

[2020-02-25 20:40] #2225 closed

[2020-02-26 01:43] #1866 closed

[2020-02-26 12:08] jschfflr opened #2238 "content: Remove mention of third-party badging [apr 30]"
### What page(s) need to be updated?
https://web.dev/identify-slow-third-party-javascript/#chrome-devtools-third-party-script-badging

### Why is this update needed?
The experiment has been removed:
https://docs.google.com/document/d/1fRNhE_FXfCWwR8zOBkE5J5B6An53Lf0GbQHUB1QSnEI/edit

### What's the deadline?
The change has already landed:
https://chromium-review.googlesource.com/c/devtools/devtool

[2020-02-26 14:59] tomayac commented on #2234
Reassigning to @petele after internal discussion.

[2020-02-26 17:40] jpmedley commented on #2227
This is the problem. Fugu has gotten out. We shouldn't make things hard to find just because its more convenient for us.

[2020-02-26 17:42] jpmedley opened #2239 "Fix Inconsistencies in tags"
**Describe the bug**
I found the following tag inconsistencies in web.dev articles. These are tags for the same idea or concept that are rendered differently in different articles. Here are inconsistencies I've found so far.

* progressive-web-apps and "Progressive Web Apps"
* case-study, "Case Study", and "case study"
* "Performance" and "performance"

[2020-02-26 17:47] jpmedley opened #2240 "Lint tags for consistency"
**Is your feature request related to a problem? Please describe.**
Tags are inconsistent across posts as demonstrated by #2239.

**Describe the solution you'd like**
We should create a canonical list in a single location and lint all posts agains that list. It should be some place where new tags can be added to the list in the same PR as an article that may need it.

**Describe alternatives you've

[2020-02-26 21:13] jpmedley opened #2241 "Block quotes are missing a quote"
**Describe the bug**
Block quotes are formatted with a Material icon in the shape of quotes. Only opening quotes are currently shown.

**To Reproduce**

Follow [this link](https://web.dev/image-support-for-async-clipboard/#security) to view the problem live. I've added a screen capture below.

**Expected behavior**
I expect to see bot opening and closing quotation marks instead of just opening quo

[2020-02-26 21:17] jpmedley opened #2242 "Linter should flag superfluous quotation marks in blockquote elements"
**Is your feature request related to a problem? Please describe.**
The site currently formats blockquotes by indenting and enclosing in Material icons that look like quotation marks. Some writers, not being aware of this formatting, add their own quotation marks like so:

[code]
The markdown above renders like this:

![image](https://user-images.githubusercontent.com/8204171/75388285-8d2d0580-5899

[2020-02-26 21:45] #2033 closed

[2020-02-27 06:39] samthor opened #2247 "Algolia indexes some Nunjucks code"
Our Algolia indexing code takes the template code from each item and indexes it, like this:

[code]

That's fine to remove _markdown_, but this content var can also include things like:

[code]

.. as seen in e.g., "src/site/content/en/index.njk".

It's not entirely clear where the right hook in Algolia is to get _computed_ `.content`. It seemingly used to be under `.templateContent`, but a recent

[2020-02-27 20:58] kaycebasques opened #2251 "content: bulletin case study (service workers) [May 29]"
* [Draft](https://docs.google.com/document/d/1HFklQqkqJ8FpHsSeDIS-0QcH0Rdj4Wy7l0h--BfEIas/edit#heading=h.xs5u6l4jgdn)
* next step: @kaycebasques to submit PR pending go-ahead from authors

History:

* @kaycebasques proofread on 2020 July 17

Notes:

* We'll create separate issues to track parts 2 and 3

[2020-02-28 11:10] ahmadawais opened #2256 "Glitch Suspended on React Guide"
This [Next.js guide](https://github.com/GoogleChrome/web.dev/blob/master/src/site/content/en/react/performance-as-a-default-with-nextjs/index.md) has a [glitch embed](https://glitch.com/embed/#!/embed/new-next-app?path=index.html&attributionHidden=true) that has been suspended.

Needs fixing. Let me know if I can help.

[2020-02-28 11:15] ahmadawais commented on #2256
The [second guide](https://web.dev/route-prefetching-in-nextjs/)'s Glitch doesn't let you view the app, says there's a code error whereas the [third Glitch in there is also suspended](https://glitch.com/embed/#!/embed/nextjs-routing?path=components/MyLink.js&attributionHidden=true).

[2020-03-02 15:43] schroef opened #2262 "Speed index method used?"
I was wondering how seepd index actually measures the time loading. I dont see anything about internet speeds, which is quite important i think in this metrics. The laoding time of the same site using 25MB/s vs 5MB/s is quite big

[2020-03-02 18:16] kaycebasques opened #2265 "content: color-scheme [Mar 31]"
Deadline: 2020 Mar 31 (Soft)

[2020-03-02 18:20] kaycebasques opened #2266 "content: WebSocketStream [Publish Date: March 25]"
Deadline: 2020 March 25 (Soft)

@tomayac please make sure to mention at the top of the article that no other browsers have given public signals about this API. [Example](https://deploy-preview-2235--web-dev-staging.netlify.com/snap-after-layout/#interoperability).

[2020-03-02 18:28] kaycebasques opened #2267 "content: Wake Lock API case study [Apr 25]"
* Deadline: 2020 April 25 (hard)
* [Draft](https://docs.google.com/document/d/1BSN7mnGBTiEBk48LU9oeCtlYno9z33wKnos5x77x80o/edit?hl=en)
* Author: @tomayac
* Reviewer: @jpmedley

@tomayac if this API isn't supported in other browsers (I can't find MDN or Can I use? articles on the topic) please make sure to mention at the top of the article that this is only supported in Chrome. [Example](https://de

[2020-03-02 18:43] jpmedley commented on #2267
It's more complicated than that. Absence on caniuse and MDN may indicate nothing more than being out of date. This is based on [a W3C spec](https://www.w3.org/TR/wake-lock/) that has been around for several years and is edited by employees of other browsers. It could also be that in spite of being W3C, we're just the first to implement it. (Very likely. We do that a lot.) In other words, any state

[2020-03-02 18:45] jpmedley commented on #2267
FYI, Wake Lock is shipping with Promises in Chrome 82. Assuming you're covering that and it's the reason for this article, the deadline is actually 4/25 and it is a hard deadline. (That is one day earlier than the beta release because this needs to be live so that we can link to it from the beta post.)

[2020-03-02 19:11] carolrivero commented on #1927
@jpmedley - can we close this one out?

[2020-03-02 19:13] kaycebasques commented on #1070
This work seems to have stalled so I'm going to close the issue.

[2020-03-02 19:13] #1070 closed

[2020-03-02 19:13] kaycebasques commented on #1071
This work seems to have stalled so I'm going to close the issue.

[2020-03-02 19:13] #1071 closed

[2020-03-02 19:13] kaycebasques commented on #1553
This work seems to have stalled so I'm going to close the issue.

[2020-03-02 19:13] #1553 closed

[2020-03-02 19:15] kaycebasques commented on #1701
I'm going to Icebox this because the work seems blocked by web platform work.

[2020-03-02 19:17] kaycebasques commented on #1127
Putting this in the Icebox until Milica resumes work.

[2020-03-02 19:19] carolrivero commented on #2091
@jpmedley - please provide a status update. Thx.

[2020-03-02 19:20] carolrivero commented on #2093
@jpmedley - please provide an update. Thx.

[2020-03-02 19:21] carolrivero commented on #2094
@jpmedley - please confirm if this is still happening. Thx.

[2020-03-02 19:25] carolrivero commented on #2110
Closing this b/c it will be in /web.

[2020-03-02 19:25] #2110 closed

[2020-03-02 19:27] carolrivero commented on #2122
@beaufortfrancois - please provide us access to the doc
@jpmedley - please provide status if this in in review.

[2020-03-02 19:27] carolrivero commented on #2127
@tomayac -please provide a draft and we will add this in the current sprint ending Mar 31.

[2020-03-02 19:28] jpmedley commented on #1927
No.

[2020-03-02 19:29] carolrivero commented on #1167
@housseindjirdeh - are you going to submit a PR for this one? If so, we can move this to sprint ending Mar 31.

[2020-03-02 19:43] kaycebasques commented on #2262
@schroef what web.dev page(s) were you looking at?

[2020-03-02 20:02] kaycebasques commented on #2221
@housseindjirdeh is this on track?

[2020-03-02 20:13] jpmedley commented on #2094
It might slip to Chrome 83.

[2020-03-02 20:14] jpmedley commented on #2122
The draft is still being reviewed. Expect a PR some time this week.

[2020-03-02 20:17] kaycebasques commented on #2194
More context: https://github.com/GoogleChrome/web.dev/pull/2178#issuecomment-589776491

[2020-03-02 20:19] kaycebasques commented on #2054
@rowan-m are you going to work on this this month?

[2020-03-02 20:20] kaycebasques commented on #2080
@jpmedley any plans to work on this in March or April?

[2020-03-02 20:26] kaycebasques commented on #2173
I think this was fixed in #1992 but @petele can re-open this issue if I'm mistaken.

[2020-03-02 20:26] #2173 closed

[2020-03-02 20:30] kaycebasques commented on #2192
@petele I set a target to work on this in March. LMK if that's not going to happen.

[2020-03-02 20:33] kaycebasques commented on #1961
Pretty sure our plans around image CDN guidance has changed. @khempenius can follow-up if needed.

[2020-03-02 20:33] #1961 closed

[2020-03-02 20:37] kaycebasques commented on #1592
Pretty sure our plans around image CDN guidance have changed and this is no longer relevant.

[2020-03-02 20:37] #1592 closed

[2020-03-02 20:38] kaycebasques commented on #1439
@harleenkbatra08 assuming that this is no longer happening. You can re-open if I'm mistaken.

[2020-03-02 20:38] #1439 closed

[2020-03-02 20:46] kaycebasques commented on #1313
I imagine this is @andreban's area now

[2020-03-02 20:48] kaycebasques commented on #1542
I think our plans around image CDN guidance have changed. @khempenius can follow-up if needed.

[2020-03-02 20:48] #1542 closed

[2020-03-02 21:01] carolrivero commented on #2094
Updated the milestone to sprint ending on Apr 30. Feel free to update once the release this is related to is confirmed. In in the interim,  I will leave this in the sprint-ready pipeline on the content planning board for now.

[2020-03-02 21:39] mfriesenhahn commented on #2091
Hi, all. I'm handling TW duties on this one. It's been pushed to M82. I'll forward the relevant thread.

[2020-03-02 21:41] mfriesenhahn commented on #2091
Also, it was decided to publish this to the Chromium blog, so I'm closing this ticket.

[2020-03-02 21:41] #2091 closed

[2020-03-02 21:50] jpmedley commented on #2094
If it ships in Chrome 82, it has to be live before the beta release post. (As an example, here's the Chrome 81 beta release post.) That means the date is actually a hard deadline of April 25 to be sure it's live before the beta post is.

[2020-03-02 22:51] carolrivero opened #2268 "PWA"

[2020-03-02 22:52] carolrivero opened #2269 "Media"

[2020-03-03 03:15] samthor opened #2272 "Signing in on the measure page retains the large signin CTA"
**Describe the bug**
When you sign in on https://web.dev/measure, the large "Sign In With Google" button in the middle of the page sticks around until you navigate back/forwards.

Note that signing _out_ where the button is hidden, correctly makes the button visible again.

**To Reproduce**
Go to measure page, sign in, see button remain, navigate in/out, see that button is hidden.

**Expected beha

[2020-03-03 03:33] kaycebasques commented on #1903
@kumagi I reviewed your content. Please read below for the next steps that you need to take.

I didn't have edit access to your Google Doc so I made [a copy of the Doc](https://docs.google.com/document/d/11UZ22mx8HlXMtNOUDLlPijbdzXHXYaLSMu82bRdTAGo/edit#).

Please review all of my suggestions and accept them or leave comments if they can't be accepted for some reason.

Assign this issue back to me

[2020-03-03 09:21] beaufortfrancois commented on #2122
@jpmedley Why did you close this issue? I thought we would use it to track progress of the article.

[2020-03-03 09:46] PaulKinlan opened #2274 "Author Page should have more information about the author"
**Is your feature request related to a problem? Please describe.**

I wanted to find the social information of some of the authors, so  I went to the author page and there was nothing there, yet the article page had a link to their social accounts. (see https://web.dev/authors/philipwalton/ as an example)

**Describe the solution you'd like**
Add links to their configured meta data (like Github, T