[2019-03-19 00:54] #200 closed

[2019-03-19 01:03] robdodson opened #735 "Let authors specify markdown heading links."
Currently the IDs for headings is inferred by their text. This means if someone changes the text of a heading it'll break any deep-links that are already pointing at the previous ID. On /web I think it's possible for authors to use either a Liquid or Jekyll feature to configure their heading IDs. We should see if we can do the same in our rewrite.

[2019-03-19 04:56] robdodson opened #737 "Should components inherit or extend their font property?"
Article pages have slightly larger copy and line-heights than other pages. We could either set `font` high up and have all of the components `inherit` it. Or, since we know most of these components will only be used in the context of an article, we could have them `@extend` a common class or `%placeholder`.

[2019-03-19 05:00] robdodson commented on #737
Reminder to look for places in the code that use `@include font($BODY);` and `font: inherit` to see if we want to clean them up.

[2019-03-19 15:47] addyosmani commented on #672
Let's work on this after #665

[2019-03-19 15:48] addyosmani commented on #665
This one is almost done.

[2019-03-19 19:09] robdodson commented on #737
Fixed in styles branch by extending placeholders.

[2019-03-19 19:09] #737 closed

[2019-03-19 19:10] robdodson opened #739 "Audit the number of fonts we use."
We are using a lot of Google fonts on the site. But I'm not sure if we need all of these weights. We should do a pass and see if we can narrow the list down as small as possible.

[2019-03-19 20:59] robdodson opened #740 "Better namespace SCSS exports."
Currently we use an `exports` mixin with SCSS to ensure modules are only imported once. At the moment module names are `directory/module`, for example, `components/type`.

These look a lot like regular file paths so it may be better to clearly signify that something special is going on with these imports.

[2019-03-19 23:24] robdodson opened #742 "Convert type to EMs."
I think we can switch over to using `em`s for our typography, similar to Jiwoong's prototype, and that will give us the responsive sizes we want.

[2019-03-20 00:29] robdodson opened #743 "Author component is just a tad off."
The image seems to be shifted up a bit. And we need to update it to use Jiwoong's new design.

[2019-03-20 04:21] robdodson opened #745 "Hide LH looks for PWA on /measure while audits are disabled."
![image](https://user-images.githubusercontent.com/1066253/54658938-ff437a80-4a8c-11e9-9ca2-75a47615f69c.png)

[2019-03-20 20:42] #733 closed

[2019-03-21 17:20] robdodson opened #748 "(Stretch) Explore adding Netlify CMS"
I think it would be really cool to use [Netlify CMS](https://netlifycms.org) to let folks quickly write blog posts and possibly act as a staging service as well.

[2019-03-22 18:43] robdodson commented on #740
I think we can use a pattern like `web.components.buttons`.

[2019-03-22 19:09] robdodson opened #750 "Clean up box shadows with mixins."
We already have mixins for elevation but haven't been using them consistently (or at all) in the v1 rewrite.

[2019-03-22 19:50] robdodson opened #751 "Do a run through on Firefox and Safari."
Just leaving this here so we don't forget to double check things before launch :)

[2019-03-23 16:52] robdodson opened #753 "Path page bullets wrap on mobile."
![image](https://user-images.githubusercontent.com/1066253/54869111-57120800-4d51-11e9-984e-65140eed2e64.png)

[2019-03-25 05:37] robdodson opened #754 "Add extended color palette."
`.w-stats` component is a good example that needs it.

[2019-03-26 09:53] ymschaap commented on #676
@Meggin, would it be interesting to do the same for embedding YouTube videos?

The default embed code pulls in up to 500kb, while it is more performant to create a container with just the thumbnail and an 'play' icon, which loads the embed on click (I think AMP does the same).

I could help.

[2019-03-26 20:12] adamopenweb opened #757 "Remove URL button aligned to top in Firefox"
On https://web.dev/measure using Firefox the remove URL button is vertically aligned to the top vs. middle in Chrome.

[code]

![image](https://user-images.githubusercontent.com/6587558/55029907-9f475980-4fe1-11e9-8daa-af8148a279cf.png)

Tested in Firefox 66-68 on MacOS and Windows 10.

[2019-03-27 13:10] samdutton commented on #656
Draft completed.

[2019-03-27 13:12] samdutton commented on #655
Draft has had technical review.

Ready for  tech writer review.

[2019-03-27 13:12] samdutton commented on #647
Draft ready for  tech writer review.

[2019-03-27 13:13] samdutton commented on #646
Draft ready for  tech writer review.

[2019-03-27 13:13] samdutton commented on #642
Draft ready for  tech writer review.

[2019-03-27 13:14] samdutton commented on #641
Draft ready for  tech writer review.

[2019-03-27 13:14] samdutton commented on #640
Draft ready for tech writer review.

Too long at the moment — looking for ways to cut down size or divide.

[2019-03-27 13:15] samdutton commented on #639
Draft ready for tech writer review.

Now in two parts, as agreed.

[2019-03-27 13:16] samdutton commented on #638
Tom can no longer do this. Have requested new author — awaiting response.

[2019-03-27 13:16] samdutton commented on #637
Tom can no longer do this. Have requested new author — awaiting response.

[2019-03-27 13:16] samdutton commented on #635
Draft ready for tech writer review.

[2019-03-27 13:17] samdutton commented on #636
Draft ready for tech writer review.

[2019-03-27 14:40] robdodson commented on #720
It's ready but not styled yet.

[2019-03-27 15:46] robdodson commented on #727
This is vixed over in v1 land.

[2019-03-27 15:46] #727 closed

[2019-03-28 18:50] addyosmani commented on #670
Closing as done.

[2019-03-28 18:50] #670 closed

[2019-03-29 01:50] robdodson opened #758 "Audit guide — "Tap targets""
The https://web.dev/discoverable section has guides for each of the SEO audits in Lighthouse. We recently added a new audit that checks for overlapping tap targets. See https://developers.google.com/web/tools/lighthouse/audits/tap-targets.

cc @rviscomi

[2019-03-30 18:09] robdodson opened #759 "Launch checklist"
- [ ] Make sure we have the same font families in our DevSite template.
- [ ] Compare codelab pages between beta and v1.
- [ ] Every page works in FF, Safari, Edge, Chrome.
- [ ] Step through pages in ChromeVox and VO.
- [x] Site has sitemap.xml (need to verify on staging).
- [x] Rev GA version.
- [x] Fix focus state on measure X button.
- [x] Fix wrapping on Learn page overview.
- [x] Test redire

[2019-04-02 15:03] CamiloGarciaLaRotta opened #763 "aria-roledescription is flagged as invalid"
For the following website: https://camilogarcialarotta.github.io/
The message is:
[code]

`aria-roledescription` is a valid tag as per: https://www.w3.org/TR/wai-aria-1.1/#aria-roledescription

[2019-04-02 15:17] robdodson commented on #763
Thanks for the ticket! We may be running an older version of axe that doesn't pick this up. Possibly related to https://github.com/GoogleChrome/lighthouse/issues/7496

[2019-04-02 15:24] samdutton commented on #660
Draft completed by Kate and reviewed by Sam.

[2019-04-02 15:24] samdutton commented on #659
Draft completed by Kate and reviewed by Sam.

[2019-04-02 15:24] samdutton commented on #658
Draft completed by Kate and reviewed by Sam.

[2019-04-02 15:24] samdutton commented on #657
Draft completed by Kate and reviewed by Sam.

[2019-04-04 17:14] demianrenzulli opened #769 "Links not supported inside "note" blocks."
1. When using markdown syntax they are ignored:

[code]

2. When using HTML link elements, the style doesn't look look well compared with the enclosing square:
[code]

It would be useful to allow them, for the cases where notes contain references to other articles or guides, for example.

cc // @robdodson

[2019-04-04 17:42] robdodson commented on #769
yep this should be fixed in the v1 rewrite we're doing.

[2019-04-04 22:23] robdodson opened #771 "Add multiple authors to posts."

[2019-04-04 23:21] robdodson commented on #726
This should be checked in now.

[2019-04-04 23:21] #726 closed

[2019-04-05 17:33] co16353sidak opened #772 "Safari: Measure URL placeholder obscured in safari"
the url placeholder on the measure page gets obscured in safari.
URL: https://web.dev/measure
Screenshot:
<img width="1012" alt="Screenshot 2019-04-05 at 11 00 40 PM" src="https://user-images.githubusercontent.com/35738138/55645719-e5c56100-57f6-11e9-9093-42a62d875173.png">

According to me there seems to be some added padding to the input search bar which is pushing the text down and obscuring th

[2019-04-05 17:41] co16353sidak opened #773 "Firefox: bugs in measure URL section"
1. the buttons alongside the the search url have text not centered to the button.
2. the `X` button seems to also be top-aligned while t should be inline with the text.

URL: https://web.dev/measure

Screenshot: <img width="513" alt="Screenshot 2019-04-05 at 11 04 22 PM" src="https://user-images.githubusercontent.com/35738138/55646096-e7435900-57f7-11e9-932b-47097dbf0bfd.png">

(could be added to

[2019-04-05 18:17] jeffposnick commented on #692
Here's a link to the draft (`@google.com` accounts only): https://docs.google.com/document/d/1z3eBb7mJc5JHKRWD68iJ0ndCATKfJgyP_j6ivqnpiMM/edit

[2019-04-05 22:31] robdodson opened #774 "Use elevation mixin to clean up box shadow CSS."

[2019-04-05 22:33] robdodson commented on #757
Going to roll this into #773 as there's an additional bug on that page we should fix in FF.

[2019-04-05 22:33] #757 closed

[2019-04-07 00:17] robdodson opened #775 "Delete unused images in the images dir."
There are a number of images that can live in `en` but are currently checked in to DevSite. In the v1 branch these images are duplicated but post-launch we should remove them from DevSite.

[2019-04-07 01:58] robdodson opened #776 "Add image attribution section at the bottom of posts."
Public domain image sites like [unsplash.com](unsplash.com) don't require attribution, though they do mention that it helps photographers get exposure. Adding a footnote at the end of a post that links back to the image source seems like a thing we should consider.

I figure this would just be part of the YAML front matter.

[2019-04-07 04:15] #718 closed

[2019-04-07 04:15] #720 closed

[2019-04-07 04:15] #721 closed

[2019-04-07 04:15] robdodson commented on #774
Dupe of #750 :P

[2019-04-07 04:15] #774 closed

[2019-04-07 04:16] #745 closed

[2019-04-07 04:16] robdodson commented on #740
We removed exports entirely sooooo this is closed now!

[2019-04-07 04:16] #740 closed

[2019-04-07 04:21] #734 closed

[2019-04-07 04:45] robdodson opened #777 "Redo FABs"

[2019-04-07 04:55] robdodson opened #778 "Replace post dates with Eleventy dates."
It's annoying for authors to have to always write an updated date. I think Eleventy should be able to give this to us for free.
https://www.11ty.io/docs/dates/

[2019-04-07 05:21] robdodson opened #779 "Update to eleventy 8.0."

[2019-04-07 06:02] robdodson opened #780 "Move layouts into a layouts dir using eleventy 8.0 feature."

[2019-04-07 17:57] robdodson commented on #769
This is fixed in the v1 branch.

When we roll that out you'll be able to do:

[code]

[2019-04-07 17:58] robdodson commented on #769
Going to close this as fixed in v1 which should be coming out very soon. I'll migrate folks existing articles over to the syntax.

[2019-04-07 17:58] #769 closed

[2019-04-07 23:47] robdodson opened #781 "Make next/prev buttons work."

[2019-04-07 23:48] robdodson opened #782 "Show related/suggested articles at end of post."
A post should end with a few cards that link to related articles. We may use this to replace the next/prev breadcrumbs mentioned in #781

[2019-04-08 05:59] robdodson commented on #772
Hey @co16353sidak thanks for reporting this. Unfortunately the custom elements that we use on the site are not open sourced so we'll have to fix this one ourselves. Really appreciate the offer to help though! We should be open sourcing the CSS for the site pretty soon.

[2019-04-08 09:20] samdutton commented on #637
No author available for this — I'll move to possible future content.

[2019-04-08 09:20] samdutton commented on #638
No author available for this — I'll move to possible future content.

[2019-04-08 09:28] samdutton commented on #648
Need new author — checking if Kate can work on this.

[2019-04-08 09:28] samdutton commented on #649
Need new author — checking if Kate can work on this.

[2019-04-08 09:28] samdutton commented on #650
Need new author — checking if Kate can work on this.

[2019-04-08 09:32] samdutton commented on #664
@ajkent won't be able to work on this. Still looking for new author.

[2019-04-08 09:32] samdutton commented on #663
@ajkent won't be able to work on this. Still looking for new author.

[2019-04-08 09:32] samdutton commented on #662
@ajkent won't be able to work on this. Still looking for new author.

[2019-04-08 09:33] samdutton commented on #661
@ajkent won't be able to work on this. Still looking for new author.

[2019-04-08 14:10] luisvieiragmr opened #783 "nomodule scripts have inconsistent behaviour on safari 12"
Safari 12 has an inconsistent behaviour when implementing the differential module serving referenced at https://web.dev/fast/serve-modern-code-to-modern-browsers

Observed behaviour: when loaded with an empty cache both scripts referenced with the  `module` and `nomodule` attributes get downloaded but only the module script gets executed

Expected behaviour: only module scripts should get download

[2019-04-08 15:13] robdodson commented on #783
Thanks for reporting this @luisvieiragmr. @housseindjirdeh do you know if this warrants a note on the article? My main concern is that we'll forget to take the note down when the bug is finally fixed...

[2019-04-08 15:20] robdodson opened #784 "Fix author's social media links."
Currently these don't work. We have their social media account names but we need to put the actual URLs in.

[2019-04-08 15:22] robdodson opened #785 "Fix broken images."
It looks like the images we migrated over aren't getting served correctly. URLs look a little weird in markup.

[2019-04-08 15:23] robdodson opened #786 "Give article cards a min-height."
They can look especially weird in the collection pages if they're too short because they don't have cover images.

[2019-04-08 15:24] robdodson opened #787 "Add more bottom margin before footer."
![image](https://user-images.githubusercontent.com/1066253/55736210-ba4d9c80-59d7-11e9-8530-251a7957845a.png)

[2019-04-08 15:25] robdodson opened #788 "Fix subscribe button color."
![image](https://user-images.githubusercontent.com/1066253/55736249-d0f3f380-59d7-11e9-8fbd-05f874377bc2.png)

[2019-04-08 15:26] robdodson opened #789 "Fix hover/active states for navigation."
![image](https://user-images.githubusercontent.com/1066253/55736333-f680fd00-59d7-11e9-92bc-b650da798642.png)

[2019-04-08 15:32] robdodson opened #790 "Migrate all articles to updated format."
This is a lot of work. The hardest part is figuring out how to do the updated shout outs to codelabs inline with the guide text.

[2019-04-08 15:33] robdodson opened #791 "Fix guide header alignment."
![image](https://user-images.githubusercontent.com/1066253/55736855-03522080-59d9-11e9-9948-17d01fa64e5e.png)

[2019-04-08 15:36] robdodson opened #792 "Hide article tags. Bring them back in the next sprint."
I don't think we're quite ready to ship tagged pages yet so let's hide these for now.

[2019-04-08 15:37] robdodson commented on #781
And figure out how these should work in flat URL land...
Also what should display if a codelab only has a back button?

[2019-04-08 15:38] robdodson opened #793 "Make publish date work for posts. This should appear near the author as well as at the bottom of the post."

[2019-04-08 15:39] robdodson opened #794 "Pages seem to have too much horizontal padding on small screens."

[2019-04-08 15:40] robdodson opened #795 "Redirect all the things!"
This will be tricky but we need to redirect all articles and codelabs to use the new flat URL space.

We'll need to come up with a plan for how this affects breadcrumbs.

[2019-04-08 15:41] robdodson opened #796 "Add breadcrumbs back."
How this works will depend on #795. Gotta make sure they're responsive as well.

[2019-04-08 15:42] robdodson opened #797 "Let authors specify when to display cross-links."
![image](https://user-images.githubusercontent.com/1066253/55737556-38ab3e00-59da-11e9-9670-48a6e595b810.png)

[2019-04-08 15:43] robdodson opened #798 "Improve table styles."
They seem a little smooshed in the Remove Unused Code codelab.
Maybe want settings like:

[code]

[2019-04-08 15:45] robdodson opened #799 "Fix layout on the measure page."
The measure tool needs to have its classes updated to use our layouts.

[2019-04-08 15:54] robdodson opened #800 "Add filters to blog dropdown."
![image](https://user-images.githubusercontent.com/1066253/55738407-eec35780-59db-11e9-9ba8-400076f3abcf.png)

[2019-04-08 15:56] robdodson opened #801 "Add the about page back."

[2019-04-08 16:41] robdodson commented on #795
Proposal:

We create two tags: `post` and `collectionItem`.

Anything that starts its life in the blog will have the tag `post`.
If an element only has the `post` tag then...
- the breadcrumbs will lead back to the blog.
- the next/prev buttons at the bottom will not display, instead we'll show cards for related content.

If an element gets upgraded to a collection, or if it starts its life in a c

[2019-04-08 17:56] housseindjirdeh commented on #783
Thanks a million for this @luisvieiragmr

Yep, was chatting with @luisvieiragmr about this earlier. I think we should include a note at the very least that mentions that this bug persists with a specific version of Safari as the latest. Definitely brings us back to discussions of making sure things we mention get updated with future releases of tools 🤔

[2019-04-08 18:16] Meggin commented on #689
Pull request tracking these docs here: https://github.com/GoogleChrome/web.dev/pull/747

[2019-04-08 18:18] Meggin commented on #689
We will be starting with React.

[2019-04-08 18:19] Meggin commented on #690
Intrinsic layout content is being tracking in this pull request: https://github.com/GoogleChrome/web.dev/pull/762

[2019-04-08 18:20] Meggin commented on #690
We've had a first round of reviews, but gonna keep status in r1, as there's still placeholder content. Likely to go through a few rounds. Looking great though!

[2019-04-08 18:23] Meggin commented on #685
I have an idea for this. I'm going to organize audit content by categories, with metrics being a category type in performance audits. And the metrics docs will clearly explain what the metric is, how it is measured, and how it applies to scoring. It will also explain how to improve the metric in the context of load opportunities.

[2019-04-08 18:23] Meggin commented on #685
Tracking this work in a new performance audit branch: https://github.com/GoogleChrome/web.dev/tree/performance-audits. Watch this space.

[2019-04-08 18:23] Meggin commented on #696
Came up with new approach for these guides-- tracking progress in this branch: https://github.com/GoogleChrome/web.dev/tree/performance-audits

[2019-04-08 18:25] Meggin commented on #684
React guides being tracked in this pull request: https://github.com/GoogleChrome/web.dev/pull/747

[2019-04-08 18:27] Meggin commented on #689
I've moved this to be outside of v1 release, as we are specifically tracking optimizing loading in frameworks in this issue: https://github.com/GoogleChrome/web.dev/issues/684. I don't want to remove it though-- as we will want to do more with framework auditing once stack packs are accessible in Lighthouse.

[2019-04-08 18:28] Meggin commented on #680
I'm pretty sure we aren't launching Google resource guides until after IO, so changing the labeling here. Let me know if this is landing-- I can add the label back in!

[2019-04-08 18:29] Meggin commented on #679
I'm pretty sure we aren't launching Google resource guides until after IO, so changing the labeling here. Let me know if this is landing-- I can add the label back in!

[2019-04-08 18:30] Meggin commented on #678
I'm pretty sure we aren't launching Google resource guides until after IO, so changing the labeling here. Let me know if this is landing-- I can add the label back in!

[2019-04-08 18:31] Meggin commented on #677
I'm pretty sure we aren't launching Google resource guides until after IO, so changing the labeling here. Let me know if this is landing-- I can add the label back in!

[2019-04-08 18:39] robdodson commented on #783
yeah I wonder if we can have a space that we define in YAML that's like a reminder of sorts to tell us what stuff the article references.

[code]

[2019-04-08 18:40] robdodson commented on #783
One tricky thing to ponder... how would you handle browser APIs that are usually not versioned—until they are.

example: Web Components v0 -> Web Components v1

[2019-04-08 19:11] argyleink commented on #690
i've got 2 smooth animation articles in my mental hopper as well. shorter 1 offs, but gooduns.

[2019-04-08 20:20] Meggin commented on #676
I'm pretty sure we aren't launching Google resource guides until after IO, so changing the labeling here. Let me know if this is landing-- I can add the label back in!

[2019-04-08 20:21] Meggin commented on #674
I'm pretty sure we aren't launching Google resource guides until after IO, so changing the labeling here. Let me know if this is landing-- I can add the label back in!

[2019-04-08 23:24] robdodson commented on #801
Fixed in v1 branch.

[2019-04-08 23:24] #801 closed

[2019-04-08 23:40] #779 closed

[2019-04-08 23:40] #780 closed

[2019-04-08 23:42] robdodson commented on #591
Fixed in v1 branch.

[2019-04-08 23:42] #591 closed

[2019-04-08 23:44] paulirish opened #802 "Reenable PWA category"
The service worker checks were broken on the PSI backend.
As of today, they are fixed thanks to @hoten's work.

web.dev is clear to start surfacing PWA results again.

[2019-04-08 23:48] robdodson commented on #802
![omg](https://user-images.githubusercontent.com/1066253/55763916-f99edc00-5a1d-11e9-9b0e-066e96ac15a5.gif)

That is very exciting news.

[2019-04-09 00:32] robdodson opened #803 "Focus styles on author links are clipped."

[2019-04-09 00:36] #743 closed

[2019-04-09 21:10] robdodson commented on #799
Done!

[2019-04-09 21:10] #799 closed

[2019-04-09 21:31] robdodson commented on #794
Done in v1 branch.

[2019-04-09 21:31] #794 closed

[2019-04-09 21:32] robdodson commented on #716
Obsolete.

[2019-04-09 21:32] #716 closed

[2019-04-09 21:41] Meggin commented on #672
Will this guide cover some strategies for eliminating render blocking resources?

[2019-04-09 23:17] robdodson commented on #779
This may have been a bad idea. Rolling back to 0.7.1 until this bug is fixed.
https://github.com/11ty/eleventy/issues/484

[2019-04-10 14:55] demianrenzulli opened #805 "Allow for multiple authors for a given Web.dev guide"
I'm not sure if this is currently available, but I just didn't find a way to do it:

Most times guides involved many reviewers but a single author, but sometimes they can be the result of multiple collaborators.
Other sites, like Web Fundamentals allow for multiple authors ([example](https://developers.google.com/web/updates/2019/02/rendering-on-the-web)).

Would be useful to count with something

[2019-04-10 15:00] robdodson commented on #805
👍

Going to fold this in to #771

[2019-04-10 15:00] #805 closed

[2019-04-10 23:18] #786 closed

[2019-04-11 06:04] robdodson commented on #696
I think things generally look good.
Meggin—instead of doing a bunch of work in the old format, would you be ok switching over to the v1 branch? I can help you get set up. It should be a much nicer preview experience.

[2019-04-11 15:45] Meggin commented on #696
Yes, I can work in the new branch.

On Wed, Apr 10, 2019 at 11:04 PM Rob Dodson <notifications@github.com>
wrote:

[2019-04-11 22:19] #784 closed

[2019-04-12 00:39] #778 closed

[2019-04-12 00:39] #793 closed

[2019-04-12 17:50] #792 closed

[2019-04-12 17:50] #294 closed

[2019-04-12 18:01] #798 closed

[2019-04-12 18:46] #791 closed

[2019-04-12 18:52] #787 closed

[2019-04-12 19:00] robdodson opened #807 "Hide codelab footer."

[2019-04-12 19:16] robdodson commented on #781
Buttons are properly styled but need to fixup links.

[2019-04-12 23:25] robdodson opened #808 "Make eleventy watch components directory."
Changing a component doesn't rebuild eleventy. It's easy to forget this and think your code just isn't having an affect.

[2019-04-13 01:44] robdodson commented on #777
We'll have to do this work in DevSite :\

[2019-04-15 03:58] robdodson opened #809 "Need a translated strings module."
Because we're using 11ty shortcodes which sometimes contain a bit of logic, we need to ensure they don't contain strings that will need to be translated later. It's not always possible to pass the text content into these components so we may want something like a strings file where we can request a translated version of a string depending on the locale we're rendering to.

[2019-04-15 05:05] robdodson opened #810 "Create sorted path collections."
Because paths contain topic objects it's a little tricky to turn them into properly sorted 11ty collections. But it would greatly simplify things if we could do this because otherwise we need to do a lot of funky logic to find the next/prev path item when we need to navigate between pages.

[2019-04-15 06:15] #781 closed

[2019-04-15 06:15] #796 closed

[2019-04-15 15:22] jpmedley opened #811 "A code comment is visible in search results."
![image](https://user-images.githubusercontent.com/8204171/56144620-9221e880-5f57-11e9-8e8e-7bbb153d408f.png)

[2019-04-15 16:37] robdodson commented on #811
oh nice catch. Reported to the devsite team.

[2019-04-15 16:42] #811 closed

[2019-04-15 18:16] robdodson commented on #625
It turns out if you click the 'app' button then the full screen button becomes a show live button. who knew???

[2019-04-15 19:05] robdodson commented on #785
These are looking good on devsite 👍

[2019-04-15 19:05] #785 closed

[2019-04-15 20:27] robdodson opened #812 "Codelabs need to link back to their respective guides."

[2019-04-15 21:18] robdodson commented on #812
Added a `related_post` field that codelabs can use for now. But I'd like to come up with something better in the future.

[2019-04-15 21:18] #812 closed

[2019-04-16 00:27] #789 closed

[2019-04-16 01:27] robdodson commented on #771
This should also generate multiple `<author>` elements in RSS entries.

[2019-04-16 01:56] robdodson commented on #790
Must haves:

- Updated codelab links (and `related_post` linkbacks).

Nice to haves:

- Hero images
- Subheads

[2019-04-16 02:17] robdodson opened #813 "Improve syntax highlighting theme."
We used a quick off the shelve theme for v1 but it doesn't really use any of our colors.

[2019-04-17 01:22] robdodson commented on #557
Fixed in v1

[2019-04-17 01:22] #557 closed

[2019-04-17 02:02] robdodson opened #814 "Need responsive table styles."
The current site has a neat responsive table style we should copy over. It looks like some content in /security uses it.

[2019-04-17 03:27] robdodson opened #815 "Need shortcode for figures"
We have a fair number of figure/figcaption styles. It would be really nice to shortcode these.

[2019-04-17 04:38] robdodson commented on #814
- /secure/security-not-scary
- /secure/security-attacks
- /secure/cross-origin-resource-sharing/

[2019-04-17 15:09] addyosmani commented on #733
Linking to https://github.com/GoogleChrome/lighthouse/pull/7235 as a cross-reference here

[2019-04-17 17:59] paulirish commented on #763
@CamiloGarciaLaRotta i updated the version of axe and indeed the result _did change_...

"[aria-*] attributes are not valid or misspelled" is now passing..

**BUT** the exact same elements are failing a different rule: "[aria-*] attributes do not match their roles".  This rule was passing previously.

![image](https://user-images.githubusercontent.com/39191/56310026-cb558680-6118-11e9-8c54-b9f8505

[2019-04-17 18:01] robdodson opened #816 "Redo how tags work with posts."
The `tags` array gets inherited from `<path-name>.11tydata.js`. But if a post has tags in its YAML front matter it will override these tags. We could think about enabling the [deepMerge](https://www.11ty.io/docs/config/#data-deep-merge) option in 11ty again. But need to be careful we don't inherit stuff from higher up the hierarchy that we don't want.

[2019-04-17 18:02] robdodson commented on #763
@WilcoFiers, @dylanb are y'all able to see anything that looks fishy in that output?

[2019-04-17 18:03] paulirish commented on #763
These elements have a role of either `list` or `listitem` and apparently `aria-roledescription` isn't a valid attribute on these roles?

[2019-04-17 18:10] paulirish commented on #763
@wilcofiers @straker I have a feeling like the recent https://github.com/dequelabs/axe-core/pull/1382 may resolve this ?

[2019-04-17 18:20] robdodson commented on #763
Based on a quick read of [the spec](https://www.w3.org/TR/wai-aria-1.1/#aria-roledescription) `aria-roledescription` seems valid on any element that has a `role`. I thought the point of it was to help more clearly define the role:

[code]

And it's listed in the inherited properties tables for [listitem](https://www.w3.org/TR/wai-aria-1.1/#listitem) and [list](https://www.w3.org/TR/wai-aria-1.1/#l

[2019-04-17 19:14] straker commented on #763
I'll take a look at this. As far as I'm aware in axev3.2.2, `aria-allowed-attr` should always pass for `aria-roledescription`. `aria-roledescription` should pass for a handful of [supported elements/roles across all browsers](https://github.com/dequelabs/axe-core/issues/1216#issuecomment-454104190), throw an incomplete result if it isn't on one of those elements (for manual review), or fail if on

[2019-04-17 19:42] robdodson opened #817 "Create a side-by-side component."
The side-by-side component would let you put anything you want (including other components) into two columns. For example:

![image](https://user-images.githubusercontent.com/1066253/56316064-364d9000-610e-11e9-9793-877e8355f53c.png)

We can use CSS grid to do this and turn it into an eleventy paired shortcode.

[2019-04-17 19:47] robdodson opened #818 "Screenshot testing."
We have a lot of CSS now and I would looooove some kind of screenshot testing setup so we can ensure we don't break things when we tweak the design system.

[2019-04-17 23:19] robdodson commented on #813
Part of this work should also include improving the highlight and strikethrough styles. They look pretty 'meh' for multi-line highlights.

[2019-04-18 05:44] robdodson opened #819 "Margins should not be included in typography styles."
It seemed like a good idea at the time :P

The `w-headline` mixins include margins for breakpoints. We rely on these to automatically set the margins for our markdown generated h1-h6's that include this mixin. But it means other elements that want to use the mixin like `codelabs-callout` have to either override the margin at each breakpoint or use `!important`. Sadness.

[2019-04-19 05:31] robdodson commented on #814
http://localhost:8080/fast/codelab-density-descriptors/

[2019-04-19 17:24] robdodson opened #821 "Convert images to webp."
Something we should totally do post v1 roll out. We can follow Katie's guide :D

[2019-04-21 16:55] robdodson commented on #547
This is fixed in the v1 branch using the new `{% Aside %}` shortcodes.

[2019-04-21 16:55] #547 closed

[2019-04-21 19:08] robdodson commented on #814
Managed to work around this by improving our existing table styles. We may want to revisit this down the line.

[2019-04-21 19:08] #814 closed

[2019-04-21 20:30] #813 closed

[2019-04-22 22:49] #790 closed

[2019-04-22 22:50] #751 closed

[2019-04-23 01:28] robdodson opened #824 "Show new timestamp on path card whenever content inside of a path is updated."
If an article inside of /fast is updated on May 1 then the path card for /fast should say something like "Updated May 1st".

[2019-04-23 02:45] #717 closed

[2019-04-23 02:46] #625 closed

[2019-04-23 20:29] MrToph opened #825 "Issues with WebGL or shaders?"
Hi, my website can never be tested I always receive an error.
I think I could track it down to one of my packages which uses WebGL + shaders.

There's a tiny example static website as a showcase for the [metaballs-js](https://mrtoph.github.io/metaballs-js/) package.

Reproduction:
1. Run a test for `https://mrtoph.github.io/metaballs-js/`
1. See it fail with `Error: Backend Error`

![image](https:

[2019-04-23 21:07] robdodson commented on #825
Looks like this fails in PageSpeed Insights as well (under the hood we use their API).

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fmrtoph.github.io%2Fmetaballs-js%2F

@brendankenny @paulirish are y'all cool with me reassigning this to Lighthouse?

[2019-04-23 21:33] brendankenny commented on #825
makes sense, thanks @robdodson.

I don't see an issue in CLI/devtools, so may be only a PSI thing.

[2019-04-24 18:44] robdodson opened #826 "Self-host Material Icons font."
To prevent a flash of unstyled text, we could consider self hosting the Google Fonts version of Material Icons and using link rel preload to load it earlier.

https://www.youtube.com/watch?v=Mv-l3-tJgGk&feature=youtu.be&t=24m58s

[2019-04-25 09:33] samdutton commented on #661
Martin Schierle has completed a first draft.

[2019-04-25 09:34] samdutton commented on #662
Martin Schierle has completed a first draft.

[2019-04-25 17:27] Meggin commented on #682
@addyosmani - pretty sure this one can be moved off v1 list. Can you confirm?

[2019-04-25 17:28] Meggin commented on #681
@addyosmani - pretty sure this can be moved off v1 list. Can you confirm?

[2019-04-25 17:29] Meggin commented on #673
@addyosmani - fairly sure we can descope this for v1. Can you confirm?

[2019-04-25 17:30] Meggin commented on #672
@addyosmani, I know this is next on the list for Fast guides, but fairly sure it won't make it in for v1. OK for me to de-scope?

[2019-04-25 17:51] Meggin commented on #671
@addyosmani - another one I think we can move out of v1. Can you confirm?

[2019-04-25 17:54] Meggin commented on #669
@addyosmani - another one to target post Google IO. Can you confirm?

[2019-04-25 17:55] Meggin commented on #668
We've got a draft in a Google doc in review. Keeping this in scope for Google IO.

[2019-04-25 17:56] Meggin commented on #667
@mihajlija - you OK if I move this off the v1 content list (so we'd publish post Google IO)?

[2019-04-25 17:57] Meggin commented on #666
@mihajlija - you OK if I move this off v1 content milestone, so we'd publish post Google IO?

[2019-04-25 17:59] Meggin commented on #630
@housseindjirdeh - just updating issues to make sure we have a burn-down list for Monday. I'm marking Google IO commitments as p0, but this one feels like it's more a p1-- most likely it will come after IO, but if we still get something in, we get something in.

[2019-04-25 18:01] Meggin commented on #693
@jeffposnick - you still gonna try and get this out for Google IO? Let me know if you are going to push it out, as I'll remove the v1 content label.

[2019-04-25 18:02] Meggin commented on #690
@argyleink -any chance we will land layout guides, or are we fairly sure they will be post Google IO?

[2019-04-25 18:03] Meggin commented on #687
@kosamari - you OK for me to move this off the Google IO (v1 content) list?

[2019-04-25 18:50] Meggin commented on #664
@samdutton - we can remove this from v1 content scope, yes?

[2019-04-25 19:05] Meggin commented on #646
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:06] Meggin commented on #660
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:07] Meggin commented on #659
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:07] Meggin commented on #658
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:08] Meggin commented on #657
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:09] Meggin commented on #633
Marking this as p1, with the hope something might land the week of Google IO.

[2019-04-25 19:11] Meggin commented on #639
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:12] Meggin commented on #640
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:12] Meggin commented on #641
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:13] Meggin commented on #647
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:15] Meggin commented on #662
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:35] mihajlija commented on #667
Sounds good, I haven't started working on it yet.

[2019-04-25 19:39] Meggin commented on #652
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:40] Meggin commented on #653
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:40] Meggin commented on #654
Updated priority, as this is planned for Google IO. Special note that we will publish guides as blogs in series.

[2019-04-25 19:40] mihajlija commented on #666
Yes 👍

[2019-04-25 19:51] mihajlija commented on #672
I can confirm that de-scoping is okay 👍  I'm working on it, but I have 4 other doc reviews in progress and I won't be available next week (Orthodox Easter and Labour Day are national holidays over here).

[2019-04-25 23:36] robdodson opened #827 "About page header image seems off. Possible Chrome bug?"
http://web-dev-staging.appspot.com/about/

Looking at the page in Firefox and Safari things seem correct. But it's shifted to the right in Chrome 74.0.3729.108 and Canary.

I tried doing a git bisect but there is no longer a "good" commit, even though I know it was working in the past.

[2019-04-26 12:03] samdutton commented on #664
Martin (working on the other content) actually wants to build this. I'll hold off for a day or two.

[2019-04-26 16:29] housseindjirdeh opened #829 "Setting the correct Content-Type for the Brotli codelab"
Thank you @svewag for flagging this!

Context in [tweet](https://twitter.com/y0da/status/1121657336173449216), but we may need to specify the `Content-Type` header.

CC @mdiblasio

[2019-04-27 05:37] dougsillars opened #830 "Topic pitch: optimizing video delivery on the web"

[2019-04-27 05:37] dougsillars opened #831 "Topic pitch: optimizing video delivery on the web"
As video becomes more prevalent on the web, I think it is time to begin best practices guides for video.

We could discuss:
best implementation of attributes:  preload, autoplay, etc.
encoding for video
video sizing (dimensions and MB)
optimising background videos

Mp4 vs. streaming
streaming
how to choose and implement a player
picking streams to encode
Optimization for fast startup (and why fast

[2019-04-27 18:06] robdodson commented on #830
Going to close as a duplicate of #831

[2019-04-27 18:06] #830 closed

[2019-04-27 18:08] robdodson commented on #831
Hey Doug, thanks for the suggestion. I agree, loading video is an important and big topic to cover :)

We're currently working on a new blog that'll be rolling out soon. We haven't completely sorted out our publishing model yet, but I think posts on how to do video effectively could be cool.

cc @samdutton who is one of our video experts.

[2019-04-29 03:09] robdodson opened #832 "Improve hover and focus styles for <code> links in asides."
These currently look a bit weird. There is no hover style because it already has an underline and the focus ring sticks out oddly.

[2019-04-29 03:39] robdodson opened #833 "Double check aside styles for color contrast."
I just noticed the `caution` aside doesn't meet the contrast minimum. Need to circle back and check the others.

[2019-04-29 05:42] robdodson opened #834 "Ensure staging URL isn't being search indexed."

[2019-04-29 08:04] techhtml opened #836 "Localize Web.dev"
Hi,
This is Eun from South Korea.

I want to translate web.dev into Korean,
But I didn't find any localizing resources in this repo.

Can anybody help me to translate web.dev into Korean?

[2019-04-29 09:30] samdutton commented on #831
A series about video performance could be really useful.

I did some content about this ages ago:
• [High Performance Video for the Web](https://www.youtube.com/watch?v=Fm3Bagcf9Oo)
• [developers.google.com/web/fundamentals/media/video](https://developers.google.com/web/fundamentals/media/video)

The content would, of course, also need to cover adaptive streaming.

@beaufortfrancois fyi

[2019-04-29 12:10] dougsillars commented on #831
That was my thought, adaptive video and how to deliver video performantly..

[2019-04-29 14:44] rsedykh opened #837 "Add Uploadcare CDN to the list of CDNs in Other options"
https://web.dev/serve-responsive-images#other-options

[Uploadcare](https://uploadcare.com) is an alternative to Cloudinary with a great focus on images. Worth mentioning.

[2019-04-29 17:35] jeffposnick commented on #693
I'm still catching up post-vacation, but I think I can reasonably get something out for review this week. I don't want to force the issue of landing it pre-I/O if it means causing you to have to rush a review when there are other priorities, though.

So feel free to remove the v1 content label and if things line up so that it does go live pre-I/O, that would be a bonus?

[2019-04-29 18:08] robdodson commented on #836
Hey @techhtml we're still working on our process to do translation. Take a look at https://github.com/GoogleChrome/web.dev/pull/568 for a bit of the progress.

This is something we'll be exploring more after Google I/O.

[2019-04-30 00:32] techhtml commented on #836
@robdodson Great! Thank you

[2019-04-30 16:42] robdodson opened #845 "Blog: 🧀 update"
**Steps**
1. Create a draft of your post in Google Docs and share with @robdodson and @meggin. If you'd prefer to skip straight to a PR, move on to step 2.
2. Create a PR for your post. Instructions for creating a PR: https://github.com/GoogleChrome/web.dev/wiki/How-to-write-a-post

[2019-04-30 16:45] robdodson opened #846 "Blog: 🤳"
**Steps**
1. Create a draft of your post in Google Docs and share with @robdodson and @meggin. If you'd prefer to skip straight to a PR, move on to step 2.
2. Create a PR for your post. Instructions for creating a PR: https://github.com/GoogleChrome/web.dev/wiki/How-to-write-a-post

[2019-04-30 17:19] robdodson opened #847 "Portals Hands-on"
**Steps**
1. Create a draft of your post in Google Docs and share with @robdodson and @meggin. If you'd prefer to skip straight to a PR, move on to step 2.
2. Create a PR for your post. Instructions for creating a PR: https://github.com/GoogleChrome/web.dev/wiki/How-to-write-a-post

[2019-04-30 17:46] jpmedley opened #848 "Blog branch falsely showing modified files in src/styles"
To be clear, this occurs in a brand new repo. Before I hit this I did:

    git clone https://github.com/GoogleChrome/web.dev.git --recurse-submodules
    npm ci
    git fetch
    git checkout blog

When I checked out `blog` there was no complaint about uncommited changes that need to be committed or stashed. Immediately after checkout I run `git status` and got this:

[code]
So I searched for fil

[2019-04-30 17:58] #848 closed

[2019-05-01 21:28] #771 closed

[2019-05-03 00:57] PaulKinlan opened #868 "Refactor 'how-pwa-scoring-works' in the PWA Audits into just one page"
How PWA Scoring works is on every page, suggest to pull it out into one page. We kinda need to have it in one place otherwise search might pick it up as dupicated content.

eg https://web-dev-staging.appspot.com/service-worker/#how-pwa-scoring-works

*Update*

It looks like it's broadly a choice across all the scoring pages to have similar includes - I personally would remove all these extra bits

[2019-05-03 00:59] PaulKinlan opened #869 "Uses Application Cache"
I know this is probably lighthouse, but it should be the negative of this, the best practice title reads like you use AppCache

https://web-dev-staging.appspot.com/appcache-manifest/

[2019-05-03 01:03] PaulKinlan opened #870 "Site works a cross browsers, just recommends to use work box"
https://web-dev-staging.appspot.com/pwa-cross-browser/

Not sure if the guidance is correct (I can't find it on d.g.c) but the emphasis behind this check is to test your site holistically for cross browser support, and not just focus on offline support.

[2019-05-03 01:13] PaulKinlan commented on #868
Hmm, I see that it is included as a Template {% include 'content/lighthouse-pwa/scoring.njk' %} - my general feedback reading this is that it was a heap of bloat that I didn't really care for and it added obscured some other content lower down that page.

[2019-05-03 01:16] PaulKinlan commented on #868
huh - I can't find scoring.njk

[2019-05-03 02:03] robdodson commented on #868
They should all be in here
https://github.com/GoogleChrome/web.dev/tree/master/src/site/_includes/content

*From: *Paul Kinlan <notifications@github.com>
*Date: *Thu, May 2, 2019, 6:16 PM
*To: *GoogleChrome/web.dev
*Cc: *Subscribed

huh - I can't find scoring.njk

[2019-05-03 15:54] Meggin commented on #869
The titles, at least in perf, are aligned with Lighthouse report titles,
failure text when it's available. The idea behind that is the developers
search the text they see in the report for more information, so aligning of
titles helps with this. What d'ya think would be the best game plan here?

On Thu, May 2, 2019 at 5:59 PM Paul Kinlan <notifications@github.com> wrote:

[2019-05-03 16:49] Meggin commented on #868
For PWA and best practices scoring, how about I update the includes to be asides that link to scoring paragraphs in scoring guides?

[2019-05-03 16:50] Meggin commented on #868
Also gonna change include for 'What is Aria', to be an aside that points to ARIA docs on /web.

[2019-05-03 17:17] robdodson commented on #868
+1 to the above suggestions.

[2019-05-03 18:09] #847 closed

[2019-05-03 18:09] robdodson commented on #847
Tracking in #862

[2019-05-03 19:46] robdodson opened #873 "Blog: 👨‍🔬"
**Steps**
1. Create a draft of your post in Google Docs and share with @robdodson and @meggin. If you'd prefer to skip straight to a PR, move on to step 2.
2. Create a PR for your post. Instructions for creating a PR: https://github.com/GoogleChrome/web.dev/wiki/How-to-write-a-post

[2019-05-03 23:17] robdodson opened #876 "Think about embedding Glitch example into Portals post."
Related to https://github.com/GoogleChrome/web.dev/pull/862

One way to do this would be to use feature detection, and if the user doesn't have portals enabled, show them the flag to enable it. This could be useful for when Portals is shipping everywhere so folks can just automatically see and interact with them.

[2019-05-04 00:46] robdodson opened #878 "Support >2 authors in a codelab."
Right now this will overflow in weird ways.

[2019-05-04 01:29] uskay commented on #876
It does do feature detection even now and show a message but I'll make sure it is more easy to understand so that they could figure out their way easily. I'll work on that.

[2019-05-04 03:15] uskay commented on #876
@robdodson Changed the UI a bit to make things obvious. WDYT?
![draft UI of the demo](https://cdn.glitch.com/98449704-33d8-49b2-88f2-aa6d2aeba5d3%2FScreen%20Shot%202019-05-04%20at%2012.13.31.png?1556939687149)

[2019-05-04 03:19] robdodson commented on #876
@uskay nice, I think that looks great :)

[2019-05-04 03:25] uskay commented on #876
I think I can fix the article just before the flight, will let you know!

[2019-05-04 09:21] uskay commented on #876
This is very unfortunate but come to think about it, Portals cannot be used inside iframes by design...

![a screenshot of DevTools console error](https://cdn.glitch.com/98449704-33d8-49b2-88f2-aa6d2aeba5d3%2FScreen%20Shot%202019-05-04%20at%2018.10.30.png?1556961061414)

- https://wicg.github.io/portals/#the-portal-element
- https://github.com/web-platform-tests/wpt/blob/master/portals/portals-act

[2019-05-04 18:26] robdodson commented on #876
ah ok. No worries :) We'll make sure the links to the examples stand out. Thank you for looking into it @uskay!

[2019-05-04 18:26] #876 closed

[2019-05-04 18:28] robdodson commented on #846
PR in #875

[2019-05-05 04:25] robdodson commented on #873
@rowan-m are you ready for another round of review? I was wondering if you could create a PR  in your repo so we could comment there?

[2019-05-05 04:56] rowan-m commented on #873
See https://github.com/rowan-m/web.dev/pull/1 for changes.

[2019-05-05 22:01] Meggin opened #884 "Performance audits - add scoring guide"
I've added scoring descriptions to every performance guide.

However, it would make sense to re-factor this post-v1.

We should have a performance scoring guide that covers how scoring works for performance in a general sense.

Then each audit guide will cover scoring specific to that audit.

Removes repetition while still keeping the audit specifics.

[2019-05-05 22:02] Meggin opened #885 "Accessibility audits - lots more to do on scoring"
I've added scoring descriptions to some accessibility guides but didn't fully understand how it works.

We need to add a new accessibility scoring guide.

And we need to explain how scoring works specifically for each audit.

[2019-05-06 09:11] leobardimpact commented on #674
This is highly welcome. It is unclear which approach leads to both good usability and good rankings. There are three competing recommendations:

1. iframe (what YouTube recommends)
2. LazyLoading
3. "click the image to have the YouTube video loaded in a lightbox"

Clarity from Web.Dev & YouTube would be great.

[2019-05-06 16:19] #665 closed

[2019-05-07 00:35] #868 closed

[2019-05-07 02:58] robdodson opened #890 "Adjacent buttons should wrap properly on mobile."
https://web-dev-staging.appspot.com/sandbox/#buttons

![image](https://user-images.githubusercontent.com/1066253/57268621-57ccd800-7039-11e9-84cc-38a4183de8e8.png)

[2019-05-08 11:23] mayeedwin opened #899 "Missing "/" in the url parameter on sharing the "Portals" directory"
**What to change**
❌ https:/web.dev/hands-on-portals/

**What to change to**
✅ https://web.dev/hands-on-portals/

Cheers 🎉

[2019-05-08 11:35] mayeedwin opened #900 "Default back to app.webmanifest not manifest.json"
With trying to have PWA Installable on all platforms, Android, IoS and Windows devices, `app.webmanifest` works best for all. It also looks descriptive in relation to PWAs as opposed to `manifest.json`

Reference doc on web.dev here : https://web.dev/add-manifest-react/

[2019-05-08 18:08] robdodson commented on #899
Hey @mayeedwin, quick question, where did you see this error?

[2019-05-08 18:09] robdodson commented on #899
oh I think I found it, it's on the share button.

[2019-05-08 18:36] mayeedwin commented on #899
Great : )

[2019-05-08 19:50] robdodson commented on #900
Tagging in @petele our PWA expert.

Pete do you think we should update the posts to use `app.webmanifest` instead? I actually hadn't seen it until now but I guess it's what [MDN uses](https://developer.mozilla.org/en-US/docs/Web/Manifest).

[2019-05-09 05:39] mayeedwin commented on #900
Sure, this will be great.

[2019-05-09 21:39] Meggin opened #905 "Add date metadata to audit guides so we don't get UTC changes in deploys"
We currently get date changes in deploys based on when a person checks out a file for the first time.

This only happens when there isn't date metadata, so we should add it.

[2019-05-10 02:37] #845 closed

[2019-05-10 03:40] robdodson opened #907 "Improve image compression pipeline."
We should be resizing images and maybe dialing down our compression a bit as it can sometimes cause artifacting.

[2019-05-10 12:09] Malvoz opened #909 "<portal> blog post: include 'prefers-reduced-motion' in examples"
In https://web.dev/hands-on-portals/, please consider including [`prefers-reduced-motion`, in respect of motion-triggered vestibular spectrum disorder](https://developers.google.com/web/updates/2019/03/prefers-reduced-motion#motion-triggered_vestibular_spectrum_disorder). This helps create awareness of the `prefers-reduced-motion` media query, but also if devs resort to copy/pasting from the examp

[2019-05-10 16:16] robdodson commented on #909
oh good point. I'm just about to head out on vacation but I can look into this when I come back.

[2019-05-13 07:36] illvart opened #911 "I need a language translation menu"
I use **web.dev** everytime to test my project. But my audience use **Indonesian** language. I need a language translation menu. Because I want add Indonesian language to the web.dev site. Thanks!

[2019-05-13 14:47] safwans opened #913 "Test My Site hung when testing CNN.com"
Here is a screenshot.
![Screen Shot 2019-05-13 at 10 46 45 AM](https://user-images.githubusercontent.com/16467231/57630901-77e62500-756c-11e9-8565-42a8c9c387a5.png)

https://screenshot.googleplex.com/DRNCFZEOQFx

[2019-05-14 07:22] kristojurisson opened #914 "Performance 0 suddenly"
Hi, I'm wondering if there has been anything changed lately to the performance measurement on https://web.dev/measure?

My site's performance has hovered around high 30 - 50s for quite a long while, I have also set up daily lighthouse scoring on my own server with simulated 3g + cpu slowdown that has gotten the score pretty close to the web.dev one (still off some points).

Right now though (since

[2019-05-14 13:55] jeffposnick opened #915 "Include <ErrorBoundary> info in React.lazy() docs"
CC: @housseindjirdeh

The https://web.dev/code-splitting-suspense/ docs do a great job of covering `React.lazy()` and `<Suspense>`. One thing that they don't mention, though, is that lazy-loading might fail (see [this presentation/site](https://pawll.glitch.me/) for some common failure scenarios), and that an [`<ErrorBoundary>`](https://reactjs.org/docs/error-boundaries.html) can be used to detect

[2019-05-15 21:02] #911 closed

[2019-05-16 10:40] ThomasWT opened #919 "Failed to load resource: net::ERR_ACCESS_DENIED"
Resource is accessable, even though web.dev says it is not.

![image](https://user-images.githubusercontent.com/1246641/57847785-a0be2280-77d7-11e9-8e1a-0123418dd53b.png)

[2019-05-21 18:04] housseindjirdeh commented on #915
Thanks so much, and this is a great point :)

Please feel free to submit a PR. Otherwise I can definitely go ahead and include a mention of it (along with an example app that demonstrates it as well maybe)

[2019-05-21 18:16] housseindjirdeh commented on #900
Thanks for logging this @mayeedwin 🙏

Curious as well if `app.webmanifest` is more widely used. Will update the React-specific manifest guide accordingly if so.

[2019-05-21 18:19] mayeedwin commented on #900
Sure, it's. Perfectly. And you're welcome 💪

[2019-05-21 18:43] housseindjirdeh opened #922 "Include mention of defer attribute for module/nomodule"
More context [here](https://mobile.twitter.com/AndyDavies/status/1130589949684850688).

It's worth mentioning that `defer` should be considered for the nomodule script since modules are deferred automatically.

--> in web.dev/serve-modern-code-to-modern-browsers/

[2019-05-21 19:19] jeffposnick commented on #915
I'm happy to put together the PR.

[2019-05-21 19:47] evenstensberg opened #923 "Suggestion: Add Instruction on how to add Brotli in Apache or Nginix"
It would be nice with a guide on how to add Brotli on the server side, such as with Apache or Nginix.

[2019-05-21 22:20] argyleink opened #925 "Lightbox type UX for images"
Since the reading column is made optimal for legibility (which is great), it presents a problem for images. A nice and typical solution is to implement a lightbox (or similar) ux to allow the image to go full screen and additionally be zoomed by a user to make things even clearer if their vision isn't perfect. Thoughts?

[2019-05-22 10:23] willstocks-tech opened #927 "Font considered not accessible, but it is"
Hi guys,
I just ran a web.dev test and had the following errors logged as part of the results:

URL | Description
-- | --
https://willstocks.co.uk | Access to font at 'https://cdn.willstocks.com/wp-content/uploads/ws-fonts-2019/Material_Design_Icons.woff2' from origin 'https://willstocks.co.uk' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested res

[2019-05-23 17:40] #915 closed

[2019-05-23 18:22] Meggin commented on #696
This is fixed.

[2019-05-23 18:22] #696 closed

[2019-05-23 18:24] Meggin commented on #685
Some work was done on this, but there's more work to do. We will be planning a new doc set for metrics, and will create new issue(s) to track,  so closing this now-- to at least mark the work done.

[2019-05-23 18:24] #685 closed

[2019-05-23 23:23] robdodson commented on #923
tentatively assigning to addy to find resourcing.

[2019-05-23 23:51] paulirish commented on #919
Unfortunately, we can't debug this without the URL you tried.  can you provide that?

[2019-05-23 23:54] robdodson commented on #911
Hey @illvart, translating the site to other languages is something we want to do. At the moment we don't have a timeline for when we'll pull this off but we've definitely been talking about it and experimenting.

[2019-05-24 00:05] robdodson commented on #914
Hey @kristojurisson do you have a URL we can check against?

[2019-05-24 04:14] robdodson commented on #748
Took a stab at this but because we create a subdirectory for each post we're blocked on this: https://github.com/netlify/netlify-cms/issues/513

It sounds like it's on their roadmap so hopefully they'll fix it soon 🤞

@addyosmani fyi

[2019-05-24 23:08] #576 closed

[2019-05-25 00:56] robdodson opened #938 "Let folks preview PRs with deploy previews."
Netlify has a cool feature that lets you preview deploys when someone submits a pull request. However, I'm not sure if it works with forks.

Similarly, we have Cloud Build, which can generate a deploy for us, but it also looks like it only monitors branches and not forks.

[2019-05-27 03:15] TomWsl opened #941 "Backend Error"
I  put  url  https://www.printingcenterusa.com/printing/business-card-printing  on  https://web.dev/measure  then run audit,  the page result "Backend Error"
If i run the same url in Chrome Dev Tool can get result.

Please help out,  i am afraid can not get speed score could impact our site's search ranking.

[2019-05-27 15:03] robdodson commented on #941
Hey @TomWsl, I haven't had a chance to look at this yet wanted to mention that your score on web.dev does not affect search ranking.

[2019-05-27 15:04] robdodson commented on #748
Twitter status update: https://twitter.com/rob_dodson/status/1131972817614802944

[2019-05-29 16:27] robdodson commented on #941
Hey @TomWsl I was able to get a response just now:
![image](https://user-images.githubusercontent.com/1066253/58574068-fe993400-81f3-11e9-8a53-30c76450ea39.png)

Going to close this issue but let me know if you still have problems.

[2019-05-29 16:27] #941 closed

[2019-05-29 23:31] robdodson opened #948 "Update README"
This is a test issue to try out GitHub automation.

[2019-05-30 06:04] addyosmani commented on #831
@robdodson where is the best home for this content? A new video section? /fast? Elsewhere?

[2019-05-30 17:26] carolrivero opened #951 "Write an article on cookies"
blah

[2019-05-30 17:28] #951 closed

[2019-05-31 00:49] robdodson commented on #79
Gonna close this because we replaced the show live button with instructions on how to use glitch's own show live button.

[2019-05-31 00:49] #79 closed

[2019-05-31 00:49] robdodson commented on #430
Should be fixed in v1

[2019-05-31 00:49] #430 closed

[2019-05-31 00:50] robdodson commented on #533
Going to close this as stale.

[2019-05-31 00:50] #533 closed

[2019-05-31 00:51] robdodson commented on #543
Fixed https://web.dev/learn#lighthouse

[2019-05-31 00:51] #543 closed

[2019-05-31 00:54] robdodson commented on #553
Going to close this for now. We link to the full report which does show failing nodes. Instead of duplicating that functionality we've been discussing integrating the full report more directly with the measure page itself.

[2019-05-31 00:54] #553 closed

[2019-05-31 00:55] robdodson commented on #518
Going to close this specific issue. Our Getting Started page types should cover this when we build them.

[2019-05-31 00:55] #518 closed

[2019-05-31 00:56] robdodson commented on #589
Fixed by switching to eleventy :D

[2019-05-31 00:56] #589 closed

[2019-05-31 00:57] robdodson commented on #404
I'd like to add this to our next milestone. We should be able to disable the devsite footer on these codelab pages.

[2019-05-31 01:00] robdodson commented on #459
I'm going to close this because it's pretty low priority and no one has asked for this functionality.

[2019-05-31 01:00] #459 closed

[2019-05-31 01:01] robdodson commented on #560
On hold until we move off of devsite.

[2019-05-31 01:03] robdodson commented on #575
Updated issue description.

We need a better pipeline for uploading and sizing images.

[2019-05-31 01:03] #846 closed

[2019-05-31 01:03] #873 closed

[2019-05-31 01:04] robdodson commented on #562
I think this is on hold until we move off of devsite.

[2019-05-31 01:09] robdodson opened #953 "FABs take up too much space on mobile."
View an article on a mobile device. The FABs take up a lot of room and really distract from the reading experience. Wondering if we should just get rid of them on mobile or make them fixed at the bottom?

Moving to an internal tracking tool

[2019-05-31 01:46] addyosmani opened #954 "[Long Tasks] Address new reviewer feedback"
I received some new feedback from Phil via docs. Will PR some updates on Friday.

[2019-05-31 08:59] roryj-degould commented on #941
Hi @robdodson I notice that the URL you checked is the http version, where the url @TomWsl is having issues with is https. I'm having a similar issue with my site: the http version works, but is essentially testing my IIS not found page because I only run the site at https, while the https version returns this Backend Error with a 400 response.

[2019-05-31 10:00] robdodson commented on #831
I think I'd prefer a media section that focuses on video and audio. This is
mostly to keep /fast from ballooning.

On Wed, May 29, 2019, 11:04 PM Addy Osmani <notifications@github.com> wrote:

[2019-05-31 14:58] jpmedley commented on #953
What is a FAB?

[2019-05-31 15:04] robdodson commented on #731
@addyosmani do I get this for free now? didn't google fonts add it to their stylesheet?

[2019-05-31 15:06] addyosmani commented on #731
You get this for free now :) https://addyosmani.com/blog/google-fonts-font-display/

[2019-05-31 16:01] robdodson commented on #731
ah ok cool so we should add the display param to our fonts. I need to check if we are allowed to do that with the current infra.

[2019-05-31 16:04] robdodson commented on #725
We are able to put posts into the _drafts folder for now and it essentially works but I'd love eleventy to provide a better solution. Going to close for now.

[2019-05-31 16:05] Meggin commented on #758
Fixed, so closing: https://web.dev/tap-targets

[2019-05-31 16:05] #758 closed

[2019-05-31 16:06] Meggin commented on #700
Fixed, so closing: https://web.dev/lighthouse-seo.

[2019-05-31 16:06] #700 closed

[2019-05-31 16:06] Meggin commented on #699
Fixed, so closing: https://web.dev/lighthouse-best-practices.

[2019-05-31 16:06] #699 closed

[2019-05-31 16:07] Meggin commented on #698
Fixed, so closing: https://web.dev/lighthouse-accessibility.

[2019-05-31 16:07] #698 closed

[2019-05-31 16:07] Meggin commented on #697
Fixed, so closing: https://web.dev/lighthouse-pwa.

[2019-05-31 16:07] #697 closed

[2019-05-31 16:10] Meggin commented on #691
Fixed, so closing: https://web.dev/lighthouse-accessibility#aria.

[2019-05-31 16:10] #691 closed

[2019-05-31 16:17] Meggin commented on #690
@robdodson - I would suggest we close this, as the 'Smooth' category is a big one. It would make sense to have issues per area, for example, an issue for docs in intrinsic layout, docs on animations, etc.

[2019-05-31 16:53] robdodson commented on #623
Fixed in the latest version. We now have language directories, but only `en/` so far.

There are places where we still hardcode the `en/` path like in our layouts
https://github.com/GoogleChrome/web.dev/blob/master/src/site/_includes/post.njk#L3

It was easier to do this for now versus using eleventy variable substitution but we can revisit this when we start working on multi language support.

[2019-05-31 16:53] #623 closed

[2019-05-31 16:54] robdodson opened #956 "Add FAQ to measure page."
We have the designs, just need to do the work :)

[2019-05-31 16:54] robdodson commented on #490
We explain this in the new version but we also have designs for a fuller FAQ tracked in #956

[2019-05-31 16:54] #490 closed

[2019-05-31 16:56] robdodson commented on #355
Tracked in #709

[2019-05-31 16:56] #355 closed

[2019-05-31 16:59] Meggin commented on #687
@kosamari - cleaning up issues a bit.

Do you have the bandwidth to work on Security docs?

[2019-05-31 22:57] Meggin commented on #635
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 22:57] #635 closed

[2019-05-31 22:57] Meggin commented on #636
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 22:57] #636 closed

[2019-05-31 23:00] Meggin commented on #633
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:00] #633 closed

[2019-05-31 23:02] Meggin commented on #650
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:02] #650 closed

[2019-05-31 23:02] Meggin commented on #643
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:02] #643 closed

[2019-05-31 23:03] robdodson commented on #953
a material design floating action button
https://material.io/design/components/buttons-floating-action-button.html

[2019-05-31 23:04] Meggin commented on #644
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:04] #644 closed

[2019-05-31 23:04] Meggin commented on #645
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:04] #645 closed

[2019-05-31 23:05] robdodson commented on #690
yep. happy to close and we can create issues for individual guides when we've scoped out the section.

[2019-05-31 23:05] #690 closed

[2019-05-31 23:06] Meggin commented on #648
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:06] #648 closed

[2019-05-31 23:08] Meggin commented on #647
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs. I was tempted to keep this one open, as you've got plans! But I think it might make sense to create a new issue and start afre

[2019-05-31 23:08] #647 closed

[2019-05-31 23:12] Meggin commented on #646
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:12] #646 closed

[2019-05-31 23:13] Meggin commented on #642
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:13] #642 closed

[2019-05-31 23:15] Meggin commented on #641
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:15] #641 closed

[2019-05-31 23:16] Meggin commented on #640
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:16] #640 closed

[2019-05-31 23:16] Meggin commented on #639
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:16] #639 closed

[2019-05-31 23:17] Meggin commented on #638
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:17] #638 closed

[2019-05-31 23:18] Meggin commented on #637
@samdutton and @rowan-m - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:18] #637 closed

[2019-05-31 23:18] robdodson commented on #941
good point. I just checked his https version and it seems to be working as well.
![image](https://user-images.githubusercontent.com/1066253/58739552-b890cb80-83bf-11e9-9d36-497db579fb2a.png)

@roryj-degould do you have a URL you could share so I could test your site? Very possible that there's something going on with our service that we haven't diagnosed yet.

[2019-05-31 23:19] Meggin commented on #649
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:19] #649 closed

[2019-05-31 23:20] Meggin commented on #651
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:20] #651 closed

[2019-05-31 23:21] Meggin commented on #652
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:21] #652 closed

[2019-05-31 23:21] Meggin commented on #653
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:21] #653 closed

[2019-05-31 23:27] Meggin commented on #664
@samdutton - I'm keeping this one open, as Martin's guides are in later stages of review and could land soon. Changing labels though.

[2019-05-31 23:28] Meggin commented on #654
@samdutton - keeping this one open, as we may be able to deliver at least some of the form content in a blog.

[2019-05-31 23:28] Meggin commented on #655
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:28] #655 closed

[2019-05-31 23:30] Meggin commented on #656
@samdutton and @agektmr - do we still want to try and land payment content? Is there a need to re-think post-IO? Keeping the issue open to get a feeling for what you want to do. Changing labels though.

[2019-05-31 23:31] Meggin commented on #663
@samdutton - I'm changing the labels on all doc issues. I'm also closing most of the e-commerce issues that were part of v1 launch with the hope of hitting the reset button. Feel free to re-open this issue if you want to keep it up as a content request for e-commerce docs.

[2019-05-31 23:31] #663 closed

[2019-05-31 23:32] Meggin commented on #657
@samdutton - keeping this one open, as Kate is still working on it. Changing labels.

[2019-05-31 23:48] robdodson opened #958 "Extra padding on mastheads on mobile."
![image](https://user-images.githubusercontent.com/1066253/58740182-c8121380-83c3-11e9-8842-487a0c862964.png)

It looks like this is maybe coming from some new devsite CSS as it doesn't appear in our local CSS.

[2019-06-01 00:09] 38elements opened #959 "A link of RSS does not work"
A link of RSS is like this.
https://web.dev/en/what-should-you-measure-to-improve-performance
This displays 404.

This works.
https://web.dev/what-should-you-measure-to-improve-performance

[2019-06-01 00:19] Meggin commented on #684
@housseindjirdeh - do we want to close this issue, and create new ones for each framework? Leaving it open until we decide next steps. Changing labels though, just post-Google IO.

[2019-06-01 00:19] Meggin commented on #682
Changing labels post-Google IO. Keeping it open though, as I presume we still want this content.

[2019-06-01 00:20] Meggin commented on #681
Changing labels post-Google IO. Keeping it open though, as I presume we still want this content.

[2019-06-01 00:21] Meggin commented on #672
Changing labels post-Google IO. Keeping it open though, as I presume we still want this content.

[2019-06-01 00:27] Meggin commented on #669
Changing labels post-Google IO. Keeping it open though, as I presume we still want this content.

[2019-06-01 00:28] robdodson commented on #959
ah good catch. I'll get this fixed when I'm back in the office.

[2019-06-01 00:29] Meggin commented on #668
Fixed so closing.

[2019-06-01 00:29] #668 closed

[2019-06-01 00:34] Meggin commented on #683
This doc is in late stages of pull request review: https://github.com/GoogleChrome/web.dev/pull/916

[2019-06-01 00:36] Meggin commented on #667
Changing labels post-Google IO. Keeping it open though, as I presume we still want this content.

[2019-06-01 00:38] Meggin commented on #659
@samdutton - can we close this one? I know Kate has two notification guides in the work-- but not sure about this one.

[2019-06-01 00:39] Meggin commented on #658
@samdutton - not sure if this is one of Kate's notification guides. If it's covered in a different issue, we may want to close this.

[2019-06-01 00:40] Meggin commented on #662
Keeping this one open, as Martin has a draft in review. Just updating labels.

[2019-06-01 00:41] #954 closed

[2019-06-01 00:43] Meggin commented on #661
Fixed! https://web.dev/what-should-you-measure-to-improve-performance/

[2019-06-01 00:43] #661 closed

[2019-06-01 00:43] Meggin commented on #660
@samdutton - is this one of Kate's guides that we hope to still land? Keeping open for now.

[2019-06-03 08:59] roeniss opened #961 "push notification permission prompt's text limit"
Hi, my name is Roeniss Moon and I am not familiar with github yet. So if this issue is not appropriate please let me know. Thank you.

---

# Version
Chrome: 74.0.3729.169(official build) (64 bit)
MacBook Pro: Retina, 13-inch, Early 2015
Country: South Korea
Found at: today

## Problem that I saw
![image](https://user-images.githubusercontent.com/26613280/58788901-d7919680-8627-11e9-9faf-b9c8e9097

[2019-06-03 09:21] samdutton commented on #660
@Meggin Yup — this is one of Kate's.

[2019-06-03 09:22] samdutton commented on #658
@Meggin Yes: this is also one of Kate's.

[2019-06-03 09:25] samdutton commented on #659
@Meggin I think we should keep this open. Draft is completed and LGTM. Need a PR for the content.

[2019-06-03 09:42] samdutton commented on #663
@Meggin Yes — this can be closed. This guide was landed as part of #886.

[2019-06-03 09:51] samdutton commented on #656
Would be great to get e-commerce payment content of some kind.

@agektmr — is this something you can take on at the moment?

[2019-06-03 09:54] samdutton commented on #654
@Meggin Sure — I'll look at this again this week.

[2019-06-03 09:55] samdutton commented on #664
@Meggin Landed in #886. Close if you want.

[2019-06-03 10:21] agektmr commented on #656
Unfortunately, I don't think enough bandwidth to work on this anytime soon.

[2019-06-03 19:26] robdodson commented on #961
Hey @roeniss this sounds like it might be a bug in Chrome? I'd suggest filing it in the Chrome bug tracker at http://crbug.com.

[2019-06-03 19:26] #961 closed

[2019-06-03 20:19] robdodson opened #964 "Glitch embed needs new instructions."
Glitch revved the UI for embeds so our instructions are a little incorrect now.

They should say something like, "To preview the app, press the 'view app' button, then shift-click the fullscreen button to the right."

[2019-06-03 21:07] wardpeet opened #965 "Modern builds - esmodules is not really "modern" anymore"
The codelab: ["Serve modern code to modern browsers for faster page loads"](https://web.dev/codelab-serve-modern-code) isn't up to date anymore. We should think about how we want to keep advocating this.

The last week I've been on a witch hunt on why async-await got transpiled to generators when using @babel/preset-env which wasn't being transpiled in the codelab. Compat tables get updated and ne

[2019-06-03 21:31] developit commented on #965
/cc @kristoferbaxter

[2019-06-03 23:22] robdodson commented on #739
Going to close this as somewhat out of our control (I think we use the fonts devsite gives us). This is something we should tackle when we migrate in the future.

[2019-06-03 23:22] #739 closed

[2019-06-03 23:22] robdodson commented on #753
fixed in v1

[2019-06-03 23:22] #753 closed

[2019-06-03 23:24] robdodson commented on #598
Going to close this as having been improved a lot. There are some slight quirks in the top nav still, but we're going to migrate off of that component in the near future.

Adding a label so we remember to circle back to this issue during the migration.

[2019-06-03 23:24] #598 closed

[2019-06-03 23:25] robdodson commented on #742
Too low of a priority to tackle.

[2019-06-03 23:25] #742 closed

[2019-06-03 23:25] robdodson commented on #750
Low priority so going to close. If we do another big round of CSS we can do this.

[2019-06-03 23:25] #750 closed

[2019-06-03 23:25] robdodson commented on #772
Looks fixed in latest.

[2019-06-03 23:25] #772 closed

[2019-06-03 23:26] robdodson commented on #754
Closing because I don't know wtf i meant with this issue :P

[2019-06-03 23:26] #754 closed

[2019-06-03 23:28] robdodson commented on #776
Seems like folks have kind of figured this out on their own just adding a little piece of italicized text. Going to close unless someone wants something fancier.

[2019-06-03 23:28] #776 closed

[2019-06-03 23:33] robdodson commented on #689
Going to close this because it seems like we have a good model of applying the 6 principles to different frameworks. Houssein pioneered this with React and we'll be doing it again with Angular and Vue soon.

[2019-06-03 23:33] #689 closed

[2019-06-03 23:35] robdodson commented on #803
Fixed

[2019-06-03 23:35] #803 closed

[2019-06-03 23:37] robdodson commented on #795
Soooo we did this. But the bottom breadcrumbs remain a point of discussion. Going to close this issue because we're already working on the breadcrumb stuff with Chrome UX folks.

[2019-06-03 23:37] #795 closed

[2019-06-03 23:41] robdodson commented on #809
Going to close this. We'll have to tackle this as part of our larger work on translations but tracking this random issue doesn't help much.

[2019-06-03 23:41] #809 closed

[2019-06-03 23:41] robdodson commented on #810
Did this in v1 with 11tydata files.

[2019-06-03 23:41] #810 closed

[2019-06-03 23:58] robdodson commented on #818
Going to close this as too low of a priority to work on right now.

[2019-06-03 23:58] #818 closed

[2019-06-03 23:59] robdodson commented on #819
Going to close this as too low of a priority to work on right now.

[2019-06-03 23:59] #819 closed

[2019-06-04 00:00] robdodson commented on #821
Going to track this in #575

[2019-06-04 00:00] #821 closed

[2019-06-04 00:01] robdodson commented on #575
Some nice features would be:

- Convert images to webp and serve to supporting browsers.
- Resize images so they're max 800px if they're content and 1600px if they're a hero.
- Automatic srcset (this seems like it could be tricky but I'm not sure how hard it is).

[2019-06-04 00:04] robdodson commented on #788
Fixed but we need to enable the subscribe button again.

[2019-06-04 00:04] #788 closed

[2019-06-04 00:11] robdodson commented on #827
Seems fixed

[2019-06-04 00:11] #827 closed

[2019-06-04 00:13] robdodson commented on #759
We launched soooooo closing this.

[2019-06-04 00:13] #759 closed

[2019-06-04 00:15] robdodson commented on #832
Going to close this as not specific enough. I checked a code example and it seemed mostly fine?

[2019-06-04 00:15] #832 closed

[2019-06-04 00:17] robdodson commented on #834
Looks like all pages have a meta noindex so we should be good I think.

[2019-06-04 00:17] #834 closed

[2019-06-04 00:17] robdodson commented on #837
Going to close this for now. Commented in the PR.

[2019-06-04 00:17] #837 closed

[2019-06-04 00:22] robdodson commented on #836
Going to close this issue for now. It's on our roadmap to do translation. Still working through the details.

[2019-06-04 00:24] robdodson commented on #869
I think I'm going to close this unless there's any follow up? We use the same text as what Lighthouse displays, so if we change it we should change it in Lighthouse as well.

[2019-06-04 00:24] #869 closed

[2019-06-04 00:27] robdodson commented on #885
These now follow the same severity levels that deque uses in axe. PR explanation here: https://github.com/GoogleChrome/lighthouse/pull/8823

[2019-06-04 00:28] robdodson commented on #907
Dupe of #575

[2019-06-04 00:28] #907 closed

[2019-06-04 00:30] robdodson commented on #899
I thought I fixed this but noticed it's now adding an extra slash after the web.dev/ :P

[2019-06-04 00:32] robdodson commented on #909
@uskay is this something you might be able to add?

[2019-06-04 00:34] robdodson commented on #748
Going to close this until we're unblocked.

[2019-06-04 00:37] #948 closed

[2019-06-04 00:40] robdodson commented on #404
This'll be fixed when we do #807 in the upcoming sprint.

[2019-06-04 00:40] #404 closed

[2019-06-04 00:40] uskay commented on #909
Yes I should be able to do that. Thank you for the heads up. I'll work on it as soon as I get a chance.

[2019-06-04 04:56] mayeedwin commented on #899
: ( 😎

[2019-06-04 12:59] demianrenzulli opened #1039 "Metrics: For each performance metric, indicate which opportunities/diagnostics are most related"
**Feature request summary**

Currently there's no way of knowing which performance suggestion, under "Opportunities" or "Diagnostics" is related to which metric(s) in the Lighthouse report.

Some optimizations might not impact a single metric alone, but are definitely more related to one metric, than others. For example: [Eliminate Render blocking resources](https://developers.google.com/web/tools

[2019-06-04 14:18] fernandeshenrique15 opened #968 "Your tester is being engaged"
Hello, there is a way to circumvent this tester that is being used in bad faith by a competitor of our company. They are analyzing when the test is coming from you and submitting another site in place of the original site, generating great but false ratings. We kindly ask you to review how the approach is being done so that other companies will not do this anymore, because it is disloyal to us tha

[2019-06-04 14:19] petele commented on #900
The current working draft of the [spec](https://www.w3.org/TR/appmanifest/#media-type-registration) only calls out the extension (`.webmanifest`). As far as I know, all browsers will support any file extension, and changing that behaviour now would break a number of sites.

Unfortunately I don't have any data about what extension is used the most, but will see if I can find anything.

It can't hur

[2019-06-04 14:33] mayeedwin commented on #900
Awesome. It doesn't break anything, true. The new extension name is more semantic. When I was exploring PWAs on Windows platform sometime back, uhm, `.webmanifest` extension worked out but `.json' failed. Gladly the new Chromium Edge, understands this.

[2019-06-04 18:49] #959 closed

[2019-06-04 18:54] robdodson commented on #968
Hi @fernandeshenrique15 I'm not sure I understand the issue.

Are you saying that when someone runs [our measure tool](https://web.dev/measure) against imob.ingaia.com.br that they redirect it to analyze spinimoveis.com?

I ran our measure tool against imob.ingaia.com.br and it seemed to return results that were only for that site.

It's important to mention that our site, web.dev, and our measure

[2019-06-04 18:54] #968 closed

[2019-06-04 18:58] #899 closed

[2019-06-04 19:37] robdodson commented on #719
We'll go with something like this:

![image](https://user-images.githubusercontent.com/1066253/58908461-7ddfa980-86c5-11e9-98d8-d3875783f037.png)

[2019-06-04 19:45] robdodson commented on #826
Going to close this for now as blocked by migration. We can look into this again when we move.

[2019-06-04 19:45] robdodson commented on #909
rad thank you!

[2019-06-04 20:54] fernandeshenrique15 commented on #968
Hi, when you test the site spinimoveis.com, the system of the site analyzes the user agents and open a site with simple HTML so that there is a great note, this information of 100% of performance is sold on the site https: // imob. ingaia.com.br/ as a resource. In the native browser tool you can test and view more real information about the site, check out these images:

Oi, quando você testa o si

[2019-06-04 21:28] argyleink commented on #719
can i recommend/request putting a count in that button? takes some ambiguity out of the interaction, plus it's a finite known value, and i like letting the user know these things.

[2019-06-04 22:58] robdodson commented on #719
a count of remaining posts to be loaded?

[2019-06-04 23:23] robdodson commented on #968
One of the items on my todo list this quarter is to add a clear FAQ to the measure tool that explains that the score does not directly affect your search ranking.

Aside from that I don't know if there's anything we can do on a technical level to prevent them from UA sniffing our bot. Really sorry, I know that's super frustrating :(

If I think of anything I'll update this ticket.

[2019-06-05 00:39] robdodson opened #969 "Make links in the todo list more noticeable."
Blue links on the right hand side of the todo list don't seem noticeable to folks I observed at the I/O sandbox. A simple improvement will be to just underline them.

![image](https://user-images.githubusercontent.com/1066253/58922437-ae3c3d80-86ef-11e9-979d-5e78273d959d.png)

[2019-06-05 00:41] robdodson opened #970 "Create multi-step codelabs."
Sometimes we refer to these as "Getting started" codelabs.

We have designs for this, but we'll need to implement them. This will be a big chunk of engineering work.

[2019-06-05 00:45] robdodson commented on #899
should be fixed now :)

[2019-06-05 00:51] robdodson opened #971 "Improve our app engine setup."
There's a lot we can clean up here. This is a lot of work and we can expand this issue into subtasks as we make progress.

[2019-06-05 00:51] #560 closed

[2019-06-05 00:51] #562 closed

[2019-06-05 00:53] robdodson opened #972 "Let authors specify which file a Glitch starts on."
I believe our custom element already supports this using an attribute called `path`. We just need to hook everything up with eleventy.

[2019-06-05 00:56] robdodson opened #973 "Add sign posts so users knows when a post is part of a collection."
We have designs for this, just need to implement it.

[2019-06-05 00:57] robdodson opened #974 "Enable tags UI."
Clicking a tag should take you to a filtered version of the blog landing page that only shows posts with that tag.

[2019-06-05 01:01] robdodson opened #975 "Angular learning path"
Similar to web.dev/react. Let's create a learning path for Angular that follows the six principles.

I believe this is already in progress but creating this issue so we can track it on our project board.

[2019-06-05 01:02] robdodson opened #976 "Vue learning path."
Similar to web.dev/react. Let's create a learning path for Vue that follows the six principles.

[2019-06-05 01:13] robdodson commented on #684
Let's close this and create tickets for each framework.

Vue: https://github.com/GoogleChrome/web.dev/issues/976
Angular: https://github.com/GoogleChrome/web.dev/issues/975

[2019-06-05 01:13] #684 closed

[2019-06-05 21:38] #938 closed

[2019-06-05 23:48] #664 closed

[2019-06-06 15:27] jeffposnick opened #982 ""Bringing service workers to Google Search" case study"
**Describe the article you'd like to see**

I have a case study that's already gone through the proper internal approval channels talking about the use of service workers in the Google Search web app (i.e. for users who visit https://www.google.com/; this isn't a post about indexing).

After discussing with @harleenkbatra08, we're planning on posting this as a blog entry.

---

If you plan to writ

[2019-06-06 16:20] carolrivero commented on #982
+"Content" Project

Thanks for the heads up, Jeffy.

A few followup questions:
- Do you have a target review + publish date?
- To help us prioritize, does the blog have dependencies (eg, marketing promo, etc)? If so, what are the dependencies?

[2019-06-06 16:57] jeffposnick commented on #982
We're done with internal reviews at this point, but I was working with @harleenkbatra08 on the final images to use prior to publication. So the dates are dependent on that.

@harleenkbatra08 might be able to shed some light on the marketing side of things.

[2019-06-06 23:07] #817 closed

[2019-06-07 14:53] Malvoz opened #986 "[question] Scope of measurements?"
Hello, awesome folks!

I've spent most of my time as a hobby developer understanding and (mainly privately) documenting best practices related to accessibility, compatibility, performance, privacy/security etc.

I'm a frequent contributor and a follower of a wide spread of organizations on github, and seeing that there are quite a few organizations doing overlapping work related to web app configu

[2019-06-07 16:47] robdodson opened #988 "Update HTTPS guidance."
**Describe the article you'd like to see**
This doc: https://developers.google.com/web/fundamentals/security/encrypt-in-transit/enable-https is a go-to for setting up HTTPS. We should also think about if we can update it to include things like ACME.

---

If you plan to write the article yourself be sure to read through [our wiki](https://github.com/googlechrome/web.dev/wiki) which explains how to

[2019-06-07 17:02] robdodson commented on #986
Good questions. I'm going to transfer this over to the Lighthouse repo because under the hood we're using Lighthouse as a service, so they'd be the ones to decide on new audits.

[2019-06-10 19:25] robdodson opened #993 "Layout instability API"
**Describe the article you'd like to see**
The Layout instability API that's currently in the WICG.

---

If you plan to write the article yourself be sure to read through [our wiki](https://github.com/googlechrome/web.dev/wiki) which explains how to add a new post to the site.

[2019-06-11 07:30] agektmr opened #994 "[Blog post] Updates to the Web Payments APIs"
Updates to the Web Payments APIs.
This post will continue to be updated as new features become available in Web Payments implementation.

[2019-06-11 14:06] AVGP opened #997 "Web Components and SEO"
I'd love to write an article on what the new Googlebot means for web developers working with Web Components and what our best practices and guidelines for web components look like from an SEO perspective.

This is intended to address the questions coming from the web developer and SEO communities on this topic since we announced the new Googlebot at I/O

I'd be happy to write that article, btw :)

[2019-06-11 17:16] carolrivero commented on #997
Martin,
Please provide an estimated publish date. Thanks.

[2019-06-11 20:45] #993 closed

[2019-06-11 20:55] robdodson opened #998 "H4 styles look like links."
**Describe the bug**
Our h4 styles look too much link links. This can make it confusing when you're scanning a post.

**Screenshots**

h4 example:
![image](https://user-images.githubusercontent.com/1066253/59306138-7f264e80-8c50-11e9-8622-60149a6521b9.png)

link example:
![image](https://user-images.githubusercontent.com/1066253/59306175-92d1b500-8c50-11e9-8880-7e7136d846ab.png)

[2019-06-12 05:26] AVGP commented on #997
@carolrivero I'd aim for June 28th - does that sound good?

[2019-06-12 15:06] addyosmani opened #1000 "Stale While Revalidate article [web.dev/blog]"
**A one to two sentence description of your post**

Stale-while-revalidate (SWR) is used by the Cache-Control header. It defines an extra window of time during which a cache can use a stale asset while it revalidates it asynchronously. This improves subsequent page load latencies as stale assets are non longer in the critical path.

We would like to author an article on SWR as it's shipping in Chr

[2019-06-12 21:02] jpmedley commented on #998
Also, headings aren't typically in smaller type than the content they introduce.

[2019-06-12 23:10] carolrivero commented on #997
Yes, Thanks, Martin. Adding this to the Content project board to queue it up.

[2019-06-13 17:30] khempenius opened #1004 "Image lazy loading: Lazysizes is not using"
It was reported that LazySizes is not using Intersection Observer.

Relevant web.dev content: https://web.dev/use-lazysizes-to-lazyload-images/

Context: https://twitter.com/serulux/status/1139163944311017473

[2019-06-13 18:19] #994 closed

[2019-06-13 18:34] #964 closed

[2019-06-13 21:07] arthurevans opened #1005 "Blog post for I/O19 web components lightning talk"
**Describe the article you'd like to see**
Provides overview of latest news about web components.

**Publish date**
7/20/2019, hard deadline.

[2019-06-13 21:49] robdodson commented on #1005
@arthurevans I'm temporarily assigning this to you. Would you mind reassigning it once you have a new owner? Everyone on web devrel should be part of this project. If they're not part of the team then you can just assign it back to me.

[2019-06-14 21:01] robdodson commented on #1000
Hey @addyosmani do y'all have a tentative date when you'd like this article to go live?

[2019-06-14 21:04] jeffposnick commented on #1000
I'm working on the draft now. It should be ready for review next week, tentatively?

[2019-06-14 21:26] addyosmani commented on #1000
I think that if we can publish within the next two to three weeks that would be ideal. Having a draft that we can take a look at next week sounds great. Thank you, Jeff!

[2019-06-17 04:48] robdodson opened #1009 "Layout instability on mobile Safari"
**Describe the bug**
Blog posts seem to have a horizontal shift on iOS Safari when the page loads.

This doesn't seem to occur on Chrome and Android (at least not that I've seen). Possibly related to loading the cookie banner?

**To Reproduce**
Steps to reproduce the behavior:
1. Using Mobile Safari, go to https://web.dev/layout-instability-api/

**Expected behavior**
The page loads like normal.

[2019-06-17 19:05] jeffposnick commented on #1000
There's a draft of this post available for review at https://docs.google.com/document/d/1f55OIGCqevtWpuL04RuIGGlv981Ew5AVa0A_6Tdd33Q/edit (requires an `@google.com` Google Docs account).

[2019-06-18 00:36] #1005 closed

[2019-06-18 13:52] tomayac opened #1012 "Feed link appears at wrong position in the DOM and isn't announced on the site"
Two feed-related issues:

1. On the [home](https://web.dev/), the [feed link](https://web.dev/feed.xml) appears at
`#gc-wrapper > div > devsite-content > article > article > div > link`, which is clearly off.
[code]
  ![Screen Shot 2019-06-18 at 15 44 37](https://user-images.githubusercontent.com/145676/59689472-fecb9480-91df-11e9-8ea9-ed7c0cb672dd.png)

2. It also seems like the link is nowhere v

[2019-06-18 16:47] demianrenzulli opened #1013 "content: Optimize CSS Background Images with Media Queries"
**A one to two sentence description of your post**
- **Guide:** How to apply CSS media queries to request a background image for the user's device.
- **Codelab:** Using Webpack’s media query plugin, to extract each media query definition to its own CSS file. Loading the resulting CSS files with HTML media attribute and dynamic imports.

**Target publish date:** 2019-08-xx
- [ ] Check this box if t

[2019-06-18 17:06] demianrenzulli opened #1014 "content: Use Prefetching for faster navigations"
**Author**: @demianrenzulli
**Reviewer**: @mihajlija

**Target publish date:** <2019-09-XX>
- [x] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [X] 1. I've done my proposal - [link](https://docs.google.com/document/d/1HMhSWAmCoEvfMGC3R6KBsmWOpZqdxRw8NyLzduGZH_o/edit?usp=sharing)
- [x] 2. Pr

[2019-06-18 19:20] robdodson commented on #1012
This is a limitation of devsite unfortunately. We're planning to move off as soon as we can.

Yeah we could probably add a link at the bottom. My hunch was most folks tend to use feed readers these days and search by site/url (as opposed to manually copy/pasting xml links into their readers). But I'm not a heavy RSS user so maybe folks would prefer to have the direct link?

[2019-06-18 19:21] robdodson commented on #1012
Specifically, we can't add anything to `<head>`. Our site gets kind of injected into the middle of their page template. It is a very suboptimal setup.

[2019-06-18 19:33] #609 closed

[2019-06-19 07:13] tomayac commented on #1012
Got it, consider this one closed then (and hopefully once we migrate off devsite it should fix itself).

I think especially given the current move back to blogs and blog like pages it's a nice gesture to our (future) readers…

[2019-06-19 11:45] mathiasbynens opened #1018 "Recommend specific dimensions (or at least a specific aspect ratio) for author images"
This is about [the author images](https://github.com/GoogleChrome/web.dev/tree/master/src/site/content/en/images/authors). The relevant section on the wiki is <https://github.com/GoogleChrome/web.dev/wiki/How-to-write-a-post#create-a-new-post>. It doesn’t mention any aspect ratio or dimensions.

For v8.dev for example, all our avatar images are 1:1 JPEGs of 192×192px for the @2x version and 96×96p

[2019-06-19 21:09] robdodson opened #1020 "Clarify `<a>` vs `<button>` language in"
**Describe the bug**
See #1017

https://web.dev/use-semantic-html
The text in this article is a little unclear when to use an anchor or a button. We mention adding new content to the page is allowed if you're using an anchor, but we should be more specific and say if you're using an anchor to navigate within a SPA and you use routing to update the URL then you should use an anchor.

[2019-06-20 09:33] macsual opened #1023 "Typo under Accessibility audits > focus-traps, aria-allowed-attr pages"
The word "element" is misspelt as "elememnt" in the pages:

- https://web.dev/aria-allowed-attr/
- https://web.dev/focus-traps/

See the corresponding permalinks to the git hash of the sources with the typo below:

- https://github.com/GoogleChrome/web.dev/blame/5a44b25c116a57ad4765c071da8593f495f663a8/src/site/content/en/lighthouse-accessibility/aria-allowed-attr/index.md#L38
- https://github.com

[2019-06-20 15:21] #1023 closed

[2019-06-20 15:22] #982 closed

[2019-06-20 15:27] addyosmani commented on #1014
Thanks for filing this after our discussion @demianrenzulli. I was thinking there are at least two codelabs in here:

* How to take advantage of `<link rel=prefetch>` (just the tag) to add prefetching to a multi-page site. Something easily applicable regardless of your tech stack.
* How to add prefetching to a simple SPA using Webpack's magic comments ( `import(/* webpackPrefetch: true */ "...")`)

[2019-06-20 15:29] addyosmani commented on #1004
This is correct. My understanding is you have to use https://github.com/aFarkas/lazysizes/blob/gh-pages/src/lazysizes-intersection.js for IO support

[2019-06-20 15:35] demianrenzulli commented on #1014
Thanks, @addyosmani!  That makes sense.

From your comment seems like the template would be similar to [this other guide](https://web.dev/preload-critical-assets/) around link="preload", including a general introduction, plus two codelabs to cover each case.

Regarding the site to use as demo, my idea was having something with a feed, that could be either an e-commerce or a news site (to achieve s

[2019-06-20 18:46] wolfadex opened #1026 "Elm learning path"
Similar to web.dev/react. Let's create a learning path for Elm that follows the six principles.

[2019-06-20 20:12] robdodson commented on #1018
Assigning to @mfriesenhahn to include in our upcoming handbook.

I think using the same dimensions you mention above might be good, especially if we decide to make our author images a tad bigger in the future (something i've considered in the past).

It would also mean we could (in theory) share author images between v8.dev and web.dev maybe? At least it would be easy for folks on our teams to jus

[2019-06-20 20:23] robdodson commented on #1000
OK I'm going to see if @mfriesenhahn has cycles to take a look. We have a lot of docs in the queue at the moment so I'm not sure what our ETA will be but I'll update y'all when I know more.

[2019-06-21 06:14] serulux commented on #1004
Hi Addy,

I recently asked the library's author about the use of IO and yes, the answer is that you need to user that version (see thread: https://github.com/aFarkas/lazysizes/issues/263#issuecomment-501632534).

There are quite a few Google's pages where is said that Lazysizes uses IO, without clarifying that is not part of the main file,. I think that can be confusing.

Thanks.

[2019-06-21 14:37] dougsillars commented on #831
Rob - How can I start building this for the site?  Is there a style guide, etc?

[2019-06-21 16:32] robdodson commented on #831
Let me check with some folks. We should have a style guide ready next week but we haven't quite worked out our external contribution model yet. I'll report back when I know a bit more.

[2019-06-24 15:36] mfriesenhahn commented on #1018
Added to the handbook.

[2019-06-24 16:57] #1018 closed

[2019-06-24 19:20] mathiasbynens commented on #1018
Where is the handbook?

Can https://github.com/GoogleChrome/web.dev/wiki/How-to-write-a-post#create-a-new-post be updated as well?

Once I'm 100% clear on how you're moving forward, I'll happily submit a PR to crop + optimize the existing images.

[2019-06-24 19:45] mfriesenhahn commented on #1018
It should be published in the next couple days. (It'll replace the whole wiki.) And that sounds awesome!

[2019-06-25 06:07] jonathanhuihaolaw opened #1034 "Typo at https://web.dev/mainthread-work-breakdown"
Section at this [page](https://web.dev/mainthread-work-breakdown)

### How to improve execution timings on the main thread
[code]

[2019-06-25 17:38] robdodson opened #1035 "Enable blog post syndication."
**Is your feature request related to a problem? Please describe.**
Sometimes folks on our team publish on other platforms (Medium, personal blogs, etc). It would be great if we could syndicate those posts to web.dev so folks subscribed to our RSS feed see that content.

**Describe the solution you'd like**
Someone should be able to add a link[rel=canonical] tag to a blog post so they can syndicate

[2019-06-25 18:07] robdodson opened #1036 "Show updates dates on post"
**Is your feature request related to a problem? Please describe.**
When a post is updated we should signal that to the user. Currently there's a field at the bottom of the post that mentions when the post was updated but it's only using the created date.

**Describe the solution you'd like**
We should add a YAML field to track when a post is updated. Ideally this could be auto-populated by a bot b

[2019-06-25 21:28] paulirish commented on #1039
moved to web.dev and retitled.

[2019-06-26 13:57] Gerg95 opened #1044 "Not working jumplinks"
Jumplinks appear on https://web.dev/fast when the h2's are hovered over, however these links (https://web.dev/fast#optimize-your-images for example) do not lead anywhere as the content is not on the page.

[2019-06-26 20:06] addyosmani opened #1045 "Native lazy-loading on the web (loading attribute)"
**Describe the article you'd like to see**
What topics should it cover? Who is the intended audience?

We have an article on native lazy-loading that has been drafted in https://github.com/GoogleChrome/web.dev/pull/1016 with input from eng and product. We're still attempting to nail down whether we can finch lazy-loading into M76 or whether M77 is the earliest rollout for the feature. It will prob

[2019-06-26 20:09] robdodson commented on #1044
That link works for me. It takes you to the section heading.

![image](https://user-images.githubusercontent.com/1066253/60211294-9306ae80-9813-11e9-8e85-d331aaee7e3c.png)

[2019-06-26 20:09] #1044 closed

[2019-06-26 20:10] robdodson opened #1046 "content: Test post"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-26 20:15] alexandersandberg opened #1047 "Browser inconsistencies with explanation of :focus"
**Describe the bug**
The [Style focus article](https://github.com/GoogleChrome/web.dev/blob/master/src/site/content/en/accessible/style-focus/index.md) explains that *"Regardless of whether you use a mouse to click on it or a keyboard to tab to it, **the button's focus indicator will *always* look the same.**"*

However, this is not the case for all browsers, as we can see below.

* Clicking with

[2019-06-26 20:31] addyosmani opened #1048 "content: Overview of Feature Policies"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

Eric Bidelman originally published our first article about FPs over at https://developers.google.com/web/updates/2018/06/feature-policy. We would like to migrate and update this content to account for what FPs have actually shipped in that time. My thinking right now is that we treat this content

[2019-06-26 20:33] addyosmani commented on #1048
Current policies: https://chromestatus.com/features#feature%20policy

[2019-06-26 20:39] addyosmani commented on #683
@samdutton I saw https://web.dev/value-of-speed/ landed. Is there a plan for an ecommerce collection of content to be pushed on web.dev in the future? Asking as I'd love to figure out whether some of Martin and Lina's work is planned to go into there vs under /fast. We were planning to look at performance culture as a topic in the second half of the year so a good time to start chatting about it :

[2019-06-26 20:44] addyosmani opened #1050 "content: How to think about speed tools"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

This doc was an effort to capture where each of Google's speed tools currently fits. We probably want to look at a revision (at some point). I can think of at least a few changes:

- web.dev/measure now exists
- Search Console support for speed dashboard
- Firebase performance monitoring
- Test M

[2019-06-26 20:57] #1046 closed

[2019-06-26 21:01] addyosmani opened #1051 "content: Using rel=preconnect to eliminate round-trips"
**Author: @mihajlija**
**Reviewer: @katejeffreys**

**A one to two sentence description of your post**
What are you planning to teach folks in this post?

We previously published https://developers.google.com/web/fundamentals/performance/resource-prioritization#preconnect but a dedicated guide explaining what preconnect does / a codelab highlighting how to apply preconnects and see the before/afte

[2019-06-26 21:26] addyosmani opened #1053 "content: Rendering on the web"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

This article would capture an overview of how to render content on the web (e.g server-rendering, client-side rendering, static, progressive rendering etc). It aims to inform developers unsure about the 'right' approach to opt for when rendering their experiences. We have already published this c

[2019-06-26 21:27] addyosmani commented on #1053
@robdodson do you think an article of this length could still fit the current notion of a guide? We could split it up into much more granular small guides, but I am open to input here. I personally like it as is :)

[2019-06-26 22:31] robdodson commented on #998
Very noticeable on this page:
/prefers-color-scheme/#why-dark-mode

[2019-06-27 01:04] robdodson commented on #1047
ah I think this is because Safari and Firefox don't actually focus the button. if you change it to a `<div tabindex=0>` it'll apply the focus indicator. I can update the post

[2019-06-27 01:13] robdodson commented on #1053
hm I'd have to read through the post to get a sense for whether or not we'd want to break it up.

Do you have a sense for a revised IA for /fast that you'd want this to fit into? Or would you just want it to be a blog post?

[2019-06-27 01:22] robdodson commented on #1048
So this would only get published as a blog post, correct?

[2019-06-27 01:30] addyosmani commented on #1048
Yep. That's correct. Just as a blog post.

[2019-06-27 06:36] alexandersandberg commented on #1047
Forgot to add that this testing was done on macOS 10.14.5, with the latest browsers. I found [this section about 'Clicking and focus' on MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Clicking_and_focus) that show inconsistencies between windows and macOS as well.

I also tested on Opera:
![Opera behavior](https://user-images.githubusercontent.com/35671299/60240043-04943a80-

[2019-06-27 08:35] mihajlija commented on #1051
I'll start on this immediately, ideally this work will also unblock the 3rd party resources optimization codelab. 🤞

[2019-06-27 16:22] argyleink opened #1055 "Likes/Favorites/Claps counter"
**Is your feature request related to a problem? Please describe.**
I want to express my appreciation for an article

**Describe the solution you'd like**
A FAB or button at the top/bottom of the article that leverages my logged in state to allow me to express a like

**Describe alternatives you've considered**
Claps, favorites

**Additional context**
Would be rad if backed by firebase and live upd

[2019-06-27 17:02] robdodson opened #1056 "content: Top Tips — Optimize CSS background images"
**A one to two sentence description of your post**
Use media queries to enable the browser to choose the right CSS background image.

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections.

[2019-06-27 17:17] robdodson opened #1057 "content: Get Started: Optimizing an Angular Application"
**A one to two sentence description of your post**
- What’s Angular
- What’s the goal of these guides
- What we are not going to cover

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections

[2019-06-27 17:21] robdodson commented on #1051
@mihajlija hey milica, before diving in would you be ok having a quick meeting with myself and @mfriesenhahn to discuss the new writing process we're trying to roll out?

[2019-06-27 17:27] robdodson opened #1058 "content: Layout: Intrinsic navbar"
**A one to two sentence description of your post**
How to create a navigation element with intrinsic layout.

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, dr

[2019-06-27 17:30] robdodson opened #1059 "content: Native lazy loading"
**Author**: @housseindjirdeh
**Reviewer**: @mfriesenhahn

**A one to two sentence description of your post**
This post covers the loading attribute and how it can be used to defer the loading of images and iframes.

**Target publish date:** `<2019-07-16>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaK

[2019-06-27 17:32] robdodson commented on #1056
Note: Sam is going to meet with Addy to discuss since this overlaps with a post Demian is working on. Hold off on reviews for now.

[2019-06-27 17:34] robdodson opened #1060 "content: Route-level code-splitting in Angular"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-07-16>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-27 17:35] robdodson opened #1061 "content: Performance budgets with the Angular CLI"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-27 17:39] IvanBila opened #1062 "Wiki: overview section typo"
**Describe the bug**
I think there is a typo on the overview section of the wiki, borne was used instead of born.

**To Reproduce**
Visit [Overview](https://github.com/GoogleChrome/web.dev/wiki/Overview)

**Screenshots**
![Screenshot from 2019-06-27 19-34-31](https://user-images.githubusercontent.com/13482373/60287779-093e0a80-9913-11e9-8882-4fe3490db351.png)

[2019-06-27 17:45] robdodson opened #1063 "content: Intrinsic Macro Layout"
**A one to two sentence description of your post**
Step 2 in intrinsic layout guides. Helping folks understand intrinsic layout at the macro page level.

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal an

[2019-06-27 17:48] robdodson opened #1064 "content: CSS backdrop-filter"
**A one to two sentence description of your post**
Blog post showing folks how to use the new CSS backdrop-filter property.

**Target publish date:** `<2019-07-30>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you'

[2019-06-27 17:52] robdodson opened #1065 "content: Codelab Cloudinary URL API"
**A one to two sentence description of your post**
In this codelab, learn how to use Cloudinary with its URL API to optimize JPEG and PNG images for faster download and serve next-gen formats.

**Target publish date:** `2019-07-30>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLj

[2019-06-27 17:55] robdodson opened #1066 "content: Faster Web Navigations with Predictive Prefetching"
**A one to two sentence description of your post**
Code-splitting allows you to speed up your applications, but it may slow down subsequent-navigations. Predictive prefetching is an efficient way to empower data analytics to smartly prefetch what the user is likely to use next, optimizing the network utilization.

**Target publish date:** `2019-07-08`
- [ ] Check this box if this is a hard deadlin

[2019-06-27 18:47] mihajlija commented on #1051
@robdodson Of course, anytime (except tomorrow) between 9-17h CEST works for me, just send a calendar invite. 👍

[2019-06-27 19:01] mfriesenhahn opened #1067 "content: Route prefetching strategies in Angular"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-07-16>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-27 19:03] mfriesenhahn opened #1068 "content: Optimize Angular's change detection"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-07-16>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-27 19:04] mfriesenhahn opened #1069 "content: Precaching with the Angular service worker"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-07-16>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-27 19:05] mfriesenhahn opened #1070 "content: Set up static server-side rendering with Angular"
**Author**: @MarkPieszak
**Reviewer**: @mfriesenhahn

**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-08-14>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal

[2019-06-27 19:13] mfriesenhahn opened #1071 "content: Set up dynamic server-side rendering with Angular"
**Author**: @MarkPieszak
**Reviewer**: @mfriesenhahn

**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-08-14>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal

[2019-06-27 19:14] mfriesenhahn opened #1072 "content: Create a Progressive Web App with the Angular CLI"
**Author:** @mgechev
**Reviewer:** @mfriesenhahn

**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and

[2019-06-27 19:15] mfriesenhahn opened #1073 "content: Audit your Angular app's accessibility with codelyzer"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-07-16>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-27 20:04] ce-pr-bot opened #1074 "content: Test proposal"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-06-27 20:07] #1074 closed

[2019-06-27 20:58] mgechev commented on #1067
I can take this!

[2019-06-27 20:58] mgechev commented on #1070
I can take this!

[2019-06-27 20:58] mgechev commented on #1071
I can take this!

[2019-06-27 20:58] mgechev commented on #1060
I'm on it.

[2019-06-27 20:58] mgechev commented on #1061
I'm on it.

[2019-06-27 20:59] mgechev commented on #1068
I'm on it.

[2019-06-27 20:59] mgechev commented on #1069
I'm on it.

[2019-06-27 20:59] mgechev commented on #1072
I'm on it.

[2019-06-27 20:59] mgechev commented on #1073
I'm on it.

[2019-06-27 21:11] addyosmani opened #1075 "content: Using Signed HTTP Exchanges"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

This article would migrate (and refresh) the material currently in https://developers.google.com/web/updates/2018/11/signed-exchanges. We are currently thinking this would initially move across as a blog post on /blog.

**Target publish date:** `<2019-08-10>`
- [ ] Check this box if this is a har

[2019-06-27 22:55] robdodson commented on #1062
I had to look this up :) I think "borne" may be technically correct

![image](https://user-images.githubusercontent.com/1066253/60306119-e0f2e380-98f3-11e9-960d-55e8b90a9d44.png)

[2019-06-27 22:55] #1062 closed

[2019-06-27 22:58] mgechev opened #1076 "content: Get Started: Optimize your Angular application"
**A one to two sentence description of your post**

This post will be an intro to the web.dev/angular guide. It'll provide a quick intro to the Angular CLI.

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposa

[2019-06-28 01:42] robdodson commented on #1036
There's a fix in #1036 but it might also be cool as a second step to add a client-side custom element like the GitHub time-elements (https://github.com/github/time-elements)

[2019-06-28 01:47] #1036 closed

[2019-06-28 03:03] #998 closed

[2019-06-28 14:37] robdodson commented on #1036
Also worth looking into https://v8.dev/features/intl-relativetimeformat

[2019-06-28 14:40] #1057 closed

[2019-06-28 14:41] robdodson commented on #1057
Superseded by #1076

[2019-06-28 17:12] addyosmani opened #1081 "content: HTTP/2 Server Push is problematic"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

Chrome is likely to disable HTTP/2 Server Push at some point in the not too distant future. Until we are in a position to post an intent-to-deprecate, we would like to publish a blog post on why H/2 Push remains a footgun. We believe this content will be equally useful for developers targeting ot

[2019-06-28 17:31] robdodson commented on #831
hey @dougsillars can you shoot me a DM on twitter with your contact info?

[2019-06-28 18:45] robdodson commented on #1050
Might also be related to: https://github.com/GoogleChrome/web.dev/pull/977

[2019-06-28 19:21] #1076 closed

[2019-06-28 19:28] robdodson commented on #1053
The post is ~2600 words.

One option would be to break it into two posts. The first would cover the different types of rendering and the second would cover the two strategies + SEO considerations.

[2019-06-28 19:43] robdodson commented on #1018
@mathiasbynens it's available at web.dev/handbook now

[2019-07-01 07:54] mathiasbynens commented on #1018
https://web.dev/handbook/contributor-profile/

[2019-07-01 08:35] mathiasbynens commented on #1018
https://github.com/GoogleChrome/web.dev/wiki/How-to-write-a-post#create-a-new-post still has the old content. Can this be updated to point to the new handbook?

[2019-07-01 13:26] marekka opened #1084 "false positive report"
Hi, on https://www.zoedale.co.uk/ the https://web.dev/measure reports "Does not have a <meta name="viewport"> tag with width or initial-scale"

But the viewport is defined, so what can be the reason?

[2019-07-01 17:00] robdodson commented on #1084
It looks like the viewport meta tag is not in the `<head>`. Maybe that's what's causing it?

[2019-07-01 18:21] carolrivero opened #1086 "Design Featured Content for Blog"
Moving to internal tracking tool

[2019-07-01 18:48] robdodson commented on #1018
@mfriesenhahn are you cool with us pointing all the contributing info in the README and wiki over to the handbook?

[2019-07-01 18:49] mfriesenhahn commented on #1018
Yes, by all means. That was already on my to-do list :)

[2019-07-01 21:47] #1034 closed

[2019-07-01 21:58] #972 closed

[2019-07-01 22:34] mfriesenhahn opened #1088 "Improve connection between 1st use of a key term and the related aside"
**Problem**
When a key term aside is placed _after_ the first use of the term, the user doesn't immediately know that a definition has been provided, which may lead them to start googling before they read on. However, if the aside is placed _before_ the first use of the term, the user doesn't know why the definition matters since they don't yet have the relevant context.

**Proposed solution**
Pro

[2019-07-01 23:24] robdodson commented on #969
Should be fixed on devsite now. Will go live next time they do a release.

[2019-07-01 23:24] #969 closed

[2019-07-01 23:35] #958 closed

[2019-07-02 03:11] robdodson opened #1089 "Add cache busting to css and js files."

[2019-07-02 15:23] addyosmani opened #1090 "Fast content: Responsive image preloading"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<2019-07-20>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-07-02 17:43] addyosmani opened #1091 "Fast content: Signed Exchange Subresource prefetching (Origin Trial)"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

Support for prefetching signed exchange subresources will be coming to Chrome via an Origin Trial within the next few quarters. The team would like to write an article about why this matters, what it enables and where it fits in with https://github.com/GoogleChrome/web.dev/issues/1075 (once migra

[2019-07-02 17:59] mfriesenhahn opened #1092 "content: How OpenSooq increased engagement"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-07-02 18:06] argyleink commented on #1064
accepted many suggestions
asked a few questions
didnt accept a few suggestions
made a decent amount of updates to the article, find them here: https://deploy-preview-1038--web-dev-staging.netlify.com/backdrop-filter/

[2019-07-03 01:47] #829 closed

[2019-07-03 08:41] mihajlija opened #1096 "content: Third-party JavaScript performance"
**A one to two sentence description of your post**
Introduction for third-party JavaScript optimization guides. Explains what is third-party JS and how it affects performance.

**Target publish date:** `<2019-07-18>`
- [ ] Check this box if this is a hard deadline.

**Process**
- [x] 1. I've done my proposal https://docs.google.com/document/d/1KiBjSqCnR5DeDs1H66uE5hna0baKOwbbrg72_TScuK8/edit?usp=s

[2019-07-03 09:09] mihajlija opened #1097 "content: Identify slow third-party JavaScript"
**Author: @mihajlija**
**Reviewer: @mfriesenhahn**

**A one to two sentence description of your post**
Learn how to use Chrome DevTools and Lighthouse to identify slow third-party resources.

**Target publish date:** `<2019-08-14>`
- [ ] Check this box if this is a hard deadline.

**Process**

- [x] 1. I've done my proposal https://docs.google.com/document/d/1B2XbIPf0NAMW_MZW3yRUSVdLV3L7jfv-pXEmj8

[2019-07-03 09:49] mihajlija opened #1098 "content: Efficiently load third-party JavaScript"
**Author**: @mihajlija
**Reviewer**: @katejeffreys

**A one to two sentence description of your post**
Explain techniques for optimizing the loading process of third-party scripts.

**Target publish date:** `<2019-08-14>`
- [ ] Check this box if this is a hard deadline.

**Process**

- [x] 1. I've done my proposal https://docs.google.com/document/d/1oxgb1MxXOjrL7RSSrgx3f4JYiw4_nPudltwB63uly2Y/edit

[2019-07-03 21:17] #1092 closed

[2019-07-03 22:41] robdodson commented on #1066
@mgechev we're planning to roll this out Monday after the break 👍

[2019-07-03 22:53] mgechev commented on #1066
Sounds good! Thanks!

[2019-07-04 07:02] peixotorms opened #1102 "Remove unused CSS needs further consideration"
I've been scratching my head around the opportunity named "Remove unused CSS" under the pagespeed insights web tool, and I think there should be a discussion about this metric:

**The opportunity description**
Currently, the "Remove unused CSS" states that _Remove dead rules from stylesheets and defer the loading of CSS not used for above-the-fold content to reduce unnecessary bytes consumed by ne

[2019-07-04 16:36] mfriesenhahn opened #1103 "content: Virtualize lists with CDK (Angular)"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in the proposal and outline sections. When you're finished, drop a li

[2019-07-05 11:41] kayandra commented on #976
I would love to send in the learning path for Vue. Or is someone working on it already?

[2019-07-05 18:11] Malvoz commented on #1059
Just noting that once this has landed, the link "_Use lazysizes to lazyload images_" here: https://web.dev/fast#optimize-your-images should perhaps link to this content instead?

[2019-07-06 09:35] gmspromo opened #1105 "Issue with & not being escaped / not being included in ?url= param"
I'm having an issue with testing PHP pages with more than one GET variable attached to them; trying to view the results page throws an error.
Take the following example;

test.php?variable1=one&variable2=two

I think the issue relates to the ampersand ... if I escape it/replace it with %26 then *sometimes* (not often but sometimes) I can view the results page, but it seems hit and miss. Is there s

[2019-07-08 15:44] addyosmani opened #1109 "content: Optimize Loading Performance for Feature Phones"
**A one to two sentence description of your post**
What are you planning to teach folks in this post?

The purpose of this blog post is to educate developers about specific loading performance techniques that can help when they're building for very constrained low-end feature phones. The audience are

**Target publish date:** `<2019-07-15>` (tentative, can move)
- [ ] Check this box if this is a h

[2019-07-08 16:08] linachansson opened #1110 "content: Fast content - Fixing speed - cross-functionally"
**Solving site speed is not only dependent on developers – they need the help from marketing, web designers, the analytics team and stakeholders to succeed. These four articles describe how developers can set up collaboration with each department, and get great help in fixing speed.**
What are you planning to teach folks in this post?

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box i

[2019-07-08 16:13] jpmedley commented on #1088
A traditional way of doing this would be to define the terms within the flow of the text, with the term itself italicized. Icons within the flow of text should be avoided so that the text does not start to look like a ransom note.

[2019-07-08 17:12] #1089 closed

[2019-07-08 17:50] robdodson commented on #971
Closing as non-specific. Can't recall what I was referring to here :P

[2019-07-08 17:50] #971 closed

[2019-07-08 19:12] #1066 closed

[2019-07-08 19:43] robdodson commented on #1066
This is now live @ https://web.dev/predictive-prefetching

Thank you for all your work on this @mgechev!

[2019-07-08 21:30] #807 closed

[2019-07-08 21:57] #1061 closed

[2019-07-08 22:48] mfriesenhahn commented on #708
Preliminary custom rules:
- no curly single quotation marks (includes apostrophes)
- no curly double quotation marks
- no spaces around em dashes or en dashes

[2019-07-08 23:23] robdodson commented on #973
I'd like to revist the design on this. I like the look of it in the sidebar but feel like it's going to be weird trying to collapse it into a header.

[2019-07-08 23:24] robdodson commented on #974
I'd like to revisit the design on this. I like the tags in the sidebar but am not a fan of collapsing them into a drawer on mobile. I feel like that's going to be hard to discover.

[2019-07-08 23:25] robdodson commented on #974
Maybe they should move from the sidebar to the footer on mobile?

[2019-07-09 16:01] kosamari opened #1114 "content: How to build for feature phone"
**A one to two sentence description of your post**
This post will include tips and learnings from PROXX project on building web app targeted to smart feature phone (KaiOS)

**Target publish date:** `2019-7-31`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDHuNivVxgQBOdDno4uLjGIjmE/edit)
and fill in

[2019-07-09 16:37] robdodson opened #1115 "Add Firebase auth"

[2019-07-09 16:56] StephenFluin commented on #1103
I'm excited to help move this forward.

[2019-07-09 17:41] MarkPieszak commented on #1070
Commenting here so you can find me @mfriesenhahn ! :)
Let me know if you're all set reviewing/editing and I should start applying those requested updates.

[2019-07-09 17:54] mfriesenhahn commented on #1070
Many thanks!

[2019-07-09 21:11] jpmedley commented on #974
+100 on this. WebFu has this ability, which I've used frequently to easily share recent content about specific topics. I've recently learned that the web payment folks have [created a Discuss Group](https://groups.google.com/a/chromium.org/forum/#!forum/paymentrequest) just to share announcements about that topic with partners who have trouble sorting it from our myriad of content channels.

It pr

[2019-07-09 21:37] housseindjirdeh commented on #976
Thanks @kayandra!

We haven't started on Vue yet and are working on getting Angular content out in the meantime. We do plan to have members from the Vue community help us write the learning path/content so we'll definitely let you know when that begins :)

[2019-07-09 21:47] housseindjirdeh opened #1116 "content: link to Jason's modern script loading doc in the serve modern code guide"
In the [Serve modern code](https://web.dev/serve-modern-code-to-modern-browsers/) guide, we tell readers to use the module/nomodule pattern to minimize the amount of unnecessary polyfilled shipped to newer browsers:

[code]

Although useful, this has been found to [double-fetch](https://gist.github.com/jakub-g/5fc11af85a061ca29cc84892f1059fec) in certain versions of Edge and Safari.

We should inc

[2019-07-10 00:15] robdodson opened #1118 "Improve the look of the site on 240px displays."
**Is your feature request related to a problem? Please describe.**
The site should look nicer on feature phones. Currently most pages are "ok" but could be improved. The /measure page is pretty broken.

**Describe the solution you'd like**
Write better CSS!

[2019-07-10 10:08] kayandra commented on #976
@housseindjirdeh thanks! will be on the look out

[2019-07-10 12:27] demianrenzulli commented on #1013
The article and codelab have been written already (in doc format), and is currently awaiting review.

[2019-07-10 15:12] mfriesenhahn commented on #1013
Hi, Demian, can you include the content from the "Propose New Content" issue template so we can move this through our review process more easily? Link: https://github.com/GoogleChrome/web.dev/issues/new?assignees=&labels=content+proposal&template=content_proposal.md&title=content%3A+%3CAdd+your+title%3E

[2019-07-10 15:20] mfriesenhahn commented on #672
Closing issue since it no longer aligns to a single post.

[2019-07-10 15:20] #672 closed

[2019-07-10 16:16] demianrenzulli commented on #1013
Hi @mfriesenhahn, adding the content here.
Let me know if there's need for a separate issue:

**A one to two sentence description of your post**

**- Guide**: How to apply CSS media queries to request a background image for the user's device.
**- Codelab**: Using Webpack’s media query plugin, to extract each media query definition to its own CSS file. Loading the resulting CSS files with HTML medi

[2019-07-10 16:36] mfriesenhahn commented on #1013
I think it needs to be in the body of the issue for the bot to work, so I'll just add it. Thanks!

[2019-07-10 17:36] housseindjirdeh opened #1120 "updating "use lazysizes to lazyload images" guide when native lazy loading article is shipped"
There's an open PR (#1016) that lands a native lazy loading article (`<img loading="lazy">`) to the blog. We currently have a [guide/codelab](https://web.dev/use-lazysizes-to-lazyload-images/) that shows readers how to use lazysizes to lazy load images and we should probably update it when the native lazy loading post lands.

Thoughts on what we can do:

1. Add a note/section early in the article

[2019-07-10 18:11] carolrivero commented on #1086
mock in progress

[2019-07-10 20:12] jpmedley opened #1121 "content: Blog post for CSS pseudo-class :picture-in-picture"
**A one to two sentence description of your post**
A basic how-to article describing the CSS pseudo-class :picture-in-picture, which helps web developers customize the media player when videos enter and exit Picture-in-Picture.

**Target publish date:** 2019-09-19
- [x] Check this box if this is a hard deadline.

**Chrome Status entry:** https://www.chromestatus.com/feature/6259534815297536

**Pro

[2019-07-10 20:46] jpmedley opened #1122 "content: Blog post for CSS Properties and Values API L1"
**Author**: @Snugug
**Reviewer**: @jpmedley

**A one to two sentence description of your post**
A basic how-to article describing the CSS Properties and Values API Level 1 (Houdini), which is an API that expands the existing CSS custom properties to improve usability of other Houdini APIs.

**Target publish date:** `2019-09-19`
- [x] Check this box if this is a hard deadline.

**Chrome Status entr

[2019-07-10 20:53] jpmedley opened #1123 "Content supporting the Chrome 77 beta release"
**A one to two sentence description of your post**
An epic covering all issues related to content for the Chrome 77 beta release

**Target publish date:** `2019-08-08`
- [x] Check this box if this is a hard deadline.

[Chrome Feature Tracking](https://docs.google.com/spreadsheets/d/155euqrhdqVhtbAID7ydaUPjBstLIYZ4PJkpFmqJ6j-o/edit#gid=215381875)

[2019-07-10 20:59] jpmedley opened #1124 "content: Blog post for Form-associated custom elements"
**Author**: @arthurevans
**Reviewer**: @jpmedley

**A one to two sentence description of your post**
A basic how-to article describing Form-associated custom elements, which enable web authors to define and create custom elements which participate in form submission.

**Target publish date:** `2019-08-08`
- [x] Check this box if this is a hard deadline.

**Chrome Status entry:** https://www.chrome

[2019-07-10 21:03] jpmedley opened #1125 "content: Blog post for Largest Contentful Paint"
**Author**: @philipwalton
**Reviewer**: @jpmedley

**A one to two sentence description of your post**
A basic conceptual article describing a new page load metric, which describes page speed as the speed of delivering the largest contentful element to the screen.

**Target publish date:** `2019-08-08`
- [x] Check this box if this is a hard deadline.

**Chrome Status entry:** https://www.chromestat

[2019-07-10 21:35] #1073 closed

[2019-07-10 21:41] #1069 closed

[2019-07-11 14:11] #1067 closed

[2019-07-11 14:14] robdodson commented on #1120
I'm a fan of option 1 for now. Do you want to update that blog post in your same PR?

[2019-07-11 14:21] robdodson commented on #1116
That sounds good to me. Are you ok doing a PR to add this @housseindjirdeh ?

[2019-07-11 14:22] robdodson commented on #974
It's something I definitely want to do soon. I think the design we have needs some tweaks for mobile so I'm speaking to an agency today about a number of tasks to see if they can help on this.

[2019-07-11 14:29] robdodson commented on #1110
Hey @linachansson thanks for opening this. We recently implemented a sprint process for reviewing content so we should be able to triage this post during our next sprint planning meeting next week.

[2019-07-11 14:36] robdodson commented on #1105
ah I see. So when you click `View results` and try to navigate to https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://www.romaheritage.co.uk/beta/search.php?forename=&surname=small&rec_type=baptisms&firstyear=&lastyear=&fforename=&mforename=&submit=Search it breaks.

I'll see if we can fit this into our next sprint.

[2019-07-11 14:50] mihajlija opened #1127 "content: Eliminate round-trips with rel=preconnect [codelab]"
**Author:** @mihajlija
**Reviewer:** @jpmedley

**A one to two sentence description of your post**
A codelab to go along with #1051 guide. It shows how to apply preconnects on a demo app and before/after wins.

**Target publish date:** `<yyyy-mm-dd>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.com/document/d/1ydauCufwwavStaKxhIDH

[2019-07-11 14:57] robdodson commented on #1102
I tweaked your initial issue a bit to move the summary up to the top. Hope that's ok.

Moving this over to the Lighthouse repo for further discussion.

[2019-07-11 14:57] mihajlija opened #1128 "content: Optimize third-party JavaScript"
**Author**: @mihajlija
**Reviewer**: @mfriesenhahn

**A one to two sentence description of your post**
A codelab to go along with #1098 guide. It shows how to apply async/defer, lazy-loading, and preconnect on a demo app to improve performance.

**Target publish date:** `<2019-08-14>`
- [ ] Check this box if this is a hard deadline.

**Process**
Make a copy of [this template](https://docs.google.c

[2019-07-11 15:52] Snugug commented on #1122
I'm happy to take this on!

[2019-07-11 16:20] Snugug commented on #1122
Here is my content proposal, pre-draft. Once we're all sorted I'll start writing the draft
https://docs.google.com/document/d/14QeJKjqVV0nD3w0S6E0Afcimp041cEeYaMMdSIsYfRU/edit#

[2019-07-11 16:47] robdodson opened #1130 "Track site improvements over time."
It'd be really cool to look at a sample of sites using the measure tool to see how they're improving over time.

[2019-07-11 17:55] mfriesenhahn opened #1133 "Add new cases to Instruction widget"
**Is your feature request related to a problem? Please describe.**
- The Instruction widget includes a `reload` case that contains an instruction to reload embedded sample apps, but the wording doesn't make sense for reloading a full page.
- There's no case for opening the DevTools **Command** menu, which is needed fairly often.

**Describe the solution you'd like**
- Add a `devtools-command` case

[2019-07-11 18:47] housseindjirdeh commented on #1120
Pushed a [commit](https://github.com/GoogleChrome/web.dev/pull/1016/commits/69bddf9622f4615ecfe4c02a2c19c0c648d3ee7e) that adds a note!

[2019-07-11 18:48] housseindjirdeh commented on #1120
We can close this issue when the PR gets merged (and re-open it if we decide to update the whole guide)

[2019-07-11 19:30] robdodson commented on #1122
Hey @Snugug thank you for putting together the outline. We're going to be doing a big sprint planning next week on Wednesday and should be able to pull in the proposal for review then. Is that ok?

[2019-07-11 21:50] #476 closed

[2019-07-11 21:50] #1115 closed

[2019-07-11 21:51] robdodson commented on #1124
@azakus

[2019-07-11 22:00] housseindjirdeh commented on #1116
Done! #1135 adds a note 🕺

[2019-07-11 22:02] robdodson commented on #1125
Wanted to include a link to the handbook in case folks haven't seen it yet. I've updated the content proposal template so future tickets will include this link.

https://web.dev/handbook

[2019-07-11 22:03] robdodson commented on #1124
Wanted to include a link to the handbook in case folks haven't seen it yet. I've updated the content proposal template so future tickets will include this link.

https://web.dev/handbook

[2019-07-11 22:03] robdodson commented on #1121
Wanted to include a link to the handbook in case folks haven't seen it yet. I've updated the content proposal template so future tickets will include this link.

https://web.dev/handbook

[2019-07-11 22:04] #1116 closed

[2019-07-12 05:51] robdodson commented on #953
Put together a mock of the mobile view to illustrate the issue.

<img width="277" alt="Screen Shot 2019-07-11 at 10 50 32 PM" src="https://user-images.githubusercontent.com/1066253/61105323-674c1100-a42e-11e9-83fd-6b491ea2094e.png">

[2019-07-12 06:23] robdodson commented on #451
![image](https://user-images.githubusercontent.com/1066253/61106667-b3995000-a432-11e9-8999-964508929822.png)

These are the settings that Lighthouse currently offers inside of DevTools that we should think about replicating on web.dev/measure. I think we won't need the `Clear storage` checkbox.

[2019-07-12 09:39] yoavweiss opened #1136 "content: Preloading responsive images"
**Author**: @yoavweiss
**Reviewer**: @mihajlija

[Proposed article](https://docs.google.com/document/d/1YUKCRFNjWX1gWwVrQmeUfkcjSVdRPlwwGkSecmk6M3E/edit#)

**A one to two sentence description of your post**
This post will explain the recently shipped responsive image preload feature, how to use it and its benefits.

**Target publish date:** 8/14/2019
- [ ] Check this box if this is a hard deadline

[2019-07-12 16:17] jeffposnick commented on #1000
Friendly ping to see how this fits in with the current docs sprint.

Can I pull in an alternative reviewer if @mfriesenhahn doesn't have the bandwidth?

[2019-07-12 16:35] mfriesenhahn commented on #1000
Apologies, this didn't make it onto the spring board (my fault), so it fell through the cracks. When does it need to go out?

[2019-07-12 16:51] robdodson opened #1137 "Consider adding subheadings to collections"
**Is your feature request related to a problem? Please describe.**
It might be nice to add subheadings to big topic areas. For example, in the frameworks sections (/react, etc) we have sections for "Fast". It might be nice to subdivide these into "Loading performance" and "Runtime performance".

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/1066253/6114470

[2019-07-12 18:20] jeffposnick commented on #1000
The feature shipped in Chrome 75, so I guess it's not time-sensitive. (Or it's extra time sensitive, looking from a different point of view.)

Would it help if I asked @jpmedley if he had time to review it? He does normally handle reviews tied to new Chrome functionality.

[2019-07-12 18:25] jpmedley commented on #1000
Just assigned myself, because yes, I regard it as extra time sensitive. Unfortunately, I probably wont' get to it until Monday. I'm hung up on another matter just now.

[2019-07-12 18:52] jpmedley commented on #1000
@jeffposnick Is the content stable? I don't want to copy edit if someone is going to rewrite anything.

[2019-07-12 18:54] jeffposnick commented on #1000
Yup. It's stable.

[2019-07-15 12:04] alexandersandberg commented on #1047
Here's another resource I just found that summarizes these inconsistencies between default and custom styling: [ally.js — Default Browser Focus Outline Styles](https://allyjs.io/tests/focus-outline-styles/#style=focus&key=text,radio,checkbox,textarea,button,link,div&browser=firefox,chrome,safari,ie11)

[2019-07-15 16:22] jpmedley commented on #1000
I made some suggestions to Jeff's draft. I'm basically done.

[2019-07-15 21:54] robdodson commented on #1090
I think https://github.com/GoogleChrome/web.dev/issues/1136 is referring to this so I'm going to close. Feel free to reopen if I'm mistaken.

[2019-07-15 21:54] #1090 closed

[2019-07-15 21:56] jpmedley commented on #1121
@beaufortfrancois I've gone ahead and assigned this to you even though it's not part of a beta release yet. This will help keep it on our radar.

[2019-07-15 22:02] robdodson commented on #773
This is fixed and should roll out in the next release.

[2019-07-15 22:02] #773 closed

[2019-07-15 22:15] robdodson commented on #975
I'm going to close this ticket because there are now several tracking bugs for angular content.

[2019-07-15 22:15] #975 closed

[2019-07-15 22:16] robdodson commented on #909
Hey @uskay I wanted to check if you still think you'll have time to do this? If not I can see if someone else on our team is free to add it.

[2019-07-15 22:19] robdodson commented on #783
@housseindjirdeh do you think you'll have a chance to add this note?

[2019-07-16 07:03] beaufortfrancois commented on #1121
Thank you!

[2019-07-16 18:00] #1068 closed

[2019-07-16 18:24] #683 closed

[2019-07-16 19:04] khempenius opened #1144 "content: Image CDN article"
**Author**: @khempenius
**Reviewer**: @mihajlija

**A one to two sentence description of your post**
Overview of image CDNs.

What are you planning to teach folks in this post?
How image CDNs work, how to use them, how to choose, etc.

**Target publish date:** `<2019-08-14>`

- [ ] Check this box if this is a hard deadline.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/doc

[2019-07-16 19:11] khempenius opened #1145 "content: Codelab: Use imgix to optimize images"
**Author**: @khempenius
**Reviewer**: @kaycebasques

**A one to two sentence description of your post**
Codelab on imgix.

What are you planning to teach folks in this post?
How to optimize images with imgix.
Parent article: "Use Image CDNs to optimize images" (https://github.com/GoogleChrome/web.dev/issues/1144)

**Target publish date:** 2019-08-14

- [ ] Check this box if this is a hard deadline

[2019-07-16 19:14] khempenius opened #1147 "codelab: Use Akamai Image Manager to optimize images"
**A one to two sentence description of your post**
Codelab on Akamai Image Manager.

What are you planning to teach folks in this post?
How to optimize images with Akamai Image Manager.
Parent article: "Use Image CDNs to optimize images" (https://github.com/GoogleChrome/web.dev/issues/1144)

**Target publish date:** `<2019-07-31>`

- [ ] Check this box if this is a hard deadline.

**Process**

- [

[2019-07-16 19:46] khempenius opened #1148 "blog: How to Install Thumbor"
**Author**: @khempenius
**Reviewer**: @kaycebasques

**A one to two sentence description of your post**
Instructions on how to install Thumbor.

What are you planning to teach folks in this post?
How to install Thumbor.

**Target publish date:** `2019-08-14`

- [ ] Check this box if this is a hard deadline.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1SSq8tkwY

[2019-07-16 19:51] khempenius opened #1149 "codelab: Use Thumbor to optimize images"
**A one to two sentence description of your post**
Codelab on using Thumbor.

Author: @khempenius
Reviewer: @mihajlija

**What are you planning to teach folks in this post?**
How to optimize images with Thumbor.
Related blog post: "How to Install Thumbor" (https://github.com/GoogleChrome/web.dev/issues/1148)

**Target publish date:** `<2019-07-31>`

- [ ] Check this box if this is a hard deadline.

[2019-07-16 20:39] mfriesenhahn commented on #1059
Hey, @housseindjirdeh, since we're waiting to hear back about when this post can land, we're going to move it to the next sprint.

[2019-07-16 21:53] #1020 closed

[2019-07-16 22:31] tcmg opened #1151 "content: "Game Over: Principles of a good first time user experience in web games""
**A one to two sentence description of your post**

Many game developers design their games with complex systems, interfaces and “assumed knowledge” of the player. They don’t realise how easy it is to lose a user during the first few minutes of them playing a game (i.e. the user churns from game) and how critical the user’s first-time user experience is including both the technical loading time of

[2019-07-16 22:41] carolrivero opened #1152 "content: Games on Web.Dev - Section Plan"
**Author**: @tcmg
**Reviewer**: @mfriesenhahn

**A one to two sentence description of your post**
Games on Web.Dev will be a new vertical section of web.dev that provides guidance across 3 pillars: game design, business and technical advice. These three topics will be explored through the cross section of two lenses: the web and games. The aim is to provide guidance that can help game developers u

[2019-07-17 00:22] #1047 closed

[2019-07-17 00:22] robdodson commented on #1047
@alexandersandberg thank you for the detailed follow ups. I've updated the article to try to explain the situation better.

[2019-07-17 03:42] #775 closed

[2019-07-17 06:32] tcmg opened #1153 "content: "Ready Player Web: Building games for the modern web""
**Author**: @tcmg
**Reviewer**: @kaycebasques

**A one to two sentence description of your post**

To recap my Google I/O talk “Modern Web Game Development” and explain a few fundamental concepts of web games.

**Target publish date:** 2019-08-28

- [ ] Check this box if this is a hard deadline.

**Process**

https://docs.google.com/document/d/1dyNuzg2c6uvm3VmlHUc21tdKbRsX5uEgm8AlXr_QE2Q/edit#

-

[2019-07-17 08:39] beaufortfrancois commented on #831
/me excited!

[2019-07-17 14:56] #1060 closed

[2019-07-17 15:29] #1103 closed

[2019-07-17 15:30] uskay commented on #909
Apologies. I looked into this and there are multiple way to implement this. The easiest way is using the `prefers-reduced-motion` media query in the CSS and setting the transition duration to 0.001s (which should be an instant transition for human eyes). The reason for not setting the `transition-property` value to `none` is that it'll be a lot more simpler to commonly use the `transitionend` even

[2019-07-17 15:45] Malvoz commented on #909
+1 for option one.

[2019-07-17 15:51] robdodson commented on #1121
Hey @beaufortfrancois were you planning to work on this during the next two weeks or were you going to wait till the next Chrome release? I wanted to know if we should budget time for a review of the article.

[2019-07-17 15:54] robdodson commented on #1109
@addyosmani are you the author for this?

[2019-07-17 16:57] mfriesenhahn commented on #1064
Moving to next sprint since we need input from @argyleink.

[2019-07-17 17:19] #909 closed

[2019-07-17 19:13] jpmedley opened #1157 "Avoid use of caniuse"
**Describe the bug**
The style guide and the site in general should be cautious of references to caniuse. There's no doubt that it's interface is well done and much liked. Because it is the work of a single individual making it a single point of failure for all pages that reference it. I would suggest the browser compatibility tables on MDN instead.

[2019-07-17 19:47] housseindjirdeh commented on #1059
Sounds good, thanks @mfriesenhahn!

[2019-07-17 22:03] robdodson commented on #1157
I think I'm ok with this. @jpmedley I know it's a bit of a chore but would you want to go through and update the stuff that's currently using caniuse and switch it to MDN? I think the main thing would be to make sure the MDN tables are up to date as well.

[2019-07-17 22:05] jpmedley commented on #1157
Yes. I'm always intent on doing this.

[2019-07-17 22:06] jpmedley commented on #1157
Clarification: I mean that I already devote time to making sure MDN tables are up to date.

[2019-07-17 22:13] robdodson commented on #1157
@jpmedley got it. Do you have cycles to look through the docs on web.dev and switch them over to using MDN tables?

[2019-07-18 01:32] robdodson commented on #1026
Thanks @wolfadex. I am going to tentatively close this issue because we don't have the tech writing resources to handle reviewing this content. But we can revisit this when we have more folks on staff.

[2019-07-18 01:32] #1026 closed

[2019-07-18 01:55] robdodson commented on #1120
I'm going to close this as (tentatively) fixed just to make sprint planning a bit easier.

[2019-07-18 01:55] #1120 closed

[2019-07-18 02:12] robdodson commented on #725
Looks like Remy has a way...
https://remysharp.com/2019/06/26/scheduled-and-draft-11ty-posts

We should _do this!_

[2019-07-18 02:22] robdodson opened #1161 "Migrate signed-out version of the measure page."
This is kind of an epic tracking the migration of elements out of devsite and into our github project.

Remaining items:
- https://github.com/GoogleChrome/web.dev/pull/1217
- https://github.com/GoogleChrome/web.dev/pull/1216

[2019-07-18 02:29] robdodson opened #1162 "Test issue."

[2019-07-18 02:36] #1162 closed

[2019-07-18 02:57] robdodson commented on #1045
I think this is a dupe of #1059

[2019-07-18 02:57] #1045 closed

[2019-07-18 06:01] beaufortfrancois commented on #1121
We still want to see how the [Picture-in-Picture V2 API](https://github.com/WICG/picture-in-picture/issues/113) is gonna be before launching this as it could impact how this pseudo-class is specified.

So I'd definitely wait until the next Chrome release. No need to budget time for this yet.

Thank you!

[2019-07-18 14:14] jpmedley commented on #1157
I've put it on my list. Regardless of whether of caniuse or MDN is used, we need to make sure data in MDN is up to date. We need some kind of process for making sure that's checked.

[2019-07-18 15:22] jeffposnick opened #1163 "_include snippet explaining Origin Trials"
**Is your feature request related to a problem? Please describe.**
I'm writing a post for web.dev/blog explaining how to use a feature that's in Origin Trial. I don't want to have to explain _what_ an Origin Trial is.

**Describe the solution you'd like**
There should be boilerplate description of Origin Trials that can be pulled in to any post, via a file somewhere under https://github.com/Google

[2019-07-18 15:22] jeffposnick commented on #1163
CC: @petele as I hear he has some language that he's prepared, which might be extractable.

[2019-07-18 15:28] robdodson commented on #1163
[code]

[2019-07-18 15:55] jeffposnick commented on #1163
I'm not sure who the "us" refers to in "both to us".

I'm going to leave that out.

[2019-07-18 16:37] demianrenzulli opened #1166 "content: Progressive Web Apps in multi-origin sites"
**Author**: @demianrenzulli
**Reviewer**: @jpmedley

**A one to two sentence description of your post**

Multi-origin architectures can present many challenges. In particular, the same-origin policy, imposes restrictions for sharing things like Service Workers and caches, permissions, and for achieving a standalone experience across multiple origins.
The article explains these challenges in detail

[2019-07-18 17:23] housseindjirdeh opened #1167 "content: add/move perf budget content for Angular and React"
There's an entire section in web.dev/fast that captures [performance budgeting](https://web.dev/fast#set-performance-budgets). We should make sure every framework collection of guides also includes guide(s) on how to set and use budgets effectively.

* For React: There currently is no guide that explains how to set performance budgets. We'll need to create a new one.
  - Create React App doesn't s

[2019-07-18 17:36] mgechev commented on #1167
SGTM! Currently, for Angular we have performance budgets after code-splitting to show how to ship fewer bytes of JavaScript (code-splitting) and as the second step, do not regress over time. In the same time, I can see how the reverse order would work if we have the correct introduction.

[2019-07-18 17:58] #1000 closed

[2019-07-18 20:25] #1163 closed

[2019-07-18 21:26] mfriesenhahn opened #1170 "content: Revise handbook"
Update handbook based on internal feedback.

[2019-07-18 22:43] #725 closed

[2019-07-19 16:02] jpmedley commented on #974
I have more information on why we need this. I'm currently interviewing owners and content producers for each of the legacy sites where we distribute Chrome content. My anecdote about web payments illustrates a theme that comes up in almost every interview: the need to send a clear signal to a particular subset of developers.

Not only would the is feature allow web.dev to serve many existing comm

[2019-07-19 16:04] robdodson commented on #974
That's a neat idea. I have an agency working on a tags design for us right now so I'll mention this to them.

[2019-07-19 16:46] mfriesenhahn opened #1176 "content: Truebil Lite: How a startup made the web its channel of growth"
**Author**: @harleenkbatra08
**Reviewer**: @mfriesenhahn
Case study of Truebil Lite.

What are you planning to teach folks in this post?

**Target publish date:** `2019-08-14`

- [ ] Check this box if this is a hard deadline.

**Process**

Take a moment to look over the [web.dev handbook](https://web.dev/handbook) and
familiarize yourself with the process.

When you're ready, make a copy of [this

[2019-07-19 17:59] robdodson opened #1177 "Add a custom banner."
**Is your feature request related to a problem? Please describe.**
Similar to what we had on /web. It'd be nice to have a banner component for when we need to make announcements.

**Describe the solution you'd like**
A banner shortcode in eleventy.

[2019-07-19 20:33] mfriesenhahn commented on #1088
Other references:

- [Grantland](https://grantland.com/features/blades-of-glory/)
- [Bloomberg](https://www.bloomberg.com/features/2019-workers-of-the-world/)

[2019-07-19 21:54] #1177 closed

[2019-07-21 00:14] jblair87 commented on #1118
Hi @robdodson , I would like to help out with this. A few suggestions off the bat for the Measure page are attached in the screenshots below. The numbered list is aligned to be consistent with numbered lists on the learning path pages (ie. /fast). The four categories center are stacked and center aligned. Please let me know if you would like me to move forward and/or have any additional suggestion

[2019-07-21 00:15] alexandersandberg commented on #1118
I did a quick audit of /measure to help with this issue. I created a graphic showing some problems that I found. Keep in mind that this was only tested in the latest Safari on macOS, so there might be other issues.

I found some issues at 320px as well, not just 240px. I made a graphic summarizing what I found, with some suggestions for fixes (see enlarged image). I also listed everything below, f

[2019-07-21 00:18] alexandersandberg commented on #1118
@jblair87 Funny how we both commented on this at the same time. 😄

[2019-07-21 01:18] jblair87 commented on #1118
@alexandersandberg I know! None the issues we addressed overlapped. In reference to the audit list, I noticed the category of the audit is hidden at max-width 840px. I suggest this column is displayed and instead one of the other columns are hidden or combined. The Guide is a hyperlinked version of the Audit. The Guide/Audit can break to the next line or fit in the same row.
![Measure-web-dev-audi

[2019-07-21 05:53] alexandersandberg commented on #1118
@jblair87 That's a great idea! Here are some other ideas—some of which I prototyped—in an attempt at 320px and below.

![Examples of fixes for audit list layout at 320px and 240px device widths](https://user-images.githubusercontent.com/35671299/61587414-63389580-ab8a-11e9-971a-b2bbc8619c09.jpg)

### Conclusions from this attempt
* I thought we could convert the long link into an icon instead, and

[2019-07-21 06:17] alexandersandberg commented on #1118
I took the liberty to prototype a solution for an audit list with stacked content, becasue what better way do you spend your calm Sunday morning? ☺️🍵

![Proposal for audit list with stacked content inside rows](https://user-images.githubusercontent.com/35671299/61587685-f1af1600-ab8e-11e9-97ae-b542d3d34c3a.jpg)

I think this achieves many of the things we want here:
* Clear descriptions of the aud

[2019-07-21 15:13] jblair87 commented on #1118
@alexandersandberg I really like the use of the arrows here. I think this is a great solution.

[2019-07-21 18:45] IvanBila commented on #923
Hi, @robdodson @addyosmani @Meggin is someone working on this? asking because I have something on the works and looking forward to opening a PR.

[2019-07-21 18:55] alexandersandberg commented on #773
@robdodson There still seems to be an issue with the vertical alignment of the 'Remove URL' icon. Tested in Opera, Safari, Firefox, and Chrome, and all show the same misalignment.

![Screenshot of misaligned icon](https://user-images.githubusercontent.com/35671299/61595608-66b73580-abf9-11e9-9f17-dca85876ffbc.png)

(I'm assuming the fixes you mentioned are live as the button text is now aligned pr

[2019-07-21 18:58] addyosmani commented on #923
We have not yet assigned anyone to write this guide so it's definitely open to be taken :) as web.dev has a new content proposal process (you can see it in our issue template when filing a new issue), that might be a good place to start.

that way we can get a rough idea if the content you've already been exploring is in line with what we are hoping to get out for this guide.

[2019-07-21 19:32] alexandersandberg opened #1180 "Firefox shows red outline for required input on load"
**Describe the bug**
Firefox adds a red outline to any input with the `required` attribute on load (see image 1). This leads to inconsistencies between browsers (see image 2).

**To Reproduce**
Visit [/measure](https://web.dev/measure) in Firefox.

**Expected behavior**
Since there's already a warning displayed through an event when the required input is empty, this default warning should probably

[2019-07-21 20:06] alexandersandberg opened #1181 "Unnecessary margin shift at 1440px in measure tool"
**Describe the bug**
There's an unnecessary margin shift at 1440px and above, according to the CSS below. See GIF 1 for a demonstration.

[code]

**To Reproduce**
Visist [/measure](https://web.dev/measure) and resize browser past/below 1440px width.

**Expected behavior**
Margins between elements are more consistent and visually pleasing _with_ the `margin-bottom: 32px`, so I think it would be bet

[2019-07-22 17:48] jpmedley opened #1183 "Origin trial blurb should link to specific origin trial."
**Is your feature request related to a problem? Please describe.**
I should have thought of this before. The origin trial blurb should include a link to the registration page as well as to the guide.

https://developers.chrome.com/origintrials/#/trials/active

[2019-07-22 17:51] robdodson commented on #1183
@jpmedley would you be interested in doing a PR to add that?

[2019-07-22 18:11] jpmedley opened #1184 "Clarify capitalization of origin trial"
Web.dev is inconsistent with the deliberate and long-standing practice of the group that manages origin trials in that it capitalizes the phrase whereas the group that manages them does not. The philosophical basis of this is given by the definition of proper noun in one of my reference books. "A _proper noun_ (emphasis theirs) identifies a specific member of a class." In the estimation of that gr

[2019-07-22 18:17] jpmedley commented on #1184
This is also the practice I've followed in the beta release posts since taking it over.

[2019-07-22 18:21] jpmedley commented on #1183
Just assigned myself.

I originally intended to make the request to link to a specific OT. Then decided to request merely the registration page and forgot to change the title.

Which would you rather do? If the former, how do I pass an argument to a shortcode?

[2019-07-22 20:36] jeffposnick commented on #693
I have a draft of this available at
https://docs.google.com/document/d/1YPoy3DzR68gIBt58y4uHV7OPwH_CROoxxNu7O0MD-eI/edit (`@google.com` email address required).

It currently assumes that the related codelab will be #888 (which is blocked right now), but we can remove a reference to the codelab as needed if we wanted to decouple the dependencies.

CC: @addyosmani

[2019-07-22 22:12] carolrivero opened #1185 "Illustration for collection (feature phone)"

[2019-07-22 22:18] carolrivero opened #1186 "Consider adding subheadings to collections. related to #1137"

[2019-07-22 22:19] carolrivero opened #1187 "Illustration for collection (feature phone) Eng work related to #1185"

[2019-07-22 22:20] carolrivero opened #1188 "Enable tags UI. Eng work related to #974"

[2019-07-22 22:21] carolrivero opened #1189 "Build Featured Content for Blog Eng work related to #1086"

[2019-07-22 22:22] carolrivero opened #1190 "Likes/Favorites/Claps counter Eng work related to #1055"

[2019-07-22 22:23] carolrivero opened #1191 "Make FABs take up less space on mobile. Eng work for #953"

[2019-07-22 22:24] carolrivero opened #1192 "Turn off the Measure categories user don't care about Eng work related to #451"

[2019-07-22 22:25] carolrivero opened #1193 "Add sign posts so users knows when a post is part of a collection. Eng work related to #973"

[2019-07-22 22:26] carolrivero opened #1194 "Feed link appears at wrong position in the DOM and isn't announced on the site Eng work related to #1012"

[2019-07-22 22:27] carolrivero opened #1195 "Add status messages while the measure tool is running. Eng work related to #386"

[2019-07-23 14:48] robdodson opened #1199 "Provide more hero and thumbnail options."
**Is your feature request related to a problem? Please describe.**
Blog post thumbnails reuse the hero image from the post itself. This creates problems when the hero image does not neatly scale down to the thumbnail dimensions.

**Describe the solution you'd like**
We should use the picture element to let authors provide different crops of these images.
We should also add the ability to have a se

[2019-07-23 15:44] robdodson commented on #1118
oh my gosh this is so great!!! thank you both for doing this 😍

apologies for my slow response, I'm in training workshops until Thursday. I can start implementing these suggestions later this week. 🙌

[2019-07-23 16:01] robdodson commented on #1181
oh good catch. I'll fix this up later this week. Thank you! 🙏

[2019-07-23 17:19] alexandersandberg commented on #1118
@robdodson Great! I would love to brainstorm these changes further if you need any feedback or input, so feel free to reach out! 😊

[2019-07-24 01:33] robdodson commented on #773
Oh I bet they're not live yet if you're still seeing issues in Firefox. It looks like the last release of the frontend may have been 10 days ago so my change didn't quite make it. Kind of a long story but for certain components like these our site gets released as part of a bigger piece of Google infrastructure and it can take a week or more to roll out.

[2019-07-24 01:40] robdodson commented on #1180
Just submitted a fix. It will take a few days to roll out. Thanks for flagging this!

[2019-07-24 01:40] #1180 closed

[2019-07-24 01:43] robdodson commented on #1184
Removed the writing label because that's used by our bot to indicate the lifecycle phase that a piece of content is in. Maybe I can annotate that in a way that it's clear that it's a bot label...

I'm fine updating the term "origin trial" to be consistent with whatever the prior art is. @mfriesenhahn any objections?

[2019-07-24 01:49] robdodson commented on #1183
Which guide are you referring to? Can you provide an example?

FWIW you can click 'Edit' next to the title to change it :)

I think I prefer just linking to the registration page. I believe Jeff was originally using this blurb to help folks understand what the term "origin trial" meant so maybe it doesn't need to link to specific ones. If we're not linking to specific ones then I think you can upd

[2019-07-24 08:38] alexandersandberg commented on #773
I appreciate the explanation! The issue I'm seeing differs a bit from the original one, however, since the button texts are aligned properly, and the X is pushed down slightly—although not completely centered.

I see this in all major browsers on macOS, as well as in Safari on iOS. It might still be the case of the fix not live yet, of course, so I guess it's best to wait and see.

[2019-07-24 13:56] robdodson commented on #773
yeah I think the release still hasn't gone out yet so I'll check back the next time I get a notification that the release is going out to confirm it's fixed.

[2019-07-24 15:33] jpmedley commented on #1184
(Sidebar: the usage guide should provide some guidance around classes of things versus instances of things. I'm using the linguistic meaning of those terms, not the CS meaning.)

[2019-07-24 15:48] jpmedley commented on #1183
This is [the developers guide](https://github.com/GoogleChrome/OriginTrials/blob/gh-pages/developer-guide.md) already linked to in the blurb. The [registration page is here](https://developers.chrome.com/origintrials/#/trials/active).

I knew that. I was really just saying I had two ideas about how this should be done.

Will do.

[2019-07-24 16:38] mfriesenhahn commented on #1184
Here's my vote for how to proceed:

**Do now**
- Un-cap all instances of "origin trial" across the site in a new PR.

**Do later**
- Forego the distinction between classes and instances and instead include the distinction between proper and common nouns, which contains the former distinction and is more widely known.
- Include that guidance by pointing to the GDDSG. (This would be part of a larger

[2019-07-24 16:58] jpmedley commented on #1184
I should less vague. I'm stating that guidance should clarify that the distinction between a common noun and a proper noun is the distinction between classes and instances. It states explicitly what my grammar books and probably most others only imply. I have two reasons for proposing this:

* The frequency with which I've had to explain that being the subject of the a piece of writing does not ma

[2019-07-24 19:06] kaycebasques opened #1205 "Change "realize what the web can be" to a more proactive call-to-action"
**Describe the bug**

The call-to-action for our core content should express that all of these sections are core parts of a good web experience. The current tagline, `Realize what the web can be`, doesn't quite convey that. If you look at that call-to-action literally, what action are we directing readers toward? We're just directing them towards "becoming aware of" the web's potential. I know tha

[2019-07-24 21:08] alexandersandberg commented on #1118
Did some more work on this. I've divided it up into headings to make it easier to read.

## Share buttons blocking content
On blog post pages, the two 'share' buttons at the bottom right corner take up a little too much space vertically.

### Possible solution(s)
I think the best solution would either be to make them smaller, or as I prototyped below—see image 1—place them horizontally instead. Si

[2019-07-24 21:23] alexandersandberg opened #1206 "/measure's URL text input could use some left padding"
**Describe the bug**
Not sure if this is a bug or a feature request, but the text input for URLs on [/measure](https://web.dev/measure) could use some padding to the left.

![prototype for what the text input would look like with more padding](https://user-images.githubusercontent.com/35671299/61829586-8e143980-ae69-11e9-9a67-5f07eb03e96e.jpg)
_Top left: Current. Top right + bottom: Proposal._

I

[2019-07-24 22:46] robdodson commented on #1205
I believe Harleen and Meggin worked with a UX writer on this phrasing. Might be worth doing an internal email discussion to pull in those same folks so we can talk through this.

[2019-07-24 22:51] kaycebasques commented on #1144
Draft LGTM

[2019-07-25 00:50] kaycebasques opened #1209 "Make $ un-selectable"
**Describe the bug**

When users go to copy CLI code, the `$` that we use as a convention is copy-able. In DevSite this symbol is omitted so that the code that's copied to the clipboard is correct. https://developers.google.com/style/code-syntax#prompt

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://web.dev/precaching-with-the-angular-service-worker/#introducing-the-angular-s

[2019-07-25 17:44] robdodson commented on #1209
What do you think about asking folks to remove the `$`. I don't think we include it in most of our snippets. Devsite has a custom widget they use for this but that almost feels like more effort than it's worth.

[2019-07-25 18:45] kaycebasques commented on #1209
SGTM. Let me put in a note in the web.dev style guide.

[2019-07-25 21:06] #1183 closed

[2019-07-26 17:12] #1064 closed

[2019-07-26 18:12] carolrivero opened #1211 "Update sign up form with variables to make importing work."

[2019-07-26 18:17] mfriesenhahn opened #1212 "Add escape characters to handbook"
Add explanation for how to escape characters to `handbook/markup-code`.

[2019-07-26 19:48] mfriesenhahn opened #1213 "Point Lighthouse "Learn more" links to web.dev"
Continue shifting Lighthouse "Learn more" links to web.dev posts. Posts in the accessibility category are already done. Submit one Lighthouse PR for each category.

[2019-07-26 23:27] #1065 closed

[2019-07-29 15:26] jpmedley commented on #1122
The feature this is related to is [no longer shipping in 77](https://groups.google.com/a/chromium.org/forum/?utm_medium=email&utm_source=footer#!msg/blink-dev/QjcyhPZ_sNI/KRR77NZOCwAJ).

[2019-07-29 15:29] jpmedley opened #1218 "Content supporting the Chrome 78 beta release"
**A one to two sentence description of your post**
An epic covering all issues related to content for the Chrome 77 beta release

**Target publish date:** `2019-09-11`
- [x] Check this box if this is a hard deadline.

[Chrome Feature Tracking](https://docs.google.com/spreadsheets/d/155euqrhdqVhtbAID7ydaUPjBstLIYZ4PJkpFmqJ6j-o/edit#gid=215381875)

[2019-07-29 16:16] dougsillars opened #1220 "content: Best Practices for Video Playback on the Web"
**Author**: @dougsillars
**Reviewer**: @jpmedley

**A one to two sentence description of your post**
I'm proposing a ~1000 word blog post on the various attributes available for video delivery, and best practices in the use of the various attributes that are available: ensuring that the video playback is quick and efficient with no stalls, and also fully featured and awesome for end users.

**Targ

[2019-07-29 21:33] carolrivero commented on #1153
Hey Kayce
Friendly nudge. Any updates you can provide is helpful as we're ending this sprint tomorrow. Thanks.

[2019-07-30 00:03] robdodson commented on #1206
Good catch. @samthor do you think you can make this fix in the updated CSS you're working on?

[2019-07-30 00:07] samthor opened #1223 "v2 doesn't rebuild on CSS changes"
**Describe the bug**
Saving a CSS file doesn't cause a Rollup run.

**To Reproduce**
Save a CSS file (modified or not). See no rebuild. Save a related JS file, rebuild happens.

**Expected behavior**
Rebuild.

**Screenshots**
¯‍\‍_‍(‍ツ‍)‍_‍/‍¯

[2019-07-30 00:08] robdodson commented on #1223
oh yeah I think that's because I switched to using chokidar in the package.json to watch files and didn't tell it to watch the scss.

[2019-07-30 01:42] logicalphase opened #1224 "Attempt to download report using download link on Android Pixel 2xl fails with error."
Attempts to download report on Android fails with unknown error. Pixel 2 xl (beta).

[2019-07-30 02:16] mfriesenhahn commented on #1133
Also need a case for creating a new file in a Glitch, as  @mihajlija pointed out.

[2019-07-30 18:33] robdodson opened #1226 "Create automated email triggers."
When folks subscribe to our email list they should get an automatic welcome email.

[2019-07-30 19:37] robdodson commented on #974
Here's a high level list of tags that I created based on the ones developers.google.com/web uses. I tried to consolidate things a bit because the one on /web felt very fine grained. There are certainly things missing but i think this will give the folks at Huge a good idea of how many tags we might have for web.dev.

[code]

[2019-07-30 19:44] jpmedley commented on #974
Looks good.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Tue, Jul 30, 2019 at 12:37 PM Rob Dodson <notifications@github.com>
wrote:

[2019-07-30 20:46] kaycebasques commented on #1153
There's a couple small changes in the doc but it mostly LGTM

[2019-07-30 20:54] robdodson commented on #1226
Delayed till next sprint while we work on generating a campaign id.

[2019-07-30 21:56] robdodson opened #1229 "Articles using StackBlitz crash on iOS Safari."
**Describe the bug**
Pages using StackBlitz embeds seem to crash in iOS Safari as soon as the embed loads.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev/faster-angular-change-detection/ using an iphone.
2. The tab should crash

**Expected behavior**
The tab does not crash.

**Additional context**
The StackBlitz team thinks this is because embeds are really resource in

[2019-07-30 22:03] robdodson commented on #1153
ok, next steps would be for @tcmg to turn it into a PR

[2019-07-30 23:22] #1096 closed

[2019-07-31 01:31] robdodson commented on #708
Probably want to combine [husky](https://github.com/typicode/husky) and [lint-staged](https://github.com/okonet/lint-staged) to make sure this only runs against staged files and not the entire project.

[2019-07-31 08:26] yoavweiss commented on #1136
Friendly ping! :)

[2019-07-31 14:52] jpmedley commented on #1157
Here's the list of articles that currently mention caniuse. I need to make sure MDN is correct before I change any article. If one of these gets updated, I'll prioritize it over the others.

.//lighthouse-performance/uses-webp-images/index.md
.//lighthouse-performance/uses-rel-preload/index.md
.//fast/serve-modern-code-to-modern-browsers/index.md
.//fast/avoid-invisible-text/index.md
.//fast/codel

[2019-07-31 16:02] carolrivero commented on #1136
@yoavweiss - your post was moved to the sprint ending on 8/28. Thanks.

[2019-07-31 17:36] carolrivero commented on #1145
What is the status of this review?

[2019-07-31 17:38] khempenius commented on #1145
@kaycebasques has reviewed this and the doc has LGTM.

[2019-07-31 19:42] kaycebasques commented on #1145
Yes LGTM

[2019-07-31 19:44] mihajlija commented on #1133
@mfriesenhahn  I can take this if I'm absolved from the reviewing #1231 ? cc @robdodson

[2019-07-31 20:41] mfriesenhahn commented on #1133
Ha, I thought you already had because it was in code review :)

So, yes, you are absolved. Go forth and create wondrous short codes!

[2019-07-31 21:58] #1059 closed

[2019-07-31 22:44] #1170 closed

[2019-07-31 23:15] #708 closed

[2019-07-31 23:23] carolrivero commented on #1211
robdodson - this is still showing in sprint 7/30 as "open" Can we mark this as closed? Thanks.

[2019-07-31 23:31] robdodson commented on #1136
If it's ok I'd like to take a shot at reviewing this because it's been in the queue for quite some time. I'll add it to the current sprint and assign it to myself.

[2019-08-01 00:31] robdodson commented on #1136
Added comments to the draft doc. Assigning back to @yoavweiss for him to rework. Give me a shout when you're ready for another look :)

[2019-08-01 00:41] #1211 closed

[2019-08-01 00:41] robdodson commented on #1211
Yup! Closed

[2019-08-01 16:45] carolrivero commented on #1124
Arthur is still writing - still needs to launch 8/8

[2019-08-01 16:46] carolrivero commented on #1071
mfriesenhahn meeting w/ Minko and Mark this Fri.

[2019-08-01 16:50] carolrivero commented on #1125
waiting on markdown conversion

[2019-08-01 16:50] carolrivero commented on #1128
Need to create images and video and need to code review tomorrow

[2019-08-01 16:52] carolrivero commented on #658
On track - need to finish review today

[2019-08-01 16:54] carolrivero commented on #1145
@khempenius - please provide an update on PR. Thanks.

[2019-08-01 16:56] carolrivero commented on #657
Ready for review.

[2019-08-01 16:58] carolrivero commented on #1148
@kaycebasques - could I ask you to review the PR? And mfriesenhahn will take a look. Thanks.

[2019-08-01 16:58] carolrivero commented on #1144
Need to confirm a few things will go out today.

[2019-08-01 17:00] carolrivero commented on #1098
@katejeffreys reviewed and approved.

[2019-08-01 17:00] #1051 closed

[2019-08-01 17:11] khempenius commented on #1145
Imgix (@sherwinski - I think?) will be opening the PR for this.

[2019-08-01 17:22] sherwinski commented on #1145
Yep! I'll be opening a PR either today or tomorrow. Thanks

[2019-08-01 22:30] mfriesenhahn opened #1242 "content(docs): Create template IA"

[2019-08-01 22:31] mfriesenhahn opened #1243 "content(docs): Create canonical samples"
Create at least one example each of:
- a post
- a codelab
- an IA

[2019-08-01 22:32] mfriesenhahn opened #1244 "content(chore): Create overview deck"
Create a deck providing an overview of web.dev, including:
- content strategy
- scope
- intended audience
- format goals

[2019-08-01 22:35] mfriesenhahn opened #1245 "content(chore): Define and prioritize quality metrics"

[2019-08-01 22:44] mfriesenhahn opened #1246 "content(docs): Revise audience section of handbook"
Revise audience section of handbook. Goals:
- Include guidance about how to use personas.
- Generalize details in existing personas (e.g., tech stacks) to make them more broadly applicable.
- Include info in personas that build empathy (e.g., photos, likely affective responses).
- Include signals indicating provenance of the details (e.g., linking to data where we have it).
- Ensure parallel infor

[2019-08-01 22:44] mfriesenhahn commented on #1246
@katejeffreys, I tried to capture our previous conversations succinctly. Please feel free to amend as needed!

[2019-08-01 22:48] mfriesenhahn opened #1247 "content: [task] Revisit content handbook IA"
To consider:
- Providing successive levels of depth to accommodate the range of web.dev contributors
- The relationship to existing resources (e.g., the [GDDSG](https://developers.google.com/style/))

[2019-08-01 22:55] #1247 closed

[2019-08-01 23:04] mfriesenhahn opened #1248 "content(docs): writing team review of content handbook"
Proposed process:
- @kaycebasques and @mfriesenhahn define goals and scope for review.
- @mfriesenhahn migrates to Google Doc.
- @mfriesenhahn shares review goals, scope, and doc with team.
- @katejeffreys to finish reworking audience page (tracked in [issue 1246](https://github.com/GoogleChrome/web.dev/issues/1246). Append to main doc when ready.
- Team members comment and make suggestions in Goo

[2019-08-01 23:08] mfriesenhahn opened #1249 "content(chore): calibration activity"
Proposed process:
- Create overview deck for project. (Tracked in issue #1244.)
- **Workshop 1:** review deck, discuss and improve existing examples' alignment to vision.
- **Independent work:** everyone drafts a canonical example based on a /web doc that needs migrated. Writers share work with group.
- **Workshop 2:** Team discusses independent work.
- **Independent work:** team members revise ex

[2019-08-01 23:10] mfriesenhahn opened #1250 "content(chore): further specify content process"
Proposed process:
- Team meets to discuss.
- Decisions documented in process section of handbook or internal process doc, as appropriate.
- Job aids (e.g., proposal template, content issue template) refined/created as needed.

Topics to consider:
- Typical turnarounds for collaboration
  - How long until content proposer gets approval
  - How long reviews should take
- Typical writing/collaboratio

[2019-08-01 23:11] mfriesenhahn opened #1251 "content(chore): create global site IA spreadsheet"

[2019-08-01 23:15] #1144 closed

[2019-08-01 23:23] #1133 closed

[2019-08-02 00:35] mfriesenhahn opened #1253 "content(docs): Finish adding code samples to handbook components post"
Add code samples for all components on /handbook/web-dev-components

[2019-08-02 16:14] jpmedley commented on #1243
Posts probably need multiple canonical examples. Off the top of my head:

* CSS post
* Javascript feature
* New complete API based on a spec ([Example](https://www.chromestatus.com/feature/6577673212002304))
* New interface or interface member for an existing spec. ([Interface example](https://www.chromestatus.com/feature/5689383275462656), [member example](https://www.chromestatus.com/feature/576

[2019-08-02 16:27] jpmedley commented on #1246
I've been looking for a place to capture something. This discussion started because of someone's comment that their article didn't fit any of the personas and it fit all of them. This is a problem I will always have with posts related to the beta release. Beta release posts are frequently about features that have never existed before in the history of the universe. Though a particular feature migh

[2019-08-02 16:42] robdodson commented on #657
@mfriesenhahn to touch base with folks regarding this doc and #658

[2019-08-02 16:58] mfriesenhahn commented on #1243
Given that web.dev is more problem-oriented than feature-oriented, I think we may want to continue thinking through the breakdown. But I definitely agree there should ideally be more than one example per format. I just wanted to be realistic about what we can accomplish this sprint :)

[2019-08-02 20:33] petele opened #1257 "Need support for custom anchors in header tags"
**Is your feature request related to a problem? Please describe.**
WebFu supports specifying anchors in headers eg: `## hello {: #anchor }`.

This is important for long headers, or in cases where the header may change but you want to keep things consistent. We also need this so that when we move content from WebFu to web.dev, we can maintain the same anchor tags.

**Describe the solution you'd lik

[2019-08-03 13:54] juristr opened #1260 "Angular Article - Virtualize large lists with Angular CDK"
**Describe the bug**

The code samples are correct in the GitHub source, but not visualized properly on the web.dev platform. For instance if you go to https://web.dev/virtualize-lists-with-angular-cdk/, then all occurrences of the following

[code]

are wrongly displayed, missing the `{{ item }}` in between the divs, such as

[code]

This is most probably a compilation issue, when the markdown fi

[2019-08-05 06:43] agektmr opened #1263 "Fails to build when localized contents are added"
**Describe the bug**
I'm trying to add l10n content #1262 , however it's failing to build as you can see the error indicated below.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a language directory like `src/site/content/<lang>`
2. Create a translation mirroring directory architecture of `en`
3. Build

**Expected behavior**
Successfully build (regardless of development serv

[2019-08-05 16:57] MarkPieszak commented on #1071
👋
Will post Docs links to rough outline for new content asap

[2019-08-05 17:28] #1097 closed

[2019-08-05 18:10] carolrivero commented on #658
Need to take over-all look at IA so waiting for content lead to accept proposal

[2019-08-05 18:20] robdodson opened #1265 "Don't show draft posts in topic sections or card counts."
**Describe the bug**
If a topic section in a learning path is comprised only of drafts, we should not show the topic.
Similarly, we should not count draft posts in the "resources" field at the top of a section card:
![image](https://user-images.githubusercontent.com/1066253/62486039-113f6480-b773-11e9-8e57-403eaca4f55c.png)

[2019-08-05 19:27] mfriesenhahn commented on #1246
Yeah, that's an interesting problem. I guess I'm wondering (naively) whether the latest features can realistically be taken on board by literally all devs. Like, in at least some cases, it seems like you need a fair amount of domain knowledge to understand why a feature is valuable?

[2019-08-06 00:12] samthor opened #1268 "Store listeners are setup in constructor, should be connected/disconnected"
We're listening to the unistore thing in element ctors, but it should really be set up and torn down based on element lifecycle.

Right now, every time we navigate to /measure we're leaking elements.

[2019-08-06 01:59] #1265 closed

[2019-08-06 02:08] robdodson commented on #1260
yeah I think we're failing to escape them properly. I can look into fixing this.

[2019-08-06 02:14] robdodson opened #1269 "Add better disclosure widget."
**Is your feature request related to a problem? Please describe.**
In the writer's handbook and in some guides we often times have big chunks of information which are interesting but not critical for the reader. We should beef up our disclosure widget so we can show a nice abbreviated version of this information.

**Describe the solution you'd like**
Something like:
https://material.io/design/comm

[2019-08-06 02:27] #1257 closed

[2019-08-06 02:28] robdodson commented on #735
Fixed in #1258

[2019-08-06 02:28] #735 closed

[2019-08-06 02:40] #1098 closed

[2019-08-06 02:56] robdodson commented on #1263
hm yeah... I'll have to think about this.
It's failing because I added a function that let's us quickly look up an eleventy post by its slug:
https://github.com/GoogleChrome/web.dev/blob/master/src/site/_filters/find-by-slug.js#L30 but it assumes posts all have unique slugs. I think I'll have to tell it to also consider the language directory.

[2019-08-06 10:05] surma opened #1270 "content: Making PROXX work on feature phones - part 1"
**Author**: @surma
**Reviewer**: @kaycebasques

**Target publish date:** As soon as it's done.
- [ ] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1wMGwJiijyYReMLup-HRoKDMMVSfqvAi-B9dW14o8BeQ/edit?usp=sharing)
- [x] 2. Propos

[2019-08-06 10:20] samdutton commented on #658
I added comments to #1231 — let me know if I need to do anything else.

[2019-08-06 14:45] hintyu opened #1271 "How do you decide what audits to show in scores-audits table?"
There are many audits performed in lighthouse module but only a few audits are shown in **scores-audits table**(I mean, the table of audits on '/measure' page, under Metrics table).

How do you decide what audits to show in the table, and what is the creteria for determining IMPACT?(High, Medium, Low) I tried to analyze lighthous JSON report, but couldn't find the mention about the audits' impact.

[2019-08-06 15:34] jpmedley commented on #1246
Well, hopefully we explain why something is valuable to people who don't have the domain knowledge. I'm not sure how valuable we've been. In some cases we might not need to explain it even if it does require domain knowledge. WebRTC ("real time communications") is a good example of this. The people who work on WebRTC are specialists working on WebRTC products. What they need to know is what change

[2019-08-06 15:35] mfriesenhahn commented on #1269
Thanks, @robdodson!

[2019-08-06 15:52] mfriesenhahn commented on #1246
If I'm reading you correctly, I think you're saying that some beta release posts really are for a narrow audience, while others should ideally be pitched to a much wider range of devs. That makes sense to me. For the Audience page, @katejeffreys and I talked about including strategies for making content accessible to everyone, regardless of target audience. Perhaps that would get at the issue you'