[2019-08-06 15:58] surma opened #1272 "content: Making PROXX work on feature phones - part 2"
**Author**: @surma
**Reviewer**: @kaycebasques

**Target publish date:** As soon as it's done.
- [ ] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1FCwGvBidKcvhX3l67CCvBFendKnx8RoxTy7tEg9uK2E/edit?usp=sharing)
- [ ] 2. Propo

[2019-08-06 16:26] robdodson commented on #1271
Hi @hintyu

We show all of the audits that the user fails. There should be a button at the bottom to show more audits if the list is long.

![image](https://user-images.githubusercontent.com/1066253/62557561-157b8880-b82c-11e9-99ec-e606f217679c.png)

To determine impact we look at the audit's weight (lighthouse audits internally list their weight in the json report). For performance audits they li

[2019-08-06 16:26] #1271 closed

[2019-08-06 16:32] jpmedley commented on #1246
Correct, some really are for narrow audiences.

I was also thinking that we suggest some audiences then leave a blank labeled "other". We might find some cowpaths to pave.

[2019-08-06 16:44] carolrivero commented on #1153
@tcmg - please submit a PR for this one. Thanks.

[2019-08-06 18:37] ljme opened #1274 "Web.dev doesn't save state of report when pressing back button"
Version: https://web.dev/as of 8/6/19
Browser: Any, for this issue I used Chrome OS 77.0.3849.0 (Official Build) dev (64-bit)

Steps to reproduce:
# Navigate to https://web.dev/measure
# Analyze any site, for example I used www.wyep.org
# Click on any of the recommended results how-to articles, for example, I clicked on "Eliminate render-blocking resources" - note that these open in the current ta

[2019-08-06 18:45] #1260 closed

[2019-08-06 21:07] jpmedley commented on #1166
I've requested a few more changes from Demián. I'm hoping we'll move to the next stage tomorrow.

[2019-08-06 21:22] jpmedley opened #1278 "content: migrate "Image Support for the Async Clipboard API""
**Author**: @tomayac
**Reviewer**: @jpmedley
**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docu

[2019-08-06 21:31] jpmedley opened #1279 "content: migrate "Registering as a Share Target with the Web Share Target API""
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docu

[2019-08-07 01:06] hintyu commented on #1271
Thank you very much! It helped a lot! 😄 😄

[2019-08-07 10:41] surma opened #1282 "Inserting a <p> tag into a <figcaption> increases the font size"
**Describe the bug**
Inserting a <p> tag into a <figcaption> increases the font size

**To Reproduce**
[code]

**Expected behavior**
The font sizes in the two figcaptions should be the same.

**Screenshots**
<img width="174" alt="Screen Shot 2019-08-07 at 11 41 20" src="https://user-images.githubusercontent.com/234957/62616805-4d57fe00-b908-11e9-93b9-4afc43c8a816.png">

[2019-08-07 16:40] carolrivero commented on #1220
@jpmedley - Rob will help w/ this one so we're assigning it to him. Thanks.

[2019-08-07 16:40] carolrivero commented on #1220
To clarify, Rob will help w/ the proposal review only. Then we'll reassign back to you. Thanks.

[2019-08-07 16:45] carolrivero commented on #1136
@yoavweiss to work on this when he's back on Aug 8.

[2019-08-07 17:13] #1229 closed

[2019-08-07 17:15] #1206 closed

[2019-08-07 17:16] demianrenzulli commented on #1014
@mihajlija @mfriesenhahn as discussed I've updated this issue, based on the new template. It wasn't clear to me where I should attach the draft of the guide, so I added it directly below the document info in the [proposal](https://docs.google.com/document/d/1HMhSWAmCoEvfMGC3R6KBsmWOpZqdxRw8NyLzduGZH_o/edit?usp=sharing).

[2019-08-07 17:18] robdodson commented on #1184
@mfriesenhahn @jpmedley is this issue still active or can we close it? I know Jeff added an include for origin trials but I wasn't sure if that fully addressed this issue.

[2019-08-07 17:19] #1181 closed

[2019-08-07 17:19] jeffposnick opened #1283 "content: "Recovering from a problematic service worker""
**Author**: @jeffposnick
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-10-01
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy

[2019-08-07 17:20] jeffposnick commented on #1283
This involves migrating https://stackoverflow.com/questions/33986976/how-can-i-remove-a-buggy-service-worker-or-implement-a-kill-switch/38980776#38980776 to live under https://web.dev/reliable as part of our service worker guidance.

CC: @addyosmani

[2019-08-07 17:28] demianrenzulli opened #1284 "content: Codelab: Use Link Prefetch with HTML Tags and HTTP Link: header"
**Author**: @demianrenzulli
**Reviewer**: @mihajlija

**Target publish date:** <2019-09-xx>
- [ ] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [X] 1. I've done my proposal - [Link](https://docs.google.com/document/d/1pUaRAwreF1t3efCo_J7D6GrIrZoBl0wCCQnZPhkOmGs/edit?usp=sharing)
- [x] 2. Pr

[2019-08-07 17:29] demianrenzulli commented on #1284
This codelab should be linked from the guide submitted at: #1014.

cc // @mihajlija @mfriesenhahn

[2019-08-07 17:43] mfriesenhahn commented on #1184
Defer to @jpmedley about whether capping of "origin trial" has been fixed. If so, I think the handbook stuff can be dealt with separately.

[2019-08-07 19:24] demianrenzulli commented on #1166
Note: changes suggested by @jpmedley have been added in the doc.

[2019-08-07 21:05] carolrivero opened #1285 "Add MAU and authoring sentiment tracking to web.dev studio dashboard"

[2019-08-07 21:21] carolrivero opened #1286 "Publish authoring sentiment survey"

[2019-08-07 22:27] jpmedley commented on #1184
As I recall Jeff's include is correct. If it's in the handbook, this can be closed.

[2019-08-07 22:28] jpmedley commented on #1220
I can get to it tomorrow for sure. What's the rush?
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Wed, Aug 7, 2019 at 9:40 AM Carol Rivero <notifications@github.com>
wrote:

[2019-08-07 22:31] #1125 closed

[2019-08-08 01:39] robdodson opened #1288 "Code in headers has left margin."
**Describe the bug**
When a `<code>` element is the first child in a heading it has a left margin that doesn't look good.

**To Reproduce**
Write a heading like ``## `Hello` ``

**Expected behavior**
It should not have a left margin.

**Screenshots**
![image](https://user-images.githubusercontent.com/1066253/62668913-81e8ab80-b942-11e9-92d1-94670a88af41.png)

[2019-08-08 16:36] carolrivero commented on #1166
@jpmedley - Can we mark this one as ready for coding? Thanks.

[2019-08-08 16:38] carolrivero commented on #1176
Waiting for Harleen to respond to comments.

[2019-08-08 16:40] carolrivero commented on #1070
@MarkPieszak will have a new draft by Aug 9

[2019-08-08 16:41] carolrivero commented on #1071
@MarkPieszak will have a new draft by Aug 9

[2019-08-08 16:43] carolrivero commented on #1153
@tcmg - is ready for us to review the PR? If so, please assign to @kaycebasques and check #5 and provide the PR number. Thanks.

[2019-08-08 16:45] carolrivero commented on #1128
@mfriesenhahn to resolve comments in code w/ @mihajlija

[2019-08-08 16:45] carolrivero commented on #1145
@kaycebasques will review the PR today.

[2019-08-08 16:46] carolrivero commented on #1148
@kaycebasques to review the PR today.

[2019-08-08 16:55] carolrivero commented on #1153
note: I found the PR and updated the issue myself and reassigned the ticket to @kaycebasques

[2019-08-08 17:05] kaycebasques opened #1290 ""What you'll learn" section should be clickable"
**Is your feature request related to a problem? Please describe.**

The list under "What you'll learn" is not clickable even though it's essentially a table of contents.

![image](https://user-images.githubusercontent.com/4713486/62722702-e3049380-b9c3-11e9-90eb-02da6cbf852b.png)

**Describe the solution you'd like**

Make each of these list items a link.

[2019-08-08 17:06] mfriesenhahn commented on #1184
I'll open a separate PR to add this and a couple other things to the word list. I'll go ahead and close this one.

[2019-08-08 17:06] #1184 closed

[2019-08-08 17:22] jpmedley commented on #1123
This was created for use with ZenHub, which I'm no longer using.

[2019-08-08 17:22] #1123 closed

[2019-08-08 17:23] jpmedley commented on #1218
This was created for use with ZenHub, which I'm no longer using.

[2019-08-08 17:23] #1218 closed

[2019-08-08 17:36] kaycebasques commented on #1148
I reviewed the doc and asked @khempenius to make some changes

[2019-08-08 17:53] jpmedley commented on #1220
@dougsillars The proposal looks right so you can proceed with the writing.

We have a concern, though. This article will eventually sit beside other video related content. The feeling here at Google is that we don't want to try teaching people how to implement a player if they need something more complex than a `<video>` element. We'd prefer they use a player such as Shaka, Plyr, or VideoJS. We as

[2019-08-08 18:02] jpmedley opened #1291 "content: migrate "Badging for App Icons""
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docu

[2019-08-08 18:05] #1124 closed

[2019-08-08 18:15] jpmedley opened #1292 "content: migrate Contact Picker article"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docu

[2019-08-08 18:18] jpmedley opened #1293 "content: migrate "Check If Your Native App Is Installed With getInstalledRelatedApps""
**Author**: @petele
**Reviewer**: @jpmedley
**Target publish date:** 2019-09-27
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docum

[2019-08-08 18:27] jpmedley opened #1294 "content: migrate Native File System article"
**Author**: @petele
**Reviewer**: @jpmedley
**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docum

[2019-08-08 18:29] jpmedley opened #1295 "content: migrate "Experimenting with Periodic Background Sync""
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-16
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docu

[2019-08-08 19:04] jpmedley opened #1297 "content: migrate "A Picture is Worth a Thousand Words, Faces, and Barcodes—The Shape Detection API""
**Author**: @tomayac
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/doc

[2019-08-08 19:07] jpmedley opened #1298 "content: migrate "I’m Awake! Stay Awake with the WakeLock API""
**Author**: @petele
**Reviewer**: @jpmedley
**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docum

[2019-08-08 19:21] robdodson commented on #1124
This post is live at https://web.dev/more-capable-form-controls/

[2019-08-08 19:27] jpmedley opened #1299 "Make Important Content Visible in Project View"
I want to suggest rearranging content tickets so that the most important information is on top and hence more likely to be visible when I open a ticket in the Projects view.

The image below shows what I see when I open a ticket in Projects view. Everything up to is "Check this box if this is a hard deadline." is important. Then I have to click "Show more" and scroll past several minor items befor

[2019-08-08 20:46] dougsillars commented on #1220
@jpmedley with just 1k words, it's probably best to just stick to vanilla html5 <video> tags.  Trying to add in streaming + players would be a rollercoaster ride in that length. :)

[2019-08-08 21:01] jpmedley commented on #1124
Great!
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Thu, Aug 8, 2019 at 12:21 PM Rob Dodson <notifications@github.com> wrote:

[2019-08-08 21:05] kaycebasques commented on #1145
I reviewed the doc. @sherwinski or @cindy-imgix are going to address my feedback.

[2019-08-08 21:07] #1086 closed

[2019-08-08 21:08] carolrivero commented on #1055
Moving to an internal tracking tool

[2019-08-08 21:08] #1055 closed

[2019-08-08 21:10] #953 closed

[2019-08-08 21:12] #451 closed

[2019-08-08 21:20] carolrivero commented on #973
moving to an internal tracking

[2019-08-08 21:20] #973 closed

[2019-08-08 21:24] carolrivero commented on #1012
Moving to internal tracking

[2019-08-08 21:24] #1012 closed

[2019-08-08 21:27] #386 closed

[2019-08-08 22:06] carolrivero commented on #974
moving to internal tracking

[2019-08-08 22:06] #974 closed

[2019-08-08 22:08] carolrivero commented on #1185
moving to internal tracking

[2019-08-08 22:08] #1185 closed

[2019-08-09 02:53] mfriesenhahn opened #1301 "content: Provides a valid apple-touch-icon"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-08-14
- [x] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're rea

[2019-08-09 09:21] surma commented on #1270
The draft is ready for review!

cc @robdodson

[2019-08-09 16:22] #1293 closed

[2019-08-09 18:34] mfriesenhahn opened #1305 "content: Keep request counts low and transfer sizes small (audit)"
**Author**: @kaycebasques
**Reviewer**: @mfriesenhahn

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.goo

[2019-08-09 18:34] mfriesenhahn opened #1306 "content: Third-party Usage (audit)"
**Author**: @kaycebasques
**Reviewer**: @mfriesenhahn

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.goo

[2019-08-09 18:41] mfriesenhahn opened #1307 "content: Point Lighthouse audit links to web.dev"
**Author**: @mfriesenhahn

**Target publish date:** 2018-08-23
- [x] Check this box if this is a hard deadline.

1. I've submitted Lighthouse pull requests:
    - [x] Accessibility [9084](https://github.com/GoogleChrome/lighthouse/pull/9084)
    - [x] Best practices [9538](https://github.com/GoogleChrome/lighthouse/pull/9538)
    - [x] Performance [9540](https://github.com/GoogleChrome/lighthouse/

[2019-08-09 18:44] #1212 closed

[2019-08-09 18:54] kaycebasques commented on #1153
I'll review on Monday

[2019-08-12 16:41] jpmedley commented on #1290
Or, it should be an actual description of what you'll learn. "Introduction" is not something you learn.

[2019-08-12 17:44] petele opened #1313 "content: When do I use PWA/TWA/WebView/CCT"
**Author**: @andreban
**Reviewer**: @jpmedley

[2019-08-12 18:10] robdodson commented on #1220
@dougsillars yep sticking to the vanilla `<video>` tag sounds good 👍

[2019-08-12 18:15] kaycebasques commented on #1153
Looking busy today. Planning to review tomorrow.

[2019-08-13 04:29] myakura opened #1317 "Native lazyloading (`loading` attribute) is not enabled by default in M76"
**Describe the bug**
[The current version of the article](https://github.com/GoogleChrome/web.dev/blob/2a98cbfe0df58bbe8f2a134926e7790056f03e7c/src/site/content/en/blog/native-lazy-loading/index.md) says it's available in M76, but it isn't. Quick testing shows it is enabled by default in M77 Beta, M78 Dev, and M78 Canary.

Looking at the commit log, [it's just enabled by default last week](https:/

[2019-08-13 11:05] harleenkbatra08 commented on #1176
Reviewed Michael's comments and updated story. Ready for Michael's final review. I've also added the hero image to the doc and the stats card should be in there before y'all wake up too. Hope that works.

[2019-08-13 14:54] kaycebasques commented on #1145
@sherwinski will be the one updating the doc to address my feedback but is on vacation until Aug 20

[2019-08-13 14:57] jpmedley commented on #1166
Yes.

[2019-08-13 14:59] demianrenzulli commented on #1166
@jpmedley thanks again for all the help and guidance during the process.

@carolrivero moving forward with the coding today.

[2019-08-13 15:02] kaycebasques commented on #1148
I've reviewed @khempenius changes and LGTM'd the PR

[2019-08-13 17:13] addyosmani commented on #1317
Thank you for this bug report. Hmm...I can 100% confirm it is enabled by default in M76 based on our data. We used the Finch platform to roll this feature into M76 last week - this allows dynamically rolling features into Chrome without the need for cutting a completely fresh milestone.

Would it be possible to do a fresh pull of M76 to see if you might be in an outlier set that haven't seen the u

[2019-08-13 17:38] carolrivero opened #1319 "Align measure tool UI with LH report by Q4"

[2019-08-13 17:39] carolrivero opened #1320 "Build PRD/dashboard for monitoring LH scores for URLs by Q3"

[2019-08-13 18:00] kaycebasques commented on #1145
Work is being completed in #1321. This [comment](https://github.com/GoogleChrome/web.dev/pull/1254#issuecomment-520923896) gives context on why the work was moved to another PR.

[2019-08-13 18:58] kaycebasques commented on #1145
@robdodson or @mfriesenhahn or @khempenius need to approve PR #1321

[2019-08-13 22:46] #1148 closed

[2019-08-13 22:52] #1128 closed

[2019-08-13 23:26] #1145 closed

[2019-08-14 13:13] demianrenzulli commented on #1166
@carolrivero just submitted the PR (#1322), checked the corresponding field and added it to the form, at the beginning of this issue.

[2019-08-14 20:26] robdodson commented on #1270
Hey @surma. It looks like this is slated for the upcoming sprint that starts tomorrow. We should be able to assign a reviewer then.

[2019-08-15 09:29] mihajlija opened #1327 "Missing "Next article" button on "Identify slow third-party JavaScript""
The "Next article" button is missing on "Identify slow third-party JavaScript"

**Steps to reproduce**
1. Go to [https://web.dev/identify-slow-third-party-javascript/](https://web.dev/identify-slow-third-party-javascript/)
3. Scroll down to the bottom
4. See only "Return to all articles", no "Next article"

**Expected behavior**
At the end of the post, there should be a "Next article" button linki

[2019-08-15 12:21] dougsillars commented on #1220
Hi @jpmedley  I've added a draft.  Thanks!

[2019-08-15 16:24] #1327 closed

[2019-08-15 17:04] robdodson opened #1330 "Add authors and publish date to post card."
**Is your feature request related to a problem? Please describe.**
We should add author(s) images to the post cards on the home page and the blog.

**Additional context**
![image](https://user-images.githubusercontent.com/1066253/63111934-b7ddef00-bf43-11e9-9f80-356f021317ae.png)

[2019-08-15 18:21] robdodson commented on #1327
This fix should be live now.

[2019-08-15 18:22] jpmedley commented on #1295
The WebFu version [has been merged](https://github.com/google/WebFundamentals/pull/7993). We will need to rewrite before moving to web.dev.

[2019-08-15 18:54] jpmedley opened #1332 "Automatic Link Checker"
**Is your feature request related to a problem? Please describe.**
Typically, site managers and content authors aren't aware of broken links until somebody stumbles over them and reports them. Consequently, broken links can hang around for weeks, months, or even years.

**Describe the solution you'd like**
A job that runs on a regular schedule or perhaps when the server is under a light load that

[2019-08-15 19:01] jpmedley opened #1333 "Add support for subcollections"
**Is your feature request related to a problem? Please describe.**
web.dev currently only supports two levels of content structure. While this is sufficient for most cases, a few content areas, such as PWAs for example, require more.

**Describe the solution you'd like**
The ability to support a third level of content structure.

**Describe alternatives you've considered**
skeletal pages that link

[2019-08-15 19:01] jpmedley commented on #1333
@petele

[2019-08-15 20:19] harleenkbatra08 commented on #1176
Replied to Michael via email. Thanks! :)

On Thu, 15 Aug 2019 at 20:26, mfriesenhahn <notifications@github.com> wrote:

--

*  •  **Harleen Batra*
*  •  *Developer PMM - Chrome
  *•*  +44 203 321 2414

[2019-08-15 20:35] kaycebasques opened #1337 "Site forces sequential headers for situations that aren't sequential"
**Is your feature request related to a problem? Please describe.**

The standard design for index pages has a numbered heading next to each H2. In many cases the content isn't actually sequential. For [example](https://web.dev/lighthouse-pwa):

![image](https://user-images.githubusercontent.com/4713486/63125056-9b50af80-bf61-11e9-954a-50545a27094f.png)

I don't think we're necessarily intentionall

[2019-08-15 20:51] #1245 closed

[2019-08-15 20:52] #1250 closed

[2019-08-15 21:45] robdodson commented on #1332
I think remark-lint (the linting tool we're currently using) has a plugin for this. I can look into adding it.

[2019-08-15 22:17] jpmedley opened #1338 "Provide a way to manage tags across the whole site."
**Is your feature request related to a problem? Please describe.**
There is a long-term management problem common to keyword indexes and tag collections that occurs when contributors are allowed to add to them in an ad-hoc manner. Specifically, inconsistencies and needless variations in terms creep in. For example, if some writers use the term 'function' and other use the term 'method', content th

[2019-08-15 23:08] mfriesenhahn opened #1340 "content: Tidy SEO Lighthouse audit posts"
**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.goo

[2019-08-15 23:09] carolrivero commented on #1109
We'll be tracking this one in buganizer and add it to our feature phone work.

[2019-08-15 23:09] #1109 closed

[2019-08-15 23:11] mfriesenhahn opened #1341 "content: Tidy Accessibility Lighthouse audit posts"
**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

**Target publish date:** 2019-10-17
- [x] Check this box if this is a hard deadline.

Sections ready for review:
- [x] ARIA
- [ ] Audio and video
- [ ] Best practices
- [x] Contrast
- [x] i18n
- [ ] Names and labels
- [ ] Navigation
- [ ] Tables and lists
- [ ] Manual audits

[2019-08-15 23:12] mfriesenhahn opened #1342 "content: Tidy Best Practices Lighthouse audit posts"
**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.goo

[2019-08-15 23:12] mfriesenhahn opened #1343 "content: Tidy PWA Lighthouse audit posts"
**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.goo

[2019-08-15 23:14] mfriesenhahn opened #1344 "content: Tidy Performance Lighthouse audit posts"
**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.goo

[2019-08-16 10:23] myakura commented on #1317
sorry for being late. I rechecked it and now it returns true...
sorry for the noise 🙇

[2019-08-16 10:23] #1317 closed

[2019-08-16 16:22] petele opened #1345 "content: PWA Landing Page"
**Author**: @petele
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1GbQf3FUU1OdifOsYQpjZfs59y_kZb2JwHhfqD0AEVBo/edit

[2019-08-16 16:23] petele opened #1346 "content: What are Progressive Web Apps"
**Author**: @Snugug
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11

- [X] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1wA_ZXBD6-v8GTaVskmkftUjMEY7BsTTLCBmQtJIbo1w/edit)
- [x] 2. Proposal approved — _reviewer c

[2019-08-16 16:24] petele opened #1347 "content: How Progressive Web Apps Drive Business Success"
**Author**: Sébastien Fourault
**Reviewer**: @jpmedley

**Target publish date:** 2020Q2 (April)

- [ ] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1r24LqXyjBJwzs78Qd7TMKLrXMtxC4qlQp6748olYbzo/edit)
- [ ] 2. Proposal approve

[2019-08-16 16:27] petele opened #1348 "content: Strategies for Adopting Progressive Web Apps"
**Author**: @snugug
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1NhV8NN3-x35Q2eLyTNc1P_WDI77aKkU5dsOIAlLXmDg/edit#)
- [ ] 2. Proposal approved — _reviewer

[2019-08-16 16:27] petele opened #1349 "content: Progressive Web App Checklist"
**Author**: @Snugug
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1Tgm4boA7VBEowsNjqoT_O4Tdc7eqnthftbLN62YwZ4U/edit)
- [x] 2. Proposal approved — _reviewer c

[2019-08-16 16:28] petele opened #1350 "content: Make your PWA Fast & Reliable"
**Author**: @snugug
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1RnKAbRHsaqkBTcndR13LypOaLgVe3Jf_UhmNdt9QycA/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-16 16:29] petele opened #1351 "content: Make your PWA installable"
**Author**: @snugug
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1ItCrqCYIK6UnlZC6IiJEV4OR1QqJdVYONgZswxUD_Vw/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-16 16:38] petele opened #1352 "content: What is an installable web app?"
**Author**: @snugug
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1mMcO9W5DEVu-tRD58yEzkfuBU0WFe0eHcC0WL89bWq4/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-16 16:39] petele opened #1353 "content: What's required to make it installable (core criteria)"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** PWA Content
- [ ] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [X] 1. I've done my [proposal](https://docs.google.com/document/d/16CVtmHtk0dJj2FAx5_IHhyNKqVZeEu9mNO2LnhOZY-c/edit)
- [X] 2. Proposal approved — _reviewer c

[2019-08-16 16:40] petele opened #1354 "content: Create a reliable offline experience"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1k0x7yVf4-B66BWiw5OANar319eqbnIZWbPRZ8mTT1NQ/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-16 16:41] petele opened #1355 "content (update/migrate): Add a web app manifest"
**Author**: TBD
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this

[2019-08-16 16:42] petele opened #1356 "content: Enabling installed experiences"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1capacyJP3tflbqN_sDNRDGLSUPG6PCbHY_XDCjsBook/edit)
- [X] 2. Proposal approved — _reviewer c

[2019-08-16 16:42] petele opened #1357 "content: Patterns for promoting installation"
**Author**: @jpmedley @tropicadri
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1DEkvbCZEW2tP_N1ibyCUgo9vZP2xFKW1hVP1m_fGb_0/edit)
- [X] 2. Proposal approved

[2019-08-16 16:43] petele opened #1358 "content: Determining if your PWA was installed"
**Author**: TBD
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this

[2019-08-16 16:44] petele opened #1359 "content: Detecting if your app is running in an installed state"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1Epqi8TXYJOPrmsm1fZWzbIYqR3FU6MdSNUK7YpUUkHw/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-16 19:17] #1176 closed

[2019-08-16 19:19] #1166 closed

[2019-08-16 20:20] petele opened #1361 "content: Getting your PWA listed in app stores"
**Author**: @snugug
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1GtDsZ_WZepvhm6LBQcPti9cwYR61Hf6GWmOL6xZeipQ/edit

[2019-08-16 20:28] petele commented on #1349
@jpmedley - this one is ready for it's first review.

[2019-08-16 20:28] #1199 closed

[2019-08-16 22:23] #1187 closed

[2019-08-18 19:51] philipwalton opened #1364 "The term "code splitting" is hyphenated inconsistently throughout the site"
We use both "code splitting" and "code-splitting" through web.dev articles, and (as far as I can tell) there's no pattern to when we hyphenate vs. when we don't.

- https://web.dev/reduce-javascript-payloads-with-code-splitting
- https://web.dev/code-splitting-suspense
- https://web.dev/route-level-code-splitting-in-angular

Looking at other sites on the internet, they do it too, so I'm not sure w

[2019-08-18 23:08] kaycebasques commented on #1153
Forgot to review on Friday. Just reviewed now. #1289 LGTM. Assigned to @robdodson.

[2019-08-19 06:42] mathiasbynens commented on #1364
To me the pattern has always been as follows (not just for code splitting but for any English term):

- no hyphen when used as a noun: "to achieve code splitting", "by enabling code splitting"
- hyphen when used as a verb: "by code-splitting the bundles"

Not using a hyphen in the latter example is confusing, since it could reasonably be read as "by code [pause] splitting the bundles".

[2019-08-19 16:36] philipwalton commented on #1364
Hmmm, I'd not heard about hyphenating when a compound word was used as a verb, but looks like that's true based on these links (which also mention using a hyphen to avoid ambiguity):

- https://www.proofreadnow.com/blog/bid/29485/Grammar-Usage-Compound-Verbs
- https://www.quora.com/What-are-the-rules-for-hyphenating-verbs-in-English
- https://www.grammarbook.com/punctuation/hyphens.asp

But in the

[2019-08-19 17:16] robdodson commented on #1364
@mfriesenhahn @jpmedley for their thoughts

[2019-08-19 17:21] robdodson opened #1368 "Rebuild search box."
**Is your feature request related to a problem? Please describe.**
As part of our devsite migration we'll need to recreate the search box that appears on every page.

**Describe the solution you'd like**
A new search box that's actually keyboard and screen reader accessible!

**Additional context**
We might want to use something like [Algolia](https://www.algolia.com) to power our search. If so, p

[2019-08-19 17:25] robdodson opened #1369 "Rebuild search results page."
**Is your feature request related to a problem? Please describe.**
Related to #1368. As part of the devsite migration we need to redo our search results landing page.

**Describe the solution you'd like**
A new page to replace https://web.dev/s/results. Probably powered by [Algolia](https://www.algolia.com)

[2019-08-19 17:28] robdodson opened #1370 "Rebuild service worker."
**Is your feature request related to a problem? Please describe.**
As part of the devsite migration, we'll need to author our own service worker and PWA manifest. We'll need to make sure we transition smoothly off of the old service worker.

**Describe the solution you'd like**
A new service worker that dynamically caches pages as the user views them. Likely built with [Workbox](https://developers

[2019-08-19 17:30] robdodson opened #1371 "Rebuild responsive header and side-nav."
**Is your feature request related to a problem? Please describe.**
As part of the devsite migration, we need to create our own navigation header and responsive side-nav.

**Describe the solution you'd like**
I have a side-nav that I stole from Paul Lewis which animates well and uses the inert polyfill. I think we could quickly use this.

[2019-08-19 17:31] robdodson opened #1372 "Rebuild footer."
**Is your feature request related to a problem? Please describe.**
As part of the devsite migration, we need to recreate the footer in a way that doesn't rely on their CSS.

**Describe the solution you'd like**
Tidy up the footer markup and CSS. Ideally it should look the same.

[2019-08-19 17:39] mfriesenhahn commented on #1364
Ha, I just added this to my to-dos last week. I'm good with Matthias' approach, though I might suggest that the handbook encourage writers to avoid the verb form because it's a little awkward. For example, "split the code bundles" seems better than "code-split the bundles." This is aligned with our approach for other cases like _round trip_.

[2019-08-19 18:10] carolrivero commented on #1220
@jpmedley - please provide an update on status of review. Thanks,

[2019-08-19 18:11] carolrivero commented on #1340
Need to go back to writing - merge discoverable and LH seo.

[2019-08-19 18:25] robdodson opened #1373 "Recreate analytics element/lib."
**Is your feature request related to a problem? Please describe.**
Devsite provides a devsite-analytics element that looks for attributes like `[gc-analytics]` and automatically tracks those elements. We'd need to provide something similar in order to maintain our analytics.

**Describe the solution you'd like**
A custom element or js library that replicates the functionality of `devsite-analytics

[2019-08-19 18:27] #1161 closed

[2019-08-19 18:27] robdodson opened #1374 "Migrate web-codelab element."
**Is your feature request related to a problem? Please describe.**
We need to migrate the `web-codelab` element out of devsite and into our v2 branch.

[2019-08-19 18:29] robdodson opened #1375 "Migrate LH data."
**Is your feature request related to a problem? Please describe.**
As part of the devsite migration, we're switching over to storing data in Firestore. We need to make sure that when we switch over, users don't lose their historical data.

**Describe the solution you'd like**
It seems like the easiest solution will be to let anyone look at the historical data for a URL. I think this may also solve

[2019-08-19 18:57] robdodson commented on #1166
This post is now live! https://web.dev/multi-origin-pwas/

[2019-08-19 19:02] demianrenzulli commented on #1166
This is great Rob, thank you!

[2019-08-19 19:04] robdodson opened #1376 "Add custom elements polyfill."
**Is your feature request related to a problem? Please describe.**
When we migrate off of devsite we should consider if we want to include a custom elements polyfill. Currently IE and Edge make up something like <1% of our traffic but it may still be worth doing in the short term, at least until Edgium has gained more traction?

**Describe the solution you'd like**
Bundle the custom elements polyf

[2019-08-19 19:05] robdodson opened #1377 "Add autoprefixr to our CSS build."
**Is your feature request related to a problem? Please describe.**
We currently rely on Devsite's use of autoprefixr. When we migrate, we'll need to add this back ourselves.

**Describe the solution you'd like**
Add autoprefixr to the CSS build. Likely targeting last two versions of each browser. Maybe IE11 is as high as we'd go for IEs. Or omit IE entirely and just favor Edge?

[2019-08-19 20:11] mfriesenhahn commented on #1364
Fixed in #1378. @jpmedley, if you could give it a once over, that'd be great!

[2019-08-20 16:51] kaycebasques opened #1384 "Lighthouse audit references should always match the failureTitle"
**Is your feature request related to a problem? Please describe.**

Suppose that I have just audited my page with Lighthouse. I see that I have failed the theme color audit:

![Theme color audit](https://user-images.githubusercontent.com/4713486/63366326-52687480-c32e-11e9-88c7-b358419ece18.png)

If I don't see the "Learn more" link, I'm probably going to paste the title of the audit into Google S

[2019-08-20 16:51] kaycebasques commented on #1384
cc @robdodson @mfriesenhahn @paulirish @egsweeny

[2019-08-20 19:34] paulirish commented on #1384
I just wrote a script to find cases where these don't match. It's verbose but it does find all the differences.

![image](https://user-images.githubusercontent.com/39191/63378179-83ed3a00-c346-11e9-901a-298fdae4dd67.png)

and in text:

<details>

[code]

</details>

cc @brendankenny

[2019-08-20 20:06] mfriesenhahn commented on #1384
Thanks, guys. I've been working through this in the cleanup PRs. Having the list is super handy--now I don't have to make one myself (no doubt far less efficiently).

I do kinda wish we had leeway to include some sense of why an audit matters in the title. For example, "Use a valid rel=canonical to tell search engines which pages to crawl." But it's hard to argue with SEO optimization.

[2019-08-20 20:07] mfriesenhahn commented on #1384
Also, that script is catching discrepancies between audit IDs and web.dev URLs. Does that matter?

[2019-08-20 20:20] mfriesenhahn commented on #1384
Last question: if we're going through the trouble of normalizing the web.dev titles, should we also normalize the audit titles? For example, some use contractions, and some don't. Seems less than ideal to  reproduce inconsistencies.

[2019-08-20 21:27] egsweeny commented on #1384
Just spoke about this offline, and agree with Paul that it makes sense to use this issue as a forcing function to evaluate which verbiage we want to use in both places. In other words, there are some cases where the web.dev article title language is preferable, and in other cases where the LH audit language is clearer.

So instead of choosing either the web.dev titles or the LH audit names as the

[2019-08-20 21:34] mfriesenhahn commented on #1384
Excellent! What I was hoping for :)

@kaycebasques, I'm continuing with the updates to the articles in parallel, so let me know how you want to handle.

[2019-08-20 22:14] paulirish commented on #1384
trix: https://docs.google.com/spreadsheets/d/1wXZ05qDwF0unJ1t00-ObrHWvZ7xq-DO5KX8FRbrfHk0/edit?usp=sharing

@kaycebasques does this work for you?

[2019-08-20 23:30] robdodson opened #1386 "Recreate our cookies banner."
**Is your feature request related to a problem? Please describe.**
As part of the DevSite migration we'll need to recreate the cookie banner notification.

**Describe the solution you'd like**
A cookies banner!

[2019-08-21 00:44] kaycebasques opened #1387 "Celebrate URLs with good Lighthouse scores"
**Is your feature request related to a problem? Please describe.**

1. Go to web.dev/measure
1. Audit a page that gets 99 or 100 in each category

**Describe the solution you'd like**

web.dev celebrates the page's success in some way. E.g. the Lighthouse UI in DevTools has animations of fireworks when a page gets good scores.

Also note that the current UI looks a little incomplete. It's expectin

[2019-08-21 04:07] myomin88 opened #1391 "feature reque"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-21 04:08] myomin88 opened #1392 "content: <lee>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-08-21 05:05] myomin88 opened #1394 "bug rep"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-08-21 05:06] myomin88 opened #1395 "content: <lee>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-08-21 05:06] myomin88 opened #1396 "khgvhb"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-21 05:06] myomin88 opened #1397 "bbbbb"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-21 16:52] jpmedley commented on #1364
Here's my take:

   - Discourage the verb form.
   - No hyphen when it is noun form.
   - Hyphen when in adjective form. (Example: "The code-splitting process
   is ...")

By the way, this is the standard procedure for all two word noun
constructions.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Mon, Aug 19, 20

[2019-08-21 17:05] carolrivero commented on #1301
Should have a PR by today.

[2019-08-21 17:07] carolrivero commented on #657
@katejeffreys - Please provide an update. Thanks.

[2019-08-21 17:13] carolrivero commented on #1014
@jpmedley  to do a quick editorial pass.

[2019-08-21 17:16] mfriesenhahn commented on #1364
Thanks, Joe! The PR matches what you recommend. Is everybody cool with that?

[2019-08-21 17:38] jpmedley commented on #1295
There is a version of this on [/Updates](https://developers.google.com/web/updates/2019/08/periodic-background-sync) that will need considerable rework before moving to web.dev.

[2019-08-21 18:06] kaycebasques opened #1406 "Add "home screen" to word list"
https://web.dev/handbook/word-list/

I always forget whether I should use "home screen" or "homescreen"

Apple uses "home screen"

[2019-08-21 18:32] robdodson commented on #1406
@kaycebasques do you want to open a PR for this?

The file to edit is here: https://github.com/GoogleChrome/web.dev/blob/master/src/site/content/en/handbook/word-list/index.md

[2019-08-21 18:36] robdodson opened #1407 "MP4 conversion command won't work on Safari"
**Describe the bug**
The command to create an mp4 listed on [this page](https://web.dev/replace-gifs-with-videos/) won't work on Safari.

[code]

The suggested fix is:

[code]

This additional config `-f mp4 -vcodec libx264 -pix_fmt yuv420p` should set the correct codec for Quicktime player so Safari browser will recognize the .mp4 file.

**Note** This affects a few videos that we currently have o

[2019-08-21 21:05] jpmedley commented on #1220
@dougsillars Can you please give me comment access to your draft. It will make copy editing go faster.

[2019-08-21 23:13] robdodson opened #1420 "collection: Capabilities IA"
**Author**: @petele
**Reviewer**: @jpmedley
**Process**

Drop a link to your proposal doc in the 1st step below and check the box. A
member of the web.dev team will assign a reviewer, who will help you complete
the remaining steps.

- [ ] 1. I've done my proposal <add a link to your proposal doc>
- [ ] 2. Proposal approved — _reviewer checks this_

[2019-08-21 23:13] robdodson opened #1421 "collection: Metrics IA"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Process**

Drop a link to your proposal doc in the 1st step below and check the box. A
member of the web.dev team will assign a reviewer, who will help you complete
the remaining steps.

- [x] 1. I've done my proposal https://docs.google.com/document/d/1VhwPicdM9klxu05Bp9rfsc2zRG7BtQH6BSOQKK7UguE/edit?ts=5d3761ed
- [x] 2. Proposal approved —

[2019-08-21 23:18] robdodson opened #1422 "collection: Notifications"
**Author**: @katejeffreys
**Reviewer**: @kaycebasques

Related issues:

* #1673
* #1672
* #1671
* #1662
* #1657
* #1588

Related PRs:

* #1933
* #1732
* #1730
* #1693
* #1678

[2019-08-21 23:19] robdodson opened #1423 "collection: Feature phone IA"
**Author**: @kosamari
**Reviewer**: @robdodson @mfriesenhahn

**Process**

Drop a link to your proposal doc in the 1st step below and check the box. A
member of the web.dev team will assign a reviewer, who will help you complete
the remaining steps.

- [x] 1. I've done my proposal  https://docs.google.com/document/d/1nW-H6vs7VJpNKWHglOvvTQpxx1MQ55YgUd-H9qJu19E/edit?usp=sharing
- [ ] 2. Proposal ap

[2019-08-21 23:20] robdodson commented on #1153
This is live now! https://web.dev/ready-player-web/

[2019-08-21 23:20] #1153 closed

[2019-08-21 23:22] robdodson commented on #1149
oh @mfriesenhahn I just noticed this was in the current sprint but not on the project board yet. Seems like it's been delayed a fair amount and we should try to roll it out if we can.

[2019-08-21 23:54] #1374 closed

[2019-08-21 23:55] samthor commented on #1368
See #1424.

[2019-08-22 00:57] #1268 closed

[2019-08-22 00:57] #1223 closed

[2019-08-22 04:04] kaycebasques commented on #1301
PR #1426 is in-flight. @mfriesenhahn to review.

[2019-08-23 00:09] kaycebasques commented on #1270
Just reviewed the draft. Looking good! Back to @surma to incorporate my feedback.

[2019-08-23 11:10] surma commented on #1270
Thanks for the thorough review, @kaycebasques! I am on vacation til the 31st, I’ll get back to this then :)

[2019-08-23 16:42] carolrivero commented on #1284
@kaycebasques to work w/ @mihajlija on this one.

[2019-08-23 16:44] carolrivero commented on #1136
@yoavweiss - please provide an update to feedback from @mihajlija

[2019-08-23 16:44] carolrivero commented on #1014
@jpmedley to do this today.

[2019-08-23 17:26] kaycebasques commented on #1272
@surma looking good so far. Can you try posting the key points to the proposal? They don't have to be in order. I just want to see the main ideas. I left a comment in the doc with more detailed instructions.

[2019-08-23 17:59] kaycebasques commented on #1272
Status: I have reviewed the proposal and asked Surma to add something to the proposal. He's back from vacation on Sept 1.

[2019-08-23 18:06] #1406 closed

[2019-08-23 19:06] rajasekarm commented on #1386
Can I work on this? Do we've a design for the cookies banner?

[2019-08-23 20:15] kaycebasques commented on #1301
Status: Updated the PR per @mfriesenhahn's feedback. @mfriesenhahn needs to review the updated PR.

[2019-08-23 23:51] emilianos opened #1433 "Typo"
https://web.dev/uses-webp-images/#how-lighthouse-calcualtes-potential-savings

<img width="1013" alt="Screen Shot 2019-08-19 at 12 23 16" src="https://user-images.githubusercontent.com/4334689/63629243-64c10780-c5e7-11e9-8764-8f3d9bbfab08.png">

[2019-08-24 14:36] yoavweiss commented on #1136
Currently OOO (again) - will provide feedback on Friday when I'm back

[2019-08-25 04:43] #1433 closed

[2019-08-25 20:27] mfriesenhahn commented on #1344
Comments from @patrickhulce, originally on [Lighthouse PR 9540](https://github.com/GoogleChrome/lighthouse/pull/9540):

- The metrics docs are especially important to get right IMO and I'm a bit worried about using screenshots from a major version behind that all the reports point to. For example, we've removed EIL and replaced it with mpFID (which needs a doc) in 5.0 so the screenshots are alread

[2019-08-25 20:33] mfriesenhahn commented on #1343
Comments from @patrickhulce, originally on [Lighthouse PR 9539](https://github.com/GoogleChrome/lighthouse/pull/9539):
- The `/redirects-http` doc seems to give the opposite advice, we want them to redirect their http traffic to https and the doc is mostly talking about avoiding redirects.
- Do we plan to move the PWA checklist over?

[2019-08-25 20:42] mfriesenhahn commented on #1342
Comments from @patrickhulce, originally in [Lighthouse PR 9538](https://github.com/GoogleChrome/lighthouse/pull/9538):
- Update `/external-anchors-use-rel-noopener` based on [Lighthouse issue 9531](https://github.com/GoogleChrome/lighthouse/issues/9531).

Comments from @paulirish, originally in email:
- `/appcache-manifest`: "Use the Cache API instead of AppCache" should say "use a service worker

[2019-08-26 08:58] rajasekarm commented on #1369
I can work on this. Do we've a new design for search landing page?

[2019-08-26 11:47] Malvoz opened #1435 "The `intrinsicsize` attribute is obsolete"
https://web.dev/native-lazy-loading mentions the `intrinsicsize` attribute, the proposal for the attribute is [no longer being pursued](https://github.com/WICG/intrinsicsize-attribute/pull/18), as a result of the conclusion in https://github.com/WICG/intrinsicsize-attribute/issues/16.

[2019-08-26 18:08] jpmedley opened #1436 "content: WebXR Device API"
**Author**: @jpmedley
**Reviewer**:  @kaycebasques

**Target publish date:** 2019-09-19

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.c

[2019-08-27 07:36] rajasekarm commented on #1386
Sure, Thanks.

[2019-08-27 07:40] rajasekarm commented on #1387
I tried to work on this, But When I sign in with google it redirects to web.dev from localhost.

@kaycebasques - Can you help in understanding how to set up auth in local machine?

[2019-08-27 14:51] harleenkbatra08 opened #1439 "content: Hulu desktop PWA case study"
**Author**: @harleenkbatra08
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <2019-09-30>
- [ ] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [X] 1. I've done my [proposal](https://docs.google.com/document/d/1-qg-pYp6IvR_14XJZqEgkH34iDI5nj_ImIOXKB

[2019-08-27 15:17] harleenkbatra08 commented on #1439
Hmm.. just realized that I may have added this in the wrong sprint. Should be in for the next one, right? Could you please move this over to the next? Sorry!

[2019-08-27 19:18] harleenkbatra08 commented on #1439
Yes. that would be great. Thanks

On Tue, Aug 27, 2019 at 7:53 PM Carol Rivero <notifications@github.com>
wrote:

--

*  •  **Harleen Batra*
*  •  *Developer PMM - Chrome
  *•*  +44 203 321 2414

[2019-08-27 20:25] petele opened #1440 "collection: Progressive Web Apps"
**Author**: @petele & @snugug
**Reviewer**: @jpmedley

- [X] 1. I've done my [proposal](https://docs.google.com/document/d/1X2yC1Gh4ch0yxzovARsMJrrv1LIHj-DsD0lztRkFFqk/edit)
- [ ] 2. Proposal approved — _reviewer checks this_

[2019-08-27 20:39] petele opened #1441 "content: What Does It Mean to Feel Like An App?"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1_tJEJfcWBXDDz2nl41RxdRUjHRaZ4yshwmcP6ia-IgE/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-27 20:40] petele opened #1442 "content: Progressively Enhance Your PWA"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1esuUa4UGgqbjlc__wsmFYkufcHffMkXXK3171Zw4s5w/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-28 04:51] rosepac opened #1445 "I can create a folder for the Spanish language?"
Hello, I would like to translate the project into Spanish. I understand that the folder would go in the path of: web.dev / src / site / content / es I guess it would imply some configuration other than that, but I could work on the translation; for the moment. Until the rest of the parameters are modified.

Is there a problem creating a fork and translating? Or I generate a parallel project.

Desp

[2019-08-28 10:15] dougsillars commented on #1220
@jpmedley Thanks!  I've accepted all of your suggestions.

[2019-08-28 13:56] puzumaki opened #1448 "<source> element support for lazy loading"
**Is your feature request related to a problem? Please describe.**
Recently read the native lazy loading feature, which only mentions use for `<img>` and `<iframe>`. What about `<source>` for `<picture>`, so it may be applied to WebP formats or at minimum support the HTML5 elements?

**Describe the solution you'd like**
Add the loading attribute to <source> as well, if it isn't already.

**Describ

[2019-08-28 14:30] marcorpsa opened #1449 "Angular CLI module option --route not avaialble"
In the article https://web.dev/route-level-code-splitting-in-angular/
There is this command
`ng g module nyan --module app --route nyan`

With Angular CLI 8.0.3 if I run
`ng generate module --help`
I get
`options:
  --defaults
    When true, disables interactive input prompts for options with a default.
  --dry-run (-d)
    When true, runs through and reports activity without writing out results.

[2019-08-28 14:58] petele opened #1450 "Need site stylized PWA logo for PWA collection"
@robdodson - this is the title image we talked about for the PWA collection.

Not sure how to tag it for artwork, can you help out?

Date needed: 2019-11-11

[2019-08-28 16:51] petele opened #1451 "content: What are the criteria for an installable PWA"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** TBD

- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/16CVtmHtk0dJj2FAx5_IHhyNKqVZeEu9mNO2LnhOZY-c/edit)
- [x] 2. Proposal approved — _reviewer checks

[2019-08-28 16:53] #900 closed, assigned to petele, housseindjirdeh

[2019-08-28 17:08] petele opened #1452 "content: Understanding caching strategies"
**Author**: @Snugug
**Reviewer**: @jpmedley

**Target publish date:** 2019-11-11
- [X] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [ ] 1. I've done my [proposal](https://docs.google.com/document/d/1T4eif6ODuEDyoKYZsKV4-eezjwB1RnHJd7IkUk590s8/edit)
- [ ] 2. Proposal approved — _reviewer c

[2019-08-28 17:19] petele opened #1453 "content: PWAs on iOS"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** Q4
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

- [ ] 1. I've done my [

[2019-08-28 19:02] Snugug opened #1454 "Expandable content component"
**Is your feature request related to a problem? Please describe.**
Critical to some of the PWA content, especially #1349, is the ability to display content in an expandable form, allowing for a collapsed preview of content and more details view that can be expanded out from it.

**Describe the solution you'd like**
A component that can take either a title and a short description, both of which Mar

[2019-08-28 19:05] Snugug opened #1455 "Checklist Component"
**Is your feature request related to a problem? Please describe.**
Needed for #1349, is the ability to display content in a way that can be checked off of a list, like a checkbox, that saves progress either locally or to a logged i account

**Describe the solution you'd like**
A component, compatible with https://github.com/GoogleChrome/web.dev/issues/1454 (or possibly an extension of it) that inc

[2019-08-29 00:40] kaycebasques commented on #1306
PR #1457 is in-flight. @mfriesenhahn to review.

[2019-08-29 05:02] robdodson commented on #1450
@carolrivero would it be possible to request help from either Huge or someone on Hwi's team for this?

[2019-08-29 18:34] carolrivero opened #1460 "content: SameSite cookies"
**Author**: @rowan-m
**Reviewer**: @jpmedley

**Target publish date:**
- [ ] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

- [x] 1. I've done my proposal
- [x] 2. Proposal approved — _reviewer checks this_
- [x]

[2019-08-29 18:34] carolrivero opened #1461 "content: Same site cookies placeholder 2"
**Author**: @rowan-m
**Reviewer**: @katejeffreys
**Target publish date:**
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

- [ ] 1. I've done my proposal
- [ ] 2. Proposal approved — _reviewer checks this_
-

[2019-08-29 18:37] petele opened #1462 "Create case study guidelines and template"
This came up from a discussion between @Snugug and I.

@Snugug - can you add your thoughts.

[2019-08-29 18:49] carolrivero commented on #1149
@khempenius - do we still want to launch this one? If so, do you have a date in mind? I'm going to remove this from the milestone for now until we make a decision on the date.

[2019-08-29 18:57] mfriesenhahn commented on #657
Closing since the notifications IA has changed, closing this ticket. We can create new tickets for the notifications posts once we know what they are.

[2019-08-29 18:57] #657 closed

[2019-08-29 18:57] mfriesenhahn commented on #658
Since the notifications IA has changed, closing this ticket. We can create new tickets for the notifications posts once we know what they are.

[2019-08-29 18:58] khempenius commented on #1149
@carolrivero Yes, we still want to launch this. Date is flexible, but ideally as soon as possible. This was originally going to go out with the other image CDN content at the end of July.

[2019-08-29 18:58] #658 closed

[2019-08-29 18:58] mfriesenhahn commented on #657
Since the notifications IA has changed, closing this ticket. We can create new tickets for the notifications posts once we know what they are.

[2019-08-29 19:13] carolrivero commented on #1149
@robdodson Added this to the Sprint 2019-09-11 and assigned review to @mihajlija for now. Thanks.

[2019-08-29 19:37] #1407 closed

[2019-08-29 20:00] robdodson commented on #1286
This is live now.

[2019-08-29 20:00] #1286 closed

[2019-08-29 20:10] robdodson opened #1463 "web.dev planning deck"
This issue is meant to capture the work Kayce was doing during the previous sprint to help put together a content vision deck for our team. That deck is pretty much done so I'll go ahead and close this :)

[2019-08-29 20:10] #1463 closed

[2019-08-29 22:30] robdodson commented on #1455
Is this a blocker for your content? I'd like to have an agency or perhaps a member of chrome UX provide design help on it. Also, we currently reside inside of DevSite and are pretty limited in what kinds of client-side JS we can run. We're currently working to migrate out of DevSite which will give us a lot more freedom in this area. So if it's possible to consider this as a "phase 2" feature for

[2019-08-29 23:12] robdodson commented on #1454
@mfriesenhahn can you share a link to the material design component that does this? Maybe we can base something off of that?

[2019-08-29 23:14] robdodson commented on #1449
@mgechev do you have any thoughts?

[2019-08-29 23:15] robdodson commented on #1448
@housseindjirdeh do you have any thoughts?

[2019-08-29 23:20] robdodson commented on #1445
Hey @rosepac, we're not quite ready to add translation support yet but we're working on it!
I would suggest following this issue: https://github.com/GoogleChrome/web.dev/issues/836
@agektmr and I did some work on this recently, but it may be a few more months before we're ready to ship anything. When we are ready, we plan to accept community contributions.

[2019-08-29 23:20] #1445 closed

[2019-08-30 00:46] carolrivero commented on #1450
@robdodson I'm checking w/ Hwi. Stay tuned!

[2019-08-30 02:47] mgechev commented on #1449
@marcorpsa thanks for the interest! You're using an old version of the Angular CLI. In the [post](https://web.dev/route-level-code-splitting-in-angular/#route-level-code-splitting) we mention that we introduced the lazy-route generator as part of version 8.1.0.

@robdodson, we can close the issue.

[2019-08-30 02:53] mfriesenhahn commented on #1454
Here it is: https://material.io/design/communication/writing.html#principles

I could perhaps mock something up after a bit of discussion. Also, I might suggest putting some boundaries around the formatting and content this thing can accommodate to prevent problematic uses.

[2019-08-30 14:49] jpmedley opened #1466 "Mysterious server side "changes"."
**Describe the bug**
On Wednesday I pushed a new branch to GitHub so that my in-progress work will be backed up. There have been [no server-side commits to this branch](https://github.com/GoogleChrome/web.dev/commits/video).  My local status shows that I am behind 1.

[code]

The `git pull` command does indeed resolve this issue. But `git log` and `git show` display no actual changes to the branch

[2019-08-30 15:17] jpmedley commented on #1466
I now believe this to be some kind of local index corruption. I've recloned the repo. I'll let you know if it happens again.

[2019-08-30 16:19] robdodson commented on #1466
Hey Joe, do you mind if we close the issue and reopen if it occurs again?

[2019-08-30 16:20] #1449 closed

[2019-08-30 16:39] carolrivero commented on #1149
@kaycebasques - please review draft.

[2019-08-30 16:40] carolrivero commented on #1136
@yoavweiss - please provide an update. thanks.

[2019-08-30 16:41] carolrivero commented on #1284
@demianrenzulli is working on update

[2019-08-30 16:41] carolrivero commented on #1071
@MarkPieszak - please provide an update to comments provided. Thanks.

[2019-08-30 16:42] carolrivero commented on #1070
@MarkPieszak - please provide an update on draft. Thanks.

[2019-08-30 16:44] carolrivero commented on #1421
@kaycebasques - this is . ready for review.

[2019-08-30 16:45] demianrenzulli commented on #1284
Hi @carolrivero,

We received some additional technical suggestions and we have a final draft now.
Will be working in the PR today.

This post contains a Codelab, which is almost finished, but won't be available at the time of this PR.
I guess we can update the post with the link to the codelab, once it's ready.

[2019-08-30 16:45] carolrivero commented on #1422
@katejeffreys to set up a meeting to review.

[2019-08-30 16:48] demianrenzulli commented on #1284
@carolrivero sorry, I confused this issue with the one for the guide.
I'm working on an update to the codelab, which I hope to have ready very soon.

Thanks.

[2019-08-30 16:49] carolrivero commented on #1461
@katejeffreys to check w/ Rowan

[2019-08-30 16:50] carolrivero commented on #1460
@katejeffreys to check w/ @rowan-m

[2019-08-30 16:52] carolrivero commented on #1344
@mfriesenhahn - to check w/ @paulirish on drop dead date cc: @kaycebasques

[2019-08-30 16:54] carolrivero commented on #1420
@petele - we added this to this sprint. Please provide an update if you have an IA ready. Thanks.

[2019-08-30 18:05] mfriesenhahn commented on #1306
Reviewed. Looks good. Back to @kaycebasques to get his take on a few things.

[2019-08-30 18:16] #1466 closed

[2019-08-30 19:02] #1340 closed

[2019-08-30 20:00] mfriesenhahn opened #1469 "Handle posts that appear in multiple collections"
**Is your feature request related to a problem? Please describe.**
Various Lighthouse audits appear in multiple report sections and therefore need to appear in multiple web.dev collections. However, the current UI assumes each post appears in only one collection. (The breadcrumb and **Next article** components are based on the post's path.)

**Describe the solution you'd like**
- Remove the breadc

[2019-08-30 20:04] jpmedley commented on #1297
My review and copy edit have been merged to the original article's source. This is ready for a web.dev PR.

[2019-08-30 21:47] matteocargnelutti opened #1470 "/measure down, returning a JSON parsing error"
**Describe the bug**
- `Run audit` returns a JSON parsing error.
- "measure" form sometimes doesn't render

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev/measure
2. Try to audit any webpage _(tried with a few different urls)_
3. See error

**Expected behavior**
Get audit results back.

**Screenshots**
<img width="1049" alt="Screen Shot 2019-08-30 at 5 39 36 PM" src="ht

[2019-08-30 22:23] robdodson commented on #1470
Guessing this is related to #1312. I'm going to revert that commit and deploy to see if it fixes it.

[2019-08-30 22:31] robdodson commented on #1470
Seems to be fixed now. Let me know if you still see issues and thanks for reporting!

[2019-08-30 22:31] #1470 closed

[2019-08-30 22:35] matteocargnelutti commented on #1470
@robdodson All set :) ! Thank you.

[2019-08-31 21:43] mfriesenhahn commented on #1454
I threw [this mock](https://codepen.io/mfriesenhahn/full/ExYvEBv) together as a starting point for discussion. It adds a bit of markup and some styles to the existing `detail` component.

**Notes:**
- I tried to make the styles as flexible as possible:
  - The heading can take `h1`-`h6` or `p`.
  - There's an optional content preview, as requested.
  - Like the existing `detail` component, you can

[2019-09-02 12:43] yoavweiss commented on #1136
Responded to feedback

[2019-09-03 02:44] uskay opened #1472 "<portal> blog post: rephrase the expression to emphasize that <portal> is still a proposal"
As discussed in [the thread](https://twitter.com/tomayac/status/1168087512931274752?s=20), would like to fix the expression and set the tone of the article to state that `<portal>` is a new Web platform API which is still in the __ **proposal** __ phase.

@tomayac @robdodson could you please check?

[2019-09-03 17:08] #1072 closed

[2019-09-03 17:09] kaycebasques commented on #1344
Pending response from Paul. Kayce will follow up.

[2019-09-03 17:10] kaycebasques commented on #1127
@mihajlija any update on this?

[2019-09-03 17:10] carolrivero commented on #1152
This is still in the 8/28 milestone - should this be moved to spring ending on Sept 11? Thanks.

[2019-09-03 17:10] kaycebasques commented on #1461
@katejeffreys have you got an update from @rowan-m?

[2019-09-03 17:11] kaycebasques commented on #1343
No updates.

[2019-09-03 17:12] kaycebasques commented on #1341
No update.

[2019-09-03 17:14] kaycebasques commented on #1420
Joe & Pete might start on IA this week but Joe is traveling so deferring to next sprint.

[2019-09-03 17:15] kaycebasques commented on #1423
Rob is meeting to discuss latest plans today.

[2019-09-03 17:16] kaycebasques commented on #1421
I will review today

[2019-09-03 17:17] kaycebasques commented on #1422
This is ready to review but @jpmedley doesn't know when he can get to it

[2019-09-03 17:17] kaycebasques commented on #1342
@mfriesenhahn is working on it

[2019-09-03 17:18] kaycebasques commented on #1149
Will get to this today

[2019-09-03 17:19] kaycebasques commented on #1136
@mihajlija it seems like you're up for review

[2019-09-03 17:20] kaycebasques commented on #1272
I will review today

[2019-09-03 17:20] kaycebasques commented on #1284
@mfriesenhahn to provide editorial review

[2019-09-03 17:24] kaycebasques commented on #1014
@mihajlija it sounds like you reviewed this. Is it ready to assign back to @demianrenzulli?

[2019-09-03 17:25] kaycebasques commented on #1220
@robdodson will review the PR

[2019-09-03 17:26] kaycebasques commented on #1305
Kayce to incorporate feedback today

[2019-09-03 17:26] kaycebasques commented on #1306
Kayce to incorporate feedback today

[2019-09-03 17:38] mfriesenhahn commented on #1284
Hey, @demianrenzulli, I'll be doing a quick editorial review. Which doc should I look at? The [one linked in the issue](https://docs.google.com/document/d/1pUaRAwreF1t3efCo_J7D6GrIrZoBl0wCCQnZPhkOmGs/edit?usp=sharing) is different from the [one you and Milica have been working on](https://docs.google.com/document/d/1TvCi4Y3B9haFZBWPXoRUXbFn1YkRvkaXkqCh2jOfU7U/edit?ts=5d6d3d4c).

[2019-09-03 17:45] carolrivero commented on #1152
@tcmg - do you have a date in mind for when you want to launch this one? This sprint is full - would the next one ending on 9/25 work? Thanks.

[2019-09-03 18:01] demianrenzulli commented on #1284
Hi @mfriesenhahn, I've just re-shared the doc of [the codelab](https://docs.google.com/document/d/1TvCi4Y3B9haFZBWPXoRUXbFn1YkRvkaXkqCh2jOfU7U/edit?usp=sharing).

You'll find that's the one that contains the latest comments from the other reviewers.

I've just updated [the proposal](https://docs.google.com/document/d/1pUaRAwreF1t3efCo_J7D6GrIrZoBl0wCCQnZPhkOmGs/edit), adding a link to the file at

[2019-09-03 18:35] kaycebasques commented on #1272
Ah, just checked the doc. Looks like @surma hasn't drafted yet.

[2019-09-03 18:38] kaycebasques commented on #1423
@kosamari after you draft out your introduction and IA please assign back to me and @robdodson

[2019-09-03 19:47] kaycebasques commented on #1421
Just reviewed. The IA LGTM. There's a few unresolved questions but none of them should block @philipwalton from starting to draft the content. So @philipwalton you can start drafting content.

[2019-09-03 22:05] mfriesenhahn commented on #1284
Thanks! One more question: can you give me the link to the Glitch? I'm having trouble evaluating whether the instructions make sense without it, and I can't seem to find it.

[2019-09-03 22:37] demianrenzulli commented on #1284
@mfriesenhahn here's the link to the glitch: https://glitch.com/edit/#!/join/110b5212-50c3-438c-911b-9af9350888cd.

Let me know if you need anything else!

[2019-09-03 23:58] kaycebasques commented on #1149
Howdy @khempenius good start. Would you please address my feedback and then assign this issue back on me when you're done. FYI I didn't get to the end of the post, so I might have another round of feedback after this.

[2019-09-04 00:33] mfriesenhahn commented on #1284
OK, I did an editorial pass and noted a couple concerns I had about the instruction. I don't want to block this but did feel I should note them. @demianrenzulli and @mihajlija, do with them what you will :)

[2019-09-04 00:41] carolrivero commented on #1450
Jiwoong confirmed that he is able to create this tile. I cannot find him in GH though. @robdodson - does he have access to our repo? Thanks.

[2019-09-04 01:18] kaycebasques commented on #1305
I just updated #1456 so @mfriesenhahn is up for review again

[2019-09-04 01:28] demianrenzulli commented on #1284
I've just accepted the suggestions about grammar, style, etc, and left some comments on the ones related to content and structure.

Thanks.

[2019-09-04 04:14] tcmg commented on #1152
Could we aim for the next sprint after 9/25 ?

I'm happy to aim for 9/25 but I already feel I'll need more time than that for this content.

[2019-09-04 04:21] carolrivero commented on #1152
@tcmg - added this to the spring ending on 10/09

[2019-09-04 16:54] #1305 closed

[2019-09-04 16:58] #1220 closed

[2019-09-04 18:18] robdodson commented on #1305
I think this should be live now. Pretty sure it went out with this CL
https://critique.corp.google.com/#review/267183128

[2019-09-04 18:31] robdodson commented on #1450
cc @jimoong

[2019-09-04 18:32] robdodson commented on #1421
@kaycebasques are you cool moving this one to Done?

[2019-09-04 18:33] jimoong commented on #1450
Thanks for inviting me here. Will work on this.

[2019-09-04 19:27] carolrivero commented on #1450
Thanks, jimoong. I'm adding this to our current sprint ending on Sept 11.

[2019-09-04 19:58] Snugug commented on #1455
Yah we can consider this as Phase 2 of our content if that's easier. The #1454 unfortunately isn't.

[2019-09-04 22:33] robdodson commented on #1454
@Snugug would this component meet your needs? If so we can do a PR for it.

[2019-09-05 20:07] Snugug commented on #1454
Hey all!

Yah I think this would work great for us! The only thing I hope we can change from the provided preview is the 25 word maximum in the content preview. We're writing specific short descriptions, 1-3 sentences, and the longest one currently is ~34 words. In general I'm a big believer that, to [quote Karen McGrane](https://www.slideshare.net/KMcGrane/developing-successful-content-management

[2019-09-05 20:50] mfriesenhahn commented on #1454
Oh, there's no actual character limit. I was just lifting/adapting content from the Material Design site as placeholder text. The preview text and the content in the panel would be functionally independent. That said, I agree that truncation is ungood, but I do think concision is a virtue, particularly with a progressive disclosure control 😄

@robdodson, do you want to set up the short code, or do

[2019-09-06 03:41] kaycebasques opened #1480 "Decide whether Lighthouse references should repeat all resources in "Resources" section"
@mfriesenhahn and I are kicking around the idea of listing every link that is mentioned in a Lighthouse reference in the **Resources** section at the bottom. So for example in the screenshot below we'd add the `third-party scripts can significantly affect your page load performance` link, `main thread` link, and so on to the **Resources** section.

On first impression it seems kinda nice, but afte

[2019-09-06 03:53] robdodson commented on #1454
Chatted with @mfriesenhahn today and he's going to take a shot at implementing this.

[2019-09-06 03:55] kaycebasques commented on #1306
Salutations comrade @mfriesenhahn I have incorporated your feedback accordingly, would you kindly audit the aformentioned technical documentation again

[2019-09-06 06:56] mfriesenhahn commented on #1480
A little background:

   - When I started tidying the audit docs, they had a "More information"
   section at the bottom that always included a link to the audit source code,
   sometimes included links from the post body, and sometimes included links
   to resources *not *mentioned in the post. So, I was looking for a
   principle about what to put in that section.
   - I initially tried changing

[2019-09-06 11:58] agektmr opened #1482 "content: SMS OTP Retrieval API"
**Author**: @agektmr
**Reviewer**: @sso-google @rowan-m @katejeffreys

**Target publish date:** ASAP

- [x] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

- [x] 1. I've done my proposal
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a [draft to my proposal doc](https://docs.google.

[2019-09-06 13:30] mihajlija commented on #1284
Reviewed the PR in #1468, @demianrenzulli to add a few changes later today and @robdodson to give the final approval.

[2019-09-06 13:31] mihajlija commented on #1014
Reviewed the PR in #1468, cc @demianrenzulli to link the codelab in the metadata and @robdodson  to give the final approval.

[2019-09-06 13:59] mihajlija commented on #1127
Added the proposal, I'll submit the draft on Monday but I don't think I'll be able to hit the publishing date in this sprint.

[2019-09-06 15:53] mfriesenhahn commented on #1306
LG. Caught one usage error. Once you accept the suggestion, it's ready to merge!

[2019-09-06 16:29] mihajlija opened #1483 "content: Preload critical assets to improve loading speed"
**Author**: @mihajlija @housseindjirdeh
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <2019-10-09>
- [ ] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

- [x] 1. I've

[2019-09-06 16:35] kaycebasques commented on #1460
@katejeffreys & @rowan-m any update here?

[2019-09-06 16:39] kaycebasques commented on #1422
@mfriesenhahn to check with @jpmedley about whether @mfriesenhahn should review this instead

[2019-09-06 16:41] kaycebasques commented on #1483
@mihajlija is finishing the draft

[2019-09-06 16:43] kaycebasques commented on #1070
Mark is still drafting

[2019-09-06 16:44] kaycebasques commented on #1342
@mfriesenhahn estimates to be done today

[2019-09-06 16:45] kaycebasques commented on #1149
Kayce is reviewing today

[2019-09-06 16:48] robdodson commented on #1136
@kaycebasques Milica pinged you in the doc for a few editorial questions.

[2019-09-06 16:49] robdodson commented on #1272
@surma any update?

[2019-09-06 16:52] kaycebasques commented on #1306
Suggestion added. @robdodson or @mfriesenhahn to merge.

[2019-09-06 16:56] #1306 closed

[2019-09-06 17:08] kaycebasques commented on #1149
@khempenius please address the feedback I left in the doc and then you can go straight to submitting the PR.

[2019-09-06 18:23] robdodson commented on #1482
Hey @agektmr, do you have a link to your proposal doc? I think you instead sent a link to the CDS tracker.

[2019-09-06 18:23] robdodson commented on #1482
You can use [this template](https://docs.google.com/document/d/1lgaNIEnXZf-RB8_p9RK22QEgpXJqnu77pLWVWVy4nuw/edit) for your proposal.

[2019-09-06 22:01] mfriesenhahn commented on #1342
@kaycebasques, ready for your review!

[2019-09-06 22:18] mfriesenhahn opened #1488 "Support brackets in post titles"
**Describe the bug**
The JSON generated for the measure tool breaks when a post title contains a bracket.

Currently, two pages are affected: `/document-title` and `viewport`.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a bracket--`<` or `>`--to a post title.
2. Try to run an audit on the Measure page.
3. Fail.

**Expected behavior**
Authors need to be able to add brackets to titles

[2019-09-06 22:55] surma commented on #1272
Sorry, I had to reprioritize. I’ll implement the review on part 1 soon, but part 2 is gonna be on ice for a while. I’ll let you know when I can get back to it :)

[2019-09-07 02:10] #1014 closed

[2019-09-07 02:10] #1284 closed

[2019-09-08 00:24] mayank23 opened #1489 "content: A Quick Start Guide to Caching"
**Author**: @mayank23
**Reviewer**:

**Target publish date:** <2019-11-01>
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/document/d

[2019-09-08 02:41] kaycebasques commented on #1284
Woohoo thank you @demianrenzullu for the content and @mihajlija for the review

[2019-09-08 02:46] kaycebasques commented on #1272
Thanks for the update 👍

On Sat, Sep 7, 2019, 6:55 AM Surma <notifications@github.com> wrote:

[2019-09-08 03:44] kaycebasques commented on #1136
@robdodson @mihajlija thanks, checking out now. Next time please re-assign the issue to me. It's hard for me to keep track of what's blocked on me unless I'm assigned...

[2019-09-08 04:17] kaycebasques commented on #1136
I responded to the comments in the doc that were addressed to me. Back to @mihajlija to finish her review, or @yoavweiss to incorporate the feedback. @mihajlija if you're finished reviewing then please assign this to @yoavweiss. Thank you.

[2019-09-09 10:22] kosamari commented on #1423
@kaycebasques
Link to doc : https://docs.google.com/document/d/1nW-H6vs7VJpNKWHglOvvTQpxx1MQ55YgUd-H9qJu19E/edit?usp=sharing

[2019-09-09 10:56] kosamari commented on #1423
note: this collection will be renamed to something else, not sure that yet but it'll include other devices like Android Go

[2019-09-09 14:58] pcsingh opened #1492 "Remove unused CSS"
According to PageSpeed Insights, On page https://web.dev/ shows that on removing unused CSS it improves the rendering of the page and reduces unnecessary bytes consumed by network activity.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://developers.google.com/speed/pagespeed/insights/'
2. Copy this url 'https://web.dev/'
3. Paste it on the above website press ANALYZE button th

[2019-09-09 16:24] mihajlija commented on #1483
Added draft to the proposal, time to assign a reviewer.

[2019-09-10 02:29] agektmr commented on #1482
@robdodson attached the header template to the draft (sill WIP).

[2019-09-10 02:35] jpmedley commented on #1157
Here's some recent news from MDN:

[Caniuse and MDN compatibility data collaboration](https://hacks.mozilla.org/2019/09/caniuse-and-mdn-compat-data-collaboration/)

caniuse now has a script that will convert MDN data on the fly and show it in it's own interface. The importance of this can't be understated. The money quote is this:

I knew there was a difference in the amount of data between the tw

[2019-09-11 05:16] petele commented on #1482
Sorry for the late request on this, but it likely needs to go into the current milestone as it's tied to the m78 beta launch.

[2019-09-11 20:11] mfriesenhahn opened #1495 "Slugs for internal links"
**Is your feature request related to a problem? Please describe.**
Currently, when authors want to link to another page on web.dev, they must manually enter the page title using Markdown's link syntax. For example, `[Does not use HTTPS](/is-on-https)`

If a page title changes (e.g., when a Lighthouse audit name is updated, the accompanying post title must also be updated), authors have to search t

[2019-09-12 01:51] petele commented on #1313
Note to self - Should include what is/is not supported in WebViews

[2019-09-12 01:52] robdodson commented on #1492
Hey @pcsingh thanks for sending this along.

Currently web.dev is hosted on a piece of internal infrastructure and we're required to pull in their CSS. We're in the process of migrating off of that infrastructure and when we do, we should be able to remove the unused stuff.

I'm going to close this for now but add a label that it's related to our migration.

[2019-09-12 01:52] #1492 closed

[2019-09-12 21:08] mfriesenhahn opened #1500 "Support for code font in titles"
**Is your feature request related to a problem? Please describe.**
Many post titles, especially those of Lighthouse audit posts, include code. The GDDSG [specifies that code be presented in code font](https://developers.google.com/style/code-in-text), which web.dev does everywhere else except for titles.

**Describe the solution you'd like**
Support for backticks to indicate code font in titles

*

[2019-09-13 08:43] mihajlija commented on #1014
Congrats @demianrenzulli 🥳

[2019-09-13 09:01] mihajlija opened #1501 "Prefetch codelab title is not displayed correctly in the codelab card"
**Describe the bug**
Codelab title which includes "`<link>`" is not displayed correctly in the codelab card. The word "`<link>`" is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev/link-prefetch/
2. Scroll down to the codelab card at the end of the post.
3. See the codelab title is "Two ways to prefetch: tags and HTTP headers"

**Expected behavior**
Title should

[2019-09-13 09:01] mihajlija commented on #1500
Slightly related to this, there's a bug with formatting codelab title which includes "`<link>`". Bug filed #1501

[2019-09-13 13:34] demianrenzulli commented on #1501
Good catch! Thanks @mihajlija.
Will push a fix today.

[2019-09-13 15:01] demianrenzulli commented on #1501
Tried the following:
- Using the HTML element directly (as it is now): hides the text in the codelab link and shows the text, without formatting in the codelab title.
- Using `<link>`: hides the text inside the apostrophes in the codelab link and shows the text with apostrophes (without styling) in the codelab page.
- Using the html code: hides the text in the codelab link and shows the HTML code

[2019-09-13 16:55] mfriesenhahn commented on #1501
I believe this is related to #1488.

[2019-09-13 16:55] mfriesenhahn commented on #1500
Actually, I think that's more related to #1488.

[2019-09-13 17:45] mfriesenhahn commented on #1364
@philipwalton, are you OK with this solution? If so, we can merge this PR.

[2019-09-14 04:23] philipwalton commented on #1364
Yeah, SGTM!

[2019-09-16 00:18] thoamsy opened #1502 "When navigate an article the scroll height not back to 0"
Please scroll the y axis to zero when someone navigates to a new page.  Also stays the y axis when I go back to last page.

[2019-09-16 06:32] kaycebasques commented on #1149
Just reviewed. Back to @khempenius to make the requested changes.

[2019-09-16 07:44] kaycebasques commented on #1342
Just reviewed. @mfriesenhahn you can incorporate or ignore my changes, then work through the merge conflicts.

[2019-09-16 07:57] kaycebasques commented on #1483
@mihajlija please give me comment access to the doc

[2019-09-16 07:58] kaycebasques commented on #1136
I am reviewing the post now

[2019-09-16 08:37] jpmedley commented on #1482
I just review the draft for @agektmr. I had some questions.

[2019-09-16 08:41] kaycebasques commented on #1136
@yoavweiss good stuff. Please address my feedback and then proceed straight to drafting the PR.

[2019-09-16 09:11] kaycebasques commented on #1483
Good stuff. Various small suggestions. @mihajlija you can address the feedback and then go straight to the PR stage. No need for more reviews on this draft.

[2019-09-16 12:05] shdq opened #1503 "Can't subscribe on blog, error 403 Forbidden"
Hello.

Subscribe link redirects me to https://services.google.com/fb/forms/web-dev-subscribe/ and gives a 403 error.

[2019-09-16 16:37] mfriesenhahn commented on #1342
Made some updates and asked a couple questions.

[2019-09-16 19:12] #1371 closed

[2019-09-16 19:23] robdodson opened #1505 "Add route base code-splitting"
**Describe the solution you'd like**
To keep the site nice and snappy, we should only load JavaScript that the user needs for the current route. This means a lot of the stuff for /measure could be deferred (though preloaded since we know that route is popular).

[2019-09-16 19:30] robdodson commented on #1503
Hi @shdq,

Unfortunately there some tricky legal restrictions around which countries we can provide the newsletter in. I know Russia is one of those countries. I've just followed up with the team to ask if there's anything I can do to unlock it. I'll keep you posted.

[2019-09-16 19:32] robdodson commented on #1369
Going to close this for now. I think @samthor and I decided to see if we can get by with just using the search box itself and not needing a result page.

[2019-09-16 19:32] #1369 closed

[2019-09-16 21:22] mihajlija commented on #1483
@kaycebasques PTAL, I restructured the post a bit to fit in more details in a "how to" section.

[2019-09-17 04:00] kaycebasques commented on #1384
@mfriesenhahn yes go for it

[2019-09-17 05:55] #1483 closed

[2019-09-17 05:58] kaycebasques commented on #1483
@robdodson content is ready for deploy

[2019-09-17 06:12] kaycebasques commented on #1342
I reviewed it. Back to @mfriesenhahn to finish & merge.

[2019-09-17 07:09] shdq commented on #1503
Thank you, Rob

[2019-09-17 07:25] kaycebasques commented on #1423
@kosamari you mentioned previously that you're drafting an introduction for this content. Are you still working on that?

[2019-09-17 07:46] mihajlija commented on #1136
I can pick up the code review this week.

[2019-09-17 11:16] surma commented on #1270
PR opened 🎉

[2019-09-17 16:56] mfriesenhahn commented on #1342
To @robdodson for final review and merge.

[2019-09-17 19:02] robdodson opened #1532 "Allow double quotes in post titles."
**Is your feature request related to a problem? Please describe.**
Because we put post titles into `<code>` element on the /measure page and then extract the `textContent` and call JSON.parse on it, if a post title contains a double quote, it gets converted to `&quot;` which _then_ gets converted to a double quote when it's added as `textContent`. This breaks the JSON because it looks like a closi

[2019-09-17 19:50] #1501 closed

[2019-09-17 19:50] #1532 closed

[2019-09-17 19:50] #1488 closed

[2019-09-17 19:50] #1500 closed

[2019-09-17 20:09] #1364 closed

[2019-09-17 22:57] jpmedley commented on #1122
I've taken this as far as it can go. Does someone else need to do the merge? Regardless, this needs to be published before the beta release post. Can someone get to this today?

[2019-09-17 23:06] jpmedley commented on #1122
@robdodson @mfriesenhahn

[2019-09-17 23:15] robdodson opened #1534 "Need better tests for audit coverage on the /measure page."
**Is your feature request related to a problem? Please describe.**
It would be great to make it so the /measure page can be in a test mode that shows every audit failure and the corresponding doc. This would help us ensure that we haven't missed any Lighthouse audits.

**Describe the solution you'd like**
One way to do this would be to download a LH report that contains all of the audit ids and ju

[2019-09-17 23:46] robdodson commented on #1122
yeah i can take a look at the PR

[2019-09-18 00:20] robdodson commented on #1122
Added a few small comments. Assigning back to @jpmedley.

[2019-09-18 00:26] #1342 closed

[2019-09-18 00:34] robdodson commented on #1483
sorry for the delay. Was out last week so still catching up a bit. I'll add this to my calendar to deploy tomorrow!

[2019-09-18 01:57] jpmedley opened #1535 "Improve formatting of definition lists."
As per [this PR](https://github.com/GoogleChrome/web.dev/pull/1497/files#r325436722) `<dl>` structures don't render very nicely. The alternative is to use headings as requested in the PR. That's not semantic.

[2019-09-18 13:29] khempenius commented on #1149
Changes made. Assigning back to @kaycebasques

[2019-09-18 19:48] adueppen opened #1537 "Grammar error on TTFB page, "effect" should be "affect""
On [this page](https://web.dev/time-to-first-byte/), the first subheader states that "Slow server response times effect performance". In this situation, the word "affect" should be used instead.

[2019-09-18 19:51] #1537 closed

[2019-09-18 19:52] robdodson commented on #1373
Fixed by #1496

[2019-09-18 19:52] #1373 closed

[2019-09-18 22:08] samthor opened #1539 "Pull Firebase code from CDN"
We're bundling Firebase, but should instead be pulling down only specific parts of it from the CDN to benefit from global caching. It's just Auth and Firestore for now.

[2019-09-18 22:36] samthor commented on #1505
My 2c on this is just to create perhaps three different entry points:

* signed in normal page
* logged out normal page
* Measure page (since it has the bulk of our code requirements)

These entry points do very little aside import further JS. We give the three of them to Rollup and let it *magically* come up with a graph of code, which we just ship as `type="module"`, importing missing content as

[2019-09-18 22:52] #1122 closed

[2019-09-19 00:06] rviscomi opened #1540 "content: Fixing layout instability blog post"
**Author**: @rviscomi
**Reviewer**: @kaycebasques

**Target publish date:** 2019-09-19

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1aad

[2019-09-19 01:34] Snugug commented on #1122
Thanks y'all!

[2019-09-19 03:49] jpmedley commented on #1122
Thank you.

[2019-09-19 12:42] Snugug commented on #1454
Hey all! Checking on the status.

[2019-09-19 14:23] jonarnes opened #1542 "content: Using ImageEngine to optimize images"
**Author**: @jonarnes
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-01-10
- [ ] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of

[2019-09-19 15:00] mihajlija opened #1543 "collection: Ad speed"
**Author**: @thebengeu
**Reviewer**: @mihajlija
**Process**

- [x] 1. I've done my proposal https://docs.google.com/document/d/1j-IRCHlX6FWOcRnGrpNSnv-rh56ytbdTJ4SwoT4gnrA/edit
- [x] 2. Proposal approved — _reviewer checks this_

[2019-09-19 15:04] mihajlija opened #1544 "content: How to think about ad speed"
**Author**: @robhazan
**Reviewer**: @mihajlija

**Target publish date:** <2019-10-xx>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal https://docs.google.com/document/d/1F7LqwaxObL7jB0x3StNKMvkSMkQBUbqmI82_Cql1OzM/edit
- [x] 2. Proposal approved — _reviewer

[2019-09-19 15:09] mihajlija opened #1545 "content: Identifying ad-related requests"
**Author**: @thebengeu
**Reviewer**: @mihajlija

**Target publish date:** <2019-10-xx>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal https://docs.google.com/document/d/1wgw4-52vKvgj0FKel14E0eNcI0F2AzBXlcxT6J7hXK0/edit?ts=5d80fc5f
- [x] 2. Proposal approve

[2019-09-19 15:16] mfriesenhahn commented on #1454
Hey, sorry for the delay! Been occupied by other things. I can prioritize this tomorrow or Monday, if that works.

[2019-09-19 18:12] Snugug commented on #1454
That'd be great, thanks!

[2019-09-19 20:33] #1372 closed

[2019-09-19 22:12] kaycebasques commented on #1270
Just reviewed it. Back to @surma to address some small requests.

[2019-09-19 22:47] kaycebasques commented on #1149
@khempenius just a couple small formatting bugs in the rendered page to address

[2019-09-20 06:42] samthor commented on #1539
So adding/removing `firebase/firestore` from our codebase shows that it's adding about ~1mb to our bundle (~500kb when minified), yet the downloaded size from CDN is about ~350kb (which we presume is minified).

🤔

[2019-09-20 11:08] surma commented on #1270
PTAL!

[2019-09-20 15:06] mihajlija commented on #1127
I got sidetracked with #1504 and ad speed content planning, so no draft yet. I do have two demo apps, the before/after difference is not very strong but I'll make it work. Expect the draft early next week.

[2019-09-20 16:38] kaycebasques commented on #1461
@kaycebasques will review PR #1367 which is related to this topic

[2019-09-20 16:40] kaycebasques commented on #1460
@kaycebasques to sort out whether this issue overlaps with #1461

[2019-09-20 16:41] kaycebasques commented on #1423
@robdodson to review the IA

[2019-09-20 16:42] kaycebasques commented on #1272
@robdodson said that @surma that he'll work on this after CDS

[2019-09-20 16:46] kaycebasques commented on #1422
Unclear how much of this IA wants to land by CDS

[2019-09-20 16:52] kaycebasques commented on #1341
The scope of this PR is to normalize the content. We'll do a more thorough review of the content in a subsequent PR.

[2019-09-20 16:52] kaycebasques commented on #1343
The scope of this PR is to normalize the content. We'll do a more thorough review of the content in a subsequent PR.

[2019-09-20 16:54] kaycebasques commented on #1071
Minko will get back to @mfriesenhahn about this next week

[2019-09-20 16:55] kaycebasques commented on #1136
@yoavweiss to submit PR

[2019-09-20 16:57] kaycebasques commented on #1149
Will review today

[2019-09-20 17:17] kaycebasques commented on #1270
LGTM. Assigning to @robdodson because the PR needs a code owner's approval to merge.

[2019-09-20 19:32] robdodson commented on #1423
Left a few comments. My biggest question is if the doc titles are still a work in progress. They seem a bit short right now.

[2019-09-20 19:46] kaycebasques commented on #1149
LGTM. Needs @robdodson's code owner review to merge.

[2019-09-20 21:10] robdodson commented on #1420
I think the idea is that capabilities will be rolling out as blog posts so they wouldn't have an IA.
@petele mentioned that the list of capabilities docs he knows about are labeled in our issue tracker: https://github.com/googlechrome/web.dev/issues?q=is%3Aopen+is%3Aissue+label%3Acapabilities

I think we can close this and track the individual posts.

[2019-09-21 00:21] robdodson commented on #1540
@kaycebasques Rick previously published this post on dev.to and was wondering about mirroring it over to web.dev. Do you want to assign someone for a quick review?

[2019-09-21 00:38] robdodson commented on #1149
added one comment on the PR

[2019-09-23 18:07] kaycebasques commented on #1136
@yoavweiss, @mihajlija is going to submit the PR because she has free time.

[2019-09-23 18:08] kaycebasques commented on #1149
@kaycebasques to merge the doc

[2019-09-23 19:39] robdodson commented on #1344
Oct 17 is drop dead date. I'm adding these tickets to a LH specific milestone so we can keep tabs on them.

[2019-09-23 19:43] robdodson commented on #1226
I _think_ this works now, right @harleenkbatra08 ?

[2019-09-23 19:43] #1226 closed

[2019-09-23 19:57] #1270 closed

[2019-09-23 20:06] #1149 closed

[2019-09-23 22:05] milky2028 commented on #1060
Hello! This article is great! One thing though, it makes mention of component-level code-splitting, but doesn't provide any feedback on how to do so. It's also currently the first result when you Google "angular code split components."

[2019-09-23 23:34] mfriesenhahn opened #1553 "content: Getting started with server-side rendering in Angular"
**Author**: @MarkPieszak
**Reviewer**: @mfriesenhahn

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.goog

[2019-09-24 01:49] kaycebasques commented on #1482
I've reviewed the doc. @petele also requested some changes. After you have addressed the requested changes @agektmr please assign the issue back to me.

[2019-09-24 03:56] mgechev commented on #1060
Hope we'll update/add content after the version 9 release.

[2019-09-24 17:26] jpmedley commented on #1420
I'll get Pete's take on this. (He'll be in my office shortly.) I frankly had a problem with constructing capabilities around a single IA. "Capabilities" (Fugu) is a somewhat arbitrary category which means there are things that meet the definition of a capability but are not included. An example of this is WebXR. On the flip side are things like changes to the a web app's storage abilities that mig

[2019-09-24 23:11] kaycebasques commented on #1461
All of the work seems to be happening in #1367. Issue #1460 is tracking that work so I'll close this one.

[2019-09-24 23:11] #1461 closed

[2019-09-24 23:33] kaycebasques commented on #1460
@rowan-m please assign this issue to me when it's ready for review

[2019-09-25 00:06] robdodson commented on #1420
Right, I think that's why we've decided to not do an IA for capabilities and instead initially publish them as blog posts. We may choose to represent them in a different way in the future, but for now, blog posts will work.

[2019-09-25 03:53] mfriesenhahn commented on #1344
@kaycebasques, I'll handle the normalization pass if you'll handle verifying content is clear and accurate.

[2019-09-25 05:53] TDurrr1 opened #1557 "Failed to load resource: net::ERR_ACCESS_DENIED on CSS"
(I commented on [Lighthouse issue #9038](https://github.com/GoogleChrome/lighthouse/issues/9038) with this issue as well, but it had already been closed. I believe this is the first time I’ve ever reported an issue with anything on Github, so if this isn’t the way it’s done, let me know and I’d be happy to fix it.)

### Description
On web.dev/measure, using https://monicajean.photography as the UR

[2019-09-25 10:58] agektmr commented on #1482
The article hasn't got signed off yet, plus some technical issues on Chrome side. It's being worked on but needs some more work. I'll assign back to you for final edits once we get sign off from reviewers @kaycebasques

[2019-09-25 14:37] milky2028 commented on #1060
Thank you!

[2019-09-25 17:07] kaycebasques commented on #1422
Rob is asking Rowan if we can launch at end of November and Joe is tentatively back on reviewing this.

[2019-09-25 21:37] kaycebasques commented on #1136
I reviewed the PR and asked @mihajlija to make a few small changes.

[2019-09-25 22:33] petele commented on #1420
+1

Once it moves out of origin trial and into stable, we'll need to figure out how to put them into a sane IA, but that's a few months off yet, and we can pick it up after CDS and all of the other craziness.

[2019-09-26 00:12] samthor commented on #1505
Some thoughts: we could load our CSS per-module (in JS) and have them blit it out on use. This way we just use Rollup and our CSS becomes giant JS variables.

I'll do a proper writeup today, just some thoughts.

[2019-09-26 01:06] robdodson commented on #1386
Fixed by #1552

[2019-09-26 01:06] #1386 closed

[2019-09-26 01:44] robdodson commented on #1420
ok. let's close this ticket. We're tracking the individual articles in our CDS spreadsheet.

[2019-09-26 01:44] #1420 closed

[2019-09-26 01:46] robdodson commented on #1422
Rowan said he was tentatively ok deferring this work until after CDS.

[2019-09-26 09:45] mihajlija commented on #1136
I've updated the PR and asked @robdodson for help with adding author profile pics.

[2019-09-26 14:26] yoavweiss commented on #1136
Thanks @mihajlija! Apologies for lack of responsiveness (TPAC travel...)

[2019-09-26 16:35] jpmedley commented on #1420
No 'backlog' bucket then?

[2019-09-26 18:09] mgechev commented on #1060
@milky2028 since we're planning simplification of the APIs in version 10, it'll be best to delay the content until then. I'm sure that after the Ivy release more and more folks will blog about component-level code-splitting, which should fix the search engine ranking.

[2019-09-26 19:15] robdodson commented on #1420
For stuff that doesn't have immediate actions I'd prefer to close the tickets. Mostly to keep the repo from filling up with stale items. When we have a plan for what we want to do next we can create a new ticket.

[2019-09-26 19:20] milky2028 commented on #1060
Thanks! I really appreciate your sharing where you guys are heading with this. And the component-based code-splitting is a huge win as well.

[2019-09-26 19:22] robdodson opened #1559 "Enable markdown lint rule to force lines to 80 or 100 characters."
**Is your feature request related to a problem? Please describe.**
When authoring markdown, if you rely on editors which soft wrap lines at 80 or 100 characters, then the actual text will be one long string. This makes diffing text changes in GitHub pull requests difficult to follow.

**Describe the solution you'd like**
Enable the remark max line length rule and set it to either 80 or 100 charact

[2019-09-26 19:23] jimoong commented on #1450
Sorry for delay. I've been focused on other priority work last week and this week. Here is the first try of the PWA illustration that fits into web.dev illustration style. Please take a look and let me know if it works for this case.
[pwa.svg.zip](https://github.com/GoogleChrome/web.dev/files/3659526/pwa.svg.zip)

[2019-09-26 19:28] robdodson commented on #1450
That looks good to me. @petele what do you think?

[2019-09-26 19:52] kaycebasques commented on #1136
Looks like the only thing left is for @mihajlija to add Yoav's profile image and then this can be merged

[2019-09-26 20:05] kaycebasques commented on #1540
Bah, sorry, just seeing this now. I'll review today.

[2019-09-26 20:25] petele commented on #1450
The PWA logo overlaid on the shield doesn't fit the similar style to the other image that are on https://web.dev/learn. I was more thinking stuff along these lines: [1](https://web.dev/images/collections/reliable.svg), [2](https://web.dev/images/collections/installable.svg), [3](https://web.dev/images/collections/lighthouse-performance.svg).

At the same time, the Frameworks sections appears to ju

[2019-09-26 20:25] kaycebasques commented on #1540
LGTM. Great narrative arc, @rviscomi. Please approve or reject my suggestions and then move directly to the PR phase. No need for another review on the draft.

[2019-09-26 20:40] jimoong commented on #1450
Thanks for the feedback. I was also thinking tweaking the logo would fit nicely to the Framework section, so the version that I created was the sort of attempt to achieve that. Actually, I had hard time to find the official logo of the PWA since I couldn't find it from the Google Developer site (https://developers.google.com/web/progressive-web-apps). Could anyone point me to the official logo? Or

[2019-09-26 21:21] kaycebasques commented on #1540
A couple small suggestions in the PR for Rick to address, and then we need Rob's input on the hero image.

[2019-09-26 23:31] kaycebasques opened #1561 "content: Performance as a default with Next.js"
**Author**: @housseindjirdeh
**Reviewer**: @kaycebasques

**Target publish date:** 2019-10-16

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.go

[2019-09-26 23:32] kaycebasques opened #1562 "content: Route prefetching with Next.js"
**Author**: @mihajlija
**Reviewer**: @mfriesenhahn

**Target publish date:** 2019-10-16

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.c

[2019-09-26 23:35] kaycebasques opened #1563 "content: Hybrid and AMP-first pages with Next.js"
**Author**: @housseindjirdeh
**Reviewer**: @kaycebasques

**Target publish date:** 2019-10-14

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.go

[2019-09-26 23:37] kaycebasques opened #1564 "content: Code splitting with dynamic imports in Next.js"
**Author**: @mihajlija
**Reviewer**: @mfriesenhahn

**Target publish date:** 2019-10-16

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.c

[2019-09-26 23:38] kaycebasques opened #1565 "content: Precache assets with next-offline"
**Author**: @housseindjirdeh
**Reviewer**: @kaycebasques

**Target publish date:** 2019-11-06

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.go

[2019-09-26 23:40] kaycebasques opened #1566 "content: Rendering in Next.js"
**Author**: @housseindjirdeh
**Reviewer**: @kaycebasques

**Target publish date:** 2019-11-06

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.go

[2019-09-26 23:41] kaycebasques opened #1567 "content: Add a web app manifest with Next.js"
**Author**: @housseindjirdeh
**Reviewer**: @kaycebasques

**Target publish date:** 2019-11-06

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.go

[2019-09-27 00:17] robdodson commented on #1450
I thought the one in Lighthouse was the official one, but I could be mistaken. Pete, do you know?

![image](https://user-images.githubusercontent.com/1066253/65732873-b5ad9b00-e080-11e9-8df6-133e6c756d70.png)

Maybe one option would be to do something illustrative like these sections, but ensure it contains the PWA logo? How important is it to you that the logo be in there Pete?

[2019-09-27 00:58] kaycebasques opened #1568 "content: Intro to metrics"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-11-06

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a [draft](https://docs.google.com/document/d/1

[2019-09-27 01:02] kaycebasques opened #1569 "content: First Contentful Paint"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-11-06

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal <add a link to your proposal doc>
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a [draft](ht

[2019-09-27 01:03] kaycebasques opened #1570 "content: Largest Contentful Paint"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-11-06

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal <add a link to your proposal doc>
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a [draft](ht

[2019-09-27 01:05] kaycebasques opened #1571 "content: Time To Interactive"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-10-28

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal <add a link to your proposal doc>
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a [draft](ht

[2019-09-27 01:06] kaycebasques opened #1572 "content: Total Blocking Time"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-11-06

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal <add a link to your proposal doc>
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a [draft](ht

[2019-09-27 01:07] kaycebasques opened #1573 "content: First Input Delay"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-10-28

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.googl

[2019-09-27 01:09] kaycebasques opened #1574 "content: Cumulative Layout Shift"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-10-28

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.googl

[2019-09-27 01:10] kaycebasques opened #1575 "content: Custom metrics"
**Author**: @philipwalton
**Reviewer**: @kaycebasques

**Target publish date:** 2019-10-28

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.googl

[2019-09-27 01:43] kaycebasques opened #1576 "content: TWA case study"
**Author**: @petele
**Reviewer**: TODO

**Target publish date:** 2019-10-28

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/document/

[2019-09-27 01:45] kaycebasques opened #1577 "content: User experience best practices"
**Author**: @petele
**Reviewer**: TODO

**Target publish date:** 2019-10-28

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/document/

[2019-09-27 02:05] kaycebasques commented on #1577
After re-reading the [IA](https://docs.google.com/document/d/1X2yC1Gh4ch0yxzovARsMJrrv1LIHj-DsD0lztRkFFqk/edit) I'm realizing that this issue might overlap with #1441, so you can close this issue if that's the case, @petele

[2019-09-27 16:10] petele commented on #1450
The official PWA logo is at https://github.com/webmaxru/progressive-web-apps-logo

The one on the Lighthouse page is an amalgamation of several different logos.

[2019-09-27 16:12] petele commented on #1577
Yes, dupe of #1441

[2019-09-27 16:12] #1577 closed

[2019-09-27 16:26] kaycebasques commented on #1576
I will mention you in a Google Doc comment. I kept the title generic here in order to not accidentally leak information.

[2019-09-27 16:49] kaycebasques commented on #1136
Milica added author image so @robdodson is up to review and merge

[2019-09-27 16:53] robdodson commented on #1450
@petele if you'd like an illustration that's a bit more like the other ones at the top of learn could you provide some suggestions around what kind of imagery you'd want to incorporate into that? Maybe a phone with the PWA logo on it? Any other iconagraphic elements or themes you'd want to try to include?

[2019-09-27 16:57] kaycebasques commented on #1344
Status: Michael is making some qualitative changes to the metrics docs (he's going to DRY up some duplicated content) and then will assign to me to do a quality review of the rest of the Performance docs.

[2019-09-27 16:59] kaycebasques commented on #1341
Status: Normalization is done. Michael is fixing some docs that aren't talking about what the audit is actually measuring.

[2019-09-27 16:59] kaycebasques commented on #1343
Status: Normalization is done. Michael is fixing some docs that aren't talking about what the audit is actually measuring.

[2019-09-27 17:06] kaycebasques commented on #1576
Status: Pete wasn't aware of this content and said he doesn't have cycles for it. Thinks that Harleen or Aanchal put it on the tracker. I emailed Harleen & Aanchal asking for clarification and requesting them to find an author.

[2019-09-27 20:04] #1136 closed

[2019-09-27 20:21] #1540 closed

[2019-09-27 22:12] petele opened #1578 "content migration: getInstalledRelatedApps"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-16
- [x] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

migrate https://developers.google.com/web/updates/2018/12/get-installed-related-apps to web.dev as part of the fugu migration

[2019-09-27 22:18] wellington1993 commented on #704
@robdodson Not working for me (Brazil)
https://services.google.com/fb/forms/web-dev-subscribe/

[2019-09-27 22:19] wellington1993 commented on #1503
@robdodson https://services.google.com/fb/forms/web-dev-subscribe/
Not working at Brazil...

[2019-09-27 23:00] robdodson commented on #704
Hey @wellington1993, are you seeing a 403 error as well?

[2019-09-27 23:02] robdodson commented on #1503
@wellington1993 It looks like there are a number of folks who have previously signed up from Brazil. Can you tell me what kind of error you're seeing?

[2019-09-27 23:53] wellington1993 commented on #704
Yes 403. But working now. :+1:

[2019-09-27 23:53] wellington1993 commented on #1503
403. But working now. :+1:

[2019-09-28 19:19] #1377 closed

[2019-09-28 19:19] #1376 closed

[2019-09-28 19:19] #1539 closed

[2019-09-29 07:53] chiraggupta8769 opened #1580 ""><img src=x onerror=prompt(document.cookie)>"

[2019-09-30 17:02] robdodson opened #1586 "Rebuild 404 page and routing."

[2019-09-30 17:23] robdodson commented on #1136
this post is now live @ https://web.dev/preload-responsive-images/

[2019-09-30 17:23] robdodson commented on #1540
This post is now live @ https://web.dev/fixing-layout-instability/

[2019-09-30 17:54] rviscomi commented on #1540
Thanks! I've updated the [original post](https://dev.to/chromiumdev/fixing-layout-instability-176c)'s canonical URL to point here.

[2019-09-30 18:06] kaycebasques commented on #1070
When Mark & Michael finalize the draft, Michael will submit the PR

[2019-09-30 18:38] #1454 closed

[2019-09-30 18:55] #1580 closed

[2019-09-30 22:33] mfriesenhahn commented on #1343
Both normalization and quality work complete. Ready for @kaycebasques to review.

Note: I didn't add content where it might be helpful because I didn't want to step out of scope, but there are some posts that are very slim. Most immediately, `/pwa-cross-browser`.

[2019-10-01 01:39] katejeffreys commented on #1422
Spoke with @PaulKinlan - I want to get as much done as possible over the next 6 weeks

[2019-10-01 01:45] ghost opened #1588 "content: Codelab: Get started with the Notifications API"
**Author**: @katejeffreys
**Reviewer**: @mfriesenhahn

**Target publish date:** CDS
- [ ] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/d

[2019-10-01 01:50] carolrivero commented on #1422
Please refer to go/cds19-webdev-content-proposals for the workload we have slated for the team leading up to CDS. We'll need to include this in our priorities. Thanks.

[2019-10-01 03:46] katejeffreys commented on #1588
https://deploy-preview-1590--web-dev-staging.netlify.com

[2019-10-01 18:40] kaycebasques opened #1592 "content: image CDN comparison proposal"
**Author**: @khempenius
**Reviewer**: @kaycebasques

**Target publish date:** 2019-12-01

- [ ] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

@khempenius please use this doc where I've added notes from our discus

[2019-10-01 19:01] MarkPieszak commented on #1071
PR almost finished, will post here when submitted!

Apologies for any delay everyone! Thank you 🙏

[2019-10-01 19:02] MarkPieszak commented on #1553
PR Submitted: #1591

[2019-10-02 01:39] thoamsy commented on #1502
I just found out that this problem has been solved. closed

[2019-10-02 01:39] #1502 closed

[2019-10-02 02:15] mfriesenhahn opened #1594 "Next article widget doesn't support Markdown"
**Describe the bug**
Post titles can now include Markdown (for example, to allow for code font). However, that Markdown isn't being parsed in the **Next article** component.

See screenshot below for an example.

**Expected behavior**
Markdown in post titles should be parsed.

**Screenshots**
![image](https://user-images.githubusercontent.com/14199217/66013312-98613e00-e47f-11e9-994c-11e495118314.

[2019-10-02 14:32] jeffposnick commented on #1295
Hey @jpmedley & co. (@petele)—I see that there's a deadline of Oct. 9 associated with this, and just wanted to check in to see what's specifically needed from me.

I know that Joe would like to see a rewrite of what was initially published on WebFu.

If I'm going to perform the rewrite, I'll need some additional guidance as to what needs to be cut. Or was Joe planning on taking a first stab at the

[2019-10-02 18:05] kaycebasques commented on #1423
Feature phone content probably won't need to launch in CDS timeline. Surma might work on PROXX 2 but that also is not in CDS timeline.

[2019-10-02 18:13] kaycebasques commented on #1562
Hi @mihajlija I'm pretty sure you said you'll write this one, so I assigned the issue to you

[2019-10-02 18:16] kaycebasques commented on #1343
@kaycebasques to do a tech writer review, there's an open question around heading wording. Look at redirects post and redirects HTTPS posts. These were re-written.

Michael did quality fixes too

FYI Rob checked consistency of normalization, skimmed content, mostly looking for normalization stuff

[2019-10-02 18:16] kaycebasques commented on #1341
Michael is going through ARIA post now, continuing work

[2019-10-02 18:17] kaycebasques commented on #1344
Michael is cleaning up metrics posts, there's something wrong with metrics posts

[2019-10-02 18:23] kaycebasques commented on #1482
@agektmr any movement on this?

[2019-10-02 18:26] kaycebasques commented on #1460
@rowan-m does this need to go out before CDS?

[2019-10-02 18:28] #1421 closed

[2019-10-02 19:16] robdodson opened #1599 "SW flakiness"
**Describe the bug**
I think the work done in #1583 is causing issue with the service worker. If I comment out the content handler and remove the lines that set `index: false` on the static routes then things work again. Otherwise I get 404s for content pages. My fault for not reviewing better.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the current v2 branch.
2. Try to visit a

[2019-10-02 19:29] robdodson opened #1600 "Router should change page title and manage focus."
**Describe the bug**
When loading a new page into the shell, the router should update the title for the site and should move focus to the first heading in the new page to signal to screen readers that the content is loaded.

[2019-10-02 21:23] robdodson opened #1601 "Router should scroll to the top when a page changes."
When navaid updates a page, we should scroll to the top of the page.

[2019-10-03 02:12] agektmr commented on #1482
@kaycebasques Yes. There was an issue in the origin trial logic, but the fix has been merged and became available in Chrome Beta publicly today. Most of comments in the doc has been approved (still missing some LGTMs though). The pull request is the latest status.
I'd like this to be published as soon as I get sign-offs from reviewers.

[2019-10-03 18:12] kaycebasques commented on #1482
Great, thanks @agektmr. Please re-assign this to me when all of the technical content has been approved and you're ready for a final technical writer review (by me).

[2019-10-03 20:24] kaycebasques opened #1602 "Update the pwa-cross-browser audit doc"
`src/site/content/en/lighthouse-pwa/pwa-cross-browser/index.md` focuses on Workbox a lot more than it should. Need to update the doc to be more generic.

[2019-10-03 20:29] kaycebasques opened #1603 "Mention portals in the pwa-page-transitions audit doc"
Portals probably aren't mature enough yet to mention, but will be very relevant to `src/site/content/en/lighthouse-pwa/pwa-page-transitions/index.md` in the future!

[2019-10-03 20:45] kaycebasques commented on #1343
Done! Woohoo! Off to @robdodson to publish.

[2019-10-03 21:31] kaycebasques commented on #1472
@uskay needs to commit the changes to his fork and then I can merge

[2019-10-03 21:47] mfriesenhahn commented on #1343
@kaycebasques, you introduced a title error when you committed your changes. See PR for details.

[2019-10-03 23:19] jimoong commented on #1450
Could we confirm which section that this content would be belong to? Because each section has unique style to its illustrations, it'd be easier for me to think about the style of illustration of this.
And I just found this type of PWA logo(?) and it seems sort of official? It looks better and seems to work better as illustration material. What do you think?
![www youtube com_watch_v=1QILz1lAzWY](h

[2019-10-04 02:20] #1472 closed

[2019-10-04 02:27] kaycebasques commented on #1343
Thanks @mfriesenhahn for fixing my goof, off to @robdodson to publish

[2019-10-04 02:30] kaycebasques commented on #1561
I just reviewed the draft. Next step is for Houssein to address my feedback.

[2019-10-04 17:17] jpmedley commented on #1295
@jeffposnick I've been traveling. Sorry about the delay.

Some of the dates on these things are more aspirational that not.

I had assume that I would be the one to rewrite this. If you wish to do so, I have no objection. My objection with the old version was that it read like a design document instead of an article for a web developer. For that reason, my intention had been to throw out the old a

[2019-10-04 17:31] jeffposnick commented on #1295
Thanks for the additional context, Joe!

I am happy to let you take the lead in rewriting, especially since the deadline is aspirational. I'm happy to review your rewrite to ensure nuance about sensitive matters is retained.

[2019-10-04 18:09] kaycebasques commented on #1344
Screenshots are updated. I'll follow up with Rob and Michael after standup to figure out scope, deadline, etc.

[2019-10-04 18:14] kaycebasques commented on #1071
There are some suggestions for Mark to address and then this will be done.

[2019-10-04 18:14] kaycebasques commented on #1553
There are some suggestions for Mark to address and then this will be done.

[2019-10-04 19:30] Snugug commented on #1349
Ping on getting this content reviewed, esp, now that #1454 has landed (why and how in each section go into the expandable area)

[2019-10-04 19:31] Snugug commented on #1346
Ping on getting this reviewed

[2019-10-04 20:45] carolrivero commented on #1346
According to our timelines for Wave 3 of CDS related posts, https://docs.google.com/spreadsheets/d/1_tGAAlpYlpVjGsSo3kz_jvhxLIj7oVdVvWgTwL6SriM/edit#gid=12070013
- this will fall under Wave 3. Drafts are due on Oct 28 and we will start reviewing then for a launch date of on or before Nov 6.

All reviewers are booked up until then. Thanks.

[2019-10-04 20:52] robdodson commented on #1349
Assigning to @jpmedley to review

[2019-10-06 17:34] mfriesenhahn opened #1608 "content: Improve guidance in critical-request-chains post"
The `critical-request-chains` post in the `lighthouse-performance` collection is currently pretty light on details, which seems likely to make it difficult for inexperienced devs to understand what critical request chains are, how they affect performance, and how to optimize them.

[2019-10-07 18:05] kaycebasques commented on #1562
@mihajlija is doing research on when prefetch is appropriate and waiting on @housseindjirdeh to answer some questions.

[2019-10-07 18:10] robdodson commented on #1608
Shall I assign this to @kaycebasques to decide on an author?

[2019-10-07 18:13] mfriesenhahn commented on #1608
Up to you. Didn't want to assign since we've decided further updates to audit posts will be deferred till after CDS.

[2019-10-07 18:18] khempenius commented on #1542
Adding this to the post-CDS sprint.

[2019-10-07 18:19] mfriesenhahn opened #1612 "content: Add rel=noopener to external links in existing content"
Links to external sites should use the `rel=noopener` attribute. We need to conduct a pass of existing content to convert all external links from the Markdown shorthand to `<a href="somesite.com" rel="noopener">Link text</a>`.

[2019-10-07 19:31] #1482 closed

[2019-10-07 22:14] kaycebasques commented on #1482
@robdodson please publish this no later than 10/9

[2019-10-07 22:38] kaycebasques commented on #1561
Houssein is planning on updating this draft tomorrow and estimates for it to be complete by 10/9 or 10/10.

[2019-10-07 23:36] mfriesenhahn commented on #1594
Particularly important for posts with tags in their titles:
![image](https://user-images.githubusercontent.com/14199217/66356656-92a4a600-e920-11e9-89de-b0b1104cc841.png)

[2019-10-08 15:54] petele opened #1615 "content: Notification Triggers"
**Author**: @tomayac
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-30
- [X] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my [proposal](https://docs.google.com/document/d/1o77exhyDrJck_1XQySbgh-lX_dg9RCSDd7LZ7PTD5Io/edit)
- [X] 2. Proposal approved
- [X] 3. I've

[2019-10-08 16:12] petele opened #1616 "content migration: Web Share API"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-16
- [X] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [X] 1. I've done my proposal (merged version of https://developers.google.com/web/updates/2019/05/web-share-files and https://developers.google.com/web/update

[2019-10-08 16:36] carolrivero commented on #1460
@rowan-m - also if you could confirm if this is CDS related, that would be helpful. Thanks.

[2019-10-08 16:55] petele opened #1617 "Markdown reference links in `{% Aside %}` aren't recognized"
**Describe the bug**
If I define a reference link (eg: `[my-link]: https://google.com`) at the bottom of my doc, then try to use it in an `{% Aside %}`, it doesn't recognize the reference link.

**To Reproduce**
Steps to reproduce the behavior:
1. At the bottom of your doc add `[my-link]: https://google.com`
2. In your main doc, add:

[code]

**Expected behavior**
I would expect the link to be ren

[2019-10-08 17:41] kaycebasques opened #1618 "Create an reusable component for Origin Trials instructions"
## Tasks

- [ ] Update the Instruction component
- [ ] Update https://web.dev/badging-api/#ot
- [ ] Update https://web.dev/sms-receiver-api-announcement
- [ ] Update https://web.dev//contact-picker/#origin-trial

## How to implement

1. Create an include like this: https://github.com/GoogleChrome/web.dev/blob/master/src/site/_includes/content/origin-trials.njk

[2019-10-08 17:56] kaycebasques opened #1619 "Clarify when use of "we" is OK"
* If someone uses "we" conversationally, as in "now we're going to do X", I can be lenient with that
* If someone uses "we suggest doing X" where "we" actually means a specific group, like the Chrome team, we should replace "we" with "the Chrome team"

[2019-10-08 18:12] kaycebasques commented on #1291
I just reviewed #1614. I made various small suggestions for Pete to address. Also need Rob to weigh in on a couple of questions related to images.

[2019-10-08 18:51] petele commented on #1618
It'd be great if there was a variable or something that I could set the URL to the specific origin trial, so when the widget is included, the URL links to the specific OT I'm referencing.

[2019-10-08 20:34] petele opened #1625 "Create a FUGU feedback component"
All of the Fugu feedback sections are essentially identical, it'd be great to have a widget we could drop in and use.

Ideally there would be three variables we would be able to set:
* API-NAME (eg Contacts Picker API)
* COMPONENT (eg Blink>Storage)
* TWITTER-TAG (eg 'contactpicker')

Template is below.

[code]

[2019-10-08 21:12] kaycebasques opened #1626 "Update Lighthouse performance scoring doc to include historical information"
`/performance-scoring/` needs to contain historical information about each Lighthouse version. Note that this page isn't live yet.

[2019-10-08 23:18] kaycebasques opened #1627 "content: Lighthouse doc for Total Blocking Time"
**Author**: @kaycebasques
**Reviewer**: TBD

Note that this is different than #1572. This is the doc that Lighthouse will link to and must be organized around that user journey. The doc that I'm creating here will eventually link to Phil's doc from #1572.

**Target publish date:** 2019-10-17 (Chrome 79 Branch Point)

- [x] Check this box if this is a hard deadline.
- [x] Check this box if you'd li

[2019-10-08 23:27] kaycebasques opened #1628 "content: Lighthouse doc for Largest Contentful Paint"
**Author**: @kaycebasques
**Reviewer**: @mfriesenhahn

Note that this is different than #1570.

**Target publish date:** 2019-10-17 (Chrome 79 Branch Point)

- [x] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

Wh

[2019-10-08 23:31] kaycebasques opened #1629 "content: New a11y audit docs for Lighthouse 6.0"
**Author**: @mfriesenhahn
**Reviewer**: @kaycebasques

[List of docs](https://github.com/GoogleChrome/lighthouse/issues/7127#issue-405436641)

**Target publish date:** 2019-10-17 (Chrome 79 Branch Point)

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing proce

[2019-10-08 23:37] kaycebasques opened #1630 "content: Add historical scoring info and deprecations for Lighthouse 6.0"
**Author**: @kaycebasques
**Reviewer**: @paulirish

**Tasks**

- [ ] Call out deprecations
  * Addressed in #1660
- [ ] Add historical scoring to the Lighthouse scoring doc
  * Addressed in #1660

**Target publish date:** 2019-10-17 (Chrome 79 Branch Point)

- [x] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for y

[2019-10-08 23:46] kaycebasques opened #1631 "content: Update metrics tables and explanations"
**Author**: @kaycebasques
**Reviewer**: @patrickhulce

**Context**

https://github.com/GoogleChrome/web.dev/issues/1344#issuecomment-524661106

**Tasks**

- [ ] The score table and explanations for metrics are off. Need to get a detailed review from Patrick.

**Target publish date:** 2019-10-17

- [ ] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fi

[2019-10-08 23:51] kaycebasques opened #1632 "content: Normalize the Performance opportunities docs"
**Author**: @kaycebasques
**Reviewer**: TBD

**Tasks**

- [ ] Look at #1609 to understand the normalization pattern
- [ ] Apply the pattern to all of the *Opportunities* docs

**Target publish date:** TBD

- [ ] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing proc

[2019-10-08 23:56] #1344 closed

[2019-10-09 00:19] mfriesenhahn commented on #1631
One (ambitious) possibility to address the ongoing problem of screenshot datedness: if we could embed the relevant piece of the actual LH UI on the page, that'd help! Don't know what the LoE would be for the LH team though.

Also, we'd need some automated notification when UI changes occur so any textual descriptions in the posts can be updated.

[2019-10-09 00:20] mfriesenhahn commented on #1631
I've marked the `dom-size` TODO as done. It does have a link: https://web.dev/dom-size

[2019-10-09 00:31] mfriesenhahn commented on #1307
All PRs merged into LH.

[2019-10-09 00:31] #1307 closed

[2019-10-09 00:37] mfriesenhahn commented on #1269
Closing because this is a duplicate of #1454

[2019-10-09 00:37] #1269 closed

[2019-10-09 12:49] petele commented on #1615
This has slipped to Chrome 79 (from 78), will update and move into the the appropriate wave/sprint when we're closer to knowing it's landing date.

[2019-10-09 15:51] jpmedley commented on #1482
Eiji,

Which Chrome beta version did this end up in?

Joe
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Wed, Oct 2, 2019 at 7:12 PM Eiji Kitamura <notifications@github.com>
wrote:

[2019-10-09 16:30] mfriesenhahn commented on #1495
Here's a use case: various Lighthouse audit titles have changed, so I'm having to manually search the project for their paths to make sure the link text is updated.

Also, a complication: how to handle anchor links?

[2019-10-09 16:44] robdodson commented on #1608
k

[2019-10-09 16:48] robdodson commented on #1594
oof ok, yeah that seems bad. I'll take a look.

[2019-10-09 16:51] robdodson commented on #1617
I don't think this is an easy fix. If I recall, eleventy shortcodes don't have access to the entire doc, just the content you place inside of them. I realize it's a bit annoying, but I'd suggest not using reference links in Asides. I don't think this is something we'll have time to prioritize fixing so I'm going to recommend closing unless this is a blocker.

[2019-10-09 16:53] robdodson commented on #1619
I thought we tried to avoid this because it comes across as a bit professorial. Isn't the usual writing advice to make it "you do X" or an implicit you, e.g. "do X" ?

[2019-10-09 16:53] petele opened #1635 "content: A Vision for Apps on the Web"
**Author**: @thomasthedane
**Reviewer**:

**Target publish date:** 2019-11-11 - supporting content for CDS Keynote Blog
- [X] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this

[2019-10-09 17:04] petele commented on #1617
Can we keep this open for now, I'm fine with it not being fixed any time soon. We use reference links a lot in our docs and having this would be super helpful.

[2019-10-09 17:12] carolrivero commented on #1635
Please provide a target due date. Thanks.

[2019-10-09 18:04] kaycebasques commented on #1341
Michael is including the Lighthouse 6.0 docs work in this issue because they share an include.

[2019-10-09 18:08] mihajlija commented on #1562
Got feedback from Next.js team on some issues with prefetching and finally have a working production app on Glitch. I've added a rough draft, I'll update it tomorrow with the new info and the polished example app. Expecting to be ready for review tomorrow.

[2019-10-09 18:23] kaycebasques commented on #1619
Here's the GDDSG basis for avoiding "we": https://developers.google.com/style/person

In practice we've seen a lot of web.dev contributors gravitate towards using "we" in the conversational sense and it often feels like an unnecessary nitpick to have them change it.

[2019-10-09 18:36] kaycebasques commented on #1618
@mfriesenhahn would you please verify that my "how to implement" instructions are correct, leave a comment if not, and then assign back to @jpmedley

[2019-10-09 19:00] kaycebasques opened #1637 "Version the Lighthouse docs"
## Context

* https://github.com/GoogleChrome/lighthouse/pull/9540#pullrequestreview-273224968
* https://github.com/GoogleChrome/web.dev/issues/1631#issue-504334083

## Problem

All of the Lighthouse versions point to the same docs on web.dev. If we include screenshots of the Lighthouse report UI, or if we mention that Lighthouse measures a certain number of metrics, then the doc will appear outda

[2019-10-09 19:11] kaycebasques commented on #1618
@robdodson can you advise on the best way to implement this (in [this comment](https://github.com/GoogleChrome/web.dev/pull/1614/files#r333145860) you seem to suggest an approach), and perhaps give @jpmedley some general instructions on how to implement (like I did in the first comment), and then assign to @jpmedley when it's ready for implementation

[2019-10-09 22:16] robdodson commented on #1625
I'm not sure I'm fully on board with this idea but I'm happy to discuss.

My main concern is that this feels like functionality that might fit better on chromestatus.com. We're beginning to have conversations around what the next iteration of chromestatus would look like, and creating a place to give feedback is high on the list.

Another concern is around creating components that have to live ind

[2019-10-09 22:21] robdodson commented on #1343
it's uuuuuup

[2019-10-09 22:21] #1343 closed

[2019-10-09 22:23] robdodson commented on #1618
@kaycebasques instead of using the isntruction component would you like for this content to be in an include? Similar to this one? https://github.com/GoogleChrome/web.dev/blob/master/src/site/_includes/content/origin-trials.njk

[2019-10-09 23:39] #1594 closed

[2019-10-10 01:12] kaycebasques commented on #1618
@robdodson that SGTM

@jpmedley I got confirmation from Rob on the best way to implement this, so you can work on this whenever you like

[2019-10-10 01:34] agektmr commented on #1482
This is landed on Chrome 78 beta. Updating the 78 beta announcement blog post will be appreciated.
https://blog.chromium.org/2019/09/chrome-78-beta-new-houdini-api-native.html

[2019-10-10 01:46] kaycebasques commented on #1482
Feedback request done.

[2019-10-10 10:05] aldrinpvincent opened #1641 "Example in page https://web.dev/semantics-and-screen-readers/ is breaking"
**Describe the bug**
Example in page --> https://web.dev/semantics-and-screen-readers/ is breaking

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.dev/semantics-and-screen-readers/
2. Scroll down to the example code fro <div> versus a <button>
3. See error
<img width="1680" alt="Screenshot 2019-10-10 at 3 34 49 PM" src="https://user-images.githubusercontent.com/38835946/665

[2019-10-10 13:17] petele commented on #1618
Typically we link directly to the OT in the standard block we use, and that link changes with each OT. If we can set a variable or something like that so the link works, I'd be happy for that to be an include.

[2019-10-10 16:05] mihajlija commented on #1562
I need to retake some screenshots and work on CSS, but the post is ready for review.

[2019-10-10 17:12] jpmedley commented on #1291
Just a reminder. This item is marked for CDS, but we actually need it sooner, since it's coming out of origin trial in Chrome 79.

We actually need this published before 10/31.

[2019-10-10 18:55] kaycebasques opened #1643 "Chunk up the "how to improve your <metric> score" sections"
## Context

Each of the Lighthouse metrics docs leads off with the same text:

![image](https://user-images.githubusercontent.com/4713486/66597253-750b5280-eb53-11e9-87c9-799d3c00df02.png)

![image](https://user-images.githubusercontent.com/4713486/66597278-7e94ba80-eb53-11e9-803e-586b75e5c4ec.png)

![image](https://user-images.githubusercontent.com/4713486/66597291-87858c00-eb53-11e9-80b9-f7c69e2

[2019-10-10 19:42] jpmedley opened #1644 "content: migrate "Check If Your Native App Is Installed With getInstalledRelatedApps()""
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** 2019-10-31
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/docu

[2019-10-10 20:48] robdodson commented on #1618
I think there's two ways to do this: includes or macros. They're pretty similar so I think it comes down to which syntax you prefer.

If you want to use includes you can do:

[code]

The include would contain:
[code]

If you want to use macros you can do:

[code]

The macro would contain:
[code]

I guess the upside of macros is you can have more than one macro exported from a file. Do y'all have a

[2019-10-10 22:17] mfriesenhahn commented on #1629
@kaycebasques, see the PR for notes about status.

[2019-10-10 22:20] mfriesenhahn commented on #1629
Oh, and @robdodson, since you're the SME for this, it'd be ideal if you could review also.

[2019-10-10 22:24] #1643 closed

[2019-10-10 23:17] carolrivero commented on #1631
Please confirm who the reviewer is for this one. Thx.

[2019-10-10 23:18] carolrivero commented on #1630
Please confirm who the reviewer is on this one. Thanks.

[2019-10-10 23:19] carolrivero commented on #1628
Please confirm who the reviewer is for this one. Thx.

[2019-10-10 23:20] carolrivero commented on #1627
Please confirm who the reviewer is. Thx.

[2019-10-10 23:25] carolrivero commented on #1346
@kaycebasques please assign a reviewer. should it be jpmedley?

[2019-10-11 00:13] kaycebasques opened #1650 "Add styles for blockquote elements"
See https://github.com/GoogleChrome/web.dev/pull/1624/files#r333776944 for context.

[2019-10-11 00:39] robdodson commented on #1612
I think #1621 may have addressed this. I'm not sure if our markdown parser supports external links using markdown syntax so the only ones we have might be the ones captured in that PR.

[2019-10-11 01:02] kaycebasques commented on #1619
Rationale for avoiding "we" when we actually mean "Chrome": https://github.com/GoogleChrome/web.dev/pull/1614#discussion_r333143069

[2019-10-11 02:37] mfriesenhahn commented on #1612
Actually, for this I meant doing a sweep of existing content and converting MD-syntax links pointing to external sites over to HTML and rel=noopener. We have a bunch of those, obvs. It'd be a project.

[2019-10-11 10:28] brightpixels opened #1651 "TypeError: axe is not a function"
**Describe the bug**
https://web.dev/accessibility-auditing-react

**To Reproduce**
Steps to reproduce the behavior:
1. Generate reacr app using create-react-app (CRA)
2. Replace `ReactDOM.render(<App />, document.getElementById('root'));` with the following
[code]

3. `npm start`

**Expected behaviour**
Broken app with error in console and page: `TypeError: axe is not a function`

** Fix that has

[2019-10-11 15:39] jpmedley commented on #1618
Can a macro take more than one argument? We might want to do:

`Join the <a href="{{ot.url}}">{{ot.apiName}}</a> origin trial.`

[2019-10-11 15:54] petele commented on #1625
I'm find duplicating that block in all of our content if you are.

[2019-10-11 15:54] #1625 closed

[2019-10-11 15:56] petele commented on #1618
I personally would lean towards includes, adding multiple things exported from a single file doesn't seem like enough of a benefit to go that way.

[2019-10-11 15:58] petele commented on #1635
I think I did (Target publish date in the description), or am I missing something?

[2019-10-11 16:06] carolrivero commented on #1635
Yes you did - I might have confused this w/ another issue. Does the publish date have to be exactly on 11/11? We're trying to get everything published by Nov 6 w/c is the target publish date for all CDS related articles. We most likely will not push anything while CDS is happening (in case any issues arise). Thanks.

[2019-10-11 16:09] petele commented on #1635
This'll be referenced from the keynote blog, so it needs to go live shortly before that.

[2019-10-11 16:29] robdodson commented on #1651
Hi @brightpixels, I think you may want to file this in [the react-axe repo](https://github.com/dequelabs/react-axe).

[2019-10-11 16:29] #1651 closed

[2019-10-11 16:30] robdodson opened #1653 "Posts without a thumbnail are collapsed a bit on mobile."
**Describe the bug**
See screenshot:
![image](https://user-images.githubusercontent.com/1066253/66668277-b3fbdf80-ec09-11e9-89ff-2753fdee11a2.png)

**Expected behavior**
The post should have a bit more min-height so it's size matches its peers. We do this on desktop, so it must be an oversight on mobile.

[2019-10-11 16:59] robdodson commented on #1612
ah got it

[2019-10-11 17:02] robdodson commented on #1618
yeah a macro can take multiple arguments, or you can pass in an object. You can do the same with an include. The differences are pretty small. Sounds like an include is the way to go on this. @jpmedley did you want to take a shot at it or shall I? The [include docs are here](https://mozilla.github.io/nunjucks/templating.html#include) but they're pretty short. I think the example above is pretty mu

[2019-10-11 17:12] robdodson commented on #1618
Actually, if it's ok, I can just do this since I'm already reviewing Pete's posts. I can update the PR for the badging icon post to use the include so y'all can review.

[2019-10-11 17:46] #1291 closed

[2019-10-11 17:46] robdodson commented on #1618
Fixed in https://github.com/GoogleChrome/web.dev/pull/1614/commits/0764f80fa3e9064501a635cbc45bb5798cd93305

I'll rebase the other PRs to use this include.

[2019-10-11 17:46] #1618 closed

[2019-10-11 17:48] petele commented on #1618
Score - thank you!

[2019-10-11 18:42] petele commented on #1618
BTW: this is also used in: #1652, #1622, and #1623

[2019-10-11 18:55] simevidas commented on #833
Additionally, there are some contrast issues in code blocks. Maybe it‘s finally time that we stop choosing syntax highlighting themes based on appeal and start enforcing strict contrast requirements for them as well.

<img width="612" alt="Screen Shot 2019-10-11 at 8 50 35 PM" src="https://user-images.githubusercontent.com/716405/66677058-2354ec00-ec69-11e9-9db5-80c313ba8df1.png">

[2019-10-11 19:43] ghost opened #1657 "content: Learn: Use notifications to enage and re-engage users"
**Author**: @katejeffreys
**Reviewer**: @mfriesenhahn

**Target publish date:** Wave 1
- [ ] Check this box if this is a hard deadline.

- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [x] 1. I've done my proposal https://docs.google.com/document/d/1f4jNYMfYoSCwYs0Zk4rkjIWp-iX548lrW_qFosZl4DE/edit
- [x] 2. Proposal approved — _reviewe

[2019-10-11 20:29] #1627 closed

[2019-10-11 21:24] mfriesenhahn commented on #1629
@kaycebasques, as noted in the PR, all outstanding questions have been resolved with the LH team. All new audits ready for your review.

[2019-10-11 21:57] #1292 closed

[2019-10-11 22:04] #1294 closed

[2019-10-11 22:06] #1297 closed

[2019-10-11 22:26] #1278 closed

[2019-10-11 23:56] kaycebasques commented on #1561
I submitted the PR. Rob and Houssein need to review the PR.

[2019-10-12 00:38] kaycebasques commented on #1628
Status: Lighthouse team provided technical review. The metric hasn't been implemented in the Lighthouse report yet so there's still some technical content that needs to be added to the doc.

[2019-10-12 00:42] kaycebasques commented on #1630
@paulirish I wouldn't have it any other way. I'll write and you can review.

[2019-10-12 00:50] kaycebasques opened #1659 "Address TODOs in mpFID doc"
* Author: @kaycebasques
* Reviewer: @patrickhulce

https://raw.githubusercontent.com/GoogleChrome/web.dev/master/src/site/content/en/lighthouse-performance/max-potential-fid/index.md

[2019-10-12 02:07] kaycebasques commented on #1630
@paulirish #1660 is my first pass, please leave feedback and then assign back to me

[2019-10-12 02:26] kaycebasques opened #1661 "Improve guidance in bootup time, main thread, and offscreen images audits"
https://github.com/GoogleChrome/web.dev/issues/1344#issuecomment-524661106

[2019-10-13 23:38] ghost opened #1662 "content: Codelab: Manage notifications with a service worker"
**Author**: @katejeffreys
**Reviewer**: @mfriesenhahn

**Target publish date:** Wave 2

- [ ] Check this box if this is a hard deadline.
- [x] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.co

[2019-10-14 14:52] jpmedley commented on #1635
Precise timing of an article during CDS or IO is not unheard of. For
example, at IO I had to wait for a tech crunch article to go live before I
could even have a publicly visible PR. We need to plan for situations like
this.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Fri, Oct 11, 2019 at 9:09 AM Pete LePage <

[2019-10-14 18:05] kaycebasques commented on #1564
M is going to send an email to H about next steps.

[2019-10-14 19:08] mfriesenhahn opened #1663 "Content process: specify scope of desired writer review"
**Is your feature request related to a problem? Please describe.**
The desired scope of Tech Writer reviews varies from post to post. For some posts, a review using the full content checklist is desired; for others, it's just a copy edit. Asking what review scope is desired for each post can be inefficient and doesn't leave a record unless TWs proactively indicate scope in the PR comments.

**Desc

[2019-10-14 20:27] robdodson opened #1664 "compile-css sourcemaps don't work in dev or prod."
**Describe the bug**
I think there are two bugs.

In dev, the sourcemaps omit their URL so they don't work.
In prod, the sourcemaps don't seem to be correct. Most everything seems to link to mixins.scss, shared.scss, or app.scss, but if you try to follow those links in the sources panel it comes up blank.

[2019-10-14 20:50] robdodson commented on #1664
Did some more digging. It looks like we also need to include the `--embed-sources` option to put the actual .scss file content into the .map file. That's what the v1 gulp plugin does. Otherwise, devtools goes looking for the actual .scss files and when it can't find them it just silently fails (thankfully Firefox will tell you that these are 404ing).

[2019-10-14 21:23] robdodson opened #1666 "Need active underlined state for v2 navigation."
When an item in the top nav is active, it should have a blue underline like this:

![image](https://user-images.githubusercontent.com/1066253/66784022-2846b500-ee8e-11e9-9652-0b2595158d75.png)

[2019-10-14 22:09] mfriesenhahn commented on #1578
Finished the copy edit and passed back to Joe.

[2019-10-15 08:57] rowan-m commented on #1460
Sorry for the delays! #1367 is now updated with the latest drafts separating this into two articles.

[2019-10-15 08:57] rowan-m commented on #1460
And yes, going live before CDS would be super helpful.

[2019-10-15 10:20] uskay opened #1669 "Blog: 5 ways AirSHIFT made their React app responsive"
**Author**: @uskay
**Reviewer**: @kaycebasques

**A one to two sentence description of your post**
This case study explains how the AirSHIFT team optimized the responsiveness of their desktop React SPA and satisfied their users.

**What are you planning to teach folks in this post?**
A real world case study of React SPA performance optimization.

**Target publish date:** TBD
- [ ] Check this box i

[2019-10-15 15:48] petele opened #1670 "Override markdown-it parser to add rel=noopener"
Per @mfriesenhahn's comment on #1652

Can we update the markdown parser to do this for us automatically please?

Instructions on how to do that are essentially at https://github.com/markdown-it/markdown-it/issues/46, and requires an easy override of the renderer rules.

[2019-10-15 16:53] carolrivero opened #1671 "content: Learn: Notification permission UX"
**Author**: @katejeffreys
**Reviewer**: @mfriesenhahn

**Target publish date:** 2019-10-30

- [x] Check this box if this is a hard deadline.
- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.googl

[2019-10-15 16:56] carolrivero opened #1672 "content: Learn: Web push"
**Author**: @katejeffreys
**Reviewer**: [TBD]

**Target publish date:** 2019-10-30>
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/d

[2019-10-15 16:57] carolrivero opened #1673 "content: Codelab: Web push"
**Author**: @katejeffreys
**Reviewer**: [TBD]

**Target publish date:** 2019-10-30
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google.com/do

[2019-10-15 17:28] kaycebasques commented on #1341
Rob and Michael are reviewing the PR. Rob is doing in-depth reviews and doesn't think that it's necessary to have a writer review it as well. So once Rob thinks the PR is good, we can merge.

[2019-10-15 17:29] kaycebasques commented on #1629
Rob and Michael are reviewing the PR. Rob is doing in-depth reviews and doesn't think that it's necessary to have a writer review it as well. So once Rob thinks the PR is good, we can merge.

[2019-10-15 17:45] kaycebasques opened #1674 "content: React IA updates"
https://github.com/GoogleChrome/web.dev/pull/1658#discussion_r334543406

<blockquote>
To be honest, I was still kind of unsure how to categorize things and was thinking of an entirely separate Next.js collection. But this looks even nicer in my opinion - I love the idea of separating CRA and Next.js optimization guides and keeping it under a single React collection.

There's a couple of things we

[2019-10-15 17:48] kaycebasques commented on #1561
@housseindjirdeh has LGTM'd the PR.

I need to Rob to provide feedback on:

- [ ] How to increase the height of the embedded Glitch
- [ ] Provide a second pair of eyes of the new organization of web.dev/react
- [ ] Provide a code maestro review if he wants

[2019-10-15 17:56] kaycebasques commented on #1460
@rowan-m you're up to incorporate @jpmedley's feedback. Once Joe approves the PR we can merge.

[2019-10-15 18:59] robdodson opened #1675 "Netlify staging should enforce trailing slash on directories."
Express, by default, adds a trailing slash to directory requests:

`foo.com/bar` becomes `foo.com/bar/`

This is important because if you request an image using a relative path like `[some image](foo.jpg)`, if the url _does not_ have the trailing slash, then it will look for that image relative to the root, instead of the directory.

However, we aren't enforcing trailing slashes on Netlify when we

[2019-10-15 19:32] kaycebasques commented on #1460
Looks like @jpmedley has finished his review, so off to @rowan-m to incorporate the feedback

[2019-10-15 21:35] mfriesenhahn commented on #1562
Did a very quick copy edit and commented on a couple instructional details but didn't dive deep so as not to hold things up.

[2019-10-15 22:58] kaycebasques opened #1676 "Consider enforcing IDs for all sections"
When we don't specify an ID for a section, the ID gets auto-generated from the text of the section heading. For example:

[code]

Becomes: `https://web.dev/samesite-cookies-explained#changes-to-the-default-behavior-without-samesite`

If we change that section heading text, the ID changes:

[code]

Would (probably) become: `https://web.dev/samesite-cookies-explained#changes-to-the-default-samesite-

[2019-10-16 08:23] prash-mi opened #1682 "content: Trusted Web Activity(TWA)- OYO case study"
**Author**: @AnkitJainAJ
**Reviewer**: @mfriesenhahn

**Target publish date:**  2019-11-6
- [x] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [this template](https://docs.google

[2019-10-16 09:10] carolrivero commented on #1576
This is a dupe of https://github.com/GoogleChrome/web.dev/issues/1682. @prash-mi submitted the issue. He's authoring this one.

[2019-10-16 09:14] #1576 closed

[2019-10-16 16:45] robdodson commented on #1341
added my LGTM to the PR. I'm cool with landing whenever.

[2019-10-16 16:45] #1368 closed

[2019-10-16 16:49] mfriesenhahn commented on #1341
@kaycebasques, please don't merge until I give the go-ahead.

[2019-10-16 16:50] #1578 closed

[2019-10-16 17:17] robdodson opened #1683 "Add underlines to links in articles."
For accessibility we shouldn't be relying on color alone to convey that something is interactive. The original design for links in our content posts did not call for them to have underlines, but I think it might be good for us to add this affordance.

![image](https://user-images.githubusercontent.com/1066253/66942531-27349580-effe-11e9-8f5e-e419c98ba17c.png)

[2019-10-16 17:37] robdodson commented on #1561
Looks good to me. Left a few small notes in the PR. Assigning back to Kayce

[2019-10-16 17:45] mihajlija commented on #1562
I'll submit a PR first thing tomorrow 👍

[2019-10-16 17:47] mihajlija commented on #1564
Got feedback from Houssein today, I'll have a draft tomorrow.

[2019-10-16 18:09] kaycebasques commented on #1659
LH UI is still linking to DGC. If we can land soon it'd be nice to link to web.dev. https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/audits/metrics/max-potential-fid.js

[2019-10-16 18:17] kaycebasques commented on #1346
@petele have you gotten around to reviewing this?

[2019-10-16 18:18] kaycebasques commented on #1628
Irish provided some data so I might be able to finish this content today.

[2019-10-16 18:19] jpmedley commented on #1346
Richard is processing my feedback now. We should be ready for markdown
conversion soon.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Wed, Oct 16, 2019 at 11:17 AM Kayce Basques <notifications@github.com>
wrote:

[2019-10-16 18:30] petele commented on #1346
Yep, I've reviewed and asked Joe to take the next steps.

[2019-10-16 21:30] kaycebasques commented on #1628
The data that Irish provided doesn't resolve the questions so this is still blocked on technical details.

[2019-10-16 23:17] #1629 closed

[2019-10-16 23:36] kaycebasques commented on #1341
Looks like @robdodson merged #1648 but this issue didn't automatically close.

[2019-10-16 23:36] #1341 closed

[2019-10-16 23:36] kaycebasques commented on #1341
Thank you again for all this work, @mfriesenhahn!

[2019-10-16 23:56] mfriesenhahn opened #1687 "content: Lighthouse a11y cleanup"
**Author**: @mfriesenhahn
**Reviewer**: @robdodson

TODOs for a11y audit post updates:
- Update example in `button-name`. (#1723)
- Update guidance in `color-contrast` about how to check contrast for non-HTML text. ([Conversation for reference](https://github.com/GoogleChrome/web.dev/pull/1648#discussion_r334739868).) (#1723)
- Remove broken Glitch from `custom-control-roles`. (#1723)
- Follow up

[2019-10-17 00:33] kaycebasques commented on #1659
I submitted a PR and asked Patrick to provide a technical review.

[2019-10-17 00:36] kaycebasques opened #1689 "Document difference between alt and figcaption in handbook"
https://github.com/GoogleChrome/web.dev/pull/1658#discussion_r335610931

<blockquote>
Technically alt text and figcaption text shouldn't duplicate one another. Since they'll both be announced by assistive tech, it creates a double announcement.

The relationship between alt text and figure captions is kind of dependent on the context in which the image is used. The analogy I like to think of is to

[2019-10-17 00:39] kaycebasques commented on #1676
Another example of this problem: https://github.com/GoogleChrome/web.dev/pull/1658#discussion_r335600100

[2019-10-17 00:49] kaycebasques opened #1690 "Update handbook to mention that Glitch projects should be added to @webdev team"
Ideally there should be a way to automatically check for this. E.g. in the PR phase, check for links to Glitch. If the Glitch project is not in the team projects page, throw an error or warning.

[2019-10-17 00:56] kaycebasques opened #1691 "Previous and next article links don't always make sense."
https://github.com/GoogleChrome/web.dev/pull/1658#discussion_r335611967

Because we've linked to the Next.js and older CRA content from web.dev/react, when you get to the end of the Next.js content the "next article" will be the intro of the CRA collection.

[2019-10-17 01:02] #1561 closed

[2019-10-17 01:04] kaycebasques commented on #1563
@housseindjirdeh I'll finish my review tomorrow (and probably submit the PR)

[2019-10-17 02:35] samthor opened #1692 "Navaid doesn't intercept SideNav links"
Not sure why, but it causes a whole page nav. I would expect this if we were using Shadow DOM, but we're not.

[2019-10-17 04:15] robdodson commented on #1692
Just occurred to me that the Searchbox is also manually setting the path so I'm unsure if it's picking that up.

[2019-10-17 07:03] talentedandrew opened #1694 "The `Source code for Current page does not respond with a 200 when offline audit` link gives a 404"
The link for `Source code for Current page does not respond with a 200 when offline audit
` gives a 404. Check [Here](https://web.dev/works-offline) and [Source code for Current page does not respond with a 200 when offline audit](https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/audits/works-offline)

[2019-10-17 17:23] robdodson commented on #1694
@mfriesenhahn are you cool taking this one?

[2019-10-17 17:29] robdodson commented on #1691
In other parts of the site, we treat each "topic" kind of like a chapter in a book. So in the [Secure](web.dev/secure) or [Accessible](web.dev/accessible) sections, they flow into one another and that's a good thing.

In the Fast section, it's maybe a little less helpful because you go from optimizing images right into optimizing JS, even though they're pretty different topics.

In one of our earl

[2019-10-17 17:31] robdodson commented on #1676
IMO this feels like it might be rather tedious for authors to have to remember to slugify every heading they use.

We currently support this syntax:
[code]

So another option would be if we see someone _changing_ a heading, we ask them to add the `{: #... }` annotation to use the previous heading's anchor so they don't break anything.

[2019-10-17 17:32] mfriesenhahn commented on #1694
Et, voila: #1695

[2019-10-17 17:38] #1694 closed

[2019-10-17 17:54] robdodson commented on #1670
Would we want this on all links, or just external links? I think to override the markdown parser we'd need to check that the link contains a domain and that the domain is not web.dev.

[2019-10-17 17:58] #1298 closed

[2019-10-17 20:50] robdodson commented on #1692
Looks like the searchbox does use the router so we're good there :)

[2019-10-17 21:33] samthor commented on #1600
I snuck in the title fix in #1679.

[2019-10-17 21:37] samthor commented on #1599
Is this versus DevSite's SW? Since we... didn't have our own until yesterday.

[2019-10-17 21:38] samthor commented on #1505
We now need to add injecting CSS in JS and potentially any other "splits" we want (right now it's measure vs everything else). This will involve telling our build script how to render Sass so we can inline CSS.

[2019-10-17 21:46] mfriesenhahn opened #1701 "content: Update LH a11y audio and video audit posts"
**Author**: @mfriesenhahn
**Reviewer**: @robdodson

Part of #1687 (Lighthouse a11y cleanup).

**Process**

- [x] 1. I've done my proposal: N/A
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a draft to my proposal doc
- [x] 4. Draft approved — _reviewer checks this_
- [x] 5. I've submitted a pull request #1700
- [ ] 6. Pull request approved — _reviewer checks this_

[2019-10-17 21:48] mfriesenhahn commented on #1701
On hold pending:
- Response from Dylan @ Deque about why audits aren't failing. (Fail state needed for screenshots.) @robdodson following up.
- Further investigation of whether the `<track kind="descriptions">` element is the best way to provide audio descriptions. (See https://terrillthompson.com/1173 for reference.)

[2019-10-17 22:44] robdodson commented on #1599
Nah we can close this. I was hitting the index: false thing and thought we had already landed your prior SW stuff.

[2019-10-17 22:44] #1599 closed

[2019-10-17 23:16] mfriesenhahn opened #1704 "Task: Determine how to add JS to components"
**Is your feature request related to a problem? Please describe.**
Proposed components like the vocabulary definition popup and self-assessments need JS. Need to determine how best to add it.

[2019-10-18 00:11] robdodson commented on #1704
In v2 we can do these as custom elements. Probably best to do any client-side JS in that branch. I can show you around that branch tomorrow if you'd like?

[2019-10-18 00:17] robdodson commented on #1505
sgtm!

[2019-10-18 00:21] mfriesenhahn commented on #1704
Sounds good!

[2019-10-18 16:55] carolrivero commented on #1616
Moving this to wave 2 since publish date for wave 1 has passed

[2019-10-18 17:25] mihajlija commented on #1564
Added the draft, I'll email Houssein about the technical review.

[2019-10-18 17:51] robdodson commented on #1687
This demo looks good to me. Is there a previous Glitch that we were linking to? If so I could replace the contents of that Glitch or we could switch to using this one.

Is that this Glitch? https://github.com/GoogleChrome/web.dev/issues/1641

[2019-10-18 18:56] #1659 closed

[2019-10-18 19:07] kaycebasques opened #1707 "Send automated reminders to link Lighthouse report UI to new web.dev docs"
**Is your feature request related to a problem? Please describe.**

1. Create a Lighthouse audit doc ([example](https://github.com/GoogleChrome/web.dev/pull/1688)
1. Merge the PR

**Describe the solution you'd like**

A GitHub bot reminds me to link the Lighthouse report UI to the doc

**Additional context**

Rob said that the bot can detect if we have new content in one of the Lighthouse audit di

[2019-10-19 08:32] talentedandrew commented on #1694
@robdodson @mfriesenhahn thanks

[2019-10-20 19:39] mfriesenhahn commented on #1687
There's just a code sample currently. Will replace!

Yep, that's the one! It's used in both posts. I believe you said you'd fix it in the comments on the a11y updates PR.

[2019-10-21 03:55] robdodson opened #1713 "Add meta og tags for all pages."
We should test share our landing page URLs and blog posts and verify that they generate the correct thumbnails and descriptions.

We'll likely need to add meta og tags to all of these pages. For blog posts it would be nice if we could use the hero image in the meta og tag. We have imgix set up for web.dev already so we could use an imgix url to make sure the thumbnail is sized correctly.

[2019-10-21 04:45] samthor opened #1715 "Replace navaid"
We have a bunch of issues with it, listing here:

* We need to rewrite URLs as Navaid's matcher doesn't include trailing slash
* Navaid performs a load even if only the "#" changes

[2019-10-21 12:39] demianrenzulli opened #1718 "content: How Terra improved app user ratings 25% thanks to TWA"
**Author**: @demianrenzulli
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <2019-11-20>
- [ ] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

- [X] 1. I've done my [proposal](https://docs.google.com/document/d/1B86M3PfScw4l083s85yA4UBMMLNWlfPul_crEAZ

[2019-10-21 18:06] kaycebasques commented on #1616
Joe is adding new content of this topic

[2019-10-21 18:09] kaycebasques commented on #1564
@housseindjirdeh please provide a technical review on this draft

[2019-10-21 18:10] kaycebasques commented on #1346
Joe has reviewed this. Needs to follow up with Sam. Joe thinks it's ready for Markdown conversion but not sure.

[2019-10-21 18:22] Snugug commented on #1346
There were a few questions Joe had that I answered and am waiting on follow up on but if he thinks it's ready to go I do to!

This is meant to be part of a new Progressive Web App section of web.dev and I don't know if the work needed to make that happen has been put in place with.  There is a bunch of content tagged with PWA for that section or related to that section.

[2019-10-21 18:36] mfriesenhahn opened #1721 "content: Update LH a11y navigation audit posts"
**Author**: @mfriesenhahn
**Reviewer**: @robdodson

**Process**

- [x] 1. I've done my proposal <add a link to your proposal doc>
- [x] 2. Proposal approved — _reviewer checks this_
- [x] 3. I've added a draft to my proposal doc
- [x] 4. Draft approved — _reviewer checks this_
- [x] 5. I've submitted a pull request #1722
- [ ] 6. Pull request approved — _reviewer checks this_

[2019-10-21 18:37] mfriesenhahn commented on #1562
Hey, @mihajlija, I'll be taking the code review for this one.

[2019-10-21 19:19] jpmedley commented on #1346
Sam,

I apologize. I thought the ball was in your court. Looking now.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Mon, Oct 21, 2019 at 11:22 AM Sam Richard <notifications@github.com>
wrote:

[2019-10-21 21:06] robdodson commented on #1450
Hey Jiwoong, I'm pretty sure the illustration you've shared is not official. I think we made that a couple years back for a conference. @petele can confirm. I think the logo here https://github.com/webmaxru/progressive-web-apps-logo is what we should be using.

Pete can you respond to this point? Want to make sure we can move forward on this and not hold up the docs.

[2019-10-21 21:20] carolrivero commented on #1569
@philipwalton
Please provide your draft for this post. We are starting wave 2 now and the draft is due on Oct 21 for Wave 2 posts. Thanks.

[2019-10-21 21:22] carolrivero commented on #1570
@philipwalton draft for wave 2 posts is due on Oct 21. Please add a link to your doc. Thanks.

[2019-10-21 21:29] carolrivero commented on #1573
Draft is due Oct 21 for CDS wave 2 posts.

[2019-10-21 21:30] carolrivero commented on #1574
Draft is due on Oct 21 for all wave 2 posts. Please add link to your draft here @philipwalton

[2019-10-21 21:31] carolrivero commented on #1575
@philipwalton draft for wave 2 posts are due on Oct 21. Please add a link to your doc. Thx.

[2019-10-21 21:32] carolrivero commented on #1682
@kaycebasques - please assign a reviewer. thx.

[2019-10-21 21:34] carolrivero commented on #1567
@housseindjirdeh - drafts for cds wave 2 posts are due on Oct 21. please provide a link to your doc and we will assign a reviewer. Thanks.

[2019-10-21 21:35] carolrivero commented on #1565
@housseindjirdeh - draft for cds wave 2 is due today (Oct 21). please add a link to your doc so we can assign a reviewer. Thanks.

[2019-10-21 21:36] carolrivero commented on #1566
Draft for cds wave 2 is due on Oct 21. @housseindjirdeh - please add a link to your doc and we'll assign a reviewer. Thx.

[2019-10-21 21:38] carolrivero commented on #1671
@katejeffreys - please add a link to your draft so we can assign a reviewer. Thanks.

[2019-10-21 21:39] carolrivero commented on #1672
@katejeffreys - please add a link to your draft so we can assign a reviewer. thanks.

[2019-10-21 21:39] carolrivero commented on #1673
@katejeffreys - please add a link to your doc so we can assign a reviewer. thanks.

[2019-10-21 22:16] mfriesenhahn commented on #1687
@robdodson, looks like you deleted

[2019-10-22 00:35] robdodson commented on #1687
I think the Glitch is marked as private. It uses a weird project that I'm not sure I want folks to actually use (chromevox-lite). I'll take a look and consider if we want to just remove this Glitch.

[2019-10-22 00:50] robdodson commented on #1715
btw if we don't want to mess around with writing our own router, there's also [page.js](https://visionmedia.github.io/page.js/) that might be worth considering.

[2019-10-22 00:53] robdodson commented on #1707
Removing myself from the assignee field if that's ok. I may see if one of the folks onboarding will want to work on this. I've been trying to only have stuff assigned to me if i'm planning to immediately work on it (features or docs reviews).

[2019-10-22 01:22] robdodson commented on #1687
I suggest we remove the Glitch from custom-controls because I don't think I'm going to get around to open sourcing it anytime soon. It requires some special thought. We should probably also remove it from the semantics doc that refers to it.

[2019-10-22 01:24] robdodson commented on #1704
Going to close this. We'll want to put custom elements in the `lib/` directory of v2. There are a bunch there already to copy.

[2019-10-22 01:24] #1704 closed

[2019-10-22 01:28] #1721 closed

[2019-10-22 03:48] philipwalton commented on #1568
Draft docs: https://docs.google.com/document/d/1mQzjSTNKs6_yoOzVfaPZma7Uh6KzuOnb-OmCKIj7R5w/edit#

[2019-10-22 03:49] philipwalton commented on #1569
Draft doc: https://docs.google.com/document/d/1dPqXmTI9mR9Zn2eM4a1ySJmxxP7YLmRiR6i6rSySEoM/edit#

[2019-10-22 03:49] philipwalton commented on #1569
Draft doc: https://docs.google.com/document/d/1dPqXmTI9mR9Zn2eM4a1ySJmxxP7YLmRiR6i6rSySEoM/edit#

[2019-10-22 03:50] philipwalton commented on #1570
The draft for this already exists at: https://web.dev/largest-contentful-paint/

[2019-10-22 03:50] philipwalton commented on #1571
Draft doc: https://docs.google.com/document/d/17fzYlWJfVted19kb_QkqqgmWTv0m_G9iYPyQ_2LSLxQ/edit#

[2019-10-22 03:50] philipwalton commented on #1572
Draft doc: https://docs.google.com/document/d/17Yri2mw-WrAABekfJj2yv_vXutndFGi9UgGf1NUu1PA/edit#

[2019-10-22 03:51] philipwalton commented on #1573
The draft for this is what's currently at: https://developers.google.com/web/updates/2018/05/first-input-delay

[2019-10-22 03:51] philipwalton commented on #1574
The draft for this is what's currently at: https://web.dev/layout-instability-api

[2019-10-22 03:52] philipwalton commented on #1575
Draft doc: https://docs.google.com/document/d/1BkIw1y0WdalLH5T_QQ7mvWM3N7hdXJ6iz4ptSsbmGHs/edit#

[2019-10-22 03:57] #1692 closed

[2019-10-22 11:36] #1562 closed

[2019-10-22 15:11] #1586 closed

[2019-10-22 15:11] #1601 closed

[2019-10-22 15:11] #1666 closed

[2019-10-22 15:15] #1505 closed

[2019-10-22 15:16] jeffposnick commented on #1370
Just wanted to throw some random thoughts out there after being looped in on the discussion from https://github.com/GoogleChrome/web.dev/pull/1719#discussion_r337572735

First,

https://github.com/GoogleChrome/web.dev/blob/93694df6ec4874a85975127ce4a1856066e76bf5/src/lib/sw.js#L9

is not a good idea. (See https://github.com/GoogleChrome/workbox/issues/2259.) It will precache the contents of `/offl

[2019-10-22 19:51] jpmedley opened #1727 "content: New CSS functions: min(), max(), and clamp()"
**Author**: @jmedley
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** 2019-10-30
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're ready, make a copy of [

[2019-10-22 19:53] robdodson commented on #1450
Hey @jimoong

I spoke with Pete today. We were thinking of seeing if we could use this logo https://github.com/webmaxru/progressive-web-apps-logo inside of an illustration of a mobile device. This will go into the "Realize what the web can be" section at the top of /learn.

Let me know if you have any questions.

[2019-10-22 22:24] mfriesenhahn commented on #1564
@mihajlija, I can take the editorial review once you've had a chance to respond to Houssein's feedback!

[2019-10-23 00:29] Asmatmaker opened #1731 "collection: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Process**

Drop a link to your proposal doc in the 1st step below and check the box. A
member of the web.dev team will assign a reviewer, who will help you complete
the remaining steps.

- [ ] 1. I've done my proposal <add a link to your proposal doc>
- [ ] 2. Proposal approved — _reviewer

[2019-10-23 01:00] #1731 closed

[2019-10-23 01:16] robdodson commented on #1375
Did some digging and here's what I've come up with so far.

In `lighthouse-service.js` we have two functions:
- [runLighthouse](https://github.com/GoogleChrome/web.dev/blob/93694df6ec4874a85975127ce4a1856066e76bf5/src/lib/lighthouse-service.js#L23) which gets called when the user audits a URL for the first time. If the user is not signed in, we call this function.
- [fetchReports](https://github.c

[2019-10-23 01:25] samthor commented on #1375
I think `requestFetchReports` is intended to be more of, you're opening the site anew, and want to quickly get historic data. So we don't disable the field since maybe you're coming today to audit some _different_ site.

The foo.com vs bar.com—we could prioritize any local non-signed in URL.

[2019-10-23 03:14] paulirish opened #1734 "Add fireperf"
**Is your feature request related to a problem? Please describe.**

So... @egsweeny and I want to show the fireperf dashboard for web.dev during our CDS talk. And it doesn't exist yet. So that's a problem. :)

**Describe the solution you'd like**

Add this to the base template of the site:

[code]

I've added rob and elizabeth to the firebase project behind this. All of us can add others.

**Descr

[2019-10-23 15:12] mihajlija commented on #1564
Working on it, it will be ready for editorial review tomorrow.

[2019-10-23 15:42] robdodson commented on #1734
we can add this to the v2 branch. I think devsite wasn't allowed to use it but we should be all good on our self hosted thing.

[2019-10-23 18:08] kaycebasques commented on #1346
@jpmedley to double-check if this ready to move forward or if we need to keep iterating

[2019-10-23 18:15] jpmedley commented on #1346
This is blocked. Sam is out until Nov 1.

[2019-10-23 18:22] kaycebasques commented on #1563
I proposed more changes and asked @sebastianbenz, @alankent, and @housseindjirdeh to review again

[2019-10-23 18:25] kaycebasques commented on #1628
This seems stalled on technical stuff so I'm moving to wave 3

[2019-10-23 18:44] jeffposnick commented on #1370
Just a couple of notes based on our further conversation:

There are instructions at https://developers.google.com/web/tools/workbox/modules/workbox-sw#using_local_workbox_files_instead_of_cdn about switching to a local copy of Workbox, since there's really no reason for you all too pull things in from the CDN.

[2019-10-23 18:53] petele opened #1736 "content: Updates to badging API"
**Author**: @petele
**Reviewer**: @jpmedley

**Target publish date:** ASAP

- [ ] Check this box if this is a hard deadline.
- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

The [Badging API](https://web.dev/badging-api/) is changing in Chrome 79.

[2019-10-23 21:21] samthor commented on #1370
Thanks for the hints @jeffposnick . We know that caching full HTML isn't ideal but we might still ship with it for now just in the interest in getting it out.

* Offline page precache: thanks, we'll include that in the proper precache manifest

* I thought general advice was to use the CDN, but we're happy to serve it locally

[2019-10-24 02:37] samthor commented on #1715
Fixed by #1725

[2019-10-24 02:37] #1715 closed

[2019-10-24 13:37] jeffposnick commented on #1370
Using the CDN is definitely the simplest approach, but starting with Workbox v5, we're going to be encouraging more folks to use their own (custom, local) Workbox bundles.

Since you all definitely have the technical know-how and ability to serve a local copy of Workbox, I figured I'd point you in that direction today.

[2019-10-24 13:40] tomayac opened #1742 "content: Updates to Wake Lock article"
**Author**: @tomayac
**Reviewer**:
**Target publish date:** any
- [ ] Check this box if this is a hard deadline.

- [X] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

[2019-10-24 21:17] samthor opened #1745 "Reduce UI cruft on mobile"
As per discussion in team chat.

* Hide the hero on mobile
* Reduce padding on the banner
* (maybe) Hide the breadcrumbs on mobile

An alternative to hiding the hero on mobile might be to do something like this:

![Screenshot from 2019-10-24 10-40-44](https://user-images.githubusercontent.com/119184/67526150-eaeced80-f6ff-11e9-92e7-c532f7725677.png)

[2019-10-24 21:19] samthor commented on #1600
Fixed by #1702 and #1725.

[2019-10-24 21:19] #1600 closed

[2019-10-24 21:19] samthor commented on #1375
I think we're done now—historical data will show up for any URL, but users' specific _preference_ won't, right?

[2019-10-24 21:28] samthor commented on #1370
Not related to other comments: we also need to make sure we nuke the DevSite SW when ours gets installed.

[2019-10-24 21:30] samthor opened #1747 "Add CSS splitting"
So now that we have route code-splitting, we should add CSS to each module.

This means that modules themselves will import CSS and append it to the body when they're first created.

This makes our build process a bit trickier as Rollup needs a plugin which can compile our SCSS and bring it in for us. @robdodson rightly points out (unrelated) that maybe we don't need all of SCSS: we just need a ba

[2019-10-24 23:02] robdodson commented on #1375
correct.

[2019-10-24 23:02] #1375 closed

[2019-10-25 04:52] uskay commented on #1669
@kaycebasques Partner PR review done. Could you kindly check the Pull Request?

[2019-10-25 16:14] carolrivero commented on #1682
Updated author to: @AnkitJainAJ per request from @prash-mi

[2019-10-25 17:54] mihajlija commented on #1564
Delayed until Monday due to technical issues.

[2019-10-25 18:18] kaycebasques commented on #1564
Thanks for the updates, @mihajlija

[2019-10-26 03:18] artcut commented on #1564
Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
De: Kayce Basques
<notifications@github.com>
Enviado: sexta-feira, 25 de outubro de 2019 15:18
Para: GoogleChrome/web.dev
Cc: Subscribed
Assunto: Re: [GoogleChrome/web.dev] content: Code splitting with dynamic imports in Next.js (#1564)

Thanks for the updates, @mihajlija<https://github.com/mihajlija>

—
You are

[2019-10-27 11:14] samthor opened #1749 "Offline page should trigger reload when online again"
If we send down an offline response with e.g., a 412 status code, the client code could use this as a trigger to set up a listener on the `online` on `window` to retry.

[2019-10-28 14:19] mihajlija commented on #1564
Ready for review @mfriesenhahn

[2019-10-28 15:31] mfriesenhahn commented on #1657
Finished review. Back to @katejeffreys!

[2019-10-28 16:01] mfriesenhahn commented on #1564
This post is awesome! I fussed with some minor editorial things as usual, but this is definitely ready for Markdown.

[2019-10-28 18:16] SASUKEKK opened #1753 "content: <Add your title>"
**Author**: @[Author's GitHub username.]
**Reviewer**: [Leave blank. web.dev team will assign a reviewer.]

**Target publish date:** <yyyy-mm-dd>
- [ ] Check this box if this is a hard deadline.

- [ ] Check this box if you'd like your reviewer to fix grammar and punctuation issues for you.

**Process**

Check out the [web.dev writing process](https://web.dev/handbook/quick-start/).

When you're r

[2019-10-28 19:51] jimoong commented on #1450
Sorry for late update. There was a week long team workshop last week. Here are draw an illustration with the devices and the PWA official logo to match the style of other illustrations in the section
[pwa.svg.zip](https://github.com/GoogleChrome/web.dev/files/3780395/pwa.svg.zip)

. Let me know what you think.

[2019-10-28 20:45] kaycebasques commented on #1736
Next step: @petele to incorporate the review feedback

[2019-10-28 20:53] kaycebasques commented on #1575
Next step: @kaycebasques to provide initial review of the content

[2019-10-28 21:06] kaycebasques commented on #1573
Next step: @philipwalton please put [the /web article](https://developers.google.com/web/updates/2018/05/first-input-delay) into a Google Doc. We might need to edit it to make it consistent with web.dev style and the rest of the metrics docs.

[2019-10-28 21:13] kaycebasques commented on #1615
Next step: @tomayac to address @jpmedley's feedback

[2019-10-28 21:20] kaycebasques commented on #1662
Next step: @katejeffreys to address @mfriesenhahn's feedback

[2019-10-28 21:21] kaycebasques commented on #1588
Next step: @katejeffreys to address @mfriesenhahn's feedback

[2019-10-28 21:54] robdodson commented on #1450
![image](https://user-images.githubusercontent.com/1066253/67721048-d411f980-f992-11e9-8a2f-cac4698ac6b1.png)

Looks cool, @petele what do you think?

[2019-10-28 21:54] carolrivero commented on #1682
Updated launch date to Nov 6 for Wave 3 completion.

[2019-10-28 22:53] #1753 closed

[2019-10-28 23:11] kaycebasques commented on #1616
@jpmedley have you finished the new content? Is the next step to submit a PR to migrate the content to web.dev?

[2019-10-28 23:13] jimoong commented on #1450
In terms of alignment with other illustrations

![illustrations overview](https://user-images.githubusercontent.com/1054804/67724930-e3e30b00-f99d-11e9-8b5c-96c884794fc9.png)

[2019-10-28 23:16] kaycebasques commented on #1295
Next step: Figure out whether @jpmedley is still going to rewrite the article.

[2019-10-28 23:17] kaycebasques commented on #1279
@jpmedley what's the next step here?

[2019-10-28 23:29] kaycebasques commented on #1568
@philipwalton is this ready for review? Or is it going to change as you draft out the other docs?

[2019-10-28 23:32] kaycebasques commented on #1569
@philipwalton is this ready for review?

[2019-10-28 23:36] kaycebasques commented on #1570
Next step: @philipwalton if you expect we'll need to make a lot of edits to this doc to get it aligned with the rest of the collection, then we should move this to a Google Doc. If you think the changes are minimal then we can make the updates as a PR.

[2019-10-28 23:39] kaycebasques commented on #1571
Next step: @philipwalton is this draft ready for review or is it still changing?

[2019-10-28 23:42] kaycebasques commented on #1572
Next step: @philipwalton to finish drafting the content and then re-assign to me for review

[2019-10-28 23:47] kaycebasques commented on #1574
Next step: @philipwalton to submit a PR to update the old doc so that it's aligned with the rest of the collection

[2019-10-28 23:48] carolrivero commented on #1635
@ThomasTheDane - please provide date and time of when the keynote blog post is going live so we can align. Thx.

[2019-10-29 00:04] kaycebasques commented on #1567
Next step: @housseindjirdeh to draft the content